Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

test: cover --agents-template flag and config key wiring
  cmd/bd/init_agent_test.go
Due: none

chore(doctor): remove daemon references for post-daemon architecture
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/gitignore_test.go
  cmd/bd/doctor/integrity.go
Due: CLI Commands

Implement residual AGENTS control-plane enforcement tasks
  cmd/bd/capability_probe_guard.go
  cmd/bd/control_plane_remaining_test.go
  cmd/bd/flow.go
  cmd/bd/land.go
  cmd/bd/main.go
  cmd/bd/preflight.go
  cmd/bd/recover.go
Due: CLI Commands

Fix intake audit mode and preflight gate bounded checks
  cmd/bd/control_plane_remaining_test.go
  cmd/bd/intake.go
  cmd/bd/preflight.go
Due: CLI Commands

Implement bd-fji control-plane hardening follow-up tasks
  claude-plugin/agents/beads-cleanup-agent.md
  claude-plugin/agents/beads-execution-coordinator-agent.md
  claude-plugin/agents/beads-issue-manager-agent.md
  claude-plugin/agents/task-agent.md
  cmd/bd/control_plane_remaining_test.go
  cmd/bd/flow.go
  cmd/bd/intake.go
  cmd/bd/land.go
  cmd/bd/lifecycle_transition_guard.go
  cmd/bd/preflight.go
  docs/PLUGIN.md
  docs/agents/README.md
  docs/agents/executor.md
  docs/control-plane/supported-transition-types.md
  scripts/README.md
  scripts/bd_intake_audit.sh
Due: CLI Commands

docs(agents): use CLI session_abort transition commands in ABORT runbooks
  claude-plugin/agents/beads-cleanup-agent.md
  claude-plugin/agents/task-agent.md
Due: none

control-plane: add MCP transition flow and make preflight/land mutations opt-in
  cmd/bd/control_plane_contract_test.go
  cmd/bd/control_plane_remaining_test.go
  cmd/bd/land.go
  cmd/bd/preflight.go
  docs/CONTROL_PLANE_CONTRACT.md
  docs/PLUGIN.md
  integrations/beads-mcp/README.md
  integrations/beads-mcp/src/beads_mcp/server.py
  integrations/beads-mcp/tests/test_tools.py
Due: CLI Commands

docs(control-plane): add AGENTS coverage matrix snapshot 2026-02-19
  docs/control-plane/agents-control-flow-matrix-2026-02-19.md
Due: none

fix: handle Dolt embedded "duplicate primary key" error format in bootstrap
  cmd/bd/migrate_dolt.go
  internal/storage/dolt/bootstrap.go
Due: CLI Commands, Storage & Database

Add Mux setup recipe with layered AGENTS and managed hooks
  cmd/bd/setup.go
  cmd/bd/setup/agents.go
  cmd/bd/setup/factory_test.go
  cmd/bd/setup/mux.go
  cmd/bd/setup/mux_test.go
  docs/CLI_REFERENCE.md
  docs/INSTALLING.md
  docs/SETUP.md
  internal/recipes/recipes.go
  internal/recipes/recipes_test.go
Due: CLI Commands

control-plane: harden recover writes and fix widened recover classification
  cmd/bd/control_plane_remaining_test.go
  cmd/bd/preflight.go
  cmd/bd/recover.go
Due: CLI Commands

Harden control-plane lifecycle guards and split-agent parity
  claude-plugin/agents/beads-execution-coordinator-agent.md
  claude-plugin/agents/beads-issue-manager-agent.md
  claude-plugin/agents/task-agent.md
  cmd/bd/control_plane_remaining_test.go
  cmd/bd/flow.go
  cmd/bd/land.go
  cmd/bd/preflight.go
  cmd/bd/reason.go
  cmd/bd/recover.go
  cmd/bd/resume.go
  docs/CLI_REFERENCE.md
  docs/CONTROL_PLANE_CONTRACT.md
  docs/PLUGIN.md
  docs/TROUBLESHOOTING.md
  docs/agents/README.md
  integrations/beads-mcp/src/beads_mcp/server.py
Due: CLI Commands

Harden control-plane recovery, spec-drift proof, and split-agent landing/abort flow
  claude-plugin/agents/beads-cleanup-agent.md
  claude-plugin/agents/beads-issue-manager-agent.md
  claude-plugin/agents/task-agent.md
  cmd/bd/control_plane_remaining_test.go
  cmd/bd/flow.go
  cmd/bd/preflight.go
  cmd/bd/recover.go
Due: CLI Commands

docs: rewrite AGENTS.md as bd control-plane bootloader
  AGENTS.md
Due: none

docs: add failure-mode and audit decision protocols to AGENTS
  AGENTS.md
Due: none

docs: codify AGENTS scope boundary and non-duplication rule
  AGENTS.md
Due: none

docs: remove AGENTS meta scope section
  AGENTS.md
Due: none

docs: inline control-plane contract and trim AGENTS references
  AGENTS.md
Due: none

fix: resolve CI failures in fmt, lint, and cmd/bd tests
  beads.go
  cmd/bd/config.go
  cmd/bd/doctor/fix/e2e_test.go
  cmd/bd/doctor/git.go
  cmd/bd/doctor/gitignore.go
  cmd/bd/doctor/locks.go
  cmd/bd/doctor/quick.go
  cmd/bd/doctor_test.go
  cmd/bd/hooks_test.go
  cmd/bd/info.go
  cmd/bd/main_test.go
  internal/config/yaml_config.go
  internal/config/yaml_config_test.go
Due: CLI Commands, Core Types & Utilities

feat: sync control plane updates
  AGENTS.md
  cmd/bd/control_plane_contract_test.go
  cmd/bd/control_plane_remaining_test.go
  cmd/bd/dep.go
  cmd/bd/dep_cycle_guard_test.go
  cmd/bd/init.go
  cmd/bd/main.go
  cmd/bd/onboard.go
  cmd/bd/onboard_test.go
  docs/CONTROL_PLANE_CONTRACT.md
  integrations/beads-mcp/src/beads_mcp/server.py
  integrations/beads-mcp/tests/_bd_binary.py
  integrations/beads-mcp/tests/test_mcp_server_integration.py
  scripts/README.md
  scripts/generate_control_plane_contract.sh
Due: CLI Commands

fix: SQLite migration crashes and nullable time field scanning
  cmd/bd/migrate_dolt.go
Due: CLI Commands

fix(ci): add netgo tag for macOS cross-builds with zig 0.14.0
  .goreleaser.yml
Due: none

Add Foolery to Claude Code Orchestration community tools
  docs/COMMUNITY_TOOLS.md
Due: none

fix: resolve pre-existing CI failures (gt-ngoe)
  beads.go
  cmd/bd/config.go
  cmd/bd/doctor/fix/e2e_test.go
  cmd/bd/doctor/git.go
  cmd/bd/doctor/gitignore.go
  cmd/bd/doctor/locks.go
  cmd/bd/doctor/quick.go
  cmd/bd/doctor_test.go
  cmd/bd/hooks_test.go
  cmd/bd/info.go
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
  cmd/bd/templates/hooks/pre-push
  cmd/bd/templates/hooks/prepare-commit-msg
  internal/config/yaml_config.go
  internal/config/yaml_config_test.go
Due: CLI Commands, Core Types & Utilities

ready: treat closed dependencies as satisfied in ready semantics
  cmd/bd/ready.go
  cmd/bd/ready_test.go
Due: CLI Commands

fix(test): resolve 5 pre-existing test failures and Dolt panic (bd-iqsw6v)
  cmd/bd/completions_test.go
  cmd/bd/doctor_test.go
  cmd/bd/hooks_test.go
  cmd/bd/info.go
  cmd/bd/init_test.go
  cmd/bd/main_test.go
Due: CLI Commands

fix: wrap AddDependency/RemoveDependency in explicit transactions
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/server_dependency_test.go
Due: Storage & Database

fix(bootstrap): handle empty JSONL gracefully instead of failing
  internal/storage/dolt/bootstrap.go
  internal/storage/dolt/bootstrap_test.go
Due: Storage & Database

fix(ci): replace -lresolv with -lresolv.9 in zig wrappers for macOS
  .github/workflows/release.yml
Due: none

chore: Bump version to 0.54.1
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/version.go
  integrations/beads-mcp/pyproject.toml
  npm-package/package.json
Due: CLI Commands

chore: Bump version to 0.55.0
  CHANGELOG.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/info.go
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
  cmd/bd/templates/hooks/pre-commit
  cmd/bd/templates/hooks/pre-push
  cmd/bd/version.go
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
Due: CLI Commands

chore: Bump version to 0.55.1
  .claude-plugin/marketplace.json
  .github/workflows/release.yml
  CHANGELOG.md
  beads.go
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/config.go
  cmd/bd/doctor/fix/e2e_test.go
  cmd/bd/doctor/git.go
  cmd/bd/doctor/gitignore.go
  cmd/bd/doctor/locks.go
  cmd/bd/doctor/quick.go
  cmd/bd/info.go
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
  cmd/bd/templates/hooks/pre-commit
  cmd/bd/templates/hooks/pre-push
  cmd/bd/version.go
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  internal/config/yaml_config.go
  internal/config/yaml_config_test.go
  npm-package/package.json
Due: CLI Commands, Core Types & Utilities

feat(hop): migrate entity:// URI scheme to hop://
  internal/types/types.go
  internal/types/types_test.go
Due: Core Types & Utilities

chore: audit sync mode complexity — remove stale refs and dead code (bd-shleu)
  FEDERATION-SETUP.md
  cmd/bd/config.go
  cmd/bd/config_test.go
  cmd/bd/doctor/kv.go
  docs/CONFIG.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/sync.go
Due: CLI Commands, Core Types & Utilities

fix: scope bd list dependency queries to displayed issues only (bd-7di)
  cmd/bd/list.go
  internal/storage/dolt/dependencies.go
Due: CLI Commands, Storage & Database

fix: resolve lint warnings and formatting issues
  beads.go
  cmd/bd/config.go
  cmd/bd/doctor/fix/e2e_test.go
  cmd/bd/doctor/git.go
  cmd/bd/doctor/gitignore.go
Due: CLI Commands

fix: early CGO detection with clear error for non-CGO binaries
  cmd/bd/cgo_check_cgo.go
  cmd/bd/cgo_check_nocgo.go
  cmd/bd/main.go
  cmd/bd/version.go
Due: CLI Commands

fix: update version tests to handle bool cgo field
  cmd/bd/version_test.go
Due: none

fix(list): treat missing blockers as resolved in annotations (GH#1858)
  cmd/bd/list_format.go
Due: CLI Commands
