Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix(backup): propagate config load error in backup sync guard
  cmd/bd/backup_dolt.go
Due: CLI Commands

test(push-pull): add failing tests for remote server push/pull routing (red)
  internal/storage/dolt/remote_server_routing_test.go
Due: none

fix(push-pull): wrap remote-not-found errors with user-friendly message (green)
  internal/storage/dolt/errors.go
  internal/storage/dolt/store.go
Due: Storage & Database

test(backup): add failing tests for remote server backup sync guard (red)
  cmd/bd/backup_dolt_test.go
Due: none

fix(backup): reject filesystem backup/restore for remote dolt servers (green)
  cmd/bd/backup_dolt.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix(backup): guard bd backup sync against remote Dolt servers (green)
  cmd/bd/backup_dolt.go
Due: CLI Commands

fix(review): address CodeRabbit findings — icon, message, test, error text
  cmd/bd/doctor.go
  cmd/bd/doctor/types.go
  internal/storage/dolt/remote_server_routing_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix(backup): detect remote dolt servers and fall back to JSONL export (green)
  cmd/bd/backup_export.go
Due: CLI Commands

fix(connection): use clean error message for unreachable dolt server (green)
  internal/storage/dolt/store.go
Due: Storage & Database

fix(merge): remove duplicate stub and update user stories for resolved decisions
  cmd/bd/backup_dolt.go
  docs/REMOTE_SERVER_USER_STORIES.md
Due: CLI Commands

test(connection): add failing tests for clean error message on unreachable server (red)
  internal/storage/dolt/connection_error_test.go
Due: none

test(backup): add failing tests for remote server backup/restore guards (red)
  cmd/bd/backup_dolt_test.go
  internal/storage/dolt/backup_remote_test.go
Due: none

test(backup): add failing tests for remote server detection (red)
  cmd/bd/backup_export.go
  cmd/bd/backup_export_test.go
Due: CLI Commands

test(open): add failing tests for BEADS_DOLT_CLI_DIR warning on remote servers (red)
  internal/storage/dolt/remote_server_routing_test.go
Due: none

test(dolt-show): add failing test for remote server CLI skip in listRemoteSurfaces (red)
  cmd/bd/dolt_test.go
Due: none

fix(doctor): skip filesystem checks for remote Dolt servers (green)
  cmd/bd/doctor.go
  cmd/bd/doctor/database.go
  cmd/bd/doctor/nocow.go
  cmd/bd/doctor/remote_server.go
  cmd/bd/doctor/remotes.go
  cmd/bd/doctor/types.go
Due: CLI Commands

fix(push-pull): skip CLI-dir guard for remote Dolt servers (green)
  internal/storage/dolt/remote_server_routing_test.go
Due: none

fix(open): warn when BEADS_DOLT_CLI_DIR is set but ignored for remote servers (green)
  internal/storage/dolt/open.go
  internal/storage/dolt/remote_server_routing_test.go
Due: Storage & Database

fix(setup): match codex beads plugin name exactly, not by substring (#4244)
  cmd/bd/setup/codex.go
  cmd/bd/setup/codex_test.go
Due: CLI Commands

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
