Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix(schema): update renumbered migration comment (#4235)
  internal/storage/schema/migrations/0049_longtext_large_content_columns.up.sql
Due: Storage & Database

test(upgrade-smoke): exercise dependency blocker paths on migrated DB (#4238)
  scripts/upgrade-smoke-test.sh
Due: none

fix(init): honor dolt local-only remote wiring (#4227)
  cmd/bd/config.go
  cmd/bd/config_validate_key_test.go
  cmd/bd/init.go
  cmd/bd/init_safety_test.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/config.md
  website/static/llms-full.txt
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
Due: CLI Commands

Fix role detection for selected repo context (github:osamu2001/beads#45)
  cmd/bd/context_binding_test.go
  cmd/bd/create.go
  cmd/bd/routing_read.go
  cmd/bd/routing_role.go
Due: CLI Commands

chore: Bump version to 1.0.5
  .claude-plugin/marketplace.json
  CHANGELOG.md
  cmd/bd/info.go
  cmd/bd/version.go
  cmd/bd/winres/manifest.xml
  cmd/bd/winres/winres.json
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
  plugins/beads/.claude-plugin/plugin.json
  plugins/beads/.codex-plugin/plugin.json
  plugins/beads/.copilot-plugin/plugin.json
Due: CLI Commands

/website/static/llms-full.txt: regen doc
  website/static/llms-full.txt
Due: none

perf(id_parser): narrow SearchIssues to id-only projection
  internal/jira/tracker_test.go
  internal/storage/dolt/dolt_benchmark_test.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/search_parity_test.go
  internal/storage/dolt/transaction.go
  internal/storage/embeddeddolt/list_queries.go
  internal/storage/embeddeddolt/transaction.go
  internal/storage/issueops/ready_work.go
  internal/storage/issueops/search.go
  internal/storage/storage.go
  internal/telemetry/storage.go
  internal/utils/id_parser.go
Due: Storage & Database, Core Types & Utilities

fix(ci): build doc-check bd with CGO so federation docs stay fresh
  .github/workflows/ci.yml
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/federation.md
  website/static/llms-full.txt
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
Due: none

fix(prime): suppress dolt push/pull hints when no sync remote configured
  cmd/bd/prime.go
Due: CLI Commands

fix(prime): add stubbable primeHasSyncRemote for testability
  cmd/bd/prime.go
  cmd/bd/prime_test.go
Due: CLI Commands

refactor(export): extract sortIssuesForExport helper + add unit tests
  cmd/bd/export.go
  cmd/bd/export_auto.go
  cmd/bd/export_sort_test.go
Due: CLI Commands

test(cli): cover --no-color flag handling and ui.DisableColors
  cmd/bd/main.go
  cmd/bd/no_color_test.go
  internal/ui/styles_test.go
Due: CLI Commands

ci(release): guard against version/docs drift on release
  .beads/formulas/beads-release.formula.toml
  .githooks/pre-push
  .github/workflows/release.yml
  scripts/snapshot-release-docs.sh
  scripts/update-versions.sh
Due: none

ci(release): guard against version/docs drift on release (#4247)
  .beads/formulas/beads-release.formula.toml
  .githooks/pre-push
  .github/workflows/release.yml
  scripts/snapshot-release-docs.sh
  scripts/update-versions.sh
Due: none

docs: link canonical SYNC_CONCEPTS.md from deeper docs
  docs/ARCHITECTURE.md
  docs/DOLT.md
  docs/FAQ.md
  docs/GIT_INTEGRATION.md
  docs/SYNC_SETUP.md
Due: none

fix(setup): match beads plugin name exactly, not by substring (#4244)
  cmd/bd/setup/claude.go
  cmd/bd/setup/claude_test.go
Due: CLI Commands

docs: dedupe duplicate DOLT.md entry in SYNC_SETUP See Also
  docs/SYNC_SETUP.md
Due: none

fix(init): guard JSONL init against remote history
  cmd/bd/init.go
  cmd/bd/init_embedded_test.go
  cmd/bd/init_safety.go
  cmd/bd/init_safety_help.go
  cmd/bd/init_safety_test.go
  cmd/bd/sync_git.go
  docs/CLI_REFERENCE.md
  docs/RECOVERY.md
  docs/adr/0002-init-safety-invariants.md
  website/docs/cli-reference/init-safety.md
  website/docs/cli-reference/init.md
  website/static/llms-full.txt
  website/versioned_docs/version-1.0.0/cli-reference/init-safety.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/init-safety.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
  website/versioned_docs/version-1.0.5/cli-reference/init-safety.md
  website/versioned_docs/version-1.0.5/cli-reference/init.md
Due: CLI Commands

fix(cli): honor shared-server mode when no project config is found
  cmd/bd/main.go
  cmd/bd/shared_server_cfgnil_test.go
Due: CLI Commands

fix(mcp): tolerate current bd JSON shapes
  integrations/beads-mcp/src/beads_mcp/bd_client.py
  integrations/beads-mcp/src/beads_mcp/config.py
  integrations/beads-mcp/src/beads_mcp/models.py
  integrations/beads-mcp/src/beads_mcp/server.py
  integrations/beads-mcp/src/beads_mcp/workspace.py
  integrations/beads-mcp/tests/conftest.py
  integrations/beads-mcp/tests/test_bd_client.py
  integrations/beads-mcp/tests/test_bd_client_integration.py
  integrations/beads-mcp/tests/test_compaction_config.py
  integrations/beads-mcp/tests/test_lifecycle.py
  integrations/beads-mcp/tests/test_mcp_compaction.py
  integrations/beads-mcp/tests/test_mcp_server_integration.py
  integrations/beads-mcp/tests/test_multi_project_switching.py
  integrations/beads-mcp/tests/test_subprocess_stdin.py
  integrations/beads-mcp/tests/test_tools.py
  integrations/beads-mcp/tests/test_workspace_auto_detect.py
  integrations/beads-mcp/tests/test_worktree_separate_dbs.py
Due: none

fix(worktree): reuse canonical beads dir resolution
  cmd/bd/dolt_worktree_remote_test.go
  internal/storage/domain/fs/beads.go
Due: Storage & Database

Regenerate llms-full docs artifact (bd-588e1)
  website/static/llms-full.txt
Due: none

fix(worktree): canonicalize beads dir locality checks
  internal/storage/domain/fs/beads.go
  internal/storage/domain/fs/beads_test.go
  website/static/llms-full.txt
Due: Storage & Database

fix(test): D3 fixture SkipPrefixValidation per reviewer (be-3ht)
  internal/storage/dolt/dolt_benchmark_test.go
  internal/storage/dolt/search_summary_test.go
Due: none

test(cli): unit tests for sortSummaries + useSummary selector (be-2kl)
  cmd/bd/list_sort_summaries_test.go
  cmd/bd/list_summary_selector_test.go
Due: none

chore: release gate PASS for be-3ht (D3 SearchIssueSummaries)
  release-gates/be-3ht-gate.md
Due: none

fix(cmd): move sanitizeDBName out of cgo-only file
  cmd/bd/dbname.go
Due: CLI Commands

perf(storage): add SearchIssueSummaries for narrow-projection list paths
  cmd/bd/list.go
  cmd/bd/list_format.go
  cmd/bd/list_summary_parity_test.go
  cmd/bd/show.go
  internal/jira/tracker_test.go
  internal/storage/dolt/dolt_benchmark_test.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/search_summary_test.go
  internal/storage/embeddeddolt/list_queries.go
  internal/storage/issueops/scan.go
  internal/storage/issueops/search_summary.go
  internal/storage/storage.go
  internal/telemetry/storage.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

perf(storage): amortize per-ID wisp routing via WispIDSetInTx
  internal/storage/dolt/labels.go
  internal/storage/embeddeddolt/list_queries.go
Due: Storage & Database

fix(rebase): adapt to main's WispIDSetInTx(ids) API and remove duplicate sanitizeDBName
  internal/storage/issueops/search_summary.go
Due: Storage & Database

refactor(storage): push narrow-projection optimization into issueops (be-el0)
  cmd/bd/dbname.go
  cmd/bd/list.go
  cmd/bd/list_format.go
  cmd/bd/list_helpers_test.go
  cmd/bd/list_sort_summaries_test.go
  cmd/bd/list_summary_parity_test.go
  cmd/bd/list_summary_selector_test.go
  cmd/bd/list_test.go
  internal/storage/dolt/search_summary_test.go
  internal/storage/issueops/search_summary.go
  internal/storage/issueops/search_summary_test.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

docs: revert website federation.md pages to pure-go stub (be-x42v)
  website/docs/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
Due: none

docs: revert federation to pure-go stub in CLI_REFERENCE.md
  docs/CLI_REFERENCE.md
Due: none

docs: regenerate llms-full.txt for --max-rows flag additions (be-x42v)
  website/static/llms-full.txt
Due: none

feat(cli): be-x42v.2 wire --max-rows / BEADS_MAX_ROWS on CLI surface
  CHANGELOG.md
  CONTRIBUTING.md
  cmd/bd/cleanup.go
  cmd/bd/config_show.go
  cmd/bd/dep.go
  cmd/bd/doctor_conventions.go
  cmd/bd/doctor_pollution.go
  cmd/bd/export.go
  cmd/bd/export_auto.go
  cmd/bd/find_duplicates.go
  cmd/bd/gc.go
  cmd/bd/graph.go
  cmd/bd/jira.go
  cmd/bd/lint.go
  cmd/bd/list.go
  cmd/bd/max_rows.go
  cmd/bd/migrate_issues.go
  cmd/bd/ready.go
  internal/storage/issueops/ready_work.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

docs: regenerate CLI reference for --max-rows flag
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/dep.md
  website/docs/cli-reference/federation.md
  website/docs/cli-reference/find-duplicates.md
  website/docs/cli-reference/graph.md
  website/docs/cli-reference/list.md
  website/docs/cli-reference/ready.md
  website/versioned_docs/version-1.0.0/cli-reference/dep.md
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/find-duplicates.md
  website/versioned_docs/version-1.0.0/cli-reference/graph.md
  website/versioned_docs/version-1.0.0/cli-reference/list.md
  website/versioned_docs/version-1.0.0/cli-reference/ready.md
  website/versioned_docs/version-1.0.4/cli-reference/dep.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/find-duplicates.md
  website/versioned_docs/version-1.0.4/cli-reference/graph.md
  website/versioned_docs/version-1.0.4/cli-reference/list.md
  website/versioned_docs/version-1.0.4/cli-reference/ready.md
Due: none

feat(storage): be-x42v.1 BEADS_MAX_ROWS defensive cap foundation
  internal/storage/issueops/errors.go
  internal/storage/issueops/search.go
  internal/storage/issueops/search_test.go
  internal/types/types.go
Due: Storage & Database, Core Types & Utilities

chore: release gate PASS for be-x42v.1 + be-x42v.2 (BEADS_MAX_ROWS)
  release-gates/be-x42v-max-rows-gate.md
Due: none

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
