Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix: update tests for nocgo StatusWarning change and repoPath params
  cmd/bd/doctor/gitignore_test.go
  cmd/bd/doctor/maintenance_test.go
  cmd/bd/doctor/migration_validation_nocgo_test.go
Due: none

fix: use configured credentials and context timeout in perf_dolt.go (bd-c1g8)
  cmd/bd/doctor/perf_dolt.go
Due: CLI Commands

fix: return errors from RunPerformanceDiagnostics instead of calling os.Exit() (bd-hwmb)
  cmd/bd/doctor.go
  cmd/bd/doctor/perf.go
  cmd/bd/doctor/perf_dolt.go
Due: CLI Commands

fix: nocgo stubs return StatusWarning instead of StatusOK for skipped checks (bd-lars)
  cmd/bd/doctor/checks_nocgo.go
  cmd/bd/doctor/migration_validation_nocgo.go
Due: CLI Commands

bd: backup 2026-03-02 03:59
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

fix: address 4 doctor bugs — panics, masked errors, missing rows.Err()
  cmd/bd/doctor/deep.go
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/fix/validation.go
  cmd/bd/doctor/integrity.go
  cmd/bd/doctor/migration_validation.go
  cmd/bd/doctor/multirepo.go
  cmd/bd/doctor/perf_dolt.go
  cmd/bd/doctor/server.go
  cmd/bd/doctor/validation.go
  cmd/bd/doctor/version.go
Due: CLI Commands

refactor: remove dead wisp table routing functions
  internal/storage/dolt/wisps.go
Due: Storage & Database

fix: add missing dolt-server.port, dolt-server.activity, dolt-monitor.pid to gitignore template (GH#2256)
  cmd/bd/doctor/gitignore.go
Due: CLI Commands

fix: guard dolt remote subcommands against store init bypass (GH#2224)
  cmd/bd/dolt_test.go
  cmd/bd/main.go
Due: CLI Commands

fix: consult config.yaml for dolt.port in DefaultConfig (GH#2073)
  internal/doltserver/doltserver.go
Due: none

fix: worktree separate-DB discovery skips own .beads/ (GH#2190)
  internal/beads/beads.go
  internal/beads/beads_test.go
Due: Core Types & Utilities

fix(doctor): recognize marker-managed hooks, fix stale advice (#2244, #2242)
  cmd/bd/doctor/broken_migration.go
  cmd/bd/doctor/broken_migration_test.go
  cmd/bd/doctor/git.go
  cmd/bd/doctor/git_test.go
Due: CLI Commands

fix: detect and repair missing dolt_database in metadata.json (GH#2160)
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/fix/metadata.go
  cmd/bd/doctor_fix.go
Due: CLI Commands

feat(show): add --current flag to show active issue (GH#2184)
  cmd/bd/show.go
  cmd/bd/show_current_test.go
  docs/CLI_REFERENCE.md
Due: CLI Commands

fix(upgrade): graceful recovery for pre-0.56 dolt databases (#2137)
  cmd/bd/doctor.go
  cmd/bd/doctor/database.go
  cmd/bd/version_tracking.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: CLI Commands

bd: backup 2026-03-02 04:29
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-03-02 04:14
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
Due: none

feat: add bd remember/memories/forget/recall for persistent agent memory
  cmd/bd/memory.go
  cmd/bd/prime.go
Due: CLI Commands

feat: add memory instructions to bd prime output and changelog
  CHANGELOG.md
  cmd/bd/prime.go
Due: CLI Commands

fix: refresh last_import_time after write commands to prevent false staleness (#2255)
  cmd/bd/doctor/config_values.go
  cmd/bd/doctor/migration_validation_test.go
  cmd/bd/doctor/quick_test.go
  cmd/bd/doctor/server_test.go
  cmd/bd/main.go
  cmd/bd/staleness.go
  cmd/bd/staleness_test.go
Due: CLI Commands

fix: include children of blocked parents in bd blocked (GH#1495)
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
Due: Storage & Database

fix: repair CI failures - test fix and gofumpt formatting
  cmd/bd/doctor/config_values.go
  cmd/bd/doctor/migration_validation_test.go
  cmd/bd/doctor/quick_test.go
  cmd/bd/doctor/server_test.go
  internal/configfile/configfile.go
Due: CLI Commands, Storage & Database

fix: repair CI failures - test fix and gofumpt formatting
  internal/configfile/configfile.go
Due: Storage & Database

fix: add missing dolt runtime files to gitignore template (GH#2256)
  cmd/bd/doctor/gitignore.go
Due: CLI Commands

fix: update test expectation for StatusWarning on query failure
  cmd/bd/doctor/validation_test.go
Due: none

bd: backup 2026-03-02 06:30
  .beads/backup/backup_state.json
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

fix: make install works on tag checkouts
  Makefile
Due: none

fix: consult config.yaml for dolt.port in DefaultConfig (GH#2073)
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: none

fix(ci): remove stale hook-template checks and add hook install coverage
  cmd/bd/init_hooks_test.go
Due: none

feat(doctor): bridge pending hook migrations into --fix
  cmd/bd/doctor_fix.go
  cmd/bd/doctor_fix_pending_migrations_test.go
Due: CLI Commands

docs: document hook migration preview/apply workflow
  AGENT_INSTRUCTIONS.md
Due: none

fix(doctor): escalate broken hook migration severity
  cmd/bd/doctor.go
  cmd/bd/doctor/migration.go
  cmd/bd/doctor/migration_hooks_test.go
Due: CLI Commands

style: fix gofmt formatting in show_current_test.go and wisps.go
  cmd/bd/show_current_test.go
  internal/storage/dolt/wisps.go
Due: Storage & Database

feat(create-form): add --parent flag for creating sub-issues
  cmd/bd/create_form.go
  cmd/bd/create_form_test.go
Due: CLI Commands

style(dolt): unexport remoteCredentials fields
  internal/storage/dolt/credentials.go
  internal/storage/dolt/store.go
Due: Storage & Database

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
