Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

Populate SQLite dependency compatibility column
  internal/storage/issueops/dependencies.go
Due: Storage & Database

fix(init): tighten Dolt marker handling (#4083)
  cmd/bd/doctor/fix/dolt_format.go
  cmd/bd/init.go
  cmd/bd/init_test.go
  internal/doltserver/doltserver.go
Due: CLI Commands

Stamp auto-import attempts for unchanged JSONL
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_unit_test.go
Due: CLI Commands

Add configurable JSONL import path
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_unit_test.go
  cmd/bd/config.go
  cmd/bd/config_setmany_test.go
  cmd/bd/config_validate_key_test.go
  cmd/bd/hooks.go
  cmd/bd/import.go
  cmd/bd/import_embedded_test.go
  cmd/bd/import_path.go
  cmd/bd/init.go
  cmd/bd/init_embedded_test.go
  cmd/bd/init_templates.go
  cmd/bd/kv.go
  cmd/bd/kv_test.go
  docs/CLI_REFERENCE.md
  docs/CONFIG.md
  internal/config/config.go
  internal/config/yaml_config.go
  internal/config/yaml_config_test.go
Due: CLI Commands, Core Types & Utilities

Regenerate CLI reference docs
  website/docs/cli-reference/config.md
  website/docs/cli-reference/import.md
  website/docs/cli-reference/init.md
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.0/cli-reference/import.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
  website/versioned_docs/version-1.0.4/cli-reference/import.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: none

fix(hooks): fall back to export.path for legacy git-hook JSONL import
  cmd/bd/hooks.go
  cmd/bd/hooks_post_merge_import_test.go
Due: CLI Commands

Document import path portability
  cmd/bd/config.go
  cmd/bd/init_templates.go
  docs/CLI_REFERENCE.md
  docs/CONFIG.md
  website/docs/cli-reference/config.md
  website/docs/reference/configuration.md
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.0/reference/configuration.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
  website/versioned_docs/version-1.0.4/reference/configuration.md
Due: CLI Commands

test(export): assert byte-stable JSONL across all record types
  cmd/bd/export_test.go
Due: none

fix(export): guard empty auto-export over populated JSONL
  cmd/bd/export_auto.go
  cmd/bd/export_auto_test.go
Due: CLI Commands

fix(export): guard auto-export against richer JSONL overwrite
  CHANGELOG.md
  cmd/bd/export_auto.go
  cmd/bd/export_auto_test.go
Due: CLI Commands

Guard auto-export against JSONL-only records
  cmd/bd/export_auto.go
  cmd/bd/export_auto_test.go
Due: CLI Commands

Make auto-export git add lock-aware
  cmd/bd/export_auto.go
  cmd/bd/export_auto_test.go
Due: CLI Commands

test(export): assert byte-stable JSONL across all record types (#4086)
  cmd/bd/export_test.go
Due: none

Guard auto-export against JSONL-only records (#4090)
  cmd/bd/export_auto.go
  cmd/bd/export_auto_test.go
Due: CLI Commands

Make auto-export git add lock-aware (#4089)
  cmd/bd/export_auto.go
  cmd/bd/export_auto_test.go
Due: CLI Commands

fix: guard jsonl auto import export paths
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_unit_test.go
  cmd/bd/export_auto.go
  cmd/bd/export_auto_test.go
  cmd/bd/hooks.go
  cmd/bd/main.go
  cmd/bd/prune_embedded_test.go
  cmd/bd/purge.go
Due: CLI Commands

fix: guard JSONL auto import/export edge cases
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_unit_test.go
  cmd/bd/export_auto.go
  cmd/bd/export_auto_test.go
  cmd/bd/hooks.go
  cmd/bd/main.go
  cmd/bd/prune_embedded_test.go
  cmd/bd/purge.go
Due: CLI Commands

fix: speed up ephemeral graph apply
  cmd/bd/create.go
  cmd/bd/graph_apply.go
  cmd/bd/graph_apply_test.go
Due: CLI Commands

fix: harden graph apply dependency validation
  cmd/bd/graph_apply.go
  cmd/bd/graph_apply_execution_test.go
  cmd/bd/graph_apply_execution_unit_test.go
Due: CLI Commands

fix: address graph apply review findings (bd-hej2e4)
  cmd/bd/create.go
  cmd/bd/graph_apply.go
  cmd/bd/graph_apply_execution_test.go
  cmd/bd/graph_apply_execution_unit_test.go
  cmd/bd/graph_apply_test.go
Due: CLI Commands

Fix ephemeral graph apply readiness and dependency cost (#3943)
  cmd/bd/create.go
  cmd/bd/graph_apply.go
  cmd/bd/graph_apply_execution_test.go
  cmd/bd/graph_apply_execution_unit_test.go
  cmd/bd/graph_apply_test.go
Due: CLI Commands

fix(export): fail on auto-export git add errors
  cmd/bd/export_auto.go
  cmd/bd/export_auto_test.go
  cmd/bd/main.go
Due: CLI Commands

fix(auto-import): pass serverMode=false in rebased stamp tests
  cmd/bd/auto_import_upgrade_unit_test.go
Due: none

fix(export): keep gitignored .beads non-fatal in auto-export git-add
  cmd/bd/export_auto.go
  cmd/bd/export_auto_test.go
Due: CLI Commands

pm: add plan for schema-skew guard implementation
  docs/plans/schema-skew-guard.md
Due: none

test: clear BEADS_DOLT_SERVER_PORT in server-mode isolation tests (be-ko6jm)
  beads_test.go
  internal/configfile/configfile_test.go
  internal/configfile/credentials_test.go
Due: none

Narrow DoltLite PR to core backend
  beads_nocgo.go
  docs/staged-for-removal/dev-notes/doltlite-backend-verification-2026-04-30.md
  docs/staged-for-removal/dev-notes/doltlite-beads-checklist.md
  gascitystore/store.go
  internal/beads/beads.go
  internal/beads/beads_test.go
  internal/utils/id_parser.go
Due: Core Types & Utilities

fix: address create review findings
  CHANGELOG.md
  cmd/bd/create.go
  cmd/bd/create_embedded_test.go
  cmd/bd/create_form.go
  cmd/bd/create_labels_test.go
  cmd/bd/graph_apply.go
  cmd/bd/quick.go
  docs/messaging.md
  internal/storage/child_counter_reservation.go
  internal/storage/dolt/create_issue_commit_test.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/transaction_test.go
  internal/storage/embeddeddolt/create_issue_test.go
  internal/storage/embeddeddolt/transaction.go
  internal/storage/hook_decorator.go
  internal/storage/hook_decorator_internal_test.go
  internal/storage/issueops/create.go
  internal/storage/issueops/create_test.go
  internal/storage/issueops/dependencies.go
Due: CLI Commands, Storage & Database

docs: add Related Projects pointer (scry)
  README.md
  docs/RELATED_PROJECTS.md
Due: none

fix(close): be-035 refuse silent close on actor/assignee mismatch
  cmd/bd/close.go
  cmd/bd/close_embedded_test.go
  cmd/bd/show_unit_helpers.go
  cmd/bd/show_unit_helpers_test.go
  internal/validation/issue.go
  internal/validation/issue_test.go
Due: CLI Commands, Query & Filtering

chore: release gate PASS for be-07y (be-035 close authority guard)
  release-gates/be-07y-gate.md
Due: none

test(count): close alice-assigned fixture with --force under be-035 guard
  cmd/bd/count_embedded_test.go
Due: none

docs(validation): note identity-by-string semantics of AssigneeMatches
  internal/validation/issue.go
Due: Query & Filtering

fix(import): preserve JSONL comment IDs
  cmd/bd/init_embedded_test.go
  internal/storage/issueops/create.go
Due: Storage & Database

Consider entire PR thread, clarifying info are often in comments
  PR_MAINTAINER_GUIDELINES.md
Due: none
