Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

honor BEADS_DOLT_SERVER_TLS during init
  cmd/bd/init.go
Due: CLI Commands

fix(schema): qualify go install guidance with gms_pure_go
  internal/storage/schema/schema.go
  internal/storage/schema/schema_skew_test.go
Due: Storage & Database

docs(cli): regenerate CLI reference for --ignore-schema-skew
  docs/CLI_REFERENCE.md
Due: none

docs(cli): regenerate CLI reference for --allow-git-origin
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/dolt.md
  website/versioned_docs/version-1.0.0/cli-reference/dolt.md
  website/versioned_docs/version-1.0.4/cli-reference/dolt.md
Due: none

test(list): update limit_truncation_hint for piped stderr contract (GH#4094)
  cmd/bd/list_embedded_test.go
Due: none

test(cmd/bd): be-0x25q flag-to-env-var propagation gate for --ignore-schema-skew
  cmd/bd/schema_skew_test.go
Due: none

fix(audit): widen newID entropy to 16 bytes + bump test to 8000 IDs (be-5uxe)
  internal/audit/audit.go
  internal/audit/concurrency_test.go
Due: none

test(storage): wisp_dependencies split-column regression gate (be-hewzr)
  internal/storage/dolt/wisp_infra_dep_test.go
Due: none

docs: schema-version guard in README and CHANGELOG (be-x0rl6)
  CHANGELOG.md
  README.md
Due: none

fix(stats): F1 BlockedCountSkipped reflects actual nil; F2 Ready shows (skipped) with --no-blocked
  cmd/bd/status.go
Due: CLI Commands

docs(cli): regen CLI reference for `bd status --no-blocked`
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/status.md
  website/versioned_docs/version-1.0.0/cli-reference/status.md
  website/versioned_docs/version-1.0.4/cli-reference/status.md
Due: none

feat(stats): add --no-blocked flag; fix Blocked:0 red render (be-nnqp, be-4b63)
  cmd/bd/status.go
  cmd/bd/status_test.go
  examples/library-usage/main.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
  internal/storage/embeddeddolt/statistics.go
  internal/storage/storage.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

chore: release gate PASS for be-nnqp+be-4b63 (bd stats --no-blocked)
  release-gates/be-nnqp-be-4b63-gate.md
Due: none

feat(config): add archive.* config keys, ArchiveDefaultForBackend, bd init writes archive.* at init
  cmd/bd/init.go
  internal/config/config.go
  internal/config/yaml_config.go
Due: CLI Commands, Core Types & Utilities

feat(config,doctor): export.auto alias + bd doctor archive status (be-6lydih, be-tsjke3)
  cmd/bd/config.go
  cmd/bd/doctor.go
  cmd/bd/doctor/archive.go
  internal/config/alias.go
Due: CLI Commands, Core Types & Utilities

fix(doctor): use repoPath for archive size stat (be-qqggak)
  cmd/bd/doctor/archive.go
Due: CLI Commands

fix(config): make ResolveArchiveFormat pure — no stderr side effect (be-qqggak)
  cmd/bd/config.go
  internal/config/alias.go
Due: CLI Commands, Core Types & Utilities

pm: decompose be-zej8mz → 3 builder beads for reference-aware prune
  docs/plans/reference-aware-prune.md
Due: none

test(prune): NFR-02 bench test for buildReferencedSet on 10K-bead fixture (be-0wt833)
  cmd/bd/prune_bench_test.go
Due: none

feat(prune): reference-aware bd prune skips closed beads cited by open beads (be-jewoem, be-u2mw2x)
  README.md
  cmd/bd/prune.go
  cmd/bd/purge.go
Due: CLI Commands

docs(prune): regen CLI reference + release gate PASS (be-jewoem)
  docs/CLI_REFERENCE.md
  release-gates/be-jewoem-gate.md
  website/docs/cli-reference/prune.md
  website/versioned_docs/version-1.0.0/cli-reference/prune.md
  website/versioned_docs/version-1.0.4/cli-reference/prune.md
Due: none

feat(contributor): bd-umbf contributor namespace isolation (Children 1-3)
  cmd/bd/export.go
  cmd/bd/init.go
  cmd/bd/migrate_personal.go
Due: CLI Commands

docs(gate): update be-jewoem release gate to cover bd-umbf scope
  release-gates/be-jewoem-gate.md
Due: none

test(contributor): be-f9a104 — bd-umbf export+migrate-personal tests
  cmd/bd/export_exclude_owner_test.go
  cmd/bd/migrate_personal_test.go
Due: none

docs(prune): regen CLI reference — add bd migrate-personal, update bd export flags
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/export.md
  website/docs/cli-reference/index.md
  website/docs/cli-reference/migrate-personal.md
  website/versioned_docs/version-1.0.0/cli-reference/export.md
  website/versioned_docs/version-1.0.0/cli-reference/index.md
  website/versioned_docs/version-1.0.0/cli-reference/migrate-personal.md
  website/versioned_docs/version-1.0.4/cli-reference/export.md
  website/versioned_docs/version-1.0.4/cli-reference/index.md
  website/versioned_docs/version-1.0.4/cli-reference/migrate-personal.md
Due: none

docs(gate): update be-jewoem gate — PR description refreshed, B3 dependency chain clarified (2026-05-19)
  release-gates/be-jewoem-gate.md
Due: none

fix(contributor): separate insert/delete phases in migrate-personal; suppress nonInteractive output
  cmd/bd/init.go
  cmd/bd/migrate_personal.go
Due: CLI Commands

fix(init): match autoConfigureForkContributor output to be-0ccf34 design spec
  cmd/bd/init.go
  cmd/bd/init_contributor.go
Due: CLI Commands

chore: release gate PASS for bd-3852 (orphaned children doctor check)
  release-gates/bd-3852-gate.md
Due: none

fix(bd-umbf): be-jewoem B3 — fix yaml/DB store mismatch in export owner-filter and fork routing
  cmd/bd/export.go
  cmd/bd/fork_detect_embedded_test.go
  cmd/bd/init_contributor.go
  release-gates/be-jewoem-gate.md
Due: CLI Commands

fix(test): be-36oa — skip TestMigratePersonal_movesIssues on Dolt unavailable
  cmd/bd/migrate_personal_test.go
Due: none

fix(lint): drop unused ctx+store params from autoConfigureForkContributor
  cmd/bd/init.go
  cmd/bd/init_contributor.go
Due: CLI Commands

test(init): be-de99a6 — fork-detection UX output format tests
  cmd/bd/fork_detect_embedded_test.go
Due: none

fix(rebase): update second autoConfigureForkContributor call to 2-arg signature
  cmd/bd/init.go
Due: CLI Commands

test(storage): compound bytes+allocs gate for lite SELECT (be-9uj7)
  internal/storage/postgres/lite_bench_test.go
Due: none

chore(deps): add pgx/v5 + testcontainers-postgres for integration_pg bench tests
  go.mod
  go.sum
Due: none

feat(bench): be-ry0 PG bench scaffolding (3 named benchmarks + extensible wrapper)
  .gitignore
  Makefile
  internal/storage/postgres/benchmark_test.go
  internal/storage/postgres/testfixture/testfixture.go
  scripts/benchstat-postgres.sh
Due: Storage & Database

test(storage): be-uwvs.4 lite SELECT correctness + parity + bench tests
  internal/storage/dolt/lite_search_test.go
  internal/storage/embeddeddolt/lite_search_test.go
  internal/storage/parity/lite_parity_test.go
  internal/storage/postgres/lite_bench_test.go
  internal/storage/postgres/lite_search_test.go
Due: none

feat(daemon): be-ht5qm4 — Kill() module for bdd daemon shutdown
  cmd/bddgen/main.go
  internal/daemon/kill.go
  internal/daemon/kill_test.go
  internal/daemon/kill_windows.go
  internal/storage/rpc/client.go
  internal/storage/rpc/gen.go
  internal/storage/rpc/server.go
  internal/storage/rpc/types.go
Due: CLI Commands, Storage & Database

feat(daemon): be-zsr4id — iter transport foundation: sentinel errors, config fields, docs
  docs/EXTENDING.md
  internal/configfile/configfile.go
  internal/storage/storage.go
Due: Storage & Database
