Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

refactor(otel): align with VictoriaMetrics HTTP stack
  docs/OBSERVABILITY.md
  go.mod
  go.sum
  internal/telemetry/otlp.go
  internal/telemetry/telemetry.go
Due: none

feat(otel): capture hook stdout/stderr and bd.args in spans
  cmd/bd/main.go
  internal/hooks/hooks.go
  internal/hooks/hooks_otel.go
  internal/hooks/hooks_unix.go
  internal/hooks/hooks_windows.go
Due: CLI Commands, Sync & Git Operations

docs(otel): translate OBSERVABILITY.md to English, document span attributes
  docs/OBSERVABILITY.md
Due: none

fix: remove stale --from-main flag from prime.go session prompts
  cmd/bd/prime.go
  cmd/bd/prime_test.go
Due: CLI Commands

fix(agents): add beads-agent-instructions-v2 blurb with bd/bv commands
  AGENTS.md
Due: none

fix(hook): recover from embedded Dolt engine panics in pre-commit hook
  cmd/bd/hook.go
Due: CLI Commands

chore(.beads): update gitignore and remove temp export file
  .beads/.gitignore
  .beads/issues.jsonl.new
Due: none

fix: ephemeral store routing gaps (bd-h3hhu0, bd-n8tbnx, bd-hoio75)
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/transaction.go
  internal/storage/ephemeral/dependencies.go
  internal/storage/ephemeral/issues.go
Due: Storage & Database

fix: resolve CI lint, format, and flaky test warnings
  cmd/bd/info_test.go
  internal/storage/dolt/transaction.go
  internal/storage/ephemeral/dependencies.go
  internal/storage/ephemeral/events.go
  internal/storage/ephemeral/issues.go
  internal/storage/ephemeral/store.go
  internal/storage/ephemeral/transaction.go
Due: Storage & Database

fix(doctor): use configured database name instead of hardcoded "beads" (GH#1904)
  cmd/bd/doctor/backend.go
  cmd/bd/doctor/federation.go
  cmd/bd/doctor/maintenance.go
  cmd/bd/doctor/migration_validation.go
  cmd/bd/doctor/validation.go
Due: CLI Commands

doctor: make deep validation backend-aware
  cmd/bd/doctor/deep.go
  cmd/bd/doctor/deep_open_cgo.go
  cmd/bd/doctor/deep_open_nocgo.go
Due: CLI Commands

fix(plugin): correct inverted bd dep add argument order in docs
  claude-plugin/commands/dep.md
  claude-plugin/commands/epic.md
  claude-plugin/skills/beads/resources/DEPENDENCIES.md
  claude-plugin/skills/beads/resources/INTEGRATION_PATTERNS.md
  claude-plugin/skills/beads/resources/PATTERNS.md
  claude-plugin/skills/beads/resources/WORKFLOWS.md
Due: none

Add --skip-prefix-validation flag to import command
  cmd/bd/import.go
  cmd/bd/import_prefix_test.go
Due: CLI Commands

fix(jira): use correct API v3 /search/jql endpoint
  internal/jira/client.go
Due: External Integrations

fix: guard issue_prefix SetConfig to prevent clobber when rigs share a Dolt database
  cmd/bd/init.go
  internal/storage/dolt/bootstrap.go
Due: CLI Commands, Storage & Database

fix(test): use dynamic port in ServerModeFailsWithoutServer test
  beads_test.go
Due: none

fix: consolidate single-entry changelog versions to fix TestVersionChangesCoverage
  cmd/bd/info.go
Due: CLI Commands

fix: ephemeral store read routing — beads created with --ephemeral now queryable
  cmd/bd/main.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/queries.go
  internal/storage/ephemeral/issues.go
  internal/storage/ephemeral/transaction.go
Due: CLI Commands, Storage & Database

fix(doctor): pass configured database name to remaining dolt.New() call sites
  cmd/bd/doctor/maintenance.go
  cmd/bd/doctor/migration_validation.go
  cmd/bd/doctor/validation.go
Due: CLI Commands

fix(doctor): pass configured db name to remaining dolt.New() call sites
  cmd/bd/doctor/maintenance.go
  cmd/bd/doctor/migration_validation.go
  cmd/bd/doctor/validation.go
Due: CLI Commands

feat: add dolt_ignore patterns and create wisps table (bd-f6b62)
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/004_wisps_table.go
  internal/storage/dolt/migrations/migrations_test.go
  internal/storage/dolt/schema.go
Due: Storage & Database

feat: add batch auto-commit mode for Dolt to reduce commit bloat
  cmd/bd/dolt.go
  cmd/bd/dolt_autocommit.go
  cmd/bd/dolt_autocommit_config.go
  cmd/bd/dolt_autocommit_integration_test.go
  cmd/bd/dolt_autocommit_test.go
  cmd/bd/main.go
  cmd/bd/sync.go
  internal/storage/dolt/store.go
  internal/storage/dolt/versioned_test.go
Due: CLI Commands, Storage & Database

fix: add Limit to wisp gc/list SearchIssues to prevent OOM
  cmd/bd/wisp.go
Due: CLI Commands

fix(agents): correct MCP tool names and parameters per Copilot review
  claude-plugin/agents/beads-cleanup-agent.md
  claude-plugin/agents/beads-execution-coordinator-agent.md
  claude-plugin/agents/beads-issue-manager-agent.md
  claude-plugin/agents/beads-query-agent.md
Due: none

feat(agents): split task-agent into specialized beads agents
  claude-plugin/agents/beads-cleanup-agent.md
  claude-plugin/agents/beads-execution-coordinator-agent.md
  claude-plugin/agents/beads-issue-manager-agent.md
  claude-plugin/agents/beads-query-agent.md
  claude-plugin/agents/task-agent.md
Due: none

docs(agents): update specialized agents to use --claim flag
  claude-plugin/agents/beads-execution-coordinator-agent.md
  claude-plugin/agents/beads-issue-manager-agent.md
Due: none

fix: handle "nothing to commit" race in CommitPending
  internal/storage/dolt/store.go
Due: Storage & Database

feat: add bd migrate wisps command for SQLite-to-Dolt ephemeral data migration
  cmd/bd/migrate_wisps.go
  cmd/bd/migrate_wisps_test.go
Due: CLI Commands

feat: route wisp CRUD to dolt_ignored wisps table, remove SQLite ephemeral store
  cmd/bd/main.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/labels.go
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/005_wisp_auxiliary_tables.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/store.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisps.go
Due: CLI Commands, Storage & Database

fix: fall through to Dolt when ephemeral lookup returns nil
  internal/storage/dolt/issues.go
Due: Storage & Database

fix: use flock probe instead of file existence for noms LOCK health check
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/dolt_test.go
Due: CLI Commands

feat: remove SQLite ephemeral store code and dependencies
  cmd/bd/main.go
  cmd/bd/migrate_ephemeral.go
  cmd/bd/migrate_wisps.go
  cmd/bd/migrate_wisps_test.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/ephemeral/dependencies.go
  internal/storage/ephemeral/events.go
  internal/storage/ephemeral/issues.go
  internal/storage/ephemeral/labels.go
  internal/storage/ephemeral/schema.go
  internal/storage/ephemeral/store.go
  internal/storage/ephemeral/store_test.go
  internal/storage/ephemeral/transaction.go
Due: CLI Commands, Storage & Database

fix: gofmt formatting and doctor test expectation for auto-initialized dolt
  cmd/bd/doctor/dolt_test.go
  cmd/bd/dolt_autocommit.go
Due: CLI Commands

fix: route store-level event/comment methods to wisp tables for ephemeral IDs
  internal/storage/dolt/events.go
Due: Storage & Database

feat: embed AGENTS.md templates with embed.FS and add --agents-template flag
  cmd/bd/init.go
  cmd/bd/init_agent.go
  cmd/bd/setup/agents.go
  cmd/bd/setup/factory_test.go
  internal/templates/agents/agents.go
  internal/templates/agents/agents_test.go
  internal/templates/agents/defaults/agents.md.tmpl
  internal/templates/agents/defaults/beads-section.md
Due: CLI Commands

feat: add SIGTERM flush for batch mode and improve batch commit messages
  cmd/bd/dolt.go
  cmd/bd/main.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix: hydrate labels in getWispsByIDs for search results
  internal/storage/dolt/wisps.go
Due: Storage & Database

feat: add schema parity tests for wisps vs issues table column drift
  internal/storage/dolt/schema_parity_test.go
Due: none

fix: add missing ~15 filter fields to searchWisps
  internal/storage/dolt/wisps.go
Due: Storage & Database
