Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

test(regression): make workspace cleanup robust
  tests/regression/regression_test.go
Due: none

deps: update MCP Python dependencies
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/uv.lock
Due: none

deps: update vulnerable Go modules
  go.mod
  go.sum
Due: none

deps: update website npm dependencies
  website/package-lock.json
  website/package.json
Due: none

test(telemetry): extract command-telemetry wiring into testable helpers
  cmd/bd/command_telemetry.go
  cmd/bd/command_telemetry_test.go
  cmd/bd/main.go
Due: CLI Commands

fix(telemetry): stamp bd.prefix on every emitted metric measurement
  internal/compact/haiku.go
  internal/storage/dolt/store.go
  internal/storage/dolt/transaction.go
  internal/telemetry/attributes.go
  internal/telemetry/attributes_test.go
  internal/telemetry/storage.go
  internal/telemetry/storage_metrics_test.go
  internal/telemetry/telemetry.go
Due: Storage & Database

test(telemetry): cover Init, otlpMetricsEndpointSet, exporter wiring
  internal/telemetry/telemetry_test.go
Due: none

fix(telemetry): use US spelling to satisfy misspell linter
  docs/OBSERVABILITY.md
  internal/telemetry/telemetry.go
Due: none

docs(observability): note bd_prefix lands on every measurement
  docs/OBSERVABILITY.md
Due: none

fix(telemetry): wire WrapStorage decorator into storage chain
  cmd/bd/main.go
  internal/storage/hook_decorator.go
  internal/storage/hook_decorator_test.go
  internal/telemetry/storage.go
  internal/telemetry/storage_test.go
Due: CLI Commands, Storage & Database

test(telemetry): extract storage chain wiring into testable helper
  cmd/bd/main.go
  cmd/bd/storage_chain.go
  cmd/bd/storage_chain_test.go
Due: CLI Commands

refactor(telemetry): adopt standard OpenTelemetry SDK env vars with explicit BD_OTEL_ENABLED gate
  cmd/bd/main.go
  docs/OBSERVABILITY.md
  internal/telemetry/otlp.go
  internal/telemetry/telemetry.go
  internal/telemetry/telemetry_test.go
Due: CLI Commands

refactor(telemetry): split metrics on bd.prefix instead of db.namespace
  cmd/bd/main.go
  docs/OBSERVABILITY.md
  internal/telemetry/telemetry.go
  internal/telemetry/telemetry_test.go
Due: CLI Commands

fix(telemetry): wire WrapStorage decorator into bd storage chain
  cmd/bd/main.go
  cmd/bd/storage_chain.go
  cmd/bd/storage_chain_test.go
  docs/OBSERVABILITY.md
  internal/storage/hook_decorator.go
  internal/storage/hook_decorator_test.go
  internal/telemetry/storage.go
  internal/telemetry/storage_test.go
Due: CLI Commands, Storage & Database

refactor(telemetry): adopt standard OpenTelemetry SDK env vars with explicit BD_OTEL_ENABLED gate
  docs/OBSERVABILITY.md
  internal/telemetry/otlp.go
  internal/telemetry/telemetry.go
  internal/telemetry/telemetry_test.go
Due: none

refactor(cmd/bd): extract command-telemetry wiring into testable helpers
  cmd/bd/command_telemetry.go
  cmd/bd/command_telemetry_test.go
  cmd/bd/main.go
Due: CLI Commands

fix(telemetry): stamp bd.prefix on resource and every metric measurement
  cmd/bd/main.go
  docs/OBSERVABILITY.md
  internal/compact/haiku.go
  internal/storage/dolt/store.go
  internal/storage/dolt/transaction.go
  internal/telemetry/attributes.go
  internal/telemetry/attributes_test.go
  internal/telemetry/storage.go
  internal/telemetry/storage_metrics_test.go
  internal/telemetry/telemetry.go
Due: CLI Commands, Storage & Database

nix: update vendor hash for go deps
  default.nix
Due: none

fix: honor shared-server mode before fallback storage
  cmd/bd/main.go
  cmd/bd/main_shared_server_test.go
  cmd/bd/sql.go
Due: CLI Commands

examples: add GitHub issue-to-PR and PR triage starter formulas
  examples/formulas/README.md
  examples/formulas/gh-issue-to-pr.formula.toml
  examples/formulas/gh-pr-review.formula.toml
Due: none

fix(ready): exclude transitive descendants of blocked parents (#8)
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
  internal/storage/embeddeddolt/dependencies_test.go
  internal/storage/issueops/blocked.go
  internal/storage/issueops/ready_work.go
Due: Storage & Database

fix(ready): extend DoltStore.GetReadyWork to use transitive descendant exclusion (#9)
  internal/storage/dolt/queries.go
Due: Storage & Database

fix(ready): thread includeWisps through transitive-descendants CTE, rename loop vars
  internal/storage/dolt/queries.go
  internal/storage/issueops/blocked.go
  internal/storage/issueops/ready_work.go
Due: Storage & Database

fix(ready): thread includeWisps through transitive-descendants CTE, rename loop vars (#10)
  internal/storage/dolt/queries.go
  internal/storage/issueops/blocked.go
  internal/storage/issueops/ready_work.go
Due: Storage & Database

fix(auto-backup): serialize concurrent forks via flock
  cmd/bd/backup_auto.go
  cmd/bd/backup_auto_test.go
Due: CLI Commands

fix(mol bond): resolve plain formula names like every other subcommand (GH#3873)
  cmd/bd/mol_bond.go
  cmd/bd/mol_bond_gwn_test.go
Due: CLI Commands

fix(cook): drop duplicate blocks edge when waits_for infers from needs[0] (GH#3783)
  cmd/bd/cook.go
  cmd/bd/cook_qnt_test.go
Due: CLI Commands

feat(formula): implement on_complete runtime fanout executor (WIP)
  cmd/bd/close.go
  cmd/bd/cook.go
  cmd/bd/cook_c7g_test.go
  cmd/bd/on_complete.go
  cmd/bd/update.go
Due: CLI Commands

feat(formula): docs + example fixture + smoke harness for on_complete
  CHANGELOG.md
  cmd/bd/formula_primitives_test.go
  examples/formulas/primitives/README.md
  examples/formulas/primitives/on-complete-fanout.formula.toml
  internal/formula/schema_gen.go
  internal/formula/types.go
  website/docs/workflows/molecules.md
Due: none

chore: fix gofmt + regen v1.0.4 formula CLI reference
  cmd/bd/on_complete.go
  website/versioned_docs/version-1.0.4/cli-reference/formula.md
Due: CLI Commands

test(auto-backup): drive maybeAutoBackup through contended lock
  cmd/bd/backup_auto_test.go
Due: none

feat(dolt): add --verbose flag to bd dolt pull
  cmd/bd/dolt.go
Due: CLI Commands

test(dolt): add test coverage for --verbose pull flag
  cmd/bd/dolt.go
  cmd/bd/dolt_test.go
Due: CLI Commands

fix(dolt): propagate TLS, port, and central config at init and runtime
  cmd/bd/init.go
  cmd/bd/main.go
  internal/config/yaml_config_test.go
  internal/storage/dolt/open.go
  internal/storage/dolt/open_test.go
Due: CLI Commands, Storage & Database

feat(ready): support LabelsAny filter + implement server-mode GetReadyWork
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
  internal/storage/doltserver/store.go
  internal/storage/issueops/ready_work.go
Due: Storage & Database

Revert external server CLI dir override
  README.md
  cmd/bd/dolt.go
  docs/DOLT.md
  internal/storage/dolt/credentials.go
  internal/storage/dolt/open_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix(create): read issue_prefix from metadata.json before DB in shared-server mode
  CHANGELOG.md
  cmd/bd/main.go
  docs/readconfigprefix-shared-server.md
  internal/configfile/configfile.go
  internal/storage/issueops/helpers.go
  internal/storage/issueops/helpers_test.go
Due: CLI Commands, Storage & Database

Revert "Revert external server CLI dir override"
  README.md
  cmd/bd/dolt.go
  docs/DOLT.md
  internal/storage/dolt/credentials.go
  internal/storage/dolt/open_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database
