Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

perf(stats): parallelize ScanIssueCounts and computeBlockedIDs in GetStatistics
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
Due: Storage & Database

Consider entire PR thread, clarifying info are often in comments (#4105)
  PR_MAINTAINER_GUIDELINES.md
Due: none

fix(import): preserve JSONL comment IDs (#4103)
  cmd/bd/init_embedded_test.go
  internal/storage/issueops/create.go
Due: Storage & Database

test(cmd/bd): route sync.Once test temp dirs through TestMain cleanup
  AGENT_INSTRUCTIONS.md
  Makefile
  cmd/bd/explicit_db_nodb_test.go
  cmd/bd/init_embedded_test.go
  cmd/bd/init_permissions_test.go
  cmd/bd/shared_server_integration_test.go
  cmd/bd/test_helpers_pure_test.go
  cmd/bd/test_repo_beads_guard_test.go
  scripts/clean-test-tmp.sh
Due: none

/{cmd,internal}: cleanup
  cmd/bd/list.go
  cmd/bd/query.go
  cmd/bd/ready.go
  cmd/bd/routing_read.go
  internal/storage/dolt/config.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/is_blocked_test.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
  internal/storage/dolt/store.go
  internal/storage/dolt/transaction.go
  internal/storage/embeddeddolt/list_queries.go
  internal/storage/embeddeddolt/queries.go
  internal/storage/issueops/batching.go
  internal/storage/issueops/config_helpers.go
  internal/storage/issueops/dependency_queries.go
  internal/storage/issueops/epic_closure.go
  internal/storage/issueops/promote.go
  internal/storage/issueops/ready_work.go
  internal/storage/issueops/ready_work_counts.go
  internal/storage/issueops/search.go
  internal/storage/issueops/search_counts.go
  internal/storage/issueops/update.go
  internal/storage/issueops/wisp_routing.go
  internal/storage/storage.go
Due: CLI Commands, Storage & Database

fix(show): count wisp_dependencies in bd show --json counts and dependents iter
  internal/storage/dolt/counts.go
  internal/storage/dolt/counts_wisp_test.go
  internal/storage/dolt/iter_dependents.go
  internal/storage/embeddeddolt/counts.go
  internal/storage/embeddeddolt/counts_wisp_test.go
Due: Storage & Database

fix(show): avoid scalar-subquery count form that trips pure-Go GMS analyzer
  internal/storage/dolt/counts.go
  internal/storage/embeddeddolt/counts.go
Due: Storage & Database

feat(linear): dry-run preview for parent reconciler
  cmd/bd/linear.go
  internal/linear/parent_reconcile.go
  internal/linear/parent_reconcile_test.go
Due: CLI Commands, External Integrations

fix(graph): align struct tags per gofmt
  cmd/bd/graph_apply.go
Due: CLI Commands

fix(hooks): use first-token shebang parsing for interpreter detection
  cmd/bd/hooks.go
  cmd/bd/init_hooks_test.go
Due: CLI Commands

fix(show): resolve dependencies target via split columns in count queries
  internal/storage/dolt/counts.go
  internal/storage/embeddeddolt/counts.go
Due: Storage & Database

fix(create): set status=deferred when --defer date is in the future (GH#4071)
  cmd/bd/create.go
Due: CLI Commands

fix(close): treat re-close of already-closed issue as idempotent success (GH#4025)
  internal/storage/issueops/close.go
Due: Storage & Database

fix(list): disable default truncation when stdout is not a TTY (GH#4094)
  cmd/bd/list.go
  cmd/bd/list_output.go
Due: CLI Commands

fix(mcp): route validate and detect-pollution to bd doctor (GH#4037)
  integrations/beads-mcp/src/beads_mcp/bd_client.py
Due: none

fix(show): resolve wisp_dependencies target via split columns too
  internal/storage/dolt/counts.go
  internal/storage/embeddeddolt/counts.go
Due: Storage & Database

test(cmd/bd): route sync.Once test temp dirs through TestMain cleanup (#4108)
  AGENT_INSTRUCTIONS.md
  Makefile
  cmd/bd/explicit_db_nodb_test.go
  cmd/bd/init_embedded_test.go
  cmd/bd/init_permissions_test.go
  cmd/bd/shared_server_integration_test.go
  cmd/bd/test_helpers_pure_test.go
  cmd/bd/test_repo_beads_guard_test.go
  scripts/clean-test-tmp.sh
Due: none

feat(show): count-only JSON details with opt-in streamed payloads
  cmd/bd/show.go
  cmd/bd/show_embedded_test.go
  cmd/bd/show_shallow_dependents_test.go
  docs/CLI_REFERENCE.md
  internal/jira/tracker_test.go
  internal/storage/dependency_queries.go
  internal/storage/dolt/counts.go
  internal/storage/dolt/counts_wisp_test.go
  internal/storage/dolt/iter_dependents.go
  internal/storage/dolt/iter_issues.go
  internal/storage/dolt/iter_stubs.go
  internal/storage/embeddeddolt/counts.go
  internal/storage/embeddeddolt/counts_wisp_test.go
  internal/storage/embeddeddolt/iter_stubs.go
  internal/storage/iter.go
  internal/storage/storage.go
  internal/telemetry/storage.go
  internal/types/types.go
  release-gates/be-iprk-gate.md
  website/docs/cli-reference/show.md
  website/versioned_docs/version-1.0.0/cli-reference/show.md
  website/versioned_docs/version-1.0.4/cli-reference/show.md
Due: CLI Commands, Storage & Database, Core Types & Utilities

fix(graph): scope CSS to #graph and add fit-to-view for HTML viewer
  cmd/bd/graph_export.go
Due: CLI Commands

fix(show): resolve dependents target via split columns in dolt iter path (be-kjp7x)
  internal/storage/dolt/iter_dependents.go
Due: Storage & Database

feat(linear): add linear.outbound_state_map for push disambiguation
  internal/linear/mapping.go
  internal/linear/mapping_test.go
Due: External Integrations

fix(linear): persistent linear.exclude_types no longer disables parent reconcile
  cmd/bd/linear.go
  cmd/bd/sync_is_scoped_test.go
Due: CLI Commands

fix(schema): reorder 0041 FK before generated column for Dolt 2.0.6
  internal/storage/schema/migrations/0041_split_dependencies_target.up.sql
Due: Storage & Database

ci: gate regression tests on risky PR paths
  .github/workflows/regression.yml
Due: none

docs(changelog): credit Kevin Glynn for JSONL cleanup origin
  CHANGELOG.md
Due: none

feat(init): auto-configure contributor routing on fork detect (be-7daa14)
  cmd/bd/init.go
  cmd/bd/init_contributor.go
Due: CLI Commands

chore: release gate PASS for be-7daa14 (feat(init): auto-configure contributor routing)
  release-gates/be-7daa14-gate.md
Due: none

fix(init): suppress autoConfigureForkContributor output in non-interactive mode
  cmd/bd/init.go
Due: CLI Commands

test(init): cover fork auto contributor routing
  cmd/bd/init_embedded_test.go
  release-gates/be-7daa14-gate.md
Due: none

fix(cli): list all bead types with required sections in help output and add bd types --sections
  cmd/bd/create.go
  cmd/bd/lint.go
  cmd/bd/types.go
  docs/CLI_REFERENCE.md
Due: CLI Commands

fix(dolt): disable background workers, drain MySQL handshake before TCP close
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
  internal/doltserver/lifecycle_integration_test.go
  internal/storage/dolt/circuit.go
Due: Storage & Database

fix(storage/dolt): IterDependentsWithMetadata uses 3-way split deps (post-0043)
  internal/storage/dolt/iter_dependents.go
Due: Storage & Database

fix(schema): reorder 0041 FK before generated column for Dolt 2.0.6 (#4120)
  internal/storage/schema/migrations/0041_split_dependencies_target.up.sql
Due: Storage & Database

ci: gate regression tests on risky PR paths (#4123)
  .github/workflows/regression.yml
Due: none

fix(init): run fork auto routing before store close
  cmd/bd/init.go
Due: CLI Commands

docs(gate): describe PR 4028 maintainer merge
  release-gates/be-7daa14-gate.md
Due: none

feat(init): auto-configure contributor routing on fork detect (be-7daa14) (#4028)
  cmd/bd/init.go
  cmd/bd/init_contributor.go
  cmd/bd/init_embedded_test.go
  release-gates/be-7daa14-gate.md
Due: CLI Commands

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
