Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix: use explicit DOLT_ADD to prevent config corruption from stale working set (GH#2455)
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/store.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisp_gc_test.go
Due: Storage & Database

feat: add --list and --doc flags to bd help for CLI doc generation (GH#2527)
  beads_test.go
  cmd/bd/help_all.go
  cmd/bd/protocol/helpers_test.go
  internal/git/gitdir.go
  internal/tracker/engine_test.go
Due: CLI Commands, Sync & Git Operations

fix: use CLIDir for dolt remote operations instead of root Path (GH#2306, GH#2311)
  cmd/bd/dolt.go
  internal/storage/dolt/federation.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix: create .beads/ dir in server mode with external BEADS_DOLT_* env vars (GH#2519)
  cmd/bd/init.go
Due: CLI Commands

fix: sync CLI remotes into SQL server on store open (GH#2315)
  internal/storage/dolt/federation.go
  internal/storage/dolt/federation_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix: update cliDir() → CLIDir() after linter rename
  internal/storage/dolt/federation.go
  internal/storage/dolt/federation_test.go
Due: Storage & Database

fix: bd dolt remote add/list/remove operate on wrong directory (GH#2306, GH#2311)
  internal/storage/dolt/store.go
Due: Storage & Database

chore: remove duplicate CLIDir() from linter merge artifact
  internal/storage/dolt/store.go
Due: Storage & Database

fix: use Root().PersistentFlags() for all persistent flag checks in PersistentPreRun (GH#2514)
  cmd/bd/main.go
Due: CLI Commands

fix: detect backup files on database-not-found and after bd init (GH#2327)
  cmd/bd/init.go
  internal/storage/dolt/errors.go
  internal/storage/dolt/errors_test.go
Due: CLI Commands, Storage & Database

chore: bump version to 0.60.0
  .claude-plugin/marketplace.json
  CHANGELOG.md
  NEWSLETTER.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/info.go
  cmd/bd/version.go
  cmd/bd/winres/manifest.xml
  cmd/bd/winres/winres.json
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
Due: CLI Commands

fix: update doctor test version expectations for v0.60.0
  cmd/bd/doctor_test.go
Due: none

fix: merge user-level config under project config instead of ignoring it (GH#2375)
  internal/config/config.go
Due: Core Types & Utilities

fix: migrate server-root remotes to database dir on store open (GH#2118)
  cmd/bd/dolt.go
  internal/storage/dolt/federation.go
  internal/storage/dolt/federation_test.go
Due: CLI Commands, Storage & Database

fix: Commit() excludes config table to prevent issue_prefix corruption (GH#2455)
  internal/storage/dolt/migrations.go
  internal/storage/dolt/store.go
  internal/storage/dolt/wisp_gc_test.go
Due: Storage & Database

fix: bd list ready rejects bare keyword with hint to use --ready (GH#2532)
  cmd/bd/list.go
  cmd/bd/simple_helpers_test.go
Due: CLI Commands

fix: bd doctor detects committed runtime/sensitive files that should be gitignored (GH#2535)
  cmd/bd/doctor.go
  cmd/bd/doctor/gitignore.go
  cmd/bd/doctor/tracked_runtime.go
  cmd/bd/doctor/tracked_runtime_test.go
  cmd/bd/doctor_fix.go
Due: CLI Commands

fix: respect BD_BACKUP_ENABLED=false to suppress backup commits (GH#2534)
  cmd/bd/backup_auto_test.go
  internal/config/config.go
Due: Core Types & Utilities

fix: bd list ready rejects bare keyword with hint to use --ready (GH#2532) (#2536)
  cmd/bd/list.go
  cmd/bd/simple_helpers_test.go
Due: CLI Commands

/internal/storage/embeddeddolt/store.go: fix with conn
  internal/storage/embeddeddolt/store.go
Due: Storage & Database

/cmd/bd/init_embedded_test.go: wip, found dolt bug
  cmd/bd/init_embedded_test.go
Due: none

/{cmd,internal}: wip, need concurrent init tests
  cmd/bd/import_shared.go
  cmd/bd/init.go
  cmd/bd/init_contributor.go
  cmd/bd/init_embedded_test.go
  cmd/bd/init_team.go
  internal/storage/embeddeddolt/store.go
Due: CLI Commands, Storage & Database

/{cmd,internal}: add lock for init, adjust test
  cmd/bd/init.go
  cmd/bd/init_embedded_test.go
  cmd/bd/store_factory.go
  cmd/bd/store_factory_embedded.go
  internal/storage/embeddeddolt/flock.go
  internal/storage/embeddeddolt/flock_stub.go
  internal/storage/embeddeddolt/store.go
Due: CLI Commands, Storage & Database

/internal/storage/embeddeddolt: implement computeBlockedIDs
  internal/storage/embeddeddolt/blocked.go
  internal/storage/embeddeddolt/store.go
Due: Storage & Database

/cmd/bd/init_embedded_test.go: reduce test file lines
  cmd/bd/init_embedded_test.go
Due: none

Teach bd prime to use atomic claim guidance
  cmd/bd/prime.go
  cmd/bd/prime_test.go
Due: CLI Commands

/{cmd,internal}: fix bd init output
  cmd/bd/doctor.go
  cmd/bd/init.go
  cmd/bd/store_factory.go
  cmd/bd/store_factory_embedded.go
  internal/storage/embeddeddolt/schema.go
Due: CLI Commands, Storage & Database

feat(dolt): add CLI credential routing for server mode push
  internal/storage/dolt/credentials.go
  internal/storage/dolt/credentials_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

/{cmd,internal}: address pr feedback
  cmd/bd/init.go
  internal/storage/embeddeddolt/blocked.go
  internal/storage/embeddeddolt/store.go
Due: CLI Commands, Storage & Database

/cmd/bd/{doctor,init}.go: skip initDiagnostics with embedded dolt
  cmd/bd/doctor.go
  cmd/bd/init.go
Due: CLI Commands

feat(dolt): extend CLI credential routing to ForcePush and Pull
  internal/storage/dolt/credentials_test.go
  internal/storage/dolt/git_remote_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

feat(dolt): add CLI credential routing for federation PushTo/PullFrom/Fetch
  internal/storage/dolt/credentials.go
  internal/storage/dolt/credentials_test.go
  internal/storage/dolt/federation.go
Due: Storage & Database

Add backup export-git command (bd-jx5t5)
  cmd/bd/backup.go
  cmd/bd/backup_export_git.go
  cmd/bd/backup_export_git_test.go
Due: CLI Commands

DRY backup git helpers (bd-cm220)
  cmd/bd/backup_export_git.go
  cmd/bd/backup_git.go
Due: CLI Commands

Update beads skill to v0.60.0 + Anthropic 2026 spec compliance
  claude-plugin/skills/beads/README.md
  claude-plugin/skills/beads/SKILL.md
  claude-plugin/skills/beads/resources/CLI_REFERENCE.md
Due: none

/internal/storage/embeddeddolt: add create_issue.go, some refactoring
  internal/storage/embeddeddolt/config_metadata.go
  internal/storage/embeddeddolt/create_issue.go
  internal/storage/embeddeddolt/create_issue_test.go
  internal/storage/embeddeddolt/helpers.go
  internal/storage/embeddeddolt/statistics.go
  internal/storage/embeddeddolt/store.go
  internal/storage/embeddeddolt/version_control.go
Due: Storage & Database

/internal/storage/{embeddeddolt,issueops}: add issueops helper to use in both stores
  internal/storage/embeddeddolt/create_issue.go
  internal/storage/issueops/create.go
  internal/storage/issueops/helpers.go
Due: Storage & Database

/internal/storage/issueops/helpers.go: fix isWisp
  internal/storage/issueops/helpers.go
Due: Storage & Database

/internal/storage/{embeddeddolt,issueops}: pr feedback
  internal/storage/embeddeddolt/config_metadata.go
  internal/storage/embeddeddolt/create_issue.go
  internal/storage/embeddeddolt/create_issue_test.go
  internal/storage/embeddeddolt/store.go
  internal/storage/issueops/create.go
Due: Storage & Database

fix: handle BEADS_DB pointing to directory instead of file
  internal/beads/beads.go
  internal/beads/beads_test.go
Due: Core Types & Utilities

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
