Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

fix: repair broken setupDetachedCommitBeadsWorktree test helper
  internal/beads/beads_test.go
Due: none

fix: make --title, --title-contains, --desc-contains case-insensitive
  internal/storage/dolt/filters.go
  internal/storage/dolt/transaction.go
Due: Storage & Database

fix: sanitize dot-prefixed directory names in bd init
  cmd/bd/init.go
Due: CLI Commands

fix: bd context reports actual runtime Dolt port instead of default 3307
  cmd/bd/context_cmd.go
Due: CLI Commands

fix: EnsureRunning skips Start() when explicit port indicates external server
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: none

fix: stop auto-started dolt servers on DoltStore.Close() (GH#2542)
  internal/doltserver/doltserver.go
  internal/storage/dolt/store.go
Due: Storage & Database

docs: replace bd sync with bd dolt push/pull in agent instructions (GH#2563)
  .agent/workflows/resolve-beads-conflict.md
  .github/copilot-instructions.md
Due: none

feat: add --skip-agents flag and branchless/JJ docs (GH#1335)
  cmd/bd/init.go
  cmd/bd/init_git_hooks.go
  docs/GIT_INTEGRATION.md
Due: CLI Commands

docs: replace "git-backed" with "Dolt-powered", add git-free usage guide
  .github/copilot-instructions.md
  README.md
  claude-plugin/skills/beads/SKILL.md
  claude-plugin/skills/beads/resources/BOUNDARIES.md
  docs/ARCHITECTURE.md
  docs/CLAUDE.md
  npm-package/INTEGRATION_GUIDE.md
  npm-package/LAUNCH.md
  scripts/update-winget.sh
  website/docs/intro.md
  website/docs/reference/faq.md
  website/docusaurus.config.ts
  website/static/llms-full.txt
  website/static/llms.txt
  winget/SteveYegge.beads.locale.en-US.yaml
Due: none

fix(flake): overlay Go 1.25.8 for devShell compatibility
  flake.nix
Due: none

fix: handle non-main default branch in detached commit worktree test
  internal/beads/beads_test.go
Due: none

/{cmd,internal}: update DoltStore to use shared issueops library code
  cmd/bd/create.go
  internal/storage/dolt/adaptive_length.go
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/rename_test.go
  internal/storage/dolt/schema_parity_test.go
  internal/storage/dolt/wisp_gc_test.go
  internal/storage/dolt/wisp_validation_test.go
  internal/storage/dolt/wisps.go
Due: CLI Commands, Storage & Database

fix(flake): override go_1_25 and fix vendorHash
  default.nix
  flake.nix
Due: none

/cmd/bd/create.go: pr feedback
  cmd/bd/create.go
Due: CLI Commands

/{cmd,internal}: restore dolt commit in issue methods
  cmd/bd/create.go
  internal/storage/dolt/issues.go
Due: CLI Commands, Storage & Database

/internal/storage/{embeddeddolt,issueops}: implement more methods needed for bd create
  internal/storage/embeddeddolt/child_id.go
  internal/storage/embeddeddolt/child_id_test.go
  internal/storage/embeddeddolt/dependencies.go
  internal/storage/embeddeddolt/dependencies_test.go
  internal/storage/embeddeddolt/get_issue.go
  internal/storage/embeddeddolt/get_issue_test.go
  internal/storage/embeddeddolt/labels.go
  internal/storage/embeddeddolt/store.go
  internal/storage/issueops/scan.go
Due: Storage & Database

/internal/storage/{embeddeddolt,issueops}: fix method implementations
  internal/storage/embeddeddolt/child_id.go
  internal/storage/embeddeddolt/dependencies.go
  internal/storage/embeddeddolt/labels.go
  internal/storage/issueops/child_id.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/labels.go
Due: Storage & Database

/internal/storage/{embeddeddolt,issueops}: fix GetIssue
  internal/storage/embeddeddolt/get_issue.go
  internal/storage/issueops/get_issue.go
Due: Storage & Database

docs: move stale community tools to historical section
  docs/COMMUNITY_TOOLS.md
Due: none

fix: bootstrap imports from git-tracked .beads/issues.jsonl
  cmd/bd/bootstrap.go
Due: CLI Commands

/internal/storage/{embeddeddolt,issueops}: pr feedback
  internal/storage/embeddeddolt/get_issue.go
  internal/storage/embeddeddolt/labels.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/get_issue.go
  internal/storage/issueops/labels.go
  internal/storage/issueops/wisp_routing.go
Due: Storage & Database

fix: skip empty backup/issues.jsonl so git-tracked JSONL wins
  cmd/bd/bootstrap.go
Due: CLI Commands

fix: prevent comment duplication on re-import
  cmd/bd/import_from_jsonl_test.go
  internal/storage/issueops/create.go
Due: Storage & Database

/.github/workflows/ci.yml: test embeddeddolt on pr
  .github/workflows/ci.yml
Due: none

feat: add bd import command for incremental JSONL import
  cmd/bd/import.go
Due: CLI Commands

Add backup fetch-git and git snapshot follow-ups (bd-mtqql)
  cmd/bd/backup.go
  cmd/bd/backup_export.go
  cmd/bd/backup_export_git.go
  cmd/bd/backup_export_git_test.go
  cmd/bd/backup_fetch_git.go
  cmd/bd/backup_fetch_git_test.go
  cmd/bd/backup_git_transport.go
  cmd/bd/backup_restore.go
  cmd/bd/doctor_pollution.go
  cmd/bd/export.go
  cmd/bd/tips.go
  docs/ARCHITECTURE.md
  docs/CLI_REFERENCE.md
  docs/CONFIG.md
  docs/DOLT-BACKEND.md
  docs/FAQ.md
  docs/TROUBLESHOOTING.md
  website/docs/architecture/index.md
  website/docs/getting-started/upgrading.md
  website/docs/reference/troubleshooting.md
  website/static/llms.txt
Due: CLI Commands

feat: UUID primary keys for federation-safe events
  go.mod
  internal/jira/tracker_test.go
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/events.go
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/005_wisp_auxiliary_tables.go
  internal/storage/dolt/migrations/010_uuid_primary_keys.go
  internal/storage/dolt/schema.go
  internal/storage/dolt/store.go
  internal/storage/dolt/transaction.go
  internal/storage/embeddeddolt/store.go
  internal/storage/storage.go
  internal/telemetry/storage.go
  internal/types/types.go
Due: Storage & Database, Core Types & Utilities

fix: detached commit worktree test fails when default branch is not main
  internal/beads/beads_test.go
Due: none

fix: bd init fails in directories starting with a dot
  cmd/bd/init.go
Due: CLI Commands

fix: formula extends merges child steps by ID instead of appending
  internal/formula/parser.go
  internal/formula/parser_test.go
Due: none

fix: EnsureRunning skips Start() when explicit port indicates external server
  internal/doltserver/doltserver.go
Due: none

fix: stop auto-started dolt servers on DoltStore.Close()
  internal/storage/dolt/store.go
Due: Storage & Database

docs: design doc and evidence for UUID primary keys migration
  docs/design/federation-uuid-evidence.md
  docs/design/federation-uuid-primary-keys.md
Due: none

docs: generalize design docs for upstream consumption
  docs/design/federation-uuid-evidence.md
  docs/design/federation-uuid-primary-keys.md
Due: none
