Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

docs: record fixed integration shard measurement
  docs/CI_CLEANUP_PLAN.md
Due: none

ci: reuse build artifact in linux test lane
  .github/workflows/ci.yml
  docs/CI_CLEANUP_PLAN.md
Due: none

ci: promote main linux integration shards
  .github/workflows/ci.yml
  docs/CI_CLEANUP_PLAN.md
Due: none

ci: add 16-way integration sharding measurement
  .github/workflows/ci-measurements.yml
  .github/workflows/nightly.yml
  docs/CI_CLEANUP_PLAN.md
Due: none

test: fix internal beads integration TestMain
  docs/CI_CLEANUP_PLAN.md
  docs/CI_TEST_SURFACE_AUDIT.md
  internal/beads/beads_hash_multiclone_test.go
  internal/beads/beads_integration_test.go
  internal/beads/routing_integration_test.go
  internal/beads/testmain_default_test.go
  internal/beads/testmain_integration_test.go
  internal/beads/testmain_test.go
Due: none

fix(deps): derive dependencies.id deterministically for cross-clone merge-safety (#4259)
  CHANGELOG.md
  cmd/bd/doctor/deep_test.go
  cmd/bd/doctor/validation_test.go
  cmd/bd/doctor_validate_test.go
  internal/storage/depid/depid.go
  internal/storage/depid/depid_test.go
  internal/storage/dolt/create_issue_commit_test.go
  internal/storage/dolt/dependencies_extended_test.go
  internal/storage/dolt/dependencies_merge_test.go
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/git_remote_test.go
  internal/storage/dolt/mixed_table_lifecycle_test.go
  internal/storage/dolt/rename_test.go
  internal/storage/dolt/wisps.go
  internal/storage/domain/db/dependency_test.go
  internal/storage/embeddeddolt/create_issue_test.go
  internal/storage/issueops/create.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependencies_test.go
  internal/storage/issueops/promote.go
  internal/storage/schema/dep_id_backfill.go
  internal/storage/schema/dep_id_backfill_test.go
  internal/storage/schema/lock_test.go
  internal/storage/schema/migrations/0043_drop_dependencies_generated_column.up.sql
  internal/storage/schema/migrations/0050_dependencies_deterministic_id.down.sql
  internal/storage/schema/migrations/0050_dependencies_deterministic_id.up.sql
  internal/storage/schema/schema.go
Due: Storage & Database

feat(schema): gate silent in-place migration of remote-backed databases (#4259)
  CHANGELOG.md
  cmd/bd/bootstrap.go
  cmd/bd/main.go
  cmd/bd/remote_migrate_gate.go
  cmd/bd/remote_migrate_gate_test.go
  internal/storage/dolt/remote_migrate_gate_test.go
  internal/storage/dolt/store.go
  internal/storage/embeddeddolt/remote_migrate_gate_test.go
  internal/storage/embeddeddolt/store.go
  internal/storage/schema/remote_migrate_gate.go
  internal/storage/schema/remote_migrate_gate_test.go
Due: CLI Commands, Storage & Database

schema: print migration name to stderr when running (human UX only)
  internal/storage/schema/schema.go
  internal/storage/schema/schema_test.go
Due: Storage & Database

schema: suppress migration progress when stderr is not a TTY
  internal/storage/schema/schema.go
Due: Storage & Database

fix(schema): pass migrationSource to runMigrations, not just mainSource
  internal/storage/schema/schema.go
  internal/storage/schema/schema_test.go
Due: Storage & Database

test(schema): unit tests for large-rig notice + progress formatting (be-8ja)
  internal/storage/schema/progress_test.go
Due: none

feat(schema): stderr progress + large-rig warning for MigrateUp (be-8ja)
  internal/storage/schema/schema.go
  internal/storage/schema/schema_test.go
Due: Storage & Database

fix(schema): pass migrationSource through runMigrations so ignored migrations actually run
  internal/storage/schema/schema.go
  internal/storage/schema/schema_test.go
Due: Storage & Database

chore: release gate PASS for be-ldr (rebase/be-ldr-2026-05-12)
  release-gates/be-ldr-gate.md
Due: none

fix(schema): bump large-rig warning from 60s to 90s (be-mzjo)
  internal/storage/schema/schema.go
Due: Storage & Database

chore: release gate PASS for be-c5p-firewall (be-m1u/47dcc380)
  release-gates/be-c5p-firewall-gate.md
Due: none

feat(storage): be-c5p AD-01 isProductionPort + DB-name firewall
  beads_test.go
  cmd/bd/context_binding_integration_test.go
  cmd/bd/doctor/dolt_e2e_test.go
  cmd/bd/doctor/fix/testmain_cgo_test.go
  cmd/bd/protocol/helpers_test.go
  cmd/bd/test_repo_beads_guard_test.go
  internal/beads/testmain_integration_test.go
  internal/molecules/testmain_test.go
  internal/storage/dolt/store.go
  internal/storage/dolt/store_unit_test.go
  internal/storage/dolt/testmain_test.go
  internal/tracker/testmain_test.go
  internal/utils/testmain_test.go
  tests/regression/regression_test.go
Due: Storage & Database

fix(test): adapt store_unit_test.go for BEADS_DOLT_SERVER_PORT (rebase compat)
  internal/storage/dolt/store_unit_test.go
Due: none

test(dolt): fix t.Setenv-before-t.Parallel panic in TestCheckForwardDrift_EscapeHatch
  internal/storage/dolt/schema_skew_test.go
Due: none

fix(dolt): auto-resolve same-edge dependency conflicts on pull (#4259 Hazard B)
  CHANGELOG.md
  internal/storage/dolt/dependencies_conflict_test.go
  internal/storage/dolt/pull_conflict_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

feat(schema): record a per-migration content hash in schema_migrations (#4259)
  CHANGELOG.md
  internal/storage/schema/content_hash_test.go
  internal/storage/schema/lock_test.go
  internal/storage/schema/schema.go
Due: Storage & Database

fix(domain/db): set deterministic id on the server-mode dependency insert (#4259)
  internal/storage/domain/db/dependency.go
  internal/storage/domain/db/dependency_test.go
Due: Storage & Database

feat(doctor): detect migration content skew vs the cached remote ref (#4259)
  CHANGELOG.md
  cmd/bd/doctor.go
  cmd/bd/doctor/migration_skew.go
  cmd/bd/doctor/migration_skew_test.go
  internal/storage/schema/content_skew.go
  internal/storage/schema/content_skew_test.go
Due: CLI Commands, Storage & Database

docs: link canonical SYNC_CONCEPTS.md from deeper docs (#4248)
  docs/ARCHITECTURE.md
  docs/DOLT.md
  docs/FAQ.md
  docs/GIT_INTEGRATION.md
  docs/SYNC_SETUP.md
Due: none

test(dolt): avoid dropping escape-hatch test database
  internal/storage/dolt/schema_skew_test.go
Due: none

fix(schema): install content_hash on already-up-to-date databases
  internal/storage/schema/content_hash_test.go
  internal/storage/schema/schema.go
Due: Storage & Database

fix(schema): detect on-disk remotes in server-mode remote-migrate gate (#4268)
  CHANGELOG.md
  internal/storage/dolt/federation.go
  internal/storage/dolt/remote_migrate_gate_test.go
  internal/storage/dolt/store.go
  internal/storage/schema/remote_migrate_gate.go
  internal/storage/schema/remote_migrate_gate_test.go
Due: Storage & Database

fix(deps): auto-resolve dep conflicts on git-protocol pulls; rekey on source rename (#4259)
  internal/storage/dolt/dependencies_conflict_test.go
  internal/storage/dolt/dependencies_rename_rekey_test.go
  internal/storage/dolt/pull_conflict_test.go
  internal/storage/dolt/store.go
  internal/storage/issueops/dependencies.go
Due: Storage & Database

fix: rebind target workspace for db commands
  cmd/bd/dolt.go
  cmd/bd/init_guard_test.go
Due: CLI Commands

fix: restore no-db target selection semantics
  cmd/bd/doctor_context_test.go
Due: none

fix: honor no-db target precedence consistently
  cmd/bd/doctor_context_test.go
  cmd/bd/dolt.go
  cmd/bd/main.go
Due: CLI Commands

fix: honor storage flags for graph create
  cmd/bd/create_embedded_test.go
Due: none

fix: rebind target workspace for db commands
  cmd/bd/init_guard_test.go
Due: none

test: stabilize deferred create fixture
  cmd/bd/create_proxied_server_test.go
Due: none

fix: rebind target workspace for db commands (#4275)
  cmd/bd/create_proxied_server_test.go
  cmd/bd/init_guard_test.go
Due: none
