Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

fix: use flock probe instead of file existence for noms LOCK health check (#1960)
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/dolt_test.go
Due: CLI Commands

fix: make verify-cgo.sh executable
  scripts/verify-cgo.sh
Due: none

fix(release): prevent non-CGO bd binaries from shipping (#1870)
  .goreleaser.yml
  scripts/install.sh
  scripts/verify-cgo.sh
Due: none

perf(dolt): batch N+1 queries, per-invocation caching, sentinel errors (#1874)
  cmd/bd/create.go
  cmd/bd/delete.go
  cmd/bd/edit.go
  cmd/bd/promote.go
  cmd/bd/rename.go
  cmd/bd/restore.go
  cmd/bd/restore_test.go
  cmd/bd/routed.go
  cmd/bd/swarm.go
  cmd/bd/wisp.go
  internal/git/gitdir_test.go
  internal/storage/dolt/compact_test.go
  internal/storage/dolt/config.go
  internal/storage/dolt/credentials.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/history.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
  internal/storage/dolt/store.go
  internal/storage/dolt/transaction.go
  internal/storage/storage.go
Due: CLI Commands, Storage & Database

refactor: unify tx-path scanner/insert to use full column set (PR #1872)
  internal/storage/dolt/wisps.go
Due: Storage & Database

fix(wisp): generate ID before routing ephemeral issues to SQLite store
  internal/storage/dolt/issues.go
Due: Storage & Database

test: add schema parity test for wisps vs issues table column drift
  internal/storage/dolt/schema_parity_test.go
Due: none

feat(storage): add sentinel errors ErrNotFound, ErrNotInitialized, ErrPrefixMismatch
  .beads/issues.jsonl.new
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/history_test.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisps.go
Due: Storage & Database

fix: hydrate labels in getWispsByIDs for search results
  internal/storage/dolt/wisps.go
Due: Storage & Database

feat(dolt): add SIGTERM batch flush, improve batch commit message, document durability
  cmd/bd/main.go
  docs/DOLT.md
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix(dolt): add ~15 missing filter fields to searchWisps for parity with SearchIssues
  internal/storage/dolt/schema_parity_test.go
  internal/storage/dolt/wisps.go
Due: Storage & Database

fix: wisp code cleanup -- dead code, stale comments, minor bugs
  cmd/bd/main.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/migrations/004_wisps_table.go
  internal/storage/dolt/wisps.go
Due: CLI Commands, Storage & Database

fix: gofmt alignment on cache fields in DoltStore struct
  internal/storage/dolt/store.go
Due: Storage & Database

fix: add promoted wisp fallback routing and fix PromoteFromEphemeral
  cmd/bd/promote.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/events.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/labels.go
Due: CLI Commands, Storage & Database

feat(import): add --skip-prefix-validation flag for legacy data migration
  cmd/bd/import.go
  cmd/bd/import_prefix_test.go
Due: CLI Commands

perf(tests): consolidate cmd/bd test suites to shared DB pattern (bd-1rh)
  cmd/bd/dep_test.go
  cmd/bd/ready_test.go
  cmd/bd/stale_test.go
Due: none

perf(tests): tag import_prefix E2E test as integration (bd-1rh)
  cmd/bd/import_prefix_test.go
Due: none

perf(tests): consolidate template_test.go to shared DB pattern (bd-1rh)
  cmd/bd/template_test.go
Due: none

perf(tests): replace direct git init with newGitRepo template in init_test.go, consolidate template_test.go (bd-ktng)
  cmd/bd/init_test.go
Due: none

feat: remove embedded Dolt mode from init and main command paths
  cmd/bd/init.go
  cmd/bd/main.go
Due: CLI Commands

perf(tests): optimize doctor test suite — 89s to 28s (bd-ktng)
  cmd/bd/doctor/maintenance.go
  cmd/bd/doctor/maintenance_cgo_test.go
  cmd/bd/doctor/validation_test.go
Due: CLI Commands

refactor: standardize error handling with FatalError wrappers (bd-qioh)
  cmd/bd/delete.go
  cmd/bd/find_duplicates.go
  cmd/bd/mol_distill.go
  cmd/bd/ship.go
  cmd/bd/show_thread.go
Due: CLI Commands

refactor(dolt): remove embedded mode, server-only operation
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/dolt_test.go
  internal/storage/dolt/access_lock.go
  internal/storage/dolt/access_lock_test.go
  internal/storage/dolt/embedded_uow.go
  internal/storage/dolt/retry_test.go
  internal/storage/dolt/store.go
  internal/storage/dolt/store_embedded.go
  internal/storage/dolt/store_lock_test.go
  internal/storage/dolt/store_nocgo.go
  internal/storage/dolt/watchdog.go
  internal/storage/dolt/watchdog_test.go
Due: CLI Commands, Storage & Database

fix(wisp): route ephemeral issues in transactions to SQLite store
  internal/storage/dolt/issues.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/transaction.go
Due: Storage & Database

feat: remove CGO build-tag bifurcation for dolt commands
  cmd/bd/bootstrap.go
  cmd/bd/bootstrap_nocgo.go
  cmd/bd/cgo_check_cgo.go
  cmd/bd/cgo_check_nocgo.go
  cmd/bd/dolt.go
  cmd/bd/dolt_nocgo.go
  cmd/bd/dolt_server_cgo.go
  cmd/bd/dolt_server_nocgo.go
  cmd/bd/dolt_test.go
  cmd/bd/version.go
  cmd/bd/version_test.go
Due: CLI Commands

fix(dolt): always apply server connection defaults in applyConfigDefaults
  internal/storage/dolt/store.go
Due: Storage & Database

fix: restore .beads/issues.jsonl.new accidentally deleted in rebase
  .beads/issues.jsonl.new
Due: none

feat: remove embedded Dolt mode from doctor checks (server-only)
  cmd/bd/doctor/deep_open.go
  cmd/bd/doctor/deep_open_nocgo.go
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/dolt_nocgo.go
  cmd/bd/doctor/dolt_test.go
  cmd/bd/doctor/federation.go
  cmd/bd/doctor/federation_nocgo.go
  cmd/bd/doctor/perf_dolt.go
  cmd/bd/doctor/perf_dolt_test.go
Due: CLI Commands

fix(list): separate parent-child deps from blocking deps in bd list
  cmd/bd/list.go
  cmd/bd/list_format.go
  cmd/bd/list_test.go
  internal/storage/dolt/dependencies.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

fix: remove dead openDoltDB function, fix stale embedded-mode message
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/federation.go
Due: CLI Commands

fix(dolt): persist labels, comments, and deps during batch import
  internal/storage/dolt/issues.go
Due: Storage & Database

fix(dolt): preserve ORDER BY in scanIssueIDs results
  internal/storage/dolt/dependencies.go
Due: Storage & Database

fix(dolt): normalize metadata and waiters in UpdateIssue
  internal/storage/dolt/transaction.go
Due: Storage & Database

feat: drop dolthub/driver dependency — binary size 168MB → 41MB
  go.mod
  go.sum
  internal/storage/dolt/migrations/migrations_test.go
Due: none

fix(dolt): commit writes via execContext when server runs with --no-auto-commit
  internal/storage/dolt/events.go
  internal/storage/dolt/server_integration_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

style: gofmt cmd/bd/dep_test.go and import_prefix_test.go
  cmd/bd/dep_test.go
  cmd/bd/import_prefix_test.go
Due: none

fix: remove stale embedded Dolt references after server-only migration
  cmd/bd/bootstrap.go
  cmd/bd/doctor.go
  cmd/bd/doctor/locks.go
  cmd/bd/init.go
  cmd/bd/init_git_hooks.go
  cmd/bd/main.go
  docs/ADVANCED.md
  docs/ARCHITECTURE.md
  docs/CLAUDE.md
  docs/DOLT-BACKEND.md
  docs/FAQ.md
  docs/QUICKSTART.md
  docs/TROUBLESHOOTING.md
  internal/configfile/configfile.go
  internal/storage/dolt/git_remote_test.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/store.go
  internal/storage/dolt/store_nocgo_test.go
  internal/storage/doltutil/close.go
  scripts/install.sh
Due: CLI Commands, Storage & Database

fix(lint): resolve 4 golangci-lint violations in queries.go and wisps.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/wisps.go
Due: Storage & Database

docs: add missing prepare-commit-msg hook and beads.role to UNINSTALLING.md
  docs/UNINSTALLING.md
Due: none
