Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix(postgres): be-rhtega load custom statuses+types in CreateIssue path
  internal/storage/postgres/idgen.go
  internal/storage/postgres/transaction.go
Due: Storage & Database

test(postgres): be-szr PG regression test for ResolvePartialID wisp fallback
  internal/storage/postgres/wisp_resolve_test.go
Due: none

fix(jira): use UTC suffix in JQL updated timestamp filter
  internal/jira/tracker.go
Due: External Integrations

test: fix upgrade smoke candidate path
  cmd/bd/init_hooks_test.go
  scripts/upgrade-smoke-test.sh
Due: none

fix(list): suppress truncation hint in --json mode + lock-in label filter tests (be-acnquj)
  cmd/bd/list_output.go
  cmd/bd/list_test.go
Due: CLI Commands

fix(filters): wire LabelPattern/LabelRegex through SQL builder (be-ucslk4)
  cmd/bd/list_embedded_test.go
  internal/storage/issueops/filters.go
  internal/storage/issueops/filters_test.go
Due: Storage & Database

fix(postgres): wire label + title-contains filters in SearchIssues (be-ucslk4)
  internal/storage/postgres/issues.go
  internal/storage/postgres/issues_test.go
Due: Storage & Database

fix(postgres): be-jdeief close PG SearchIssues filter coverage gap
  internal/storage/postgres/issues.go
Due: Storage & Database

test(postgres): be-8skfsh integration coverage for label/title filters
  internal/storage/postgres/integration_test.go
Due: none

docs(claude): make root agent guide a source pointer
  AGENT_INSTRUCTIONS.md
  CLAUDE.md
  docs/CLAUDE.md
Due: none

test(postgres): be-nl46qf integration coverage for be-jdeief filter clauses
  internal/storage/postgres/integration_test.go
Due: none

test(cmd/bd): accept embedded Dolt lock output
  cmd/bd/init_embedded_test.go
Due: none

ci(nix): auto-update vendorHash for dependabot Go bumps (beads-bz5)
  .github/workflows/update-vendor-hash.yml
  CONTRIBUTING.md
Due: none

test(regression): prevent baseline daemon timeout
  Makefile
  tests/regression/regression_test.go
Due: none

docs: resolve legacy extension guide reference
  docs/DOC_INVENTORY.md
  examples/bd-example-extension-go/README.md
  examples/library-usage/README.md
Due: none

test(postgres): be-2clc regression gate for wisp-merge in SearchIssues
  internal/storage/postgres/integration_test.go
Due: none

fix(postgres): be-2clc merge wisps in SearchIssues for NoHistory parity
  internal/storage/postgres/issues.go
Due: Storage & Database

fix(dolt): bd dolt status probes SQL when local server is externally-managed
  CHANGELOG.md
  cmd/bd/dolt.go
  cmd/bd/dolt_test.go
Due: CLI Commands

fix(dolt): bd dolt stop diagnoses externally-managed servers via SQL probe (GH#3687)
  CHANGELOG.md
  cmd/bd/dolt.go
  cmd/bd/dolt_test.go
Due: CLI Commands

Consolidate docs evidence review inventory (mybd-pnm)
  docs/ADO_CONFIG.md
  docs/CLAUDE.md
  docs/CONFIG.md
  docs/DOC_INVENTORY.md
  docs/DOLT-BACKEND.md
  docs/DOLT.md
  docs/ERROR_HANDLING.md
  docs/FAQ.md
  docs/ICU-POLICY.md
  docs/JSON_SCHEMA.md
  docs/LINTING.md
  docs/MULTI_REPO_AGENTS.md
  docs/MULTI_REPO_MIGRATION.md
  docs/README_TESTING.md
  docs/RECOVERY.md
  docs/RELEASING.md
  docs/SETUP.md
  docs/SYNC_SETUP.md
  docs/TESTING.md
  docs/TESTING_PHILOSOPHY.md
  docs/design/otel/otel-data-model.md
  docs/staged-for-removal/DOLT-BACKEND.md
  docs/staged-for-removal/GETTING_STARTED_ANALYSIS.md
  docs/staged-for-removal/MANIFEST.md
  docs/staged-for-removal/README_TESTING.md
  docs/staged-for-removal/RELEASING.md
  docs/staged-for-removal/audit-sync-mode-complexity.md
  docs/staged-for-removal/dev-notes/ERROR_HANDLING_AUDIT.md
  docs/staged-for-removal/dev-notes/MAIN_TEST_CLEANUP_PLAN.md
  docs/staged-for-removal/dev-notes/MAIN_TEST_REFACTOR_NOTES.md
  docs/staged-for-removal/dev-notes/MANUAL_GITHUB_GIT_REMOTE_TEST.md
  docs/staged-for-removal/dev-notes/TEST_SUITE_AUDIT.md
  docs/staged-for-removal/pr-752-chaos-testing-review.md
  website/docs/getting-started/quickstart.md
Due: none

Refresh generated CLI docs
  docs/CLI_REFERENCE.md
  scripts/generate-cli-docs.sh
  website/docs/cli-reference/import.md
  website/versioned_docs/version-1.0.0/cli-reference/import.md
Due: none

feat(create): auto-convoy hook for crew-actor `bd create` (dc-xlcj) (#1)
  cmd/bd/auto_convoy.go
  cmd/bd/auto_convoy_test.go
  cmd/bd/create.go
Due: CLI Commands

fix(formula): bd formula show --full emits step descriptions
  cmd/bd/formula.go
  cmd/bd/formula_show_test.go
  cmd/bd/mol_distill.go
Due: CLI Commands

fix(dolt): skip DOLT_COMMIT when nothing staged after DOLT_ADD (GH#3409)
  internal/storage/dolt/store.go
Due: Storage & Database

fix(dolt): classify SSH/auth failures so push/pull guidance is accurate
  cmd/bd/dolt.go
  cmd/bd/dolt_test.go
Due: CLI Commands

fix(hooks): skip export when export file is staged for deletion
  cmd/bd/hooks.go
Due: CLI Commands

feat(linear): linear.exclude_id_prefix and linear.exclude_id_patterns
  cmd/bd/linear.go
  internal/tracker/engine.go
  internal/tracker/engine_test.go
  internal/tracker/types.go
Due: CLI Commands, External Integrations

test(linear): cover applyLinearExcludeIDConfig (codecov gap on PR #3759)
  cmd/bd/linear.go
  cmd/bd/linear_test.go
Due: CLI Commands

docs: regenerate CLI reference for linear exclude_id_prefix/patterns
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/import.md
  website/docs/cli-reference/linear.md
  website/versioned_docs/version-1.0.0/cli-reference/import.md
  website/versioned_docs/version-1.0.0/cli-reference/linear.md
Due: none

feat(schema): widen TEXT columns to MEDIUMTEXT for large per-row content
  internal/storage/dolt/widen_text_columns_test.go
  internal/storage/schema/ignored_tables.go
  internal/storage/schema/migrations/0033_widen_text_columns.down.sql
  internal/storage/schema/migrations/0033_widen_text_columns.up.sql
Due: Storage & Database

test(schema): defensive updates for migration 0033 inclusion
  internal/storage/schema/ignored_tables_test.go
  internal/storage/schema/schema_test.go
Due: none

docs(changelog): note 0033_widen_text_columns under Unreleased
  CHANGELOG.md
Due: none

feat(init): default to unix socket transport when /tmp/mysql.sock is present
  cmd/bd/init.go
  cmd/bd/init_default_socket_test.go
Due: CLI Commands

fix(auto-import): skip JSONL import when external store already has data
  cmd/bd/auto_import_upgrade.go
Due: CLI Commands

Document project scope boundaries (mybd-1fn)
  AGENTS.md
  CONTRIBUTING.md
  PR_MAINTAINER_GUIDELINES.md
  docs/ARCHITECTURE.md
  docs/DOC_INVENTORY.md
  docs/INTEGRATION_CHARTER.md
  docs/METADATA.md
  docs/PROJECT_CHARTER.md
Due: none

fix(formula): distinguish schema from wired primitives
  cmd/bd/formula.go
  cmd/bd/formula_schema.go
  cmd/bd/test_helpers_pure_test.go
  docs/CLI_REFERENCE.md
  examples/formulas/primitives/README.md
  website/docs/cli-reference/formula.md
  website/docs/workflows/molecules.md
  website/versioned_docs/version-1.0.0/cli-reference/formula.md
  website/versioned_docs/version-1.0.0/workflows/formulas.md
  website/versioned_docs/version-1.0.0/workflows/molecules.md
Due: CLI Commands

chore(schema): correct migration 0033 header-comment column count
  internal/storage/schema/migrations/0033_widen_text_columns.up.sql
Due: Storage & Database

release: guard docs version snapshots
  .beads/formulas/beads-release.formula.toml
  scripts/check-docs-version.sh
  scripts/check-versions.sh
  scripts/update-versions.sh
Due: none

fix(storage): default ServerDSN to /tmp/mysql.sock for loopback hosts
  internal/storage/db/util/dsn.go
  internal/storage/db/util/dsn_test.go
  internal/storage/doltutil/dsn.go
  internal/storage/doltutil/dsn_test.go
Due: Storage & Database

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
