Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

docs(regen): regenerate versioned CLI docs for auto-export opt-in (PR #4063)
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: none

ci(nix): auto-update default.nix vendorHash on dependabot Go bumps (#3804)
  .github/workflows/update-vendor-hash.yml
  CONTRIBUTING.md
Due: none

docs: regenerate versioned CLI references
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: none

fix(init): surface marker write failures
  cmd/bd/init.go
  cmd/bd/init_test.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: CLI Commands

fix(init): mark server-mode Dolt dirs compatible
  cmd/bd/init.go
  cmd/bd/init_test.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: CLI Commands

gitblobstore: checkandput manifest
  kg2o1dkvf5puqci9kppd70rslggk5nhd
  manifest
Due: none

docs: call out JSONL export opt-in change
  CHANGELOG.md
  docs/CONFIG.md
  website/docs/reference/configuration.md
Due: none

fix(init): make JSONL auto-export opt-in (#4063)
  CHANGELOG.md
  cmd/bd/config.go
  cmd/bd/export_auto.go
  cmd/bd/export_auto_test.go
  cmd/bd/init.go
  cmd/bd/init_noninteractive_test.go
  cmd/bd/init_templates.go
  cmd/bd/prompt_test.go
  cmd/bd/testdata/auto_export.txt
  docs/CLI_REFERENCE.md
  docs/CONFIG.md
  internal/config/config.go
  internal/config/config_test.go
  website/docs/cli-reference/config.md
  website/docs/cli-reference/init.md
  website/docs/reference/configuration.md
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: CLI Commands, Core Types & Utilities

chore: remove stray release-gate artifact from PR scope
  release-gates/be-udvd-gate.md
Due: none

fix(doctor): honest orphan count + add TestCheckOrphanedChildren
  cmd/bd/doctor/deep.go
  cmd/bd/doctor/deep_test.go
Due: CLI Commands

test(verbosity): add TestQuietFlagSuppressesSuccessOutput embedded tests
  cmd/bd/verbosity_quiet_embedded_test.go
Due: none

formula: surface intent field in JSON output
  internal/formula/types.go
Due: none

test(formula): add TestFormulaIntentRoundTrip for intent field
  internal/formula/intent_test.go
Due: none

gitblobstore: checkandput manifest
  7taibse7kkcpptvabva7pogjij1t3lmt.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  6g0unutjo00rjrne9o4sdadgoa0870qc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  v5f2nf8rpca6drm10uqficfgjj3kcvf3.darc
Due: none

gitblobstore: checkandput manifest
  dcsml3s6crjt7ip5q9h0nqlc5dknf9t4
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: none

fix(cli): create labels in initial issue write
  cmd/bd/create.go
  cmd/bd/create_labels_test.go
Due: CLI Commands

fix(dolt): commit initial create relations
  internal/storage/dolt/create_issue_commit_test.go
  internal/storage/dolt/issues.go
  internal/storage/issueops/create.go
Due: Storage & Database

fix(init): tighten Dolt marker handling
  cmd/bd/doctor/fix/dolt_format.go
  cmd/bd/init.go
  cmd/bd/init_test.go
  internal/doltserver/doltserver.go
Due: CLI Commands

Add doltlite storage backend
  beads_cgo.go
  cmd/bd/store_factory.go
  go.mod
  internal/beads/beads.go
  internal/configfile/configfile.go
  internal/storage/doltlite/cache_cleanup.go
  internal/storage/doltlite/child_id.go
  internal/storage/doltlite/config_metadata.go
  internal/storage/doltlite/create_issue.go
  internal/storage/doltlite/dependencies.go
  internal/storage/doltlite/federation.go
  internal/storage/doltlite/flock.go
  internal/storage/doltlite/flock_stub.go
  internal/storage/doltlite/get_issue.go
  internal/storage/doltlite/issues.go
  internal/storage/doltlite/labels.go
  internal/storage/doltlite/list_queries.go
  internal/storage/doltlite/merge_slot.go
  internal/storage/doltlite/open.go
  internal/storage/doltlite/open_stub.go
  internal/storage/doltlite/queries.go
  internal/storage/doltlite/schema.go
  internal/storage/doltlite/slots.go
  internal/storage/doltlite/smoke_test.go
  internal/storage/doltlite/statistics.go
  internal/storage/doltlite/store.go
  internal/storage/doltlite/store_stub.go
  internal/storage/doltlite/transaction.go
  internal/storage/doltlite/version_control.go
  internal/storage/schema/sqlite.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

Make doltlite an explicit backend
  beads_cgo.go
  beads_nocgo.go
  cmd/bd/init.go
  cmd/bd/main.go
  cmd/bd/store_factory.go
  cmd/bd/store_factory_nocgo.go
  internal/configfile/configfile.go
Due: CLI Commands, Storage & Database

feat(storage): add doltlite backend support
  internal/storage/doltlite/create_issue.go
  internal/storage/doltlite/issues.go
  internal/storage/doltlite/labels.go
  internal/storage/doltlite/list_queries.go
  internal/storage/doltlite/multiprocess_test.go
  internal/storage/doltlite/open.go
  internal/storage/doltlite/queries.go
  internal/storage/doltlite/smoke_test.go
  internal/storage/doltlite/store.go
  internal/storage/doltlite/transaction.go
  internal/storage/doltlite/version_control.go
  internal/storage/issueops/close.go
  internal/storage/issueops/create.go
  internal/storage/issueops/dialect.go
  internal/storage/issueops/filters.go
  internal/storage/issueops/filters_test.go
  internal/storage/issueops/helpers.go
  internal/storage/issueops/labels.go
  internal/storage/issueops/ready_work.go
  internal/storage/issueops/search.go
  internal/storage/issueops/update.go
  internal/utils/id_parser.go
Due: Storage & Database, Core Types & Utilities

fix doltlite claim event dialect
  docs/staged-for-removal/dev-notes/doltlite-backend-verification-2026-04-30.md
  internal/storage/doltlite/issues.go
  internal/storage/issueops/claim.go
  internal/storage/issueops/claim_sqlite_test.go
Due: Storage & Database

fix: localize doltlite version control state
  internal/storage/doltlite/open.go
  internal/storage/doltlite/store.go
  internal/storage/doltlite/version_control.go
Due: Storage & Database

feat: add doltlite backend fixes
  internal/storage/doltlite/child_id.go
  internal/storage/doltlite/dependencies.go
  internal/storage/doltlite/smoke_test.go
  internal/storage/doltlite/store.go
  internal/storage/doltlite/transaction.go
  internal/storage/doltlite/version_control.go
  internal/storage/issueops/child_id.go
  internal/storage/issueops/create.go
  internal/storage/issueops/dependencies.go
Due: Storage & Database

fix(doltlite): use native versioning
  internal/storage/doltlite/commit_pending.go
  internal/storage/doltlite/federation.go
  internal/storage/doltlite/open.go
  internal/storage/doltlite/store.go
  internal/storage/doltlite/time_travel.go
  internal/storage/doltlite/version_control.go
Due: Storage & Database

add doltlite sqlite uuid function
  internal/storage/doltlite/open.go
Due: Storage & Database

docs(doltlite): note rig metadata split-brain
  docs/staged-for-removal/dev-notes/doltlite-beads-checklist.md
Due: none

docs(doltlite): record migration rules
  docs/staged-for-removal/dev-notes/doltlite-beads-checklist.md
Due: none

fix: honor GC scope root in beads discovery
  docs/staged-for-removal/dev-notes/doltlite-beads-checklist.md
  internal/beads/beads.go
  internal/beads/beads_test.go
Due: Core Types & Utilities

docs: record doltlite audit finding
  docs/staged-for-removal/dev-notes/doltlite-beads-checklist.md
Due: none

Align Gas City adapter branch with Go 1.25
  go.mod
Due: none

docs: record standalone rig-store finding
  docs/staged-for-removal/dev-notes/doltlite-beads-checklist.md
Due: none

Add Gas City DoltLite store adapter
  gascitystore/store.go
Due: none

docs: narrow doltlite SQL regression (bd-31j)
  docs/staged-for-removal/dev-notes/doltlite-beads-checklist.md
Due: none

Restore upstream Go toolchain version
  go.mod
Due: none

Bring DoltLite adapter forward to latest schema
  cmd/bd/init.go
  cmd/bd/store_factory.go
  internal/storage/doltlite/issues.go
  internal/storage/doltlite/open.go
  internal/storage/doltlite/store.go
  internal/storage/doltlite/version_control.go
  internal/storage/issueops/dependencies.go
  internal/storage/schema/sqlite.go
Due: CLI Commands, Storage & Database

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
