Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

chore: release gate FAIL for be-t5hh3u-stack — TestInitBackendFlag regression
  release-gates/be-t5hh3u-stack-gate.md
Due: none

fix(test): be-vk7ovi — unknown_backend_errors: use notavalidbackend (postgres now valid)
  cmd/bd/init_test.go
Due: none

chore: update release gate — be-vk7ovi fix applied, re-gate pending
  release-gates/be-t5hh3u-stack-gate.md
Due: none

chore: release gate PASS for be-t5hh3u-stack (re-gate after be-vk7ovi fix)
  release-gates/be-t5hh3u-stack-gate.md
Due: none

fix: address ready-work review findings
  internal/storage/dolt/issues.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
  internal/storage/issueops/blocked.go
  internal/storage/issueops/ready_work.go
  internal/storage/issueops/ready_work_test.go
Due: Storage & Database

perf: page ready-work blocked checks
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
  internal/storage/issueops/blocked.go
  internal/storage/issueops/ready_work.go
Due: Storage & Database

test: prevent Cobra command flag cache races
  cmd/bd/notion_test.go
  cmd/bd/stale_test.go
  cmd/bd/stdio_race_guard_test.go
  cmd/bd/test_helpers_pure_test.go
Due: none

chore(scope): scrub postgres bench infra; per maintainer feedback (#3921)
  .gitignore
  Makefile
  go.mod
  go.sum
  internal/storage/parity/lite_parity_test.go
  internal/storage/postgres/benchmark_test.go
  internal/storage/postgres/lite_bench_test.go
  internal/storage/postgres/lite_search_test.go
  internal/storage/postgres/testfixture/testfixture.go
  scripts/benchstat-postgres.sh
Due: Storage & Database

chore(scope): drop stale postgres comment ref in embeddeddolt test
  internal/storage/embeddeddolt/lite_search_test.go
Due: none

fix(test): split stdout/stderr in bdDepJSON and update_json_output helpers
  cmd/bd/dep_embedded_test.go
  cmd/bd/update_embedded_test.go
Due: none

fix(test): correct build tags on Dolt lite-SELECT correctness tests (be-uwvs.4)
  internal/storage/dolt/lite_search_test.go
  internal/storage/embeddeddolt/lite_search_test.go
Due: none

fix(test): be-0x7ztf — bump listenWait 2s→10s to fix flaky TestProxy_IdleTimeout_Fires
  internal/storage/dbproxy/proxy/server_test.go
Due: none

chore: release gate PASS for be-0x7ztf (proxy listenWait fix)
  release-gates/be-0x7ztf-gate.md
Due: none

fix(dolt): commit initial create relations
  internal/storage/dolt/create_issue_commit_test.go
  internal/storage/dolt/issues.go
  internal/storage/issueops/create.go
Due: Storage & Database

fix(schema): avoid sweeping dirty data during migrations
  internal/storage/dolt/schema_migration_dirty_test.go
  internal/storage/schema/schema.go
Due: Storage & Database

test: keep update JSON stderr separate
  cmd/bd/update_embedded_test.go
Due: none

test(bench): be-ss7x5n — prune scan bench fixture + NFR-02 guard
  cmd/bd/prune_bench_test.go
Due: none

feat(prune): be-37azwg — reference-aware bd prune
  cmd/bd/prune.go
  cmd/bd/prune_refs.go
  cmd/bd/prune_refs_embedded_test.go
  cmd/bd/prune_refs_test.go
  cmd/bd/purge.go
Due: CLI Commands

chore: release gate PASS for be-ss7x5n-prune-bench
  release-gates/be-ss7x5n-prune-bench-gate.md
Due: none

fix: auto-import: skip non-embedded fallback when store is populated
  cmd/bd/auto_import_upgrade.go
Due: CLI Commands

docs(prune): regenerate CLI_REFERENCE for --ignore-references (be-37azwg)
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/federation.md
  website/docs/cli-reference/prune.md
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/prune.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/prune.md
Due: none

import: skip beads-jsonl metadata/header line on JSONL import
  cmd/bd/import_from_jsonl_test.go
  cmd/bd/import_shared.go
Due: CLI Commands

docs: regen CLI_REFERENCE with CGO_ENABLED=0 to match CI check-doc-flags binary
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
Due: none

docs(cli): regenerate CLI_REFERENCE.md for --mem-profile
  docs/CLI_REFERENCE.md
Due: none

auto-import: gate JSONL upgrade-recovery to embedded server mode
  cmd/bd/main.go
Due: CLI Commands

chore: release gate PASS for be-uwvs.1 (lite SELECT foundation)
  release-gates/be-uwvs.1-gate.md
Due: none

feat(storage): be-uwvs.1 lite SELECT shape foundation
  docs/EXTENDING.md
  internal/storage/issueops/scan.go
  internal/storage/issueops/scan_test.go
  internal/storage/issueops/search.go
  internal/types/types.go
Due: Storage & Database, Core Types & Utilities

perf(comments): replace per-id wisp loop with PartitionWispIDsInTx (be-ya2a2y)
  internal/storage/issueops/comments.go
Due: Storage & Database

chore: release gate PASS for be-1he (3-layer slow-path fix)
  release-gates/be-1he-slow-path-fix-gate.md
Due: none

perf(dolt): be-1he eliminate 12s `dolt remote -v` against multi-db server roots
  cmd/bd/version_tracking.go
  internal/storage/dolt/federation.go
  internal/storage/doltutil/remotes.go
Due: CLI Commands, Storage & Database

docs(repro): add be-1he slow-path repro script (be-vxngmn)
  scripts/repro-be-1he-slow-path/REPRO.md
  scripts/repro-be-1he-slow-path/repro.sh
Due: none

chore: update release gate for be-1he rebase (be-vxngmn repro commit, be-nsme90 PASS)
  release-gates/be-1he-slow-path-fix-gate.md
Due: none

chore: release gate PASS for be-0x7ztf fix branch (PR #3988)
  release-gates/be-0x7ztf-fix-gate.md
Due: none

chore: release gate PASS for be-ya2a2y (batch wisp partition)
  release-gates/be-ya2a2y-gate.md
Due: none

refactor(be-bhrzia): scrub pgx/postgres from public beads codebase
  Makefile
  cmd/bd/backend.go
  cmd/bd/doctor.go
  cmd/bd/doctor/postgres_health.go
  cmd/bd/init.go
  cmd/bd/init_postgres.go
  cmd/bd/init_postgres_discovery.go
  cmd/bd/init_postgres_discovery_test.go
  cmd/bd/store_factory.go
  cmd/bd/store_factory_nocgo.go
  go.mod
  go.sum
  internal/storage/postgres/benchmark_test.go
  internal/storage/postgres/dsn/build.go
  internal/storage/postgres/dsn/compose.go
  internal/storage/postgres/dsn/config_to_conn_string.go
  internal/storage/postgres/dsn/dsn_test.go
  internal/storage/postgres/dsn/env_overrides.go
  internal/storage/postgres/dsn/render.go
  internal/storage/postgres/lite_bench_test.go
  internal/storage/postgres/lite_search_test.go
  internal/storage/postgres/store.go
  internal/storage/postgres/store_test.go
  internal/storage/postgres/testfixture/testfixture.go
  scripts/benchstat-postgres.sh
Due: CLI Commands, Storage & Database

feat(storage): add Driver interface, DriverConfig, DriverOpener, and Capability types
  internal/storage/capability.go
  internal/storage/capability_test.go
  internal/storage/driver.go
Due: Storage & Database

chore: release gate PASS for be-vc5gtl (Driver interface + CapabilitySet)
  release-gates/be-vc5gtl-gate.md
Due: none

fix(storage): address reviewer MEDIUM+LOW findings on Driver interface
  internal/storage/capability_test.go
  internal/storage/driver.go
  internal/storage/driver_test.go
Due: Storage & Database

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
