Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix: restore no-db target selection semantics
  cmd/bd/main.go
Due: CLI Commands

fix: honor no-db target precedence consistently
  cmd/bd/dolt.go
  cmd/bd/main.go
Due: CLI Commands

fix: honor storage flags for graph create
  cmd/bd/create_embedded_test.go
Due: none

fix: tolerate existing nonlocal wisp tables
  cmd/bd/metadata_ready_test.go
  internal/storage/issueops/ready_work.go
Due: Storage & Database

feat(schema): add PendingMigrationCount — detect stale schema without applying (be-lw5fak)
  internal/storage/schema/schema.go
Due: Storage & Database

fix(jira): stub Count/Iter methods on configStore for new Storage interface
  internal/jira/tracker_test.go
Due: none

fix(show): pass --include-comments in show_json_includes_comments test
  cmd/bd/show_embedded_test.go
Due: none

docs(cli): regenerate CLI reference for new bd show --include-* flags
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/show.md
  website/versioned_docs/version-1.0.0/cli-reference/show.md
  website/versioned_docs/version-1.0.4/cli-reference/show.md
Due: none

feat(migrate): add 'bd migrate schema' subcommand with explicit migration (be-l4z4xw)
  cmd/bd/migrate.go
  internal/storage/dolt/store.go
  internal/storage/embeddeddolt/store.go
  internal/storage/storage.go
Due: CLI Commands, Storage & Database

feat(schema): schema-stale guard on Store Open — refuse and redirect to bd migrate schema (be-o7fh35, be-gudo26)
  beads_cgo.go
  cmd/bd/bootstrap.go
  cmd/bd/create.go
  cmd/bd/create_embedded_test.go
  cmd/bd/diff_embedded_test.go
  cmd/bd/init.go
  cmd/bd/init_embedded_test.go
  cmd/bd/main.go
  cmd/bd/mol_embedded_test.go
  cmd/bd/mol_squash_embedded_test.go
  cmd/bd/restore_embedded_test.go
  cmd/bd/store_factory.go
  cmd/bd/store_factory_nocgo.go
  cmd/bd/store_factory_test.go
  cmd/bd/where_cgo_test.go
  internal/storage/dolt/initschema_concurrent_test.go
  internal/storage/dolt/schema_version_test.go
  internal/storage/dolt/store.go
  internal/storage/embeddeddolt/cache.go
  internal/storage/embeddeddolt/cache_test.go
  internal/storage/embeddeddolt/cmd/main.go
  internal/storage/embeddeddolt/concurrency_test.go
  internal/storage/embeddeddolt/create_issue_test.go
  internal/storage/embeddeddolt/schema_test.go
  internal/storage/embeddeddolt/store.go
  internal/storage/embeddeddolt/store_stub.go
  internal/storage/uow/doltserver_provider.go
  internal/storage/uow/doltserver_provider_test.go
Due: CLI Commands, Storage & Database

docs(cli): regenerate CLI reference after bd migrate schema addition (be-ipgt8m)
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/migrate.md
  website/versioned_docs/version-1.0.0/cli-reference/migrate.md
  website/versioned_docs/version-1.0.4/cli-reference/migrate.md
Due: none

fix: stabilize wisp table handling in branch tests
  cmd/bd/doctor/dolt_e2e_test.go
  cmd/bd/main.go
  cmd/bd/test_dolt_server_cgo_test.go
  internal/molecules/testmain_test.go
  internal/storage/dolt/pull_branch_tracking_test.go
  internal/storage/dolt/queries_test.go
  internal/storage/dolt/rename_test.go
  internal/storage/dolt/testmain_test.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisp_partition_test.go
  internal/storage/dolt/wisps.go
  internal/storage/dolt/wisps_cycle_test.go
  internal/storage/issueops/bulk_ops.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependencies_test.go
  internal/storage/issueops/wisp_routing.go
  internal/storage/schema/schema.go
  internal/testutil/testdoltbranch.go
  internal/tracker/testmain_test.go
Due: CLI Commands, Storage & Database

fix(schema): resolve circular failure for bd migrate schema on stale db (be-p6wzsr)
  cmd/bd/main.go
  internal/storage/dolt/store.go
  internal/storage/embeddeddolt/store.go
  internal/storage/schema/schema.go
Due: CLI Commands, Storage & Database

fix(schema): apply CurrentVersion to uow callsite (be-lh1e58)
  internal/storage/uow/doltserver_provider.go
Due: Storage & Database

chore: release gate PASS for be-yemge6 (getIssueStatus stdout/stderr split)
  release-gates/be-yemge6-gate.md
Due: none

test(dep): expect current no-cycle message
  cmd/bd/dep_embedded_test.go
Due: none

fix(ready): apply filters to wisp ready work
  internal/storage/embeddeddolt/new_methods_test.go
  internal/storage/issueops/ready_work.go
Due: Storage & Database

fix(schema): bd migrate schema always reports 'already up to date' (be-yzjel1)
  cmd/bd/bootstrap.go
  cmd/bd/create.go
  cmd/bd/init.go
  cmd/bd/main.go
  cmd/bd/store_factory.go
  cmd/bd/store_factory_nocgo.go
  internal/storage/dolt/store.go
  internal/storage/embeddeddolt/cache.go
  internal/storage/embeddeddolt/store.go
  internal/storage/schema/schema.go
Due: CLI Commands, Storage & Database

fix(cmd/bd): opt TestWhereCommand_ReadsPrefixFromEmbeddedStore out of repo config (be-sm6v)
  cmd/bd/where_cgo_test.go
Due: none

fix(ci): pure-go test signature + upgrade-smoke migrate step (be-1ix9zn)
  cmd/bd/store_factory_nocgo_test.go
  scripts/upgrade-smoke-test.sh
Due: none

fix(migrate): unwrap HookFiringStore before SchemaMigrator type assertion (be-o7fh35)
  cmd/bd/migrate.go
Due: CLI Commands

chore: release gate PASS for be-o7fh35-be-gudo26 (schema-stale guard + bd migrate schema)
  release-gates/be-o7fh35-be-gudo26-gate.md
Due: none

fix(ready): align wisp readiness filters
  cmd/bd/export_auto_test.go
  cmd/bd/main.go
  internal/storage/embeddeddolt/new_methods_test.go
  internal/storage/issueops/ready_work.go
Due: CLI Commands, Storage & Database

chore: release gate PASS for be-uo71at-init-backend-stub
  release-gates/be-uo71at-init-backend-stub-gate.md
Due: none

fix(ready): apply filters to wisp ready work (#4008)
  cmd/bd/dep_embedded_test.go
  cmd/bd/export_auto_test.go
  cmd/bd/main.go
  internal/storage/embeddeddolt/new_methods_test.go
  internal/storage/issueops/ready_work.go
Due: CLI Commands, Storage & Database

/internal/storage/schema/schema.go: advisory lock for concurrent inits
  internal/storage/schema/schema.go
Due: Storage & Database

/internal/storage/schema/schema.go: panic on failure to unlock
  internal/storage/schema/schema.go
Due: Storage & Database

/internal/storage/schema/schema.go: use query context
  internal/storage/schema/schema.go
Due: Storage & Database

fix(startup): be-y0sm9s — fail-fast on unsupported backend in metadata.json
  cmd/bd/main.go
  cmd/bd/main_errors_test.go
Due: CLI Commands

chore: release gate PASS for be-y0sm9s
  release-gates/be-y0sm9s-gate.md
Due: none

fix(startup): correct gastownhall org in fail-fast upgrade URL (be-y0sm9s)
  cmd/bd/main.go
Due: CLI Commands

fix(build): add dolt_only tag to wisp_partition_test.go
  internal/storage/dolt/wisp_partition_test.go
Due: none

feat(prune): be-jewoem/be-u2mw2x — reference-aware bd prune
  README.md
  cmd/bd/prune.go
  cmd/bd/purge.go
Due: CLI Commands

fix(prune): address reviewer feedback on reference-aware bd prune (be-jewoem)
  cmd/bd/prune_refs_embedded_test.go
  cmd/bd/prune_refs_test.go
  cmd/bd/purge.go
Due: CLI Commands

test(prune): 10K-bead fixture bench for buildReferencedSet (be-0wt833)
  cmd/bd/prune_bench_test.go
Due: none

chore: release gate PASS for be-jewoem (reference-aware bd prune)
  release-gates/be-jewoem-gate.md
Due: none

docs(prune): regenerate CLI reference with --ignore-references flag (be-jewoem)
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/prune.md
  website/versioned_docs/version-1.0.0/cli-reference/prune.md
  website/versioned_docs/version-1.0.4/cli-reference/prune.md
Due: none

/internal/storage/schema/schema.go: fix panic
  internal/storage/schema/schema.go
Due: Storage & Database

chore: release gate PASS for be-ow4w54 (uimd markdown extract)
  release-gates/be-ow4w54-gate.md
Due: none

refactor(ui): extract markdown rendering to internal/uimd package
  cmd/bd/comments.go
  cmd/bd/show.go
  cmd/bd/show_children.go
  cmd/bd/show_display.go
  internal/uimd/markdown.go
Due: CLI Commands

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
