Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

/internal/storage/domain/db: handle wisps too
  internal/storage/domain/child_counter.go
  internal/storage/domain/comment.go
  internal/storage/domain/db/child_counter.go
  internal/storage/domain/db/child_counter_test.go
  internal/storage/domain/db/comment.go
  internal/storage/domain/db/comment_test.go
  internal/storage/domain/db/dependency.go
  internal/storage/domain/db/dependency_test.go
  internal/storage/domain/db/events_test.go
  internal/storage/domain/db/issue.go
  internal/storage/domain/db/issue_test.go
  internal/storage/domain/db/label.go
  internal/storage/domain/db/label_test.go
  internal/storage/domain/dependency.go
  internal/storage/domain/issue.go
  internal/storage/domain/label.go
Due: Storage & Database

/internal/storage/domain: consolidate
  internal/storage/domain/create_issue.go
  internal/storage/domain/issue.go
  internal/storage/domain/list_issues.go
  internal/storage/uow/uow.go
Due: Storage & Database

/internal/storage: remove some comments
  internal/storage/domain/dependency.go
  internal/storage/domain/issue.go
Due: Storage & Database

feat(verbosity): export debug.PrintNormal; wire --quiet into create/close/update (bd-au0.10)
  cmd/bd/close.go
  cmd/bd/create.go
  cmd/bd/update.go
  internal/debug/debug.go
  internal/debug/debug_test.go
Due: CLI Commands

docs(advanced): add Detecting Test Pollution section (bd-au0.9)
  docs/ADVANCED.md
Due: none

/internal/storage/{domain,uow}: dependency
  internal/storage/domain/comment.go
  internal/storage/domain/dependency.go
  internal/storage/domain/issue.go
  internal/storage/domain/label.go
  internal/storage/uow/uow.go
Due: Storage & Database

/internal/storage: cleanup
  internal/storage/domain/config.go
  internal/storage/domain/db/child_counter.go
  internal/storage/domain/db/dependency.go
  internal/storage/uow/uow.go
Due: Storage & Database

fix(auto-export): bypass throttle when export path is gitignored (GH#3848)
  cmd/bd/export_auto.go
  cmd/bd/export_auto_embedded_test.go
  cmd/bd/export_auto_test.go
Due: CLI Commands

docs: clarify export versus database backup
  README.md
  cmd/bd/backup.go
  cmd/bd/backup_restore.go
  cmd/bd/export.go
  cmd/bd/init.go
  docs/CLI_REFERENCE.md
  docs/CONFIG.md
  docs/DOLT.md
  docs/RECOVERY.md
  docs/SYNC_CONCEPTS.md
  docs/SYNC_SETUP.md
  docs/TROUBLESHOOTING.md
  plugins/beads/skills/beads/commands/export.md
  website/docs/cli-reference/backup.md
  website/docs/cli-reference/export.md
  website/docs/getting-started/upgrading.md
  website/docs/reference/configuration.md
  website/static/llms-full.txt
  website/static/llms.txt
  website/versioned_docs/version-1.0.0/cli-reference/backup.md
  website/versioned_docs/version-1.0.0/cli-reference/export.md
  website/versioned_docs/version-1.0.4/cli-reference/backup.md
  website/versioned_docs/version-1.0.4/cli-reference/export.md
Due: CLI Commands

docs: remove remaining JSONL backup wording
  cmd/bd/backup_dolt.go
  cmd/bd/config.go
  cmd/bd/init.go
  cmd/bd/init_templates.go
  cmd/bd/main.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/config.md
  website/docs/cli-reference/init.md
  website/static/llms-full.txt
  website/static/llms.txt
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: CLI Commands

docs: clarify export versus database backup (#4048)
  README.md
  cmd/bd/backup.go
  cmd/bd/backup_dolt.go
  cmd/bd/backup_restore.go
  cmd/bd/config.go
  cmd/bd/export.go
  cmd/bd/init.go
  cmd/bd/init_templates.go
  cmd/bd/main.go
  docs/CLI_REFERENCE.md
  docs/CONFIG.md
  docs/DOLT.md
  docs/RECOVERY.md
  docs/SYNC_CONCEPTS.md
  docs/SYNC_SETUP.md
  docs/TROUBLESHOOTING.md
  plugins/beads/skills/beads/commands/export.md
  website/docs/cli-reference/backup.md
  website/docs/cli-reference/config.md
  website/docs/cli-reference/export.md
  website/docs/cli-reference/init.md
  website/docs/getting-started/upgrading.md
  website/docs/reference/configuration.md
  website/static/llms-full.txt
  website/static/llms.txt
  website/versioned_docs/version-1.0.0/cli-reference/backup.md
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.0/cli-reference/export.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/backup.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
  website/versioned_docs/version-1.0.4/cli-reference/export.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: CLI Commands

fix(init): make JSONL auto-export opt-in
  CHANGELOG.md
  cmd/bd/config.go
  cmd/bd/init.go
  cmd/bd/init_noninteractive_test.go
  cmd/bd/init_templates.go
  cmd/bd/prompt_test.go
  cmd/bd/testdata/auto_export.txt
  docs/CLI_REFERENCE.md
  docs/CONFIG.md
  internal/config/config.go
  internal/config/config_test.go
  website/docs/cli-reference/config.md
  website/docs/cli-reference/init.md
  website/docs/reference/configuration.md
Due: CLI Commands, Core Types & Utilities

refactor(auto-export): check commit before throttle
  cmd/bd/export_auto.go
  cmd/bd/export_auto_test.go
  cmd/bd/prompt_test.go
Due: CLI Commands

chore: release gate PASS for be-psutr9 (cobra/pflag race-fix)
  release-gates/be-psutr9-gate.md
Due: none

test: prevent Cobra command flag cache races
  cmd/bd/stdio_race_guard_test.go
  cmd/bd/test_helpers_pure_test.go
Due: none

docs(gate): update be-psutr9 gate — re-review PASS (be-mouz), fix stale file list
  release-gates/be-psutr9-gate.md
Due: none

fix: address PR review findings (bd-wrntbm)
  cmd/bd/stdio_race_guard_test.go
  cmd/bd/test_helpers_pure_test.go
  release-gates/be-psutr9-gate.md
Due: none

test: prevent Cobra command flag cache races (#4011)
  cmd/bd/stdio_race_guard_test.go
  cmd/bd/test_helpers_pure_test.go
  release-gates/be-psutr9-gate.md
Due: none

fix(schema): unify migration advisory lock path
  internal/storage/schema/lock_test.go
  internal/storage/schema/schema.go
Due: Storage & Database

fix(ready): use FIFO ordering within same priority tier (GH#4043)
  internal/storage/dolt/wisps.go
  internal/storage/issueops/ready_work.go
Due: Storage & Database

fix(graph): honor parent, estimate, external_ref, and deps in --graph import (GH#4064)
  cmd/bd/graph_apply.go
  cmd/bd/graph_apply_test.go
Due: CLI Commands

fix(hooks): skip bash injection on non-shell hook scripts (GH#4000)
  cmd/bd/hooks.go
  cmd/bd/init_hooks_test.go
  cmd/bd/migrate_hooks_apply.go
Due: CLI Commands

fix(schema): unify migration advisory lock path (#4031)
  internal/storage/schema/lock_test.go
  internal/storage/schema/schema.go
Due: Storage & Database

feat(promote): align comment text with spec — 'Promoted from Level 0' (be-xfxi)
  cmd/bd/promote.go
Due: CLI Commands

chore: release gate PASS for be-xra8+be-roho (bd preflight --fix mode)
  release-gates/be-xra8-be-roho-gate.md
Due: none

chore: release gate PASS for be-udvd (error handling standardization)
  release-gates/be-udvd-gate.md
Due: none

fix(schema): avoid sweeping dirty data during migrations
  internal/storage/dolt/schema_migration_dirty_test.go
  internal/storage/schema/schema.go
Due: Storage & Database

fix: guard schema migration dirty commits (bd-wisp-g6c0g)
  internal/storage/dolt/schema_migration_dirty_test.go
  internal/storage/schema/schema.go
Due: Storage & Database

fix(storage): preserve mixed issue and wisp reads
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/mixed_table_lifecycle_test.go
  internal/storage/issueops/bulk_ops.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/promote.go
  internal/storage/issueops/ready_work.go
  internal/storage/schema/schema.go
Due: Storage & Database

test(dolt): add generated column cascade repro
  internal/storage/dolt/generated_dependency_target_repro_test.go
Due: none

fix(schema): unstage old tables before migrations
  internal/storage/dolt/schema_migration_dirty_test.go
  internal/storage/schema/schema.go
Due: Storage & Database

feat(storage): honor .beads/config.yaml types.custom in server-side validation (#4024)
  internal/storage/issueops/config_helpers.go
  internal/storage/issueops/config_helpers_test.go
Due: Storage & Database

fix: address PR #4026 review findings (#4024)
  internal/config/config.go
  internal/config/config_test.go
  internal/storage/issueops/config_helpers.go
  internal/storage/issueops/config_helpers_test.go
Due: Storage & Database, Core Types & Utilities

feat(storage): honor .beads/config.yaml types.custom in server-side validation (#4024) (#4026)
  internal/config/config.go
  internal/config/config_test.go
  internal/storage/issueops/config_helpers.go
  internal/storage/issueops/config_helpers_test.go
Due: Storage & Database, Core Types & Utilities

fix(init): mark server-mode Dolt dirs compatible
  cmd/bd/init.go
  cmd/bd/init_test.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: CLI Commands

fix(doctor): skip CLI remote comparison in server mode
  cmd/bd/doctor/remotes.go
  cmd/bd/doctor/remotes_test.go
Due: CLI Commands
