Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

fix(utils): be-szr ResolvePartialID falls through to GetIssue for wisps
  internal/utils/id_parser.go
Due: Core Types & Utilities

docs(cli): regenerate CLI_REFERENCE.md for --mem-profile
  docs/CLI_REFERENCE.md
Due: none

feat(cmd): add --mem-profile flag and BEADS_MEM_PROFILE env var (be-tg2o)
  cmd/bd/main.go
  docs/CONFIG.md
Due: CLI Commands

/{cmd,internal}: more fixes
  cmd/bd/create_input.go
  cmd/bd/create_proxied_server.go
  cmd/bd/graph_apply.go
  cmd/bd/graph_apply_test.go
  internal/storage/domain/issue.go
Due: CLI Commands, Storage & Database

/internal/storage/domain: address feedback
  internal/storage/domain/db/child_counter.go
  internal/storage/domain/db/dependency.go
  internal/storage/domain/db/issue_usecase_test.go
Due: Storage & Database

docs: default PR fixes to contributor branches (#4184)
  PR_MAINTAINER_GUIDELINES.md
Due: none

/{cmd,internal}: remove comments
  cmd/bd/create_proxied_server.go
  cmd/bd/create_proxied_server_test.go
  cmd/bd/graph_apply.go
  cmd/bd/main.go
  cmd/bd/proxied_integration_helpers_test.go
  cmd/bd/test_dolt_server_cgo_test.go
  internal/storage/domain/db/child_counter.go
  internal/storage/domain/db/config.go
  internal/storage/domain/db/dependency.go
  internal/storage/domain/db/issue.go
  internal/storage/domain/db/issue_usecase_test.go
Due: CLI Commands, Storage & Database

chore: release gate PASS for be-nx7 (D4v2 indexes)
  release-gates/be-nx7-d4v2-gate.md
Due: none

perf(schema): D4v2 composite (status,updated_at) + defer_until indexes (be-s54)
  CHANGELOG.md
  internal/storage/dolt/dolt_benchmark_test.go
  internal/storage/dolt/migration_0033_test.go
  internal/storage/dolt/testmain_test.go
  internal/storage/embeddeddolt/schema_test.go
  internal/storage/schema/migrations/0033_add_date_indexes.down.sql
  internal/storage/schema/migrations/0033_add_date_indexes.up.sql
Due: Storage & Database

fix(dolt): be-pq5 PURGE dropped databases (production code, follow-up)
  cmd/bd/dolt.go
  internal/storage/dolt/dolt_benchmark_test.go
Due: CLI Commands

fix(dolt): be-pq5 PURGE dropped databases after DROP
  internal/storage/dolt/dolt_benchmark_purge_test.go
Due: none

chore: release gate PASS for be-1n9 (PURGE bench leak fix)
  release-gates/be-1n9-pq5-purge-gate.md
Due: none

docs(dolt): regenerate CLI reference for bd dolt drop-stale-dbs (be-3g52zj)
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/dolt.md
  website/versioned_docs/version-1.0.0/cli-reference/dolt.md
  website/versioned_docs/version-1.0.4/cli-reference/dolt.md
Due: none

fix(test): update schema_test.go for post-0041 index names; renumber duplicate 0033 migration
  internal/storage/embeddeddolt/schema_test.go
  internal/storage/schema/migrations/0043_add_date_indexes.down.sql
  internal/storage/schema/migrations/0043_add_date_indexes.up.sql
Due: Storage & Database

fix(test): add missing strings import in schema_test.go (be-3g52zj)
  internal/storage/embeddeddolt/schema_test.go
Due: none

/{.github,cmd}: comment out ci, disable proxied-server mode
  .github/workflows/ci.yml
  cmd/bd/init.go
Due: CLI Commands

fix(schema): renumber 0043_add_date_indexes → 0048 (main collision)
  internal/storage/dolt/migration_0048_test.go
  internal/storage/schema/migrations/0048_add_date_indexes.down.sql
  internal/storage/schema/migrations/0048_add_date_indexes.up.sql
Due: Storage & Database

fix(test): rename runMigrationSQL → runMigrationStmts to avoid collision
  internal/storage/dolt/migration_0048_test.go
Due: none

feat(config): add dolt.mode config key with ambiguous-config warning
  cmd/bd/init.go
  internal/configfile/configfile.go
  internal/configfile/configfile_test.go
Due: CLI Commands, Storage & Database

fix(init): narrow hard-fail to remote host, not port-only
  cmd/bd/init.go
Due: CLI Commands

test(init): host-only fatal guard + remove DRAFT_PR.md
  DRAFT_PR.md
  cmd/bd/init_embedded_test.go
Due: none

test(init): port-only config should not fatal
  cmd/bd/init_embedded_test.go
Due: none

fix(init): platform-accurate config path in warning and add init test coverage
  DRAFT_PR.md
  cmd/bd/init.go
  cmd/bd/init_embedded_test.go
  internal/config/yaml_config.go
  internal/configfile/configfile.go
  internal/configfile/configfile_test.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

test(config): dolt.mode validation rejects invalid values
  internal/config/yaml_config_test.go
Due: none

feat(config): validate dolt.mode accepts server or embedded
  internal/config/yaml_config.go
Due: Core Types & Utilities

fix(init): hard-fail when dolt.host/dolt.port set without server mode
  cmd/bd/init.go
  cmd/bd/init_embedded_test.go
Due: CLI Commands

fix(init): apply config server mode before validation
  cmd/bd/init.go
  cmd/bd/init_embedded_test.go
Due: CLI Commands

debug config discovery and issue prefix failures
  cmd/bd/main.go
  internal/config/config_test.go
  internal/storage/issueops/helpers.go
  internal/storage/issueops/helpers_test.go
Due: CLI Commands, Storage & Database

fix setup injection for symlinked agent files
  cmd/bd/setup/agents.go
  cmd/bd/setup/agents_marker_test.go
Due: CLI Commands

commit federation peer metadata before sync
  internal/storage/dolt/credentials.go
  internal/storage/dolt/federation.go
  internal/storage/dolt/federation_test.go
Due: Storage & Database

test(mcp): make validation baseline hermetic
  integrations/beads-mcp/README.md
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/tests/test_bd_client_integration.py
  integrations/beads-mcp/tests/test_compaction_config.py
  integrations/beads-mcp/uv.lock
Due: none

test(where): isolate initialized db path state
  cmd/bd/where_test.go
Due: none

fix(close): support per-id reasons
  cmd/bd/close.go
  cmd/bd/close_embedded_test.go
  cmd/bd/close_reason_file_test.go
  cmd/bd/ready_embedded_test.go
Due: CLI Commands

fix(test): assert FK-backed index names on wisp_dependencies
  internal/storage/embeddeddolt/schema_test.go
Due: none

docs: regenerate llms-full.txt for bd dolt drop-stale-dbs
  website/static/llms-full.txt
Due: none

fix(dep): keep relates-to out of dependency tree
  cmd/bd/dep_embedded_test.go
  internal/storage/issueops/dependency_tree.go
  internal/storage/issueops/dependency_tree_test.go
Due: Storage & Database

fix(list): keep relates-to out of `bd list` tree mode (#3936)
  cmd/bd/list_embedded_test.go
  cmd/bd/list_helpers_test.go
  cmd/bd/list_tree.go
Due: CLI Commands

fix(create): set status=deferred when --defer date is in the future (GH#4071)
  cmd/bd/create.go
Due: CLI Commands

test(create): cover deferred-status on future --defer; fix latent date assertion
  cmd/bd/create_defer_test.go
  cmd/bd/create_proxied_server_test.go
Due: none

fix(close): treat re-close of already-closed issue as idempotent success (GH#4025)
  internal/storage/issueops/close.go
Due: Storage & Database
