Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

docs: narrow uimd release gate scope (bd-wisp-msz5y1)
  cmd/bd/notion_test.go
  cmd/bd/stale_test.go
  internal/uimd/markdown.go
  release-gates/be-ow4w54-gate.md
Due: none

fix(schema): serialize Dolt schema migrations
  internal/storage/dolt/store.go
Due: Storage & Database

fix(schema): harden migration lock handling (bd-wisp-5pl1m9)
  internal/storage/dolt/initschema_concurrent_test.go
  internal/storage/dolt/initschema_multiprocess_test.go
  internal/storage/dolt/store.go
  internal/storage/dolt/store_unit_test.go
  internal/storage/embeddeddolt/store.go
  internal/storage/schema/lock.go
  internal/storage/schema/lock_test.go
  internal/storage/uow/doltserver_provider.go
Due: Storage & Database

perf(deps): narrow recursive cycle checks
  internal/storage/dolt/wisps.go
  internal/storage/dolt/wisps_cycle_test.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependencies_test.go
Due: Storage & Database

fix(deps): preserve mixed-table wisp cycle scans
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/wisps.go
  internal/storage/dolt/wisps_cycle_test.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependencies_test.go
Due: Storage & Database

fix(deps): keep mixed-table cycle detection
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependencies_test.go
Due: Storage & Database

perf(ready): restrict blocked dependency scan to active IDs
  internal/storage/issueops/blocked.go
Due: Storage & Database

test(ready): cover blocked dependency scan review fixes (bd-wisp-fmyceu)
  default.nix
  go.mod
  internal/storage/issueops/blocked.go
  internal/storage/issueops/blocked_test.go
Due: Storage & Database

refactor(ui): extract markdown rendering to internal/uimd package (#4009)
  cmd/bd/comments.go
  cmd/bd/notion_test.go
  cmd/bd/show.go
  cmd/bd/show_children.go
  cmd/bd/show_display.go
  cmd/bd/stale_test.go
  internal/uimd/markdown.go
  release-gates/be-ow4w54-gate.md
Due: CLI Commands

fix(schema): serialize Dolt schema migrations (#4005)
  internal/storage/dolt/initschema_concurrent_test.go
  internal/storage/dolt/initschema_multiprocess_test.go
  internal/storage/dolt/store.go
  internal/storage/dolt/store_unit_test.go
  internal/storage/embeddeddolt/store.go
  internal/storage/schema/lock.go
  internal/storage/schema/lock_test.go
  internal/storage/uow/doltserver_provider.go
Due: Storage & Database

perf(deps): scan one cycle table for same-storage edges (#4004)
  internal/storage/dolt/dolt_test.go
  internal/storage/issueops/dependencies.go
Due: Storage & Database

perf(ready): restrict blocked dependency scans to active IDs (#4002)
  default.nix
  go.mod
  internal/storage/issueops/blocked.go
  internal/storage/issueops/blocked_test.go
Due: Storage & Database

feat(init): auto-configure contributor routing on fork detect (be-7daa14)
  cmd/bd/init.go
  cmd/bd/init_contributor.go
Due: CLI Commands

fix(import): sync issue_prefix from config.yaml after import (be-llaf)
  cmd/bd/import.go
Due: CLI Commands

fix(human): remove non-existent bd sync from help text
  cmd/bd/human.go
Due: CLI Commands

fix(init): suppress autoConfigureForkContributor output in non-interactive mode
  cmd/bd/init.go
Due: CLI Commands

perf(get): query primary issues before wisp fallback
  internal/storage/issueops/get_issue.go
Due: Storage & Database

fix(get): propagate wisp label lookup errors (bd-wisp-6fcee9)
  internal/storage/dolt/dolt_test.go
  internal/storage/embeddeddolt/get_issue_test.go
  internal/storage/issueops/get_issue.go
Due: Storage & Database

perf(get): query primary issues before wisp fallback (#4003)
  internal/storage/dolt/dolt_test.go
  internal/storage/embeddeddolt/get_issue_test.go
  internal/storage/issueops/get_issue.go
Due: Storage & Database

fix(dolt): adopt git origin on first push (#3940)
  cmd/bd/doctor/remotes.go
  cmd/bd/doctor/remotes_test.go
  cmd/bd/dolt.go
  cmd/bd/init.go
  cmd/bd/init_embedded_test.go
  cmd/bd/sync_git.go
  cmd/bd/sync_remote.go
  cmd/bd/sync_remote_test.go
  internal/doltremote/remote.go
Due: CLI Commands

fix(dep): narrow same-type blocking rule to parent-child shadows
  internal/storage/dolt/dependencies_extended_test.go
  internal/storage/dolt/dolt_test.go
  internal/storage/embeddeddolt/dependencies_test.go
  internal/storage/issueops/dependencies.go
Due: Storage & Database

fix(dep): detect cycles across combined blocks + parent-child graph
  internal/storage/dolt/dependencies_extended_test.go
  internal/storage/embeddeddolt/dependencies_test.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependencies_test.go
Due: Storage & Database

fix: address ready review findings (bd-wisp-r6076f)
  cmd/bd/dep_embedded_test.go
  internal/storage/dolt/queries.go
  internal/storage/issueops/ready_work.go
  internal/storage/issueops/ready_work_test.go
Due: Storage & Database

perf(ready): narrow deferred parent filtering
  internal/storage/issueops/ready_work.go
Due: Storage & Database

perf(ready): narrow deferred-parent child filtering (#4001)
  cmd/bd/dep_embedded_test.go
  internal/storage/dolt/queries.go
  internal/storage/issueops/ready_work.go
  internal/storage/issueops/ready_work_test.go
Due: Storage & Database

fix(ready): include no-history wisps with ephemeral ready work
  cmd/bd/metadata_ready_test.go
  internal/storage/issueops/ready_work.go
Due: Storage & Database

fix: materialize local table schemas for branch tests
  cmd/bd/doctor/dolt_e2e_test.go
  cmd/bd/test_dolt_server_cgo_test.go
  internal/molecules/testmain_test.go
  internal/storage/dolt/pull_branch_tracking_test.go
  internal/storage/dolt/queries_test.go
  internal/storage/dolt/rename_test.go
  internal/storage/dolt/testmain_test.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisp_partition_test.go
  internal/storage/issueops/bulk_ops.go
  internal/storage/issueops/dependencies.go
  internal/testutil/testdoltbranch.go
  internal/tracker/testmain_test.go
Due: Storage & Database

fix: harden dependency target rename
  internal/storage/dolt/queries_test.go
  internal/storage/dolt/rename_test.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/transaction_test.go
  internal/storage/issueops/dependencies.go
  internal/testutil/testdoltbranch.go
Due: Storage & Database

fix: materialize local table schemas for branch tests (#4014)
  cmd/bd/doctor/dolt_e2e_test.go
  cmd/bd/test_dolt_server_cgo_test.go
  internal/molecules/testmain_test.go
  internal/storage/dolt/pull_branch_tracking_test.go
  internal/storage/dolt/queries_test.go
  internal/storage/dolt/rename_test.go
  internal/storage/dolt/testmain_test.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/transaction_test.go
  internal/storage/dolt/wisp_partition_test.go
  internal/storage/issueops/bulk_ops.go
  internal/storage/issueops/dependencies.go
  internal/testutil/testdoltbranch.go
  internal/tracker/testmain_test.go
Due: Storage & Database

/{cmd,internal}: remove depends_on_id
  cmd/bd/create_embedded_test.go
  cmd/bd/doctor/deep.go
  cmd/bd/doctor/deep_test.go
  cmd/bd/doctor/fix/validation.go
  cmd/bd/doctor/integrity.go
  cmd/bd/doctor/perf_dolt.go
  cmd/bd/doctor/validation.go
  cmd/bd/doctor/validation_test.go
  cmd/bd/doctor_validate_test.go
  cmd/bd/mol_bond.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/git_remote_test.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/rename_test.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisp_gc_test.go
  internal/storage/dolt/wisps.go
  internal/storage/dolt/wisps_cycle_test.go
  internal/storage/issueops/blocked.go
  internal/storage/issueops/blocked_test.go
  internal/storage/issueops/bulk_ops.go
  internal/storage/issueops/compaction.go
  internal/storage/issueops/cycles.go
  internal/storage/issueops/delete.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependencies_test.go
  internal/storage/issueops/dependency_queries.go
  internal/storage/issueops/epic_closure.go
  internal/storage/issueops/filters.go
  internal/storage/issueops/molecule.go
  internal/storage/issueops/ready_work.go
  internal/storage/schema/migrations/0043_drop_dependencies_generated_column.down.sql
  internal/storage/schema/migrations/0043_drop_dependencies_generated_column.up.sql
  internal/storage/schema/migrations/0044_update_views_drop_depends_on_id.down.sql
  internal/storage/schema/migrations/0044_update_views_drop_depends_on_id.up.sql
  internal/storage/schema/migrations/0045_update_blocked_view_drop_depends_on_id.down.sql
  internal/storage/schema/migrations/0045_update_blocked_view_drop_depends_on_id.up.sql
  internal/storage/schema/migrations/ignored/0005_drop_wisp_dependencies_generated_column.up.sql
Due: CLI Commands, Storage & Database

/{cmd,internal}: some fixes
  cmd/bd/migrate_issues.go
  internal/storage/schema/migrations/0043_drop_dependencies_generated_column.up.sql
  internal/storage/schema/migrations/ignored/0005_drop_wisp_dependencies_generated_column.up.sql
Due: CLI Commands, Storage & Database

test(import): add TestEmbeddedImport_PrefixSync for be-llaf prefix sync
  cmd/bd/import_embedded_test.go
Due: none

Add configurable JSONL import path
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_unit_test.go
  cmd/bd/config.go
  cmd/bd/config_setmany_test.go
  cmd/bd/config_validate_key_test.go
  cmd/bd/hooks.go
  cmd/bd/import.go
  cmd/bd/import_embedded_test.go
  cmd/bd/import_path.go
  cmd/bd/init.go
  cmd/bd/init_embedded_test.go
  cmd/bd/init_templates.go
  cmd/bd/kv.go
  cmd/bd/kv_test.go
  docs/CLI_REFERENCE.md
  docs/CONFIG.md
  internal/config/config.go
  internal/config/yaml_config.go
  internal/config/yaml_config_test.go
Due: CLI Commands, Core Types & Utilities

/internal/storage/{dolt,issueops,schema}: remove comments
  internal/storage/dolt/wisps.go
  internal/storage/issueops/bulk_ops.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependency_queries.go
  internal/storage/schema/migrations/0043_drop_dependencies_generated_column.up.sql
  internal/storage/schema/migrations/ignored/0005_drop_wisp_dependencies_generated_column.up.sql
Due: Storage & Database

/internal/storage/issueops/dependencies.go: fix formatting
  internal/storage/issueops/dependencies.go
Due: Storage & Database

Regenerate CLI reference docs
  website/docs/cli-reference/config.md
  website/docs/cli-reference/import.md
  website/docs/cli-reference/init.md
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.0/cli-reference/import.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
  website/versioned_docs/version-1.0.4/cli-reference/import.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: none

/internal/storage/{dolt,issueops}: more fixes
  internal/storage/dolt/rename_test.go
  internal/storage/issueops/dependencies.go
Due: Storage & Database

/{cmd,internal}: get debug mode working
  cmd/bd/config.go
  cmd/bd/config_side_effects.go
  cmd/bd/config_side_effects_test.go
  cmd/bd/doctor/gitignore.go
  cmd/bd/dolt.go
  cmd/bd/init.go
  internal/config/yaml_config.go
  internal/config/yaml_config_test.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
  internal/doltserver/doltserver_unix.go
Due: CLI Commands, Core Types & Utilities

docs(postgres): be-c9qj.1 write §2 (pg vs Dolt) + §6 (Auth) sections
  docs/tmp-postgres/pg-backend-b1-sections-2-6.md
Due: none

docs(postgres): be-c9qj.2 write §1 (Overview) + §3 (Prerequisites) + §4 (Quick Start)
  docs/tmp-postgres/pg-backend-b2-sections-1-3-4.md
Due: none

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
