Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

test(issueops): cover idempotent re-close of already-closed issue
  internal/storage/issueops/close_test.go
Due: none

fix(mcp): route validate and detect-pollution to bd doctor (GH#4037)
  integrations/beads-mcp/src/beads_mcp/bd_client.py
Due: none

test(mcp): cover bd doctor routing for validate/detect_pollution
  integrations/beads-mcp/src/beads_mcp/bd_client.py
  integrations/beads-mcp/tests/test_bd_client.py
Due: none

clarify issue-prefix viper test intent
  internal/config/config_test.go
Due: none

fix(schema): panic on duplicate migration version numbers
  .github/workflows/ci.yml
  internal/storage/schema/schema.go
  internal/storage/schema/schema_test.go
Due: Storage & Database

fix(setup): clarify symlinked agents skip
  cmd/bd/setup/agents.go
  cmd/bd/setup/agents_marker_test.go
Due: CLI Commands

debug config discovery and issue prefix failures (#4191)
  cmd/bd/main.go
  internal/config/config_test.go
  internal/storage/issueops/helpers.go
  internal/storage/issueops/helpers_test.go
Due: CLI Commands, Storage & Database

docs: refresh close CLI references
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/close.md
  website/static/llms-full.txt
  website/versioned_docs/version-1.0.0/cli-reference/close.md
  website/versioned_docs/version-1.0.4/cli-reference/close.md
Due: none

fix(graph): honor parent, estimate, external_ref, and deps in --graph import (GH#4064)
  cmd/bd/graph_apply.go
  cmd/bd/graph_apply_test.go
Due: CLI Commands

style(graph): gofmt graph_apply.go struct tag alignment
  cmd/bd/graph_apply.go
Due: CLI Commands

fix(codex): ship hook release safely
  CHANGELOG.md
  cmd/bd/setup/plugin_layout_test.go
  docs/CODEX_INTEGRATION.md
  plugins/beads/.codex-plugin/hooks/hooks.json
  plugins/beads/README.md
  website/docs/integrations/codex.md
Due: none

fix(setup): harden symlink follow-up handling
  CHANGELOG.md
  cmd/bd/setup/agents.go
  cmd/bd/setup/claude.go
  cmd/bd/setup/claude_test.go
  cmd/bd/setup/mux.go
  cmd/bd/setup/mux_test.go
  cmd/bd/setup/utils.go
  cmd/bd/setup/utils_test.go
  docs/TROUBLESHOOTING.md
Due: CLI Commands

/{cmd,internal}: fix proxied server path
  cmd/bd/context_cmd.go
  cmd/bd/doctor/gitignore.go
  cmd/bd/init.go
  cmd/bd/init_proxied_server.go
  cmd/bd/init_proxied_server_test.go
  cmd/bd/proxied_server.go
  cmd/bd/proxied_server_test.go
  cmd/bd/uow_factory.go
  internal/configfile/configfile.go
  internal/configfile/configfile_test.go
  internal/configfile/proxied_server_client_info.go
  internal/storage/domain/beads.go
  internal/storage/domain/fs/beads.go
Due: CLI Commands, Storage & Database

/{docs,website}: gen docs
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/federation.md
  website/docs/cli-reference/init.md
  website/static/llms-full.txt
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: none

fix(lint): silence unparam on warnUnknownGraphFields return value
  cmd/bd/graph_apply.go
Due: CLI Commands

debug missing dolt database metadata
  cmd/bd/main.go
  cmd/bd/main_config_debug_test.go
Due: CLI Commands

/internal/storage/dbproxy/server: wip, external dolt server
  internal/configfile/configfile_test.go
  internal/configfile/external_dolt_config.go
  internal/configfile/proxied_server_client_info.go
  internal/storage/dbproxy/server/external_dolt_server.go
  internal/storage/dbproxy/server/external_dolt_server_test.go
Due: Storage & Database

cleanup: remove unused private helpers
  cmd/bd/setup/agent_skill.go
  internal/config/yaml_config.go
Due: CLI Commands, Core Types & Utilities

import: skip stale JSONL issue snapshots
  cmd/bd/export_auto_test.go
  cmd/bd/import.go
  cmd/bd/import_from_jsonl_test.go
  cmd/bd/import_shared.go
  cmd/bd/import_shared_unit_test.go
Due: CLI Commands

test: use production schema init in routing e2e
  internal/storage/dolt/git_remote_shared_server_test.go
  internal/storage/dolt/git_remote_test.go
Due: none

/{cmd,internal}: external server
  cmd/bd/db_proxy_child.go
  cmd/bd/db_proxy_child_test.go
  cmd/bd/init.go
  cmd/bd/init_proxied_server.go
  cmd/bd/init_proxied_server_test.go
  cmd/bd/proxied_server_test.go
  internal/storage/dbproxy/proxy/external_integration_test.go
  internal/storage/dbproxy/server/external_dolt_server_test.go
Due: CLI Commands

/{docs,website}: gen docs for new flags
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/federation.md
  website/docs/cli-reference/init.md
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: none

/internal/storage/{dbproxy,uow}: external uow provider
  internal/storage/dbproxy/proxy/endpoint.go
  internal/storage/dbproxy/proxy/external_integration_test.go
  internal/storage/uow/dolt_sql_provider.go
  internal/storage/uow/external_doltserver_provider.go
  internal/storage/uow/external_doltserver_provider_test.go
Due: Storage & Database

/{cmd,docs,internal,website}: wire up
  cmd/bd/create_proxied_external_integration_test.go
  cmd/bd/init.go
  cmd/bd/proxied_server_test.go
  cmd/bd/uow_factory.go
  cmd/bd/uow_factory_test.go
  docs/CLI_REFERENCE.md
  internal/configfile/external_dolt_config.go
  internal/configfile/external_dolt_config_test.go
  website/docs/cli-reference/init.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: CLI Commands, Storage & Database

/cmd/bd/init.go: disable again
  cmd/bd/init.go
Due: CLI Commands

/{cmd,internal}: surface mismatches
  cmd/bd/init.go
  cmd/bd/uow_factory.go
  cmd/bd/uow_factory_test.go
  internal/storage/dbproxy/pidfile/pidfile.go
  internal/storage/dbproxy/pidfile/pidfile_test.go
  internal/storage/dbproxy/proxy/endpoint.go
  internal/storage/dbproxy/proxy/endpoint_mismatch_test.go
  internal/storage/dbproxy/proxy/server.go
  internal/storage/dbproxy/server/external_dolt_server.go
  internal/storage/dbproxy/server/external_dolt_server_test.go
Due: CLI Commands, Storage & Database

/{cmd,docs,internal,website}: remove pass
  cmd/bd/init.go
  cmd/bd/proxied_server_test.go
  cmd/bd/uow_factory.go
  docs/CLI_REFERENCE.md
  internal/configfile/external_dolt_config.go
  internal/storage/dbproxy/server/external_dolt_server_test.go
  internal/storage/uow/dolt_sql_provider.go
  internal/storage/uow/doltserver_provider.go
  internal/storage/uow/external_doltserver_provider.go
  website/docs/cli-reference/init.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: CLI Commands, Storage & Database

/internal/storage/dbproxy/server: fix test
  internal/storage/dbproxy/server/external_dolt_server_test.go
Due: none

docs: regenerate llms-full
  website/static/llms-full.txt
Due: none

cleanup: remove unused private helpers (#4205)
  cmd/bd/setup/agent_skill.go
  internal/config/yaml_config.go
Due: CLI Commands, Core Types & Utilities

test(where): isolate initialized db path state (#4193)
  cmd/bd/where_test.go
Due: none

test config debug default database guard
  cmd/bd/main.go
  cmd/bd/main_config_debug_test.go
Due: CLI Commands

fix(close): preserve empty reason compatibility
  cmd/bd/close.go
  cmd/bd/close_reason_file_test.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/close.md
  website/static/llms-full.txt
  website/versioned_docs/version-1.0.0/cli-reference/close.md
  website/versioned_docs/version-1.0.4/cli-reference/close.md
Due: CLI Commands

docs: finish Dolt and release doc consolidation
  AGENT_INSTRUCTIONS.md
  RELEASING.md
  cmd/bd/init.go
  docs/DOLT.md
Due: CLI Commands

debug missing dolt database metadata (#4202)
  cmd/bd/main.go
  cmd/bd/main_config_debug_test.go
Due: CLI Commands

import: report stale skipped JSONL IDs
  cmd/bd/import.go
  cmd/bd/import_shared.go
  cmd/bd/import_shared_unit_test.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/import.md
  website/static/llms-full.txt
  website/versioned_docs/version-1.0.0/cli-reference/import.md
  website/versioned_docs/version-1.0.4/cli-reference/import.md
Due: CLI Commands

docs: record CI cleanup plan
  docs/CI_CLEANUP_PLAN.md
  docs/CI_TEST_SURFACE_AUDIT.md
  docs/DOC_INVENTORY.md
  docs/LINTING.md
  docs/TESTING.md
Due: none

feat(no-push): guard dolt push/pull and strip push from rendered templates
  cmd/bd/dolt.go
  cmd/bd/fs_adapters.go
  cmd/bd/init.go
  cmd/bd/init_proxied_server.go
  cmd/bd/setup/agents.go
  internal/storage/domain/beads.go
  internal/templates/agents/render.go
Due: CLI Commands, Storage & Database

fix(no-push): anchor stripDoltPushReferences to prevent 4-space indent false match
  internal/templates/agents/render.go
Due: none
