Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

style: fix pre-existing gofmt issues on main
  cmd/bd/show_current_test.go
  internal/storage/dolt/wisps.go
Due: Storage & Database

fix(create): read contributor routing config from DB fallback
  cmd/bd/create.go
  cmd/bd/create_routing_test.go
Due: CLI Commands

fix: split TestCheckTestPollution_NoTestIssues by platform (GH#2262)
  cmd/bd/doctor/validation_test.go
Due: none

fix(init): set beads.role=contributor in contributor setup
  cmd/bd/init.go
  cmd/bd/init_test.go
Due: CLI Commands

fix(init): skip AGENTS.md generation in bare repositories
  cmd/bd/init.go
  cmd/bd/sync_git.go
  cmd/bd/sync_git_test.go
Due: CLI Commands

fix: detect fork workflow as contributor when role unset
  internal/routing/routing.go
  internal/routing/routing_test.go
Due: none

fix(read): apply contributor routing to list and ready
  cmd/bd/create.go
  cmd/bd/list.go
  cmd/bd/ready.go
  cmd/bd/routing_read.go
  cmd/bd/routing_read_test.go
Due: CLI Commands

fix: optimize bd search to avoid LIKE %% full-table scans (hq-319)
  cmd/bd/search.go
  internal/storage/dolt/filters.go
  internal/storage/dolt/filters_test.go
  internal/storage/dolt/queries_test.go
  internal/storage/dolt/transaction.go
Due: CLI Commands, Storage & Database

fix: skip remotesapi check when no federation peers configured (bd-5c7)
  cmd/bd/doctor/federation.go
Due: CLI Commands

update nix package so it build again
  default.nix
Due: none

fix: exclude ephemeral wisps from bd backup export (bd-qwa3)
  cmd/bd/backup_export.go
Due: CLI Commands

fix: remove Beads Classic SQLite backend and migration infrastructure
  cmd/bd/doctor.go
  cmd/bd/doctor/agent.go
  cmd/bd/doctor/broken_migration.go
  cmd/bd/doctor/broken_migration_test.go
  cmd/bd/doctor/embedded_concurrency.go
  cmd/bd/doctor/federation_test.go
  cmd/bd/doctor/fix/broken_migration.go
  cmd/bd/doctor/fix/database_config_test.go
  cmd/bd/doctor_fix.go
  cmd/bd/main.go
  cmd/bd/migrate.go
  cmd/bd/migrate_auto.go
  cmd/bd/migrate_auto_nocgo.go
  cmd/bd/migrate_auto_test.go
  cmd/bd/migrate_dolt.go
  cmd/bd/migrate_dolt_metadata_test.go
  cmd/bd/migrate_dolt_nocgo.go
  cmd/bd/migrate_import.go
  cmd/bd/migrate_import_test.go
  cmd/bd/migrate_safety.go
  cmd/bd/migrate_safety_integration_test.go
  cmd/bd/migrate_safety_test.go
  cmd/bd/migrate_shim.go
  cmd/bd/migrate_shim_test.go
  internal/configfile/configfile.go
  internal/configfile/configfile_test.go
Due: CLI Commands, Storage & Database

feat(create-form): add --parent flag for creating sub-issues
  cmd/bd/create_form.go
  cmd/bd/create_form_test.go
Due: CLI Commands

fix: add label inheritance and post-create Dolt commit to create-form --parent
  cmd/bd/create_form.go
  cmd/bd/create_form_test.go
Due: CLI Commands

Implement Dolt<->JSONL import contract and regression coverage
  cmd/bd/export.go
  cmd/bd/export_test.go
  cmd/bd/import.go
  cmd/bd/import_from_jsonl_test.go
  cmd/bd/import_shared.go
  cmd/bd/main.go
  tests/regression/scenarios_test.go
Due: CLI Commands

fix: remove go-sqlite3 dependency, use Dolt testcontainers for tests
  cmd/bd/doctor_health.go
  go.mod
  go.sum
  internal/storage/dolt/store_unit_test.go
Due: CLI Commands

Add appended-notes regression coverage for export/sync paths
  cmd/bd/import_shared.go
  tests/regression/scenarios_test.go
Due: CLI Commands

feat: add gofmt + golangci-lint pre-commit hook (GH#2179)
  .githooks/pre-commit
  Makefile
Due: none

fix: use CLI fallback for all git-protocol remotes, not just SSH (GH#2268)
  internal/storage/dolt/federation.go
  internal/storage/dolt/store.go
  internal/storage/doltutil/remotes.go
  internal/storage/doltutil/remotes_test.go
Due: Storage & Database

fix: retry stale DB connection and preserve temp file in bd edit (GH-2267)
  cmd/bd/edit.go
Due: CLI Commands

fix: move Landing the Plane inside beads integration markers (#2265)
  cmd/bd/init_agent.go
  cmd/bd/setup/factory_test.go
  internal/templates/agents/agents_test.go
  internal/templates/agents/defaults/agents.md.tmpl
  internal/templates/agents/defaults/beads-section.md
Due: CLI Commands

fix: skip Docker tests when image not cached locally (GH#2277)
  internal/testutil/testdoltserver.go
Due: none

fix: skip remotesapi port check when no federation peers configured (GH#2273)
  cmd/bd/doctor/federation_test.go
Due: none

fix: remove deprecated commands, dead SQLite code, and legacy scripts
  cmd/bd/admin_aliases.go
  cmd/bd/comments.go
  cmd/bd/comments_test.go
  cmd/bd/detect_pollution.go
  cmd/bd/doctor/database.go
  cmd/bd/doctor/database_test.go
  cmd/bd/doctor/fix/database_integrity.go
  cmd/bd/doctor/integrity.go
  cmd/bd/relate.go
  cmd/bd/sync.go
  cmd/bd/template.go
  cmd/bd/thanks.go
  scripts/migrate-audit.sh
  scripts/test_issue_gh1224.sh
  scripts/test_wsl2_wal.sh
Due: CLI Commands

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
