Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

feat: add migration 010 to change dependencies PK to (issue_id, depends_on_id, type)
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/010_dependency_composite_pk.go
Due: Storage & Database

feat: allow coexisting dependency types between same issue pair
  cmd/bd/dep_test.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisps.go
Due: Storage & Database

feat: add depType param to RemoveDependency and --type flag to dep remove
  cmd/bd/critical_paths_test.go
  cmd/bd/delete.go
  cmd/bd/dep.go
  cmd/bd/dep_test.go
  cmd/bd/duplicates.go
  cmd/bd/move.go
  cmd/bd/relate.go
  cmd/bd/relate_test.go
  cmd/bd/update.go
  internal/jira/tracker_test.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/migrations/005_wisp_auxiliary_tables.go
  internal/storage/dolt/schema.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisps.go
  internal/storage/embeddeddolt/store.go
  internal/storage/storage.go
  internal/telemetry/storage.go
Due: CLI Commands, Storage & Database

feat: add milestones migration (table + column on issues/wisps)
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/010_milestones.go
Due: Storage & Database

feat: add Milestone type and Issue.Milestone field
  internal/types/types.go
Due: Core Types & Utilities

feat: milestone CRUD storage layer with tests
  cmd/bd/milestone_test.go
  internal/storage/dolt/filters.go
  internal/storage/dolt/issue_scan.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/migrations/004_wisps_table.go
  internal/storage/dolt/milestones.go
  internal/storage/dolt/schema.go
  internal/storage/dolt/wisps.go
  internal/storage/embeddeddolt/store.go
  internal/storage/storage.go
  internal/telemetry/storage.go
Due: Storage & Database

feat: milestone CLI commands and --milestone flag on create/update/list
  cmd/bd/create.go
  cmd/bd/list.go
  cmd/bd/milestone.go
  cmd/bd/update.go
Due: CLI Commands

fix: add milestone stubs to jira test mock store
  internal/jira/tracker_test.go
Due: none

fix: apply gofmt formatting to migration 010_dependency_composite_pk
  internal/storage/dolt/migrations/010_dependency_composite_pk.go
Due: Storage & Database

fix: handle withStorage() return values in milestone commands
  cmd/bd/milestone.go
Due: CLI Commands

fix: check withStorage return value in summary command (errcheck)
  cmd/bd/summary.go
Due: CLI Commands

chore: remove redundant comment above comment type constants
  internal/types/types.go
Due: Core Types & Utilities

chore: remove redundant test comments in dep_test.go
  cmd/bd/dep_test.go
Due: none

fix: add test coverage for quoted label values with colons (bd-wnr1)
  internal/query/query_test.go
Due: none

feat: support global ~/.config/beads/PRIME.md fallback (GH#2330)
  cmd/bd/prime.go
  cmd/bd/prime_test.go
Due: CLI Commands

fix: post-checkout hook warns when database is missing (GH#2327)
  cmd/bd/hooks.go
  cmd/bd/hooks_test.go
Due: CLI Commands

fix: correct Nix build — use go mod edit, remove dead GOTOOLCHAIN (GH#1373)
  default.nix
Due: none

feat: make bd bootstrap execute recovery actions (GH#2327)
  cmd/bd/bootstrap.go
Due: CLI Commands

fix: suppress gosec G702 false positive on internal git helper
  internal/beads/beads.go
Due: Core Types & Utilities

test: bootstrap action detection for init, restore, and existing DB (GH#2327)
  cmd/bd/bootstrap_test.go
Due: none

test: post-checkout hook warning for missing database (GH#2327)
  cmd/bd/hooks_test.go
Due: none

feat: post-checkout hook warns when database is missing (GH#2327)
  cmd/bd/hooks.go
Due: CLI Commands

fix: handle errcheck lint for store.Close in bootstrap
  cmd/bd/bootstrap.go
Due: CLI Commands

fix: log warning on comment fetch error + document UTC in --since (GH#2508)
  cmd/bd/summary.go
  cmd/bd/summary_test.go
Due: CLI Commands

fix: harden dependency PK migration against duplicate rows (GH#2509)
  internal/storage/dolt/migrations/010_dependency_composite_pk.go
  internal/storage/dolt/migrations/migrations_test.go
Due: Storage & Database

bd: backup 2026-03-11 12:43
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

feat: Load .beads/.env for per-project Dolt credentials
  cmd/bd/main.go
  go.mod
Due: CLI Commands

feat: add --design-file flag for reading design from files
  cmd/bd/create.go
  cmd/bd/flags.go
  cmd/bd/flags_test.go
  cmd/bd/update.go
  cmd/bd/update_edge_cases_test.go
Due: CLI Commands

fix(docs): remove stale --branch flag and SQLite refs from QUICKSTART (GH#2522)
  ARTICLES.md
  docs/QUICKSTART.md
  internal/beads/beads.go
Due: Core Types & Utilities

fix(docs): remove stale --branch flag and SQLite refs from QUICKSTART (GH#2522) (#2525)
  ARTICLES.md
  docs/QUICKSTART.md
  internal/beads/beads.go
Due: Core Types & Utilities

feat: add CLI docs auto-generation with bd help --doc/--list/--all
  .githooks/pre-commit
  .github/workflows/ci.yml
  cmd/bd/help_all.go
  scripts/generate-cli-docs.sh
  scripts/generate-llms-full.sh
Due: CLI Commands

fix: regenerate CLI docs with CGO_ENABLED=0 to match CI build
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/federation.md
Due: none

feat(docs): add doc-recipe drift runner prototype (bd-wisp-u9u)
  docs/design/doc-drift-recipes.md
  docs/recipes/README.md
  docs/recipes/cli-reference.recipe.yaml
  scripts/README.md
  scripts/docs-drift-runner.sh
Due: none

Stabilize make test when Dolt test server is unavailable (bd-wisp-8co)
  beads_test.go
  cmd/bd/protocol/helpers_test.go
  internal/git/gitdir.go
  internal/tracker/engine_test.go
Due: Sync & Git Operations

fix: typo in --design-file error message ("stin" -> "stdin")
  cmd/bd/flags.go
Due: CLI Commands

fix(nix): use go mod edit instead of sed for version patching
  default.nix
Due: none

feat: bd bootstrap executes recovery actions instead of printing advice
  cmd/bd/bootstrap.go
  cmd/bd/bootstrap_test.go
Due: CLI Commands

fix: block data-dir in server mode + fix doctor --clean --json (GH#2438)
  cmd/bd/doctor_artifacts.go
  cmd/bd/dolt.go
  cmd/bd/dolt_test.go
  internal/storage/dolt/open.go
  internal/storage/dolt/open_test.go
Due: CLI Commands, Storage & Database
