Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

feat(daemon): be-ht5qm4 — Kill() module for bdd daemon shutdown
  cmd/bddgen/main.go
  internal/daemon/kill.go
  internal/daemon/kill_test.go
  internal/daemon/kill_windows.go
  internal/storage/rpc/client.go
  internal/storage/rpc/gen.go
  internal/storage/rpc/server.go
  internal/storage/rpc/types.go
Due: CLI Commands, Storage & Database

feat(daemon): be-hpivhb — RPC package StoreLocator surface + type assertions
  internal/storage/rpc/locator.go
Due: Storage & Database

chore: release gate PASS for be-ht5qm4/be-jo8pxm/be-hpivhb (daemon kill + bddgen + StoreLocator)
  release-gates/be-ht5qm4-gate.md
Due: none

feat(cli): add --no-color flag for explicit color suppression
  cmd/bd/main.go
Due: CLI Commands

fix(export): sort issues and sub-objects for deterministic JSONL output
  cmd/bd/export.go
  cmd/bd/export_auto.go
Due: CLI Commands

fix(metadata): always store --set-metadata values as JSON strings
  cmd/bd/metadata_edits_test.go
  cmd/bd/update.go
Due: CLI Commands

fix(rpc): add stubs for Storage interface methods added since daemon branch
  internal/storage/rpc/client_stubs.go
  internal/storage/rpc/server_stubs.go
  internal/storage/rpc/types.go
Due: Storage & Database

chore: release gate PASS for be-zsr4id (iter transport foundation)
  release-gates/be-zsr4id-gate.md
Due: none

feat(daemon): be-zsr4id — iter transport foundation: sentinel errors, config fields, docs
  docs/EXTENDING.md
  internal/configfile/configfile.go
  internal/storage/storage.go
Due: Storage & Database

feat(daemon): be-e2pufb — iter transport: iter_shared.go session manager + server wiring
  internal/storage/rpc/client.go
  internal/storage/rpc/iter_shared.go
  internal/storage/rpc/iter_shared_test.go
  internal/storage/rpc/server.go
Due: Storage & Database

chore: release gate PASS for be-e2pufb/be-ojx6um (iter_shared session manager)
  release-gates/be-e2pufb-gate.md
Due: none

fix(daemon): be-ojx6um — register concrete types with gob for UpdateIssue transport
  internal/storage/rpc/gob_types.go
Due: Storage & Database

docs: regenerate CLI reference for dolt.local-only config help
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/config.md
  website/static/llms-full.txt
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
Due: none

perf(search): Q2+Q3+Q5 — skip-wisps merge, id-shrunk Pattern B, wisp count cache (bd-qi4qr, bd-co6m6)
  cmd/bd/query.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix(count): use CountIssues for grouped-output total to avoid double-counting
  cmd/bd/count.go
Due: CLI Commands

fix(count): adapt CountIssues calls to main's (ctx, query, filter) signature
  cmd/bd/count.go
Due: CLI Commands

fix(search): invalidate Q5 wisp count cache in PromoteFromEphemeral
  internal/storage/dolt/ephemeral_routing.go
Due: Storage & Database

perf(count): Q1 — SQL COUNT(*) aggregate replaces SearchIssues+len in bd count (bd-xoi0x)
  cmd/bd/count.go
  internal/storage/dolt/queries.go
  internal/storage/embeddeddolt/list_queries.go
  internal/storage/storage.go
  internal/telemetry/storage.go
Due: CLI Commands, Storage & Database

fix(rebase): remove duplicate declarations introduced by rebase onto main
  cmd/bd/count.go
  internal/storage/dolt/counts.go
  internal/storage/storage.go
  internal/telemetry/storage.go
Due: CLI Commands, Storage & Database

fix(no-push): remove pull guard from bd dolt pull (be-ve2x6)
  cmd/bd/dolt.go
  cmd/bd/dolt_test.go
Due: CLI Commands

fix(metadata): update remaining tests for all-strings behavior
  cmd/bd/metadata_edits_test.go
Due: none

docs: add --no-color to CLI_REFERENCE.md global flags section
  docs/CLI_REFERENCE.md
Due: none

perf(dolt): drop per-open syncCLIRemotesToSQL; move 2118 fix to doctor
  cmd/bd/doctor/fix/remotes.go
  cmd/bd/doctor/fix/remotes_test.go
  internal/storage/dolt/federation.go
  internal/storage/dolt/federation_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

docs: regenerate llms-full.txt for --max-rows flag (be-x42v)
  website/static/llms-full.txt
Due: none

fix(schema): update renumbered migration comment
  internal/storage/schema/migrations/0049_longtext_large_content_columns.up.sql
Due: Storage & Database

docs: regenerate llms-full.txt under C.UTF-8 to match CI doc-flags collation
  website/static/llms-full.txt
Due: none

/{cmd,internal}: remove dolt cli commands
  cmd/bd/config_apply.go
  cmd/bd/config_drift.go
  cmd/bd/doctor.go
  cmd/bd/doctor/fix/remotes.go
  cmd/bd/doctor/fix/remotes_test.go
  cmd/bd/doctor/remotes.go
  cmd/bd/doctor/remotes_test.go
  cmd/bd/doctor_fix.go
  cmd/bd/dolt.go
  cmd/bd/dolt_test.go
  cmd/bd/init.go
  internal/storage/dolt/credentials.go
  internal/storage/dolt/credentials_test.go
  internal/storage/dolt/federation.go
  internal/storage/dolt/federation_test.go
  internal/storage/dolt/git_remote_test.go
  internal/storage/dolt/store.go
  internal/storage/doltutil/remotes.go
Due: CLI Commands, Storage & Database

docs: tighten agent-profile wording and cover no-push branches
  cmd/bd/prime.go
  cmd/bd/prime_test.go
  internal/recipes/template.go
Due: CLI Commands

test(auto-import): correct overclaim in delayed-stats guard test
  cmd/bd/auto_import_upgrade_unit_test.go
Due: none

/cmd/bd/dolt.go: change remote add and remove to do less
  cmd/bd/dolt.go
Due: CLI Commands

docs(config): tighten dolt.local-only help wording + cover isDoltLocalOnly()
  cmd/bd/config.go
  cmd/bd/init_safety_test.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/config.md
  website/static/llms-full.txt
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
Due: CLI Commands

fix(auto-import): harden embedded ImportJSONLData with ConflictSkip (GH#3955)
  internal/storage/embeddeddolt/store.go
Due: Storage & Database

/internal/storage/dolt/credentials_test.go: remove old tests
  internal/storage/dolt/credentials_test.go
Due: none

/{docs,website}: regen docs
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/dolt.md
  website/versioned_docs/version-1.0.0/cli-reference/dolt.md
  website/versioned_docs/version-1.0.4/cli-reference/dolt.md
Due: none

docs: align agent maintainer conventions
  AGENTS.md
  AGENT_INSTRUCTIONS.md
  PR_MAINTAINER_GUIDELINES.md
  docs/AGENT_SIGNING.md
  docs/DOC_INVENTORY.md
  docs/SETUP.md
  internal/templates/agents/agents_test.go
  internal/templates/agents/defaults/agents.md.tmpl
  scripts/README.md
  scripts/gh-body-lint
Due: none

test(upgrade-smoke): exercise dependency blocker paths on migrated DB
  scripts/upgrade-smoke-test.sh
Due: none

/internal/storage/dolt: pr feedback
  internal/storage/dolt/credentials.go
  internal/storage/dolt/federation.go
  internal/storage/dolt/git_remote_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix(auto-import): make upgrade-recovery fallback non-destructive (#3955) (#3960)
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_test.go
  cmd/bd/auto_import_upgrade_unit_test.go
  cmd/bd/import_shared.go
  internal/storage/batch.go
  internal/storage/embeddeddolt/store.go
  internal/storage/issueops/create.go
  internal/storage/issueops/promote.go
Due: CLI Commands, Storage & Database

docs: add conservative Beads agent profile (#4220)
  cmd/bd/prime.go
  cmd/bd/prime_test.go
  docs/SETUP.md
  internal/recipes/template.go
  internal/templates/agents/defaults/agents.md.tmpl
  internal/templates/agents/defaults/beads-section-minimal.md
  internal/templates/agents/defaults/beads-section.md
Due: CLI Commands

test(auto-import): model concurrent writer guard (#4218)
  cmd/bd/auto_import_upgrade_unit_test.go
Due: none

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
