Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix(dolt): gate CLI routing on local remote availability
  internal/storage/dolt/federation.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix(dolt): use extended read timeout for SQL push/pull operations
  internal/storage/dolt/federation.go
  internal/storage/dolt/store.go
Due: Storage & Database

refactor(dolt): use ParseDSN for timeout rewrite and update doc comments
  internal/storage/dolt/store.go
Due: Storage & Database

docs(dolt): update isPeerGitProtocolRemote doc comment
  internal/storage/dolt/federation.go
Due: Storage & Database

test(dolt): update DSN rewrite test to match ParseDSN implementation
  internal/storage/dolt/store_unit_test.go
Due: none

feat: align bd preflight --check with CI checks (GH#2230)
  cmd/bd/preflight.go
  cmd/bd/preflight_test.go
Due: CLI Commands

fix: respect stealth mode (no-git-ops) in backup git push (GH#2290)
  cmd/bd/backup_auto_test.go
Due: none

feat: add JSONL-to-Dolt migration script (GH#2276)
  scripts/migrate-jsonl-to-dolt.sh
Due: none

fix(ready): molecule steps appear in bd ready, remove stale filtering (GH#1359)
  cmd/bd/mol_ready_gated.go
  cmd/bd/ready_test.go
  internal/types/types.go
Due: CLI Commands, Core Types & Utilities

fix: prevent OSC escape leaks when third-party hook runners call bd hooks run (GH#1303)
  cmd/bd/hooks.go
Due: CLI Commands

fix: enforce same-type blocking validation for dependencies (GH#1495)
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/dependencies_extended_test.go
Due: Storage & Database

fix: validateIssueIDPrefix now checks allowed_prefixes config (GH#1179)
  internal/storage/dolt/issues.go
Due: Storage & Database

chore: bump version to 0.58.0
  .claude-plugin/marketplace.json
  CHANGELOG.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/info.go
  cmd/bd/version.go
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
Due: CLI Commands

fix(dolt): gate CLI routing on local remote availability and extend SQL push timeout (#2295)
  internal/storage/dolt/federation.go
  internal/storage/dolt/git_remote_test.go
  internal/storage/dolt/store.go
  internal/storage/dolt/store_unit_test.go
Due: Storage & Database

fix(dolt): retry on serialization error in TestConcurrentIssueCreation
  internal/storage/dolt/concurrent_test.go
  internal/storage/dolt/errors.go
Due: Storage & Database

fix(dep): add cross-prefix routing to dep commands (#2296)
  cmd/bd/dep.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/dependencies_extended_test.go
Due: CLI Commands, Storage & Database

refactor: consolidate ExtractPrefix into types package
  internal/routing/routes.go
  internal/storage/dolt/dependencies.go
  internal/types/id_generator.go
Due: Storage & Database, Core Types & Utilities

docs: document Docker test environment variables
  docs/TESTING.md
Due: none

bd: backup 2026-03-03 09:21
  .beads/backup/backup_state.json
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
Due: none

bd: backup 2026-03-03 09:36
  .beads/backup/backup_state.json
Due: none

bd: backup 2026-03-03 10:00
  .beads/backup/backup_state.json
Due: none

refactor(testutil): consolidate Dolt readiness into enum
  docs/TESTING.md
  internal/testutil/testdoltserver.go
Due: none

refactor(testutil): expand Dolt readiness to 5-state enum (#2304)
  docs/TESTING.md
  internal/testutil/testdoltserver.go
Due: none

Update flake.nix for nixpkgs-25.11, a fixed Go build, and slight restructuring.
  default.nix
  flake.lock
  flake.nix
  packages.nix
Due: none

refactor(testutil): remove StartTestDoltServer/TestDoltServer, add crash detection functions
  internal/storage/dolt/store.go
  internal/testutil/testdoltbranch.go
  internal/testutil/testdoltcommon.go
  internal/testutil/testdoltserver.go
  internal/testutil/testdoltserver_windows.go
Due: Storage & Database

refactor(tests): migrate all test files from StartTestDoltServer to container-native API
  beads_test.go
  cmd/bd/backup_restore_test.go
  cmd/bd/backup_test.go
  cmd/bd/doctor/dolt_e2e_test.go
  cmd/bd/doctor/dolt_phantom_test.go
  cmd/bd/doctor/fix/testmain_cgo_test.go
  cmd/bd/doctor/test_helpers_test.go
  cmd/bd/export_test.go
  cmd/bd/protocol/helpers_test.go
  cmd/bd/test_dolt_server_cgo_test.go
  cmd/bd/test_helpers_test.go
  internal/beads/beads_hash_multiclone_test.go
  internal/molecules/testmain_test.go
  internal/storage/dolt/migrations/testmain_test.go
  internal/storage/dolt/testmain_test.go
  internal/tracker/testmain_test.go
  internal/utils/testmain_test.go
  tests/regression/regression_test.go
Due: none

fix: CI failures — gofmt alignment + routing config precedence bug
  cmd/bd/routing_read.go
  internal/config/config.go
  internal/storage/dolt/filters_test.go
Due: CLI Commands, Core Types & Utilities

chore(testutil): remove unused port field from doltServer struct (bd-m7sy)
  internal/testutil/testdoltserver.go
Due: none

fix(tests): align tests with cross-type blocking validation
  cmd/bd/critical_paths_test.go
  cmd/bd/protocol/preservation_test.go
  cmd/bd/protocol/roundtrip_test.go
  cmd/bd/template_test.go
Due: none

fix: restore DerivePort as standalone default in DefaultConfig
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: none

fix(doltserver): log when Start() falls back to DerivePort on collision
  internal/doltserver/doltserver.go
Due: none

docs(doltserver): document birthday-problem collision recovery in DerivePort
  internal/doltserver/doltserver.go
Due: none

docs: add fancypantalons/nvim-beads to Community Tools
  docs/COMMUNITY_TOOLS.md
Due: none

docs: update GIT_INTEGRATION.md re deprecated beads-merge binary and Jujutsu integration
  docs/GIT_INTEGRATION.md
Due: none

fix(list): make --tree the default display mode for bd list
  cmd/bd/list.go
Due: CLI Commands

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
