Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix: add field validation parity to createWisp
  internal/storage/dolt/wisps.go
Due: Storage & Database

test: add validation parity tests for createWisp
  internal/storage/dolt/wisp_validation_test.go
Due: none

gitignore
  .beads/.gitignore
Due: none

fix: correct partial-failure test to expect exit 0 per PR design
  cmd/bd/protocol/exit_codes_test.go
Due: none

fix: run make fmt, trim whitespace on stored title/label values
  cmd/bd/label.go
  cmd/bd/repo.go
  cmd/bd/update.go
Due: CLI Commands

fix: report correct status when reopen/undefer is a no-op
  cmd/bd/protocol/lifecycle_test.go
  cmd/bd/protocol/protocol_test.go
  cmd/bd/reopen.go
  cmd/bd/undefer.go
Due: CLI Commands

fix: include waits-for deps in bd blocked output
  cmd/bd/protocol/blocked_test.go
  cmd/bd/protocol/protocol_test.go
  internal/storage/dolt/queries.go
Due: Storage & Database

fix(create): commit post-create metadata (deps, labels) to Dolt (GH#2009)
  cmd/bd/create.go
Due: CLI Commands

fix: add timeout + Dolt health check to git hooks to prevent hangs
  cmd/bd/hook.go
  cmd/bd/hooks.go
Due: CLI Commands

fix: revert BUG-11 status validation — breaks custom statuses
  cmd/bd/protocol/protocol_test.go
  cmd/bd/update.go
Due: CLI Commands

fix: validate status, title, and label inputs on update/label add
  cmd/bd/label.go
  cmd/bd/update.go
Due: CLI Commands

test(protocol): split input-validation tests into separate file
  cmd/bd/protocol/input_validation_test.go
  cmd/bd/protocol/protocol_test.go
Due: none

test: add protocol tests for input validation (BUG-11, BUG-12, BUG-14)
  cmd/bd/protocol/protocol_test.go
Due: none

fix: run make fmt, trim whitespace on stored title/label values
  cmd/bd/label.go
  cmd/bd/update.go
Due: CLI Commands

fix: address review feedback — use IsValidWithCustom(), add nil store guard
  cmd/bd/update.go
Due: CLI Commands

test(protocol): split status-validation tests into separate file
  cmd/bd/protocol/protocol_test.go
  cmd/bd/protocol/status_validation_test.go
Due: none

fix: validate status on update against built-in + custom statuses (BUG-11)
  cmd/bd/protocol/protocol_test.go
  cmd/bd/update.go
Due: CLI Commands

fix: run make fmt on doctor files
  cmd/bd/doctor.go
  cmd/bd/doctor/installation.go
  cmd/bd/doctor/validation.go
Due: CLI Commands

fix: exit non-zero on close guard and claim failures (BUG-10)
  cmd/bd/close.go
  cmd/bd/update.go
Due: CLI Commands

chore: remove BUG-10 references from code comments
  cmd/bd/close.go
  cmd/bd/update.go
Due: CLI Commands

test(protocol): split exit-code tests into separate file
  cmd/bd/protocol/exit_codes_test.go
  cmd/bd/protocol/protocol_test.go
Due: none

test: add protocol tests for BUG-10 exit code behavior
  cmd/bd/protocol/protocol_test.go
Due: none

fix: auto-clean stale Dolt noms LOCK files on bd startup
  cmd/bd/doctor/fix/locks.go
  cmd/bd/doctor/fix/locks_test.go
  cmd/bd/doctor/locks.go
  cmd/bd/main.go
  internal/storage/dolt/noms_lock.go
  internal/storage/dolt/noms_lock_test.go
Due: CLI Commands, Storage & Database

feat: auto-start Dolt server during bd init, add bd dolt start/stop
  cmd/bd/dolt.go
  cmd/bd/dolt_server.go
  cmd/bd/dolt_server_unix.go
  cmd/bd/dolt_server_windows.go
  cmd/bd/init.go
  cmd/bd/sync_git.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

style: fix gofmt string concatenation alignment
  cmd/bd/dolt_server.go
Due: CLI Commands

fix: suppress gosec G304 false positives on beadsDir-derived paths
  cmd/bd/dolt_server.go
Due: CLI Commands

fix(ci): resolve baseline windows, lint, and fmt failures
  cmd/bd/doctor/federation.go
  cmd/bd/doctor/gitignore_test.go
  cmd/bd/doctor/migration.go
  cmd/bd/doctor/validation.go
  cmd/bd/doctor_test.go
  cmd/bd/import_shared.go
  internal/doltserver/doltserver.go
  internal/doltserver/sysprocattr_unix.go
  internal/doltserver/sysprocattr_windows.go
  internal/storage/dolt/migrations/helpers.go
Due: CLI Commands, Storage & Database

feat(mcp): add dedicated claim tool for atomic start-work
  claude-plugin/agents/task-agent.md
  claude-plugin/commands/ready.md
  claude-plugin/commands/workflow.md
  claude-plugin/skills/beads/resources/PATTERNS.md
  docs/COPILOT_INTEGRATION.md
  docs/PLUGIN.md
  integrations/beads-mcp/src/beads_mcp/bd_client.py
  integrations/beads-mcp/src/beads_mcp/bd_daemon_client.py
  integrations/beads-mcp/src/beads_mcp/models.py
  integrations/beads-mcp/src/beads_mcp/server.py
  integrations/beads-mcp/src/beads_mcp/tools.py
  integrations/beads-mcp/tests/test_bd_client.py
  integrations/beads-mcp/tests/test_bd_client_integration.py
  integrations/beads-mcp/tests/test_mcp_server_integration.py
  integrations/beads-mcp/tests/test_tools.py
Due: none

fix(mcp): keep update semantics separate from claim
  integrations/beads-mcp/src/beads_mcp/server.py
Due: none

chore(mcp): drop unrelated docs/PLUGIN.md changes from PR
  docs/PLUGIN.md
Due: none

fix: atomic counter increment, gofmt, lint, and Windows build
  .beads/.gitignore
  cmd/bd/doctor/federation.go
  cmd/bd/doctor/gitignore_test.go
  cmd/bd/doctor/migration.go
  cmd/bd/doctor/validation.go
  cmd/bd/doctor_test.go
  cmd/bd/dolt.go
  cmd/bd/import_shared.go
  internal/doltserver/doltserver.go
  internal/doltserver/sysproc_unix.go
  internal/doltserver/sysproc_windows.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/migrations/helpers.go
  internal/testutil/testdoltserver.go
  scripts/repro-dolt-hang/main.go
Due: CLI Commands, Storage & Database

Fix double-prefix in wisp ID generation
  internal/storage/dolt/wisps.go
Due: Storage & Database

fix(doltserver): add filesystem heuristic fallback for Gas Town detection
  cmd/bd/dolt.go
  cmd/bd/init.go
  cmd/bd/main.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix(doctor): follow redirect when fixing outdated .beads/.gitignore
  cmd/bd/doctor/gitignore.go
  cmd/bd/doctor/gitignore_test.go
Due: CLI Commands

fix(doctor): exclude wisp tables from Dolt Status/Locks warnings
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/dolt_test.go
  cmd/bd/doctor/migration_validation.go
Due: CLI Commands

fix: check scanner.Err in getHookVersion and handle read errors in hooksNeedUpdate
  cmd/bd/hooks.go
  cmd/bd/init_git_hooks.go
  cmd/bd/init_hooks_test.go
Due: CLI Commands

fix: address review findings for stale hooks detection
  cmd/bd/init.go
  cmd/bd/init_git_hooks.go
  cmd/bd/init_hooks_test.go
Due: CLI Commands

feat: auto-update stale hooks during bd init (GH#1466)
  cmd/bd/init.go
  cmd/bd/init_git_hooks.go
  cmd/bd/init_hooks_test.go
Due: CLI Commands

fix(doctor): suppress expected .beads/ deletions in redirect worktrees
  cmd/bd/doctor/git.go
  cmd/bd/doctor/git_hygiene_test.go
Due: CLI Commands

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
