Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

docs(postgres): be-c9qj.3 write §5 (DSN forms) + §7 (Backup/Restore) + §11 (Config Reference)
  docs/tmp-postgres/pg-backend-b3-sections-5-7-11.md
Due: none

docs(postgres): be-c9qj.4 write §8 (Migration) + §9 (Gotchas) + §10 (Troubleshooting) + §12 (See Also)
  docs/tmp-postgres/pg-backend-b4-sections-8-9-10-12.md
Due: none

chore: release gate PASS for be-ucslk4-dolt-ship (be-qd2vmt)
  release-gates/be-ucslk4-dolt-ship-gate.md
Due: none

fix(filters): wire LabelPattern/LabelRegex through SQL builder (be-ucslk4)
  cmd/bd/list_embedded_test.go
  internal/storage/issueops/filters.go
  internal/storage/issueops/filters_test.go
Due: Storage & Database

fix(list): suppress truncation hint in --json mode + lock-in label filter tests (be-acnquj)
  cmd/bd/list_output.go
  cmd/bd/list_test.go
Due: CLI Commands

docs(postgres): be-c9qj.5 assemble docs/POSTGRES-BACKEND.md from B1-B4 sections
  docs/POSTGRES-BACKEND.md
Due: none

/internal/storage/issueops/ready_work.go: fix ready work query
  internal/storage/issueops/ready_work.go
Due: Storage & Database

/{cmd,internal}: some cleanup
  cmd/bd/config.go
  cmd/bd/init.go
  internal/doltserver/doltserver.go
Due: CLI Commands

/internal/storage/issueops/ready_work_test.go: fix tests
  internal/storage/issueops/ready_work_test.go
Due: none

/{docs,website}: generate docs
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/config.md
  website/docs/cli-reference/init.md
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: none

auto-import: gate JSONL upgrade-recovery to embedded server mode
  cmd/bd/main.go
Due: CLI Commands

chore: release gate PASS for be-5hl6 (auto-import embedded-mode gate)
  release-gates/be-5hl6-gate.md
Due: none

/internal/storage/issueops/dependencies.go: remove comment
  internal/storage/issueops/dependencies.go
Due: Storage & Database

docs(postgres): be-c9qj.6 fix be-ybjh review blockers
  docs/AUDIT_TRAIL_POSTGRES.md
  docs/POSTGRES-BACKEND.md
  docs/tmp-postgres/pg-backend-b1-sections-2-6.md
  docs/tmp-postgres/pg-backend-b2-sections-1-3-4.md
  docs/tmp-postgres/pg-backend-b3-sections-5-7-11.md
  docs/tmp-postgres/pg-backend-b4-sections-8-9-10-12.md
Due: none

chore: release gate PASS for be-z33z (CONTRIBUTING_PR_GUIDELINES docs)
  release-gates/be-z33z-gate.md
Due: none

chore: release gate PASS for be-iprk (bd show count-only + iter flags)
  release-gates/be-iprk-gate.md
Due: none

Document import path portability
  cmd/bd/config.go
  cmd/bd/init_templates.go
  docs/CLI_REFERENCE.md
  docs/CONFIG.md
  website/docs/cli-reference/config.md
  website/docs/reference/configuration.md
  website/versioned_docs/version-1.0.0/cli-reference/config.md
  website/versioned_docs/version-1.0.0/reference/configuration.md
  website/versioned_docs/version-1.0.4/cli-reference/config.md
  website/versioned_docs/version-1.0.4/reference/configuration.md
Due: CLI Commands

fix(audit): widen newID entropy to 8 bytes (be-yc9h)
  internal/audit/audit.go
Due: none

/{cmd,internal}: wip, implementing init with proxied-server
  cmd/bd/fs_adapters.go
  cmd/bd/init.go
  cmd/bd/init_proxied_server.go
  cmd/bd/init_templates.go
  cmd/bd/main.go
  cmd/bd/uow_factory.go
  internal/storage/domain/beads.go
  internal/storage/domain/bootstrap.go
  internal/storage/domain/config.go
  internal/storage/domain/db/config.go
  internal/storage/domain/db/config_test.go
  internal/storage/domain/db/remote.go
  internal/storage/domain/db/suite_test.go
  internal/storage/domain/fs/beads.go
  internal/storage/domain/fs/beads_test.go
  internal/storage/domain/fs/suite_test.go
  internal/storage/domain/remote.go
  internal/storage/fs/provider.go
  internal/storage/uow/doltserver_provider.go
  internal/storage/uow/doltserver_provider_test.go
  internal/storage/uow/doltserver_tx.go
  internal/storage/uow/tx.go
  internal/storage/uow/uow.go
Due: CLI Commands, Storage & Database

chore: release gate PASS for be-llaf (fix(import): sync issue_prefix)
  release-gates/be-llaf-gate.md
Due: none

chore: release gate PASS for be-7daa14 (feat(init): auto-configure contributor routing)
  release-gates/be-7daa14-gate.md
Due: none

/{cmd,internal}: refactoring
  cmd/bd/doctor/gitignore.go
  cmd/bd/doctor/gitignore_test.go
  cmd/bd/fs_adapters.go
  cmd/bd/init_proxied_server.go
  cmd/bd/init_templates.go
  internal/storage/domain/beads.go
  internal/storage/domain/fs/beads.go
  internal/storage/domain/fs/beads_test.go
  internal/storage/domain/fs/suite_test.go
  internal/storage/domain/git.go
  internal/storage/domain/git/git.go
  internal/storage/domain/git/git_test.go
  internal/storage/domain/git/suite_test.go
  internal/storage/fs/provider.go
  internal/storage/git/provider.go
Due: CLI Commands, Storage & Database

/{cmd,internal}: cleanup
  cmd/bd/init_proxied_server.go
  internal/storage/domain/beads.go
  internal/storage/uow/doltserver_provider.go
Due: CLI Commands, Storage & Database

/{cmd,internal}: more cleanup
  cmd/bd/init_templates.go
  cmd/bd/main.go
  internal/storage/domain/beads.go
  internal/storage/domain/config.go
  internal/storage/domain/db/config.go
  internal/storage/domain/fs/beads.go
  internal/storage/domain/fs/suite_test.go
Due: CLI Commands, Storage & Database

/.github/workflows/ci.yml: run tests in CI
  .github/workflows/ci.yml
Due: none

test: add perf reference benchmarks
  BENCHMARKS.md
  internal/storage/dolt/dolt_benchmark_test.go
  scripts/bench-ready-indexes/main.go
  scripts/repro-dolt-prod-timeouts/main.go
  scripts/repro-dolt-prod-timeouts/main_test.go
Due: none

test: tighten perf reference benchmarks
  BENCHMARKS.md
  internal/storage/dolt/dolt_benchmark_test.go
Due: none

Fix perf benchmark review findings (bd-fsgqsj)
  BENCHMARKS.md
  internal/storage/dolt/dolt_benchmark_test.go
  scripts/bench-ready-indexes/main.go
  scripts/bench-ready-indexes/main_test.go
  scripts/repro-dolt-prod-timeouts/main.go
  scripts/repro-dolt-prod-timeouts/main_test.go
Due: none

test: add perf reference benchmarks (#4032)
  BENCHMARKS.md
  internal/storage/dolt/dolt_benchmark_test.go
  scripts/bench-ready-indexes/main.go
  scripts/bench-ready-indexes/main_test.go
  scripts/repro-dolt-prod-timeouts/main.go
  scripts/repro-dolt-prod-timeouts/main_test.go
Due: none

feat(doctor): detect orphaned child issues in deep validation (bd-3852)
  cmd/bd/doctor/deep.go
Due: CLI Commands

feat(preflight): implement --fix mode for vendorHash and version sync
  cmd/bd/preflight.go
Due: CLI Commands

refactor(errors): replace fmt.Fprintf+os.Exit with FatalError* (be-udvd)
  cmd/bd/audit.go
  cmd/bd/compact.go
  cmd/bd/config.go
  cmd/bd/dolt.go
  cmd/bd/help_all.go
  cmd/bd/init.go
  cmd/bd/init_proxied_server.go
  cmd/bd/linear.go
  cmd/bd/ready.go
  cmd/bd/restore.go
  cmd/bd/search.go
  cmd/bd/sql.go
Due: CLI Commands

/internal/storage/{uow,domain}: wip stubs
  internal/storage/domain/child_counter.go
  internal/storage/domain/comment.go
  internal/storage/domain/config.go
  internal/storage/domain/create_issue.go
  internal/storage/domain/db/child_counter.go
  internal/storage/domain/db/comment.go
  internal/storage/domain/db/config.go
  internal/storage/domain/db/dependency.go
  internal/storage/domain/db/issue.go
  internal/storage/domain/db/label.go
  internal/storage/domain/dependency.go
  internal/storage/domain/issue.go
  internal/storage/domain/label.go
  internal/storage/domain/list_issues.go
  internal/storage/uow/uow.go
Due: Storage & Database

docs: sync CLI_REFERENCE.md --fix help text with live CLI (be-xra8, be-roho)
  docs/CLI_REFERENCE.md
Due: none

/internal/storage/domain/db: issue
  internal/storage/domain/db/issue.go
  internal/storage/domain/db/issue_test.go
Due: Storage & Database

formula: surface intent field in JSON output
  internal/formula/types.go
Due: none

/internal/storage/domain: add event
  internal/storage/domain/db/events.go
  internal/storage/domain/db/issue.go
  internal/storage/domain/events.go
Due: Storage & Database

docs(preflight): regenerate website CLI reference for --fix flag (be-laor)
  website/docs/cli-reference/preflight.md
  website/versioned_docs/version-1.0.0/cli-reference/preflight.md
  website/versioned_docs/version-1.0.4/cli-reference/preflight.md
Due: none

/internal/storage/domain/db: comments
  internal/storage/domain/db/comment.go
  internal/storage/domain/db/comment_test.go
  internal/storage/domain/db/events_test.go
  internal/storage/domain/db/label.go
  internal/storage/domain/db/label_test.go
Due: Storage & Database

/internal/storage/domain/db: dependency
  internal/storage/domain/db/dependency.go
  internal/storage/domain/db/dependency_test.go
Due: Storage & Database
