Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

fix(doctor): check configured backend, not directory presence, for SQLite artifacts
  cmd/bd/doctor/artifacts.go
Due: CLI Commands

fix(mcp): sanitize raw dependency records before Pydantic validation
  integrations/beads-mcp/src/beads_mcp/bd_client.py
Due: none

test(dolt): add SQLite-backed unit tests for execContext and getAdaptiveIDLength
  internal/storage/dolt/store_unit_test.go
Due: none

refactor(dolt): remove vestigial embedded-mode artifacts
  cmd/bd/bootstrap.go
  cmd/bd/completions.go
  cmd/bd/doctor/deep_open.go
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/dolt_test.go
  cmd/bd/doctor/migration_validation.go
  cmd/bd/export.go
  cmd/bd/gitlab.go
  cmd/bd/init.go
  cmd/bd/linear.go
  cmd/bd/list.go
  cmd/bd/main.go
  internal/storage/dolt/dolt_benchmark_test.go
  internal/storage/dolt/hub_spokes_integration_test.go
  internal/storage/dolt/nested_query_test.go
  internal/storage/dolt/open.go
  internal/storage/dolt/peer_sync_integration_test.go
  internal/storage/dolt/server_dependency_test.go
  internal/storage/dolt/server_integration_test.go
  internal/storage/dolt/store.go
  internal/storage/dolt/watchdog_test.go
Due: CLI Commands, Storage & Database

fix: wisp code cleanup — dead code, stale comments, minor bugs
  cmd/bd/main.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/migrations/004_wisps_table.go
  internal/storage/dolt/wisps.go
Due: CLI Commands, Storage & Database

fix: resolve merge conflict remnant in list_format.go
  cmd/bd/list_format.go
Due: CLI Commands

fix: add SIGTERM flush for batch commits and improve commit messages
  CHANGELOG.md
  cmd/bd/main.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix(dolt): re-init schema after branch checkout for untracked tables
  internal/storage/dolt/store.go
Due: Storage & Database

refactor(jsonl): remove JSONL plumbing — Dolt-native only (gt-vemg9q Phase 1)
  .beads-hooks/post-checkout
  .beads-hooks/post-merge
  .beads-hooks/pre-commit
  .beads-hooks/pre-push
  cmd/bd/delete.go
  cmd/bd/doctor.go
  cmd/bd/doctor/fix/jsonl_integrity.go
  cmd/bd/doctor/jsonl_integrity.go
  cmd/bd/doctor/jsonl_integrity_test.go
  cmd/bd/doctor/migration_validation.go
  cmd/bd/doctor/sync_divergence.go
  cmd/bd/doctor_fix.go
  cmd/bd/dolt_jsonl_roundtrip_integration_test.go
  cmd/bd/dolt_native_no_fallback_integration_test.go
  cmd/bd/events_export.go
  cmd/bd/export.go
  cmd/bd/hook.go
  cmd/bd/hook_test.go
  cmd/bd/hooks.go
  cmd/bd/hooks_test.go
  cmd/bd/import.go
  cmd/bd/init.go
  cmd/bd/init_test.go
  cmd/bd/integrity.go
  cmd/bd/integrity_content_test.go
  cmd/bd/integrity_test.go
  cmd/bd/rename_prefix.go
  cmd/bd/repo.go
  cmd/bd/restore.go
  cmd/bd/stubs.go
  cmd/bd/sync.go
  cmd/bd/sync_helpers.go
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
Due: CLI Commands

refactor(bootstrap): remove JSONL bootstrap, Dolt clone only (gt-vemg9q.1)
  cmd/bd/bootstrap.go
  cmd/bd/doctor/sync_divergence_test.go
  internal/storage/dolt/bootstrap.go
  internal/storage/dolt/bootstrap_test.go
Due: CLI Commands, Storage & Database

refactor(jsonl): remove cross-rig JSONL flush from create and rename-prefix (gt-vemg9q.4)
  cmd/bd/create.go
  cmd/bd/create_routing_flush_test.go
  cmd/bd/rename_prefix.go
Due: CLI Commands

refactor(config): deprecate git-portable/belt-and-suspenders sync modes (gt-vemg9q.5)
  cmd/bd/config.go
  cmd/bd/doctor/kv.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/sync.go
  internal/config/sync_test.go
  internal/config/testmain_test.go
Due: CLI Commands, Core Types & Utilities

fix(mol): auto-close wisp root after squash
  cmd/bd/mol_squash.go
Due: CLI Commands

fix(ci): repair pre-existing lint and test failures
  cmd/bd/info.go
Due: CLI Commands

feat: add SIGTERM/SIGHUP batch commit flush and improve commit messages
  cmd/bd/main.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix: resolve pre-existing CI failures (gt-ngoe)
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
  cmd/bd/templates/hooks/pre-push
  cmd/bd/templates/hooks/prepare-commit-msg
Due: CLI Commands

fix(queries): add nil guard in GetBlockedIssues and GetEpicsEligibleForClosure
  internal/storage/dolt/queries.go
Due: Storage & Database

refactor(restore): replace JSONL git history with dolt_history_ tables (gt-vemg9q.2)
  cmd/bd/restore.go
  cmd/bd/restore_test.go
Due: CLI Commands

refactor(doctor): remove JSONL recovery paths from bd doctor (gt-vemg9q.3)
  cmd/bd/doctor.go
  cmd/bd/doctor/database.go
  cmd/bd/doctor/database_test.go
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/fix/database_config.go
  cmd/bd/doctor/fix/database_config_test.go
  cmd/bd/doctor/fix/database_integrity.go
  cmd/bd/doctor/fix/fix_test.go
  cmd/bd/doctor/fix/recovery.go
  cmd/bd/doctor/fix/recovery_test.go
  cmd/bd/doctor/fix/sync.go
  cmd/bd/doctor/fix/validation_test.go
  cmd/bd/doctor/prefix_test.go
  cmd/bd/doctor_fix.go
  cmd/bd/doctor_test.go
Due: CLI Commands

refactor(sync): make bd sync a deprecated no-op, update agent instructions
  .github/copilot-instructions.md
  AGENT_INSTRUCTIONS.md
  claude-plugin/skills/beads/SKILL.md
  cmd/bd/@AGENTS.md
  cmd/bd/AGENTS.md
  cmd/bd/init_git_hooks.go
  cmd/bd/init_templates.go
  cmd/bd/main.go
  cmd/bd/migrate.go
  cmd/bd/sync.go
  docs/CLAUDE.md
Due: CLI Commands

fix: repair all cmd/bd tests broken by embedded Dolt removal (bd-9z7pf)
  cmd/bd/doctor_validate_test.go
  cmd/bd/dolt_test.go
  cmd/bd/init.go
  cmd/bd/list_test.go
  cmd/bd/migrate_dolt_metadata_test.go
  cmd/bd/move_test.go
  cmd/bd/ready_test.go
  cmd/bd/test_dolt_server_test.go
  cmd/bd/test_helpers_test.go
  cmd/bd/test_repo_beads_guard_test.go
  cmd/bd/update_metadata_test.go
  internal/storage/dolt/retry_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix: handle error return from hash.Write to satisfy gosec G104
  internal/storage/dolt/store.go
Due: Storage & Database

fix(cook): propagate cross-expansion dependencies to expanded steps
  internal/formula/expand.go
  internal/formula/expand_test.go
Due: none

fix(hooks): update hook templates to use 'bd hooks run' instead of deleted 'bd hook'
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
  cmd/bd/templates/hooks/pre-commit
Due: CLI Commands

feat(otel): comprehensive OpenTelemetry instrumentation
  cmd/bd/find_duplicates.go
  cmd/bd/main.go
  docs/OBSERVABILITY.md
  go.mod
  go.sum
  internal/compact/haiku.go
  internal/hooks/hooks_unix.go
  internal/hooks/hooks_windows.go
  internal/storage/dolt/store.go
  internal/telemetry/otlp.go
  internal/telemetry/storage.go
  internal/telemetry/telemetry.go
  internal/tracker/engine.go
Due: CLI Commands, Storage & Database, Sync & Git Operations, External Integrations

refactor(otel): align with VictoriaMetrics HTTP stack
  go.mod
  go.sum
  internal/telemetry/otlp.go
  internal/telemetry/telemetry.go
Due: none

feat(otel): capture hook stdout/stderr and bd.args in spans
  cmd/bd/main.go
  internal/hooks/hooks.go
  internal/hooks/hooks_otel.go
  internal/hooks/hooks_unix.go
  internal/hooks/hooks_windows.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database, Sync & Git Operations

fix(hooks): use bd hooks run instead of nonexistent bd hook in shim templates
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
  cmd/bd/templates/hooks/pre-commit
Due: CLI Commands

refactor: remove embedded Dolt server code entirely
  cmd/bd/doctor/federation.go
  cmd/bd/dolt.go
  cmd/bd/dolt_test.go
  cmd/bd/test_dolt_server_test.go
  cmd/bd/test_helpers_test.go
  docs/design/dolt-concurrency.md
  internal/storage/dolt/hub_spokes_integration_test.go
  internal/storage/dolt/nested_query_test.go
  internal/storage/dolt/peer_sync_integration_test.go
  internal/storage/dolt/procattr_unix.go
  internal/storage/dolt/procattr_windows.go
  internal/storage/dolt/process_unix.go
  internal/storage/dolt/process_windows.go
  internal/storage/dolt/server.go
  internal/storage/dolt/server_dependency_test.go
  internal/storage/dolt/server_integration_test.go
  internal/storage/dolt/server_test.go
  internal/storage/dolt/store.go
  internal/storage/dolt/watchdog.go
  internal/storage/dolt/watchdog_test.go
Due: CLI Commands, Storage & Database

Fix waits-for readiness in ready and molecule analysis
  cmd/bd/mol_show.go
  cmd/bd/mol_test.go
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/queries.go
  internal/types/types.go
  internal/types/types_test.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

docs(waits-for): clarify canonical spawner identity (#1899)
  internal/storage/dolt/queries.go
  internal/types/types.go
Due: Storage & Database, Core Types & Utilities

fix(mol): auto-close wisp root after squash (#1898)
  cmd/bd/info.go
  cmd/bd/mol_squash.go
Due: CLI Commands

feat: make metadata queryable from bd list, bd search, and bd query
  cmd/bd/list.go
  cmd/bd/metadata_filter_test.go
  cmd/bd/search.go
  internal/query/evaluator.go
  internal/query/query_test.go
  internal/storage/dolt/queries.go
  internal/storage/metadata.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Query & Filtering, Core Types & Utilities

feat(cook): support standalone expansion formula execution in bd mol wisp
  cmd/bd/cook.go
  cmd/bd/cook_test.go
  internal/formula/expand.go
  internal/formula/expand_test.go
Due: CLI Commands

feat(cook): support standalone expansion formula execution in bd mol wisp (#1903)
  cmd/bd/cook.go
  cmd/bd/cook_test.go
  internal/formula/expand.go
  internal/formula/expand_test.go
Due: CLI Commands

feat(metadata): add human-readable metadata visibility to bd show and bd list --long
  cmd/bd/list_format.go
  cmd/bd/show.go
  cmd/bd/show_format.go
  cmd/bd/show_format_metadata_test.go
Due: CLI Commands

feat(metadata): add human-readable metadata visibility to bd show and bd list --long (#1905)
  cmd/bd/list_format.go
  cmd/bd/show.go
  cmd/bd/show_format.go
  cmd/bd/show_format_metadata_test.go
Due: CLI Commands
