Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix(cli): keep repo .beads for external dolt data
  cmd/bd/main.go
  cmd/bd/main_test.go
Due: CLI Commands

style: format current main baseline
  cmd/bd/import.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

Support bare-parent worktree beads fallback
  cmd/bd/init.go
  cmd/bd/init_test.go
  internal/beads/beads.go
  internal/beads/beads_test.go
Due: CLI Commands, Core Types & Utilities

Fix doctor target-path repo fingerprint resolution (beads-upstream-103)
  cmd/bd/doctor/fix/metadata.go
  cmd/bd/doctor/fix/repo_fingerprint.go
  cmd/bd/doctor/integrity.go
  cmd/bd/doctor/integrity_path_cgo_test.go
  internal/beads/fingerprint.go
  internal/beads/fingerprint_test.go
Due: CLI Commands, Core Types & Utilities

Format Go files for CI
  cmd/bd/import.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

Fix bd doctor bare-parent fallback checks
  cmd/bd/doctor.go
  cmd/bd/doctor/backend.go
  cmd/bd/doctor/database_test.go
  cmd/bd/doctor/installation.go
  cmd/bd/doctor/installation_test.go
Due: CLI Commands

fix(doctor): honor bare-parent beads dir for gitignore repair (beads-9f74-q9o)
  cmd/bd/doctor/gitignore.go
  cmd/bd/doctor/gitignore_test.go
Due: CLI Commands

fix(doctor): use effective beads dir for shared-server checks (beads-9f74-385)
  cmd/bd/doctor/bare_parent_fallback_test.go
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/version.go
Due: CLI Commands

fix(doctor): honor bare-parent fallback in dolt lock checks (beads-9f74-f5e)
  cmd/bd/doctor/bare_parent_fallback_test.go
  cmd/bd/doctor/migration_validation.go
Due: CLI Commands

fix: store credential key in .beads/ to avoid ghost dolt directories (bd-cby)
  internal/storage/dolt/credentials.go
  internal/storage/dolt/credentials_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

Honor repo config when reopening stores by path
  cmd/bd/completions.go
  cmd/bd/github.go
  cmd/bd/gitlab.go
  cmd/bd/linear.go
  cmd/bd/list.go
  cmd/bd/store_reopen.go
  cmd/bd/store_reopen_test.go
Due: CLI Commands

feat(setup): target CLAUDE.md and GEMINI.md for hooks integrations
  cmd/bd/setup/agents.go
  cmd/bd/setup/agents_marker_test.go
  cmd/bd/setup/claude.go
  cmd/bd/setup/claude_test.go
  cmd/bd/setup/gemini.go
  cmd/bd/setup/gemini_test.go
  docs/CLI_REFERENCE.md
  docs/SETUP.md
Due: CLI Commands

docs: add security verification note for installers (GH#1857)
  README.md
Due: none

fix: gofmt import.go and update stale embedded dolt from_jsonl test
  cmd/bd/import.go
  cmd/bd/init_embedded_test.go
Due: CLI Commands

harden installers and docs for transparent trust model (GH#1857)
  README.md
  docs/ANTIVIRUS.md
  docs/INSTALLING.md
  docs/TROUBLESHOOTING.md
  install.ps1
  scripts/install.sh
Due: none

fix: port-0 circuit breaker poisoning prevention (fix-merge PR #2599)
  internal/storage/dolt/circuit.go
  internal/storage/dolt/circuit_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix: clean stale noms LOCK files before opening embedded dolt store
  cmd/bd/init.go
Due: CLI Commands

test: add prefix-scoped backup tests from PR #2608
  cmd/bd/backup_export_git_test.go
  cmd/bd/backup_restore_test.go
  cmd/bd/backup_test.go
Due: none

feat: add --no-history flag to bd create — skip Dolt commits without GC eligibility
  cmd/bd/cli_fast_test.go
  cmd/bd/create.go
  cmd/bd/export_test.go
  cmd/bd/import_from_jsonl_test.go
  cmd/bd/update.go
  cmd/bd/wisp.go
  internal/storage/dolt/demote_to_wisp_test.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/filters.go
  internal/storage/dolt/issue_scan.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/004_wisps_table.go
  internal/storage/dolt/migrations/011_add_no_history_column.go
  internal/storage/dolt/schema.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisp_gc_test.go
  internal/storage/dolt/wisps.go
  internal/storage/embeddeddolt/create_issue.go
  internal/storage/issueops/create.go
  internal/storage/issueops/helpers.go
  internal/types/types.go
  internal/types/types_test.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

fix: add timeout and prompt suppression to git ls-remote probe
  cmd/bd/sync_git.go
Due: CLI Commands

fix(init): warn when server host defaults to localhost
  cmd/bd/init.go
Due: CLI Commands

feat: include memories in export/import round-trip
  cmd/bd/export.go
  cmd/bd/import.go
  cmd/bd/import_shared.go
Due: CLI Commands

docs: add central Dolt server setup guide for macOS
  docs/DOLT-BACKEND.md
Due: none

feat: prime SSOT tasks 1-3 — shared render API, template profiles, prefix-aware parser (#2139)
  cmd/bd/setup/agents.go
  cmd/bd/setup/agents_marker_test.go
  cmd/bd/setup/factory_test.go
  internal/templates/agents/defaults/beads-section-minimal.md
  internal/templates/agents/render.go
  internal/templates/agents/render_test.go
Due: CLI Commands

feat: Claude and Gemini setup install minimal AGENTS.md section (#2139, tasks 5-6)
  cmd/bd/setup/claude.go
  cmd/bd/setup/gemini.go
Due: CLI Commands

refactor: init uses RenderSection with profile metadata (#2139, task 7)
  cmd/bd/init_agent.go
Due: CLI Commands

style: fix gofmt formatting
  internal/templates/agents/render_test.go
Due: none

feat: prime SSOT tasks 8-12 — init upgrade, recipe cleanup, symlink safety, staleness detection (#2139)
  cmd/bd/init_agent.go
  cmd/bd/setup/agents.go
  cmd/bd/setup/agents_marker_test.go
  cmd/bd/setup/factory_test.go
  docs/CLI_REFERENCE.md
  docs/SETUP.md
  internal/recipes/template.go
Due: CLI Commands

fix: suppress gosec G304 for resolved agent path
  cmd/bd/setup/agents.go
Due: CLI Commands

feat: explicit profile:full on all AGENTS.md integrations (#2139, task 4)
  cmd/bd/setup/codex.go
  cmd/bd/setup/factory.go
  cmd/bd/setup/mux.go
  cmd/bd/setup/opencode.go
Due: CLI Commands

fix: sync agents.md.tmpl beads section with beads-section.md
  internal/templates/agents/defaults/agents.md.tmpl
Due: none

fix: preserve source rig's dolt_database across .beads/redirect
  cmd/bd/main.go
  cmd/bd/routed.go
  internal/beads/beads.go
  internal/beads/beads_test.go
  internal/routing/routes.go
Due: CLI Commands, Core Types & Utilities

feat: auto-export git-tracked JSONL for portability without Dolt remote
  cmd/bd/doctor/gitignore.go
  cmd/bd/doctor/tracked_runtime.go
  cmd/bd/export_auto.go
  cmd/bd/main.go
  internal/config/config.go
  internal/config/yaml_config.go
Due: CLI Commands, Core Types & Utilities

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
