Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix: suppress pre-existing gosec false positives with nolint directives
  cmd/bd/main.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_unix.go
Due: CLI Commands

/internal/storage: add interfaces for methods not covered by Storage
  internal/storage/advanced_queries.go
  internal/storage/annotation_queries.go
  internal/storage/bulk_issues.go
  internal/storage/compaction.go
  internal/storage/config_metadata.go
  internal/storage/dependency_queries.go
  internal/storage/dolt/federation.go
  internal/storage/dolt/store.go
  internal/storage/embeddeddolt/store.go
  internal/storage/federation.go
  internal/storage/history_viewer.go
  internal/storage/remote.go
  internal/storage/storage.go
  internal/storage/sync.go
  internal/storage/version_control.go
Due: Storage & Database

Update internal/storage/annotation_queries.go
  internal/storage/annotation_queries.go
Due: Storage & Database

Update internal/storage/embeddeddolt/store.go
  internal/storage/embeddeddolt/store.go
Due: Storage & Database

/internal/storage/storage.go: fix store name
  internal/storage/storage.go
Due: Storage & Database

refactor: remove dead sync trigger config (export_on/import_on)
  docs/CONFIG.md
  docs/audit-sync-mode-complexity.md
  internal/config/config.go
  internal/config/config_test.go
Due: Core Types & Utilities

refactor: remove vestigial SyncMode machinery
  cmd/bd/config.go
  cmd/bd/config_test.go
  cmd/bd/test_helpers_test.go
  cmd/bd/test_repo_beads_guard_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/sync.go
  internal/config/sync_test.go
  internal/config/testmain_test.go
Due: CLI Commands, Core Types & Utilities

cleanup: remove daemon infrastructure remnants (w-bd-001)
  cmd/bd/backup_export.go
  cmd/bd/cli_coverage_show_test.go
  cmd/bd/close.go
  cmd/bd/create.go
  cmd/bd/dep.go
  cmd/bd/doctor_repair_chaos_test.go
  cmd/bd/doctor_repair_test.go
  cmd/bd/dolt_autocommit_integration_test.go
  cmd/bd/dolt_doctor_integration_test.go
  cmd/bd/dolt_metadata_e2e_test.go
  cmd/bd/init_cancel_e2e_test.go
  cmd/bd/init_test.go
  cmd/bd/list.go
  cmd/bd/main_errors.go
  cmd/bd/mol_burn.go
  cmd/bd/mol_squash.go
  cmd/bd/protocol/helpers_test.go
  cmd/bd/reopen_defer_test.go
  cmd/bd/reparent_test.go
  cmd/bd/repo.go
  cmd/bd/routed.go
  cmd/bd/test_repo_beads_guard_test.go
  cmd/bd/update_edge_cases_test.go
  cmd/bd/wisp.go
  docs/ADVANCED.md
  docs/DOLT.md
  docs/WORKTREES.md
  integrations/beads-mcp/tests/test_mcp_server_integration.py
  integrations/beads-mcp/tests/test_worktree_separate_dbs.py
  internal/beads/beads.go
  internal/beads/beads_hash_multiclone_test.go
  internal/beads/context.go
  internal/config/config.go
  internal/config/config_test.go
  internal/configfile/configfile.go
  internal/utils/path.go
  tests/regression/regression_test.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

style: fix gofmt trailing newline in test_repo_beads_guard_test.go
  cmd/bd/test_repo_beads_guard_test.go
Due: none

fix: use Root().PersistentFlags() to check --json flag in PersistentPreRun
  cmd/bd/main.go
Due: CLI Commands

Support ai.api_key config as fallback for ANTHROPIC_API_KEY env var
  cmd/bd/compact.go
  cmd/bd/find_duplicates.go
  internal/compact/haiku.go
Due: CLI Commands, Storage & Database

Fix config package shadow in compact command
  cmd/bd/compact.go
Due: CLI Commands

fix(dolt): address PR #2416 feedback - shared server init, port, doctor tests
  cmd/bd/doctor/dolt_test.go
  cmd/bd/init.go
  docs/DOLT-BACKEND.md
  docs/DOLT.md
  docs/TROUBLESHOOTING.md
  docs/design/otel/otel-architecture.md
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: CLI Commands

docs: add unique prefix warning for shared server mode
  docs/DOLT.md
Due: none

Prefer stable branch worktrees for BEADS_DIR
  internal/beads/beads.go
  internal/beads/beads_test.go
Due: Core Types & Utilities

fix: replace stale 'bd sync' references with bd dolt push/commit (GH#2435)
  cmd/bd/doctor/agent.go
  cmd/bd/dolt_autocommit.go
  cmd/bd/init_contributor.go
  cmd/bd/init_git_hooks.go
  cmd/bd/main.go
  cmd/bd/setup/aider.go
  cmd/bd/setup/aider_test.go
  cmd/bd/setup/cursor.go
  cmd/bd/setup/cursor_test.go
  cmd/bd/setup/junie.go
  cmd/bd/setup/junie_test.go
  cmd/bd/setup/mux.go
  docs/COPILOT_INTEGRATION.md
Due: CLI Commands

fix: init guard allows fresh clones with committed metadata.json (GH#2433)
  cmd/bd/init.go
  cmd/bd/init_guard_test.go
Due: CLI Commands

fix(list): --json flag ignored when --tree defaults to true
  cmd/bd/list.go
Due: CLI Commands

fix: detect wrong-server scenario when explicit port is occupied by another project (GH#2445)
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
  internal/storage/dolt/open.go
Due: Storage & Database

fix: only trigger wrong-server recovery when server is reachable
  internal/doltserver/doltserver.go
  internal/storage/dolt/open.go
Due: Storage & Database

fix: add wrong-server detection to CLI main path (main.go)
  cmd/bd/main.go
Due: CLI Commands

Revert "fix: add wrong-server detection to CLI main path (main.go)"
  cmd/bd/main.go
Due: CLI Commands

fix(dolt): pass --user flag to dolt CLI push/pull/fetch
  internal/storage/dolt/federation.go
  internal/storage/dolt/store.go
Due: Storage & Database

.gitignore
  .gitignore
Due: none

feat(dolt): add remote_credentials table for per-remote credential storage
  internal/storage/dolt/remote_credentials.go
  internal/storage/dolt/remote_credentials_test.go
  internal/storage/dolt/schema.go
Due: Storage & Database

revert: undo --user flag changes in federation CLI functions
  internal/storage/dolt/federation.go
Due: Storage & Database

feat(dolt): load .env file for remote credentials in bd dolt remote add
  cmd/bd/dolt.go
  cmd/bd/dolt_remote_add_test.go
  go.mod
  go.sum
Due: CLI Commands

feat(dolt): inject stored remote credentials into push/pull/fetch
  internal/doltserver/doltserver.go
  internal/storage/dolt/credentials.go
  internal/storage/dolt/store.go
Due: Storage & Database

feat(dolt): add --user/--password flags to bd dolt remote add
  cmd/bd/dolt.go
Due: CLI Commands

fix(dolt): use CLI path for auth, pass --user flag to dolt push/pull
  cmd/bd/dolt.go
  cmd/bd/dolt_remote_add_test.go
  internal/storage/dolt/credentials.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix(dolt): auto-derive remote DB name, use CLI path for auth
  cmd/bd/dolt.go
  cmd/bd/dolt_remote_add_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

feat(dolt): support DOLT_REMOTE env vars in bd dolt remote add
  cmd/bd/dolt.go
  cmd/bd/dolt_remote_add_test.go
Due: CLI Commands

fix: improve "database not found" error to detect wrong-server scenario (GH#2445)
  internal/storage/dolt/errors.go
  internal/storage/dolt/errors_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix: auto-clear stale pinned flag on status transition
  cmd/bd/list.go
  internal/storage/dolt/issues.go
Due: CLI Commands, Storage & Database

doctor: block --fix at Gas Town town root
  cmd/bd/doctor.go
  cmd/bd/doctor_gastown_guard.go
  cmd/bd/doctor_gastown_guard_test.go
Due: CLI Commands

fix: remove idle monitor and activity signal daemon infrastructure
  cmd/bd/doctor/gitignore.go
  cmd/bd/dolt.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: CLI Commands

perf(template): speed up close-time subgraph loading
  cmd/bd/template.go
  cmd/bd/template_test.go
Due: CLI Commands

docs: add beads-web and claude-protocol to community tools
  docs/COMMUNITY_TOOLS.md
Due: none

fix: replace stale bd migrate --to-dolt with bd init --from-jsonl (GH#2333)
  cmd/bd/init.go
  cmd/bd/init_test.go
  cmd/bd/migrate_test.go
  docs/QUICKSTART.md
Due: CLI Commands

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
