Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix: restore no-db target selection semantics
  cmd/bd/doctor_context_test.go
Due: none

test: keep create defer fixture future-dated
  cmd/bd/create_proxied_server_test.go
Due: none

fix: restore no-db target selection semantics (#4278)
  cmd/bd/create_proxied_server_test.go
  cmd/bd/doctor_context_test.go
Due: none

flake.lock: Update
  flake.lock
Due: none

fix: restore dolt target workspace rebind (bd-y45)
  cmd/bd/dolt.go
  cmd/bd/init_guard_test.go
Due: CLI Commands

fix: restore dolt target workspace rebind (bd-y45) (#4280)
  cmd/bd/dolt.go
  cmd/bd/init_guard_test.go
Due: CLI Commands

fix(dolt): disable git hooks on the internal Dolt push SQL path (GH#4272)
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
  internal/storage/dolt/credentials.go
  internal/storage/dolt/credentials_test.go
Due: Storage & Database

fix: allow local-only config validation
  cmd/bd/config.go
  cmd/bd/config_apply.go
  cmd/bd/config_drift.go
  cmd/bd/config_drift_test.go
  cmd/bd/config_test.go
  cmd/bd/sync_remote.go
Due: CLI Commands

fix: honor storage flags for graph create
  cmd/bd/create_embedded_test.go
Due: none

test: avoid duplicate graph parent dependency in storage flag coverage
  cmd/bd/create_embedded_test.go
Due: none

fix: honor no-db target precedence consistently
  cmd/bd/main.go
Due: CLI Commands

fix: honor storage flags for graph create (#4276)
  cmd/bd/create_embedded_test.go
Due: none

fix: honor no-db target precedence consistently (#4277)
  cmd/bd/main.go
Due: CLI Commands

Add Jira custom field support for push
  docs/CONFIG.md
  internal/jira/fieldmapper.go
  internal/jira/tracker.go
  internal/jira/tracker_test.go
Due: External Integrations

fix: bound embedded dolt lock waits
  cmd/bd/store_factory_nocgo.go
  internal/storage/embeddeddolt/open.go
  internal/storage/embeddeddolt/open_test.go
Due: CLI Commands, Storage & Database

Add Jira custom field support for push (#3678)
  docs/CONFIG.md
  internal/jira/fieldmapper.go
  internal/jira/tracker.go
  internal/jira/tracker_test.go
Due: External Integrations

fix: also skip JSONL auto-export when serverMode=true (GH#3944)
  cmd/bd/export_auto_test.go
Due: none

fix: skip JSONL auto-import when serverMode=true (GH#2994)
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_unit_test.go
  cmd/bd/main.go
Due: CLI Commands

/internal/storage: method implementations for bd list
  internal/storage/domain/config.go
  internal/storage/domain/db/config.go
  internal/storage/domain/db/config_test.go
  internal/storage/domain/db/dependency.go
  internal/storage/domain/db/dependency_test.go
  internal/storage/domain/db/issue.go
  internal/storage/domain/db/issue_search.go
  internal/storage/domain/db/issue_search_counts.go
  internal/storage/domain/db/issue_search_counts_test.go
  internal/storage/domain/db/issue_search_test.go
  internal/storage/domain/db/ready_work.go
  internal/storage/domain/db/ready_work_counts_test.go
  internal/storage/domain/db/ready_work_test.go
  internal/storage/domain/dependency.go
  internal/storage/domain/issue.go
Due: Storage & Database

/internal/storage/domain: cleanup
  internal/storage/domain/db/dependency.go
  internal/storage/domain/db/dependency_test.go
  internal/storage/domain/db/issue_search_counts_test.go
  internal/storage/domain/db/ready_work_counts_test.go
  internal/storage/domain/db/ready_work_test.go
  internal/storage/domain/issue.go
Due: Storage & Database

db: address Copilot feedback on loadStatusByID
  internal/storage/domain/db/dependency.go
Due: Storage & Database

/internal/storage/schema/verify_split_dependencies.go: pr feedback
  internal/storage/schema/verify_split_dependencies.go
Due: Storage & Database

/{internal,cmd}: new dep schema
  cmd/bd/doctor/dependency_sql.go
  cmd/bd/doctor/dependency_sql_test.go
  cmd/bd/doctor/fix/dependency_sql_test.go
  cmd/bd/doctor/integrity.go
  internal/storage/dolt/counts.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/dolt_benchmark_test.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/iter_dependents.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisps.go
  internal/storage/dolt/wisps_cycle_test.go
  internal/storage/domain/db/dependency.go
  internal/storage/embeddeddolt/counts.go
  internal/storage/embeddeddolt/transaction.go
  internal/storage/issueops/blocked.go
  internal/storage/issueops/blocked_state.go
  internal/storage/issueops/bulk_ops.go
  internal/storage/issueops/create.go
  internal/storage/issueops/cycles.go
  internal/storage/issueops/delete.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependencies_test.go
  internal/storage/issueops/dependency_queries.go
  internal/storage/issueops/dependency_tree_test.go
  internal/storage/issueops/epic_closure.go
  internal/storage/issueops/filters.go
  internal/storage/issueops/promote.go
  internal/storage/issueops/ready_work.go
  internal/storage/issueops/ready_work_counts.go
  internal/storage/issueops/search.go
  internal/storage/issueops/search_counts.go
  internal/storage/issueops/wisp_routing.go
  internal/storage/schema/migrations/0050_split_dependencies_tables.down.sql
  internal/storage/schema/migrations/0050_split_dependencies_tables.up.sql
  internal/storage/schema/migrations/ignored/0009_split_wisp_dependencies_tables.up.sql
  internal/storage/schema/schema.go
  internal/storage/schema/verify_split_dependencies.go
Due: CLI Commands, Storage & Database

/{cmd,internal}: cleanup
  cmd/bd/doctor/dependency_sql.go
  cmd/bd/doctor/fix/dependency_sql_test.go
  cmd/bd/doctor/integrity.go
  internal/storage/dolt/counts.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/iter_dependents.go
  internal/storage/dolt/mixed_table_lifecycle_test.go
  internal/storage/dolt/pr4107_corruption_test.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisps.go
  internal/storage/domain/db/dependency.go
  internal/storage/domain/db/issue_usecase_test.go
  internal/storage/embeddeddolt/counts.go
  internal/storage/embeddeddolt/transaction.go
  internal/storage/issueops/blocked.go
  internal/storage/issueops/blocked_state.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependencies_test.go
  internal/storage/issueops/dependency_queries.go
  internal/storage/issueops/dependency_queries_test.go
  internal/storage/issueops/dependency_tree_test.go
  internal/storage/issueops/filters.go
  internal/storage/issueops/promote.go
  internal/storage/issueops/ready_work.go
  internal/storage/issueops/search_counts.go
  internal/storage/issueops/search_counts_test.go
  internal/storage/issueops/wisp_routing.go
  internal/storage/schema/lock_test.go
  internal/storage/schema/migrations/0050_split_dependencies_tables.down.sql
  internal/storage/schema/migrations/0050_split_dependencies_tables.up.sql
  internal/storage/schema/migrations/ignored/0009_split_wisp_dependencies_tables.up.sql
Due: CLI Commands, Storage & Database

/{cmd,internal}: fix tests
  cmd/bd/doctor/deep_test.go
  cmd/bd/doctor/validation_test.go
  internal/storage/dolt/mixed_table_lifecycle_test.go
  internal/storage/dolt/pr4107_corruption_test.go
  internal/storage/dolt/wisps_cycle_test.go
  internal/storage/domain/db/dependency_test.go
  internal/storage/domain/db/issue_usecase_test.go
  internal/storage/issueops/dependencies_test.go
  internal/storage/issueops/dependency_queries_test.go
  internal/storage/issueops/dependency_tree_test.go
  internal/storage/issueops/ready_work_test.go
  internal/storage/issueops/search_counts.go
  internal/storage/issueops/search_counts_test.go
  internal/storage/schema/lock_test.go
Due: Storage & Database

/internal/storage: more cleanup
  internal/storage/dolt/rename_test.go
  internal/storage/issueops/claim.go
  internal/storage/issueops/close.go
  internal/storage/issueops/comments.go
  internal/storage/issueops/compaction.go
  internal/storage/issueops/delete.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/events.go
  internal/storage/issueops/labels.go
  internal/storage/issueops/molecule.go
  internal/storage/issueops/update.go
  internal/storage/issueops/wisp_routing.go
Due: Storage & Database

/{cmd,internal}: fix tests
  cmd/bd/create_embedded_test.go
  cmd/bd/doctor/deep.go
  cmd/bd/doctor/fix/dependency_sql.go
  cmd/bd/doctor/fix/validation.go
  cmd/bd/doctor/fix/validation_test.go
  cmd/bd/doctor/perf_dolt.go
  cmd/bd/proxied_integration_helpers_test.go
  internal/storage/issueops/compaction.go
Due: CLI Commands, Storage & Database

/internal/storage/domain/db: changes after rebasing
  internal/storage/domain/db/dependency.go
  internal/storage/domain/db/dependency_test.go
  internal/storage/domain/db/issue_search.go
  internal/storage/domain/db/issue_search_counts.go
  internal/storage/domain/db/ready_work.go
Due: Storage & Database

fix(storage): skip empty Dolt commit when working set has no pending/staged changes
  internal/storage/dolt/empty_commit_test.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/store.go
  internal/storage/issueops/commit_pending.go
  internal/storage/versioncontrolops/commit.go
  internal/storage/versioncontrolops/commit_empty_test.go
Due: Storage & Database

feat(metadata): index metadata fields for fast equality filtering
  internal/storage/dolt/metadata_schema.go
  internal/storage/issueops/filters.go
  internal/storage/issueops/filters_metadata_index_test.go
  internal/storage/metadata.go
  internal/storage/schema/metadata_index.go
  internal/storage/schema/metadata_index_test.go
  internal/types/types.go
Due: Storage & Database, Core Types & Utilities

fix(prune): scan active custom statuses in reference-aware skip
  cmd/bd/prune_bench_test.go
  cmd/bd/prune_embedded_test.go
  cmd/bd/purge.go
Due: CLI Commands

fix(export): apply export.exclude_owners to auto-export
  cmd/bd/export_auto.go
  cmd/bd/export_exclude_owner_test.go
Due: CLI Commands

fix(migrate-personal): all-or-error copy preserving comments before delete
  cmd/bd/migrate_personal.go
  cmd/bd/migrate_personal_test.go
Due: CLI Commands

docs(cli): regenerate version-1.0.5 reference + llms-full for new flags
  website/static/llms-full.txt
  website/versioned_docs/version-1.0.5/cli-reference/export.md
  website/versioned_docs/version-1.0.5/cli-reference/index.md
  website/versioned_docs/version-1.0.5/cli-reference/migrate-personal.md
  website/versioned_docs/version-1.0.5/cli-reference/prune.md
Due: none

fix(ci): allowlist TestPruneLargeFixture in testing.Short boundaries check
  scripts/check-testing-short.sh
Due: none

fix(init): initialize planning Dolt schema in fork auto-config (be-wqt8)
  cmd/bd/init_contributor.go
  cmd/bd/init_embedded_test.go
Due: CLI Commands

chore: release gate PASS for be-wqt8-planning-init
  release-gates/be-wqt8-planning-init-gate.md
Due: none

test(push-pull): add failing tests for remote-not-found error wrapping (red)
  internal/storage/dolt/remote_server_routing_test.go
Due: none

docs(backup): expand user stories for remote server backup scenarios
  docs/REMOTE_SERVER_USER_STORIES.md
Due: none

test(doctor): add failing tests for remote server skip behavior (red)
  cmd/bd/backup_dolt.go
  cmd/bd/doctor_remote_server_test.go
Due: CLI Commands

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
