Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

test(daemon): be-yu9ois — daemon unit + parity tests
  cmd/bd/daemon_child_test.go
  internal/storage/parity/daemon_parity_test.go
  internal/storage/parity/helpers_test.go
  internal/storage/rpc/client_test.go
Due: none

feat(postgres): be-jnxg8d — local PG cluster discovery (postmaster.pid + postgresql.conf fallback)
  cmd/bd/init_postgres_discovery.go
  cmd/bd/init_postgres_discovery_test.go
Due: CLI Commands

feat(postgres): be-s67c8m — store_factory env-override wiring (dsn.ApplyEnvOverrides at runtime)
  cmd/bd/store_factory.go
  cmd/bd/store_factory_nocgo.go
  internal/configfile/configfile.go
  internal/configfile/configfile_test.go
  internal/storage/postgres/dsn/compose.go
  internal/storage/postgres/store.go
Due: CLI Commands, Storage & Database

feat(postgres): be-4a6vf8 — RenderRedacted + ParseConnectionTarget in dsn/render.go
  internal/storage/postgres/dsn/compose.go
  internal/storage/postgres/dsn/render.go
  internal/storage/postgres/store.go
Due: Storage & Database

chore: release gate PASS for be-vc5gtl (Driver interface + CapabilitySet)
  release-gates/be-vc5gtl-gate.md
Due: none

feat(postgres): be-fsobdu — bd init --backend=postgres + --pg-* flags + runPostgresInit
  cmd/bd/init.go
  cmd/bd/init_postgres.go
Due: CLI Commands

fix: rebind target workspace for db commands
  cmd/bd/dolt.go
  cmd/bd/init_guard_test.go
  cmd/bd/main.go
Due: CLI Commands

fix: isolate rebinding from caller workspace state
  cmd/bd/main.go
Due: CLI Commands

fix: honor no-db target precedence consistently
  cmd/bd/dolt.go
  cmd/bd/main.go
Due: CLI Commands

fix: honor storage flags for graph create
  cmd/bd/create.go
  cmd/bd/create_embedded_test.go
  cmd/bd/graph_apply.go
Due: CLI Commands

fix: tolerate existing nonlocal wisp tables
  cmd/bd/metadata_ready_test.go
  internal/storage/issueops/ready_work.go
Due: Storage & Database

fix: speed up ephemeral graph apply
  cmd/bd/graph_apply.go
  cmd/bd/graph_apply_test.go
Due: CLI Commands

perf(deps): narrow recursive cycle checks
  internal/storage/dolt/wisps.go
  internal/storage/dolt/wisps_cycle_test.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependencies_test.go
Due: Storage & Database

perf(search): tighten label and partial-id queries
  internal/storage/issueops/filters.go
  internal/storage/issueops/filters_test.go
  internal/storage/issueops/search.go
  internal/utils/id_parser.go
  internal/utils/id_parser_unit_test.go
Due: Storage & Database, Core Types & Utilities

perf: page ready-work blocked checks
  cmd/bd/graph_apply.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
  internal/storage/issueops/blocked.go
Due: CLI Commands, Storage & Database

feat(postgres): be-p5j4lx + be-0w5z7u — BackendInfo resolver + surface wiring
  cmd/bd/context_cmd.go
  cmd/bd/dolt.go
  cmd/bd/info.go
  cmd/bd/where.go
  internal/configfile/backend_info.go
  internal/configfile/legacy.go
Due: CLI Commands, Storage & Database

feat(postgres): be-3nj8kh — bd backend status command
  cmd/bd/backend.go
  cmd/bd/dolt.go
  cmd/bd/sql.go
  internal/storage/postgres/store_test.go
Due: CLI Commands

fix: speed up ephemeral graph apply
  cmd/bd/create.go
  cmd/bd/graph_apply.go
  cmd/bd/graph_apply_test.go
Due: CLI Commands

feat(doctor): be-nzo2iu — Postgres health + legacy detection + JSON backend block
  cmd/bd/doctor.go
  cmd/bd/doctor/legacy_dolt_artifacts.go
  cmd/bd/doctor/postgres_health.go
  cmd/bd/doctor/types.go
Due: CLI Commands

feat(storage): be-fv0xme — Count* aggregate methods on Storage + DependencyQueryStore
  internal/storage/dependency_queries.go
  internal/storage/dolt/counts.go
  internal/storage/embeddeddolt/counts.go
  internal/storage/postgres/store.go
  internal/storage/rpc/client.go
  internal/storage/storage.go
  internal/telemetry/storage.go
Due: Storage & Database

fix(update): be-po9 — bd update --status=closed authority guard
  cmd/bd/close.go
  cmd/bd/show_unit_helpers.go
  cmd/bd/update.go
  internal/validation/issue.go
Due: CLI Commands, Query & Filtering

feat(show): be-ijck6q — bd show --json count-first + --include-dependents/--include-comments
  cmd/bd/show.go
  cmd/bd/show_unit_helpers_test.go
  internal/jira/tracker_test.go
  internal/types/types.go
Due: CLI Commands, Core Types & Utilities

feat(cli): be-pkg36q — migrate count-only callers to Count* (info, close, ping)
  cmd/bd/close.go
  cmd/bd/info.go
  cmd/bd/ping.go
Due: CLI Commands

feat(list): be-303d0l — bd list --json --limit 0 streaming via IterIssues
  cmd/bd/list.go
Due: CLI Commands

feat(events,wisp): be-ritg7o — bd events command + wisp list --limit 0 streaming
  cmd/bd/events.go
  cmd/bd/wisp.go
Due: CLI Commands

feat(iter): be-ty28x5 — migrate bulk-sweep callers to IterIssues
  cmd/bd/ado.go
  cmd/bd/doctor_pollution.go
  cmd/bd/find_duplicates.go
  cmd/bd/label.go
  cmd/bd/lint.go
Due: CLI Commands

feat(config): be-lpfolh — archive.* config keys, archiveDefaultForBackend, bd init writes
  cmd/bd/init.go
  cmd/bd/init_postgres.go
  internal/config/config.go
  internal/config/yaml_config.go
Due: CLI Commands, Core Types & Utilities

feat(config): be-6lydih — export.auto backwards-compat alias, SetArchiveFormat, maybeAutoExport update
  cmd/bd/config.go
  cmd/bd/export_auto.go
  internal/config/alias.go
Due: CLI Commands, Core Types & Utilities

Fix CI lint and label JSON parsing (bd-ycr)
  cmd/bd/label_embedded_test.go
  internal/storage/issueops/search.go
Due: Storage & Database

feat(doctor): be-tsjke3 — archive status check (all backends, all formats)
  cmd/bd/doctor.go
  cmd/bd/doctor/archive.go
Due: CLI Commands

feat(init): be-uo71at — honest --help text + backend flag docs (dolt/postgres)
  cmd/bd/init.go
Due: CLI Commands

feat(uimd): be-ow4w54 — extract RenderMarkdown to internal/uimd, remove glamour from ui import graph
  cmd/bd/comments.go
  cmd/bd/show.go
  cmd/bd/show_children.go
  cmd/bd/show_display.go
  internal/uimd/markdown.go
Due: CLI Commands

fix(test): be-dbb — save/restore BEADS_DOLT_SERVER_PORT in TestApplyConfigDefaults_TestModeBlocksProdPort
  internal/storage/dolt/store_unit_test.go
Due: none

fix(dolt): skip git hooks in commitBeadsConfig to avoid embedded Dolt re-entry deadlock (GH#3340)
  cmd/bd/dolt_remote_hook_test.go
  cmd/bd/sync_remote.go
Due: CLI Commands

fix: preserve mixed-table cycle detection
  internal/storage/dolt/dependencies_extended_test.go
  internal/storage/dolt/wisps.go
  internal/storage/dolt/wisps_cycle_test.go
  internal/storage/embeddeddolt/dependencies_test.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependencies_test.go
Due: Storage & Database

fix: harden graph apply dependency validation
  cmd/bd/graph_apply.go
  cmd/bd/graph_apply_execution_test.go
  cmd/bd/graph_apply_execution_unit_test.go
Due: CLI Commands

fix(doctor): be-nzo2iu — use bi.LegacyDoltDir instead of os.Stat in legacy check
  cmd/bd/doctor/legacy_dolt_artifacts.go
Due: CLI Commands

fix(postgres): be-s67c8m — correct misleading TCP probe comment in Open()
  internal/storage/postgres/store.go
Due: Storage & Database

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
