Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

docs(troubleshooting): add circuit breaker and upgrade recovery docs
  docs/TROUBLESHOOTING.md
Due: none

docs(dolt): deprecate bd migrate --to-dolt in docs
  docs/DOLT-BACKEND.md
  docs/DOLT.md
Due: none

fix(list): make --tree the default display mode for bd list
  cmd/bd/list.go
Due: CLI Commands

fix(gitignore): add dolt-monitor.pid and dolt-server.activity to .beads/.gitignore
  .beads/.gitignore
Due: none

fix: skip tombstone entries in bd init --from-jsonl
  cmd/bd/import_from_jsonl_test.go
  cmd/bd/import_shared.go
Due: CLI Commands

/internal/storage/embeddeddolt: wip, add open sql and concurrency test
  go.mod
  go.sum
  internal/storage/embeddeddolt/concurrency_test.go
  internal/storage/embeddeddolt/open.go
  internal/storage/embeddeddolt/open_stub.go
Due: Storage & Database

/internal/storage/embeddeddolt: handle context canceled in cleanup func
  internal/storage/embeddeddolt/concurrency_test.go
  internal/storage/embeddeddolt/open.go
Due: Storage & Database

/internal/storage/embeddeddolt: pr feedback
  internal/storage/embeddeddolt/concurrency_test.go
  internal/storage/embeddeddolt/open.go
Due: Storage & Database

fix(config): route backup.* keys to config.yaml so overrides are respected
  internal/config/yaml_config.go
  internal/config/yaml_config_test.go
Due: Core Types & Utilities

fix(backup): skip git commits during hook runs and on feature branches
  cmd/bd/backup_auto.go
  cmd/bd/backup_auto_test.go
Due: CLI Commands

fix: gofmt internal/config/config.go
  internal/config/config.go
Due: Core Types & Utilities

refactor: remove 3-way merge engine remnants (bd-hhh)
  cmd/bd/cli_coverage_show_test.go
  cmd/bd/context.go
  cmd/bd/doctor/git.go
  cmd/bd/doctor/git_test.go
  cmd/bd/doctor_fix.go
  cmd/bd/main.go
  cmd/bd/reset.go
  cmd/bd/reset_test.go
  cmd/bd/staleness.go
  cmd/bd/staleness_test.go
Due: CLI Commands

fix: add id tiebreaker to all ORDER BY clauses for deterministic ordering
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
Due: Storage & Database

fix: warn on user-modified legacy hooks during migration
  cmd/bd/doctor/hooks_migration.go
  cmd/bd/migrate_hooks_apply.go
  cmd/bd/migrate_hooks_apply_test.go
Due: CLI Commands

feat: add GitHub Issues integration (tracker plugin)
  cmd/bd/github.go
  internal/github/client.go
  internal/github/fieldmapper.go
  internal/github/mapping.go
  internal/github/mapping_test.go
  internal/github/tracker.go
  internal/github/tracker_test.go
  internal/github/types.go
  internal/github/types_test.go
Due: CLI Commands

fix(circuit): reduce cooldown to 5s and add active TCP health probe
  internal/storage/dolt/circuit.go
  internal/storage/dolt/circuit_test.go
Due: Storage & Database

fix: reduce Dolt connection pool to prevent exhaustion under multi-agent load
  internal/storage/dolt/store.go
Due: Storage & Database

feat: add BD_MAX_OPEN_CONNS env var for connection pool tuning
  internal/storage/dolt/store.go
Due: Storage & Database

fix(init): prevent data destruction from misleading error messages (GH#2363, GH#2372)
  .beads/.gitignore
  cmd/bd/doctor/agent.go
  cmd/bd/doctor/database.go
  cmd/bd/init.go
  cmd/bd/wisp.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix: update beads gitignore and config after Dolt rollback
  .beads/.gitignore
  .beads/config.yaml
Due: none

fix(dolt): idle-monitor single-instance lock, port config isolation, project UUID verification (GH#2367, GH#2372)
  cmd/bd/dolt.go
  cmd/bd/init.go
  internal/configfile/configfile.go
  internal/doltserver/doltserver.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix(backup): default git-push to OFF, require explicit opt-in
  cmd/bd/backup.go
  cmd/bd/backup_auto.go
  cmd/bd/backup_auto_test.go
Due: CLI Commands

fix(init): use DefaultConfig for port resolution during init (GH#2372)
  .beads/.gitignore
  cmd/bd/doctor/gitignore.go
  cmd/bd/init.go
Due: CLI Commands

fix(dolt): batch all IN-clause queries to prevent full table scans
  cmd/bd/doctor/deep.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/events.go
  internal/storage/dolt/queries.go
Due: CLI Commands, Storage & Database

feat(dolt): surface sync.git-remote in database-not-found errors
  cmd/bd/main.go
  internal/storage/dolt/errors.go
  internal/storage/dolt/errors_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

feat(init): distinguish server-reachable from DB-exists in init guard
  cmd/bd/init.go
  cmd/bd/init_guard.go
  cmd/bd/init_guard_test.go
Due: CLI Commands

fix(doctor): correct command order in enrichFreshClone
  cmd/bd/doctor/agent.go
Due: CLI Commands

feat(doctor): detect fresh clone state on Dolt server
  cmd/bd/doctor/agent.go
  cmd/bd/doctor/fresh_clone_server.go
  cmd/bd/doctor/fresh_clone_server_test.go
  cmd/bd/doctor/legacy.go
Due: CLI Commands

fix: use ExtractIssuePrefix for hash extraction in ResolvePartialID
  internal/utils/id_parser.go
  internal/utils/id_parser_test.go
Due: Core Types & Utilities

bd: backup 2026-03-05 22:09
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

fix: config-aware prefix detection in ResolvePartialID
  internal/utils/id_parser.go
  internal/utils/id_parser_test.go
  internal/utils/issue_id.go
Due: Core Types & Utilities

bd: backup 2026-03-05 22:24
  .beads/backup/backup_state.json
Due: none

fix: add contributor auto-routing fallback to show/update/close (GH#2345)
  cmd/bd/routed.go
Due: CLI Commands

/internal/storage/embeddeddolt: add store
  internal/storage/embeddeddolt/store.go
  internal/storage/embeddeddolt/store_stub.go
Due: Storage & Database

fix(test): remove tests for daemon infrastructure removed in b3decc26
  cmd/bd/doctor/gitignore_test.go
  internal/doltserver/doltserver_test.go
  internal/storage/dolt/open_test.go
Due: none

style: fix gofmt trailing blank lines
  cmd/bd/doctor/gitignore_test.go
  internal/doltserver/doltserver_test.go
Due: none

fix(test): remove more daemon-dependent tests (maxDoltServers, idle monitor)
  internal/doltserver/doltserver_test.go
Due: none

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
