Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

fix: add .dolt/ to project .gitignore
  .gitignore
Due: none

feat: config-driven metadata schema enforcement (GH#1416 Phase 2)
  internal/config/config.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/metadata_schema.go
  internal/storage/dolt/metadata_schema_test.go
  internal/storage/dolt/transaction.go
  internal/storage/metadata.go
  internal/storage/metadata_schema_test.go
Due: Storage & Database, Core Types & Utilities

feat: add --metadata flag to bd create
  cmd/bd/create.go
  cmd/bd/metadata_filter_test.go
Due: CLI Commands

fix(list): reparented child no longer appears under old parent
  cmd/bd/reparent_test.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisps.go
Due: Storage & Database

fix(reopen): clear defer_until when reopening an issue
  cmd/bd/reopen.go
  cmd/bd/reopen_defer_test.go
Due: CLI Commands

fix(dep): error on dep add when pair exists with different type
  cmd/bd/dep_type_overwrite_test.go
  internal/storage/dolt/dependencies.go
Due: Storage & Database

feat: add metadata filtering to bd ready
  cmd/bd/metadata_ready_test.go
  cmd/bd/ready.go
  internal/storage/dolt/queries.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

feat: add --set-metadata and --unset-metadata to bd update
  cmd/bd/metadata_edits_test.go
  cmd/bd/update.go
Due: CLI Commands

fix(regression): set BEADS_DOLT_SERVER_PORT in test harness env
  tests/regression/regression_test.go
Due: none

test(discovery): conditional-blocks deps not evaluated in readiness
  tests/regression/discovery_test.go
Due: none

test(discovery): external blockers silently ignored by bd ready
  tests/regression/discovery_test.go
Due: none

feat(regression): replace bd export with snapshot harness (list+show)
  tests/regression/regression_test.go
Due: none

docs(regression): Phase 3 triage — 95+ pass, 15 fail (all known bugs)
  tests/regression/DISCOVERY.md
Due: none

docs(regression): fix DISCOVERY.md to reference DECISION PRs not issues
  tests/regression/DISCOVERY.md
Due: none

docs(regression): add GH issue numbers for BUG-7, BUG-8, BUG-13
  tests/regression/DISCOVERY.md
Due: none

fix(regression): normalization for snapshot-based parity
  tests/regression/regression_test.go
Due: none

docs(regression): update DISCOVERY.md with PR status and bug triage
  tests/regression/DISCOVERY.md
Due: none

test(discovery): session 3 — five new candidate-only seams
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

docs(regression): session 6 discovery — stale, sort, reparent cycle, overdue
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

test(discovery): add tests for external blocker and conditional-blocks gaps
  tests/regression/discovery_test.go
Due: none

test(discovery): session 4 — close guard bypass, supersede reopen, defer past date
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

test(discovery): session 5 — dead label filter, flag conflicts, filter bypass
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

test(discovery): session 4 — close guard bypass, cycles, supersede, defer
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

docs(regression): session 7 — deferred state, comma status, filter conflicts
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

docs(regression): session 6c — whitespace title, config ambiguity, dep rm
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

docs(regression): session 8 — lifecycle validation, ready filters, duplicate cycles
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

docs(regression): session 8b — stale edge, search comma-status, type filter
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

docs(regression): session 7c — empty comments, past due date, ID filter
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

docs(regression): session 7b — protocol tests for status, all, type, show
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

docs(regression): session 8c — blocked parent, label idempotency, dep tree
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

docs(regression): session 6b — reversed ranges, negative limit, duplicate
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

feat(protocol): lane 6 — 10 new protocol invariant tests
  cmd/bd/protocol/protocol_test.go
Due: none

refactor: split protocol_test.go into per-concern test files
  cmd/bd/protocol/helpers_test.go
  cmd/bd/protocol/import_test.go
  cmd/bd/protocol/integrity_test.go
  cmd/bd/protocol/protocol_test.go
  cmd/bd/protocol/ready_test.go
  cmd/bd/protocol/roundtrip_test.go
Due: none

fix: prevent test suite from leaking databases onto production Dolt server
  beads_test.go
  cmd/bd/doctor/dolt_e2e_test.go
  cmd/bd/doctor/fix/testmain_cgo_test.go
  cmd/bd/doctor/test_helpers_test.go
  cmd/bd/protocol/protocol_test.go
  cmd/bd/test_helpers_test.go
  internal/beads/beads_hash_multiclone_test.go
  internal/molecules/testmain_test.go
  internal/storage/dolt/testmain_test.go
  internal/tracker/testmain_test.go
  tests/regression/regression_test.go
Due: none

feat: add phantom catalog detection to bd doctor
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/dolt_phantom_test.go
Due: CLI Commands

fix: replace INFORMATION_SCHEMA.SCHEMATA with SHOW DATABASES in doctor
  cmd/bd/doctor/server.go
Due: CLI Commands

fix: add defensive error handling and test coverage for phantom resilience
  internal/storage/dolt/migrations/helpers.go
  internal/storage/dolt/migrations/migrations_test.go
Due: Storage & Database

Fix wisp persistence: commit SQL tx when DOLT_COMMIT finds nothing
  internal/storage/dolt/transaction.go
Due: Storage & Database
