Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

bd: backup 2026-02-28 15:30
  .beads/backup/backup_state.json
  .beads/backup/config.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-02-28 15:54
  .beads/backup/backup_state.json
  .beads/backup/config.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-02-28 18:08
  .beads/backup/backup_state.json
  .beads/backup/config.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-02-28 18:36
  .beads/backup/backup_state.json
  .beads/backup/config.jsonl
Due: none

fix: avoid SELECT * UNION that crashes Dolt on column count mismatch
  cmd/bd/backup_export.go
Due: CLI Commands

fix: resolve state-drift in dolt storage and implement enterprise-grade 5xx resilience in gitlab client.
  cmd/bd/main.go
  internal/gitlab/client.go
  internal/storage/dolt/issues.go
  log.txt
Due: CLI Commands, Storage & Database, External Integrations

fix: remove unused hasRedirect parameter from scanCruftBeadsDir
  cmd/bd/doctor/artifacts.go
Due: CLI Commands

feat: add hook migration census + doctor signal (bd-w4x.1, #2217)
  cmd/bd/doctor/hooks_migration.go
  cmd/bd/doctor/hooks_migration_test.go
  cmd/bd/doctor/migration.go
  cmd/bd/doctor/migration_hooks_test.go
  cmd/bd/migrate.go
  cmd/bd/migrate_hooks.go
  cmd/bd/migrate_hooks_test.go
Due: CLI Commands

fix: resolve lint findings for hook census PR (#2217)
  cmd/bd/doctor/hooks_migration.go
  cmd/bd/migrate_hooks.go
  cmd/bd/migrate_hooks_test.go
Due: CLI Commands

test: add regression test for dolt remote store initialization (#2224)
  cmd/bd/dolt_test.go
  cmd/bd/migrate_hooks_test.go
Due: none

fix: make preflight lint skip explicit
  cmd/bd/preflight.go
  cmd/bd/preflight_test.go
Due: CLI Commands

fix: resolve lint errors in dolt event/testutil paths
  internal/testutil/testdoltserver.go
Due: none

feat: replace preflight lint env bypass with --skip-lint
  cmd/bd/preflight.go
  cmd/bd/preflight_test.go
Due: CLI Commands

fix: implement enterprise reliability suite and resolve state drift
  internal/gitlab/client.go
Due: External Integrations

chore: Bump version to 0.57.0
  .claude-plugin/marketplace.json
  CHANGELOG.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/info.go
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
  cmd/bd/templates/hooks/pre-commit
  cmd/bd/templates/hooks/pre-push
  cmd/bd/templates/hooks/prepare-commit-msg
  cmd/bd/version.go
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
Due: CLI Commands

Stabilize hook-related tests by forcing repo-local hooksPath
  cmd/bd/doctor/fix/hooks_test.go
  cmd/bd/doctor/git_hygiene_test.go
  cmd/bd/doctor/git_test.go
Due: none

Implement hook migration apply mode and matrix execution (#2218)
  cmd/bd/doctor/migration.go
  cmd/bd/doctor/migration_hooks_test.go
  cmd/bd/migrate.go
  cmd/bd/migrate_hooks.go
  cmd/bd/migrate_hooks_apply.go
  cmd/bd/migrate_hooks_apply_test.go
  cmd/bd/migrate_hooks_test.go
Due: CLI Commands

fix(mcp): implement 30s circuit breaker to prevent subprocess deadlocks
  integrations/beads-mcp/src/beads_mcp/bd_client.py
Due: none

fix: use marker-managed install path for jj hooks
  cmd/bd/init_git_hooks.go
  cmd/bd/init_hooks_test.go
Due: CLI Commands

Harden git test repo isolation from global hooksPath (#2234)
  AGENT_INSTRUCTIONS.md
  cmd/bd/doctor/fix/git_repo_template_test.go
  cmd/bd/doctor/fix/hooks_test.go
  cmd/bd/doctor/fix/metadata_test.go
  cmd/bd/doctor/git_repo_template_test.go
  cmd/bd/doctor/git_test.go
  cmd/bd/git_repo_template_test.go
  internal/testutil/git_test_hooks.go
Due: none

Fix child counter overwrite after bd init --from-jsonl
  cmd/bd/import_from_jsonl_test.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/queries.go
Due: Storage & Database

Teach bd doctor to parse section-marker hook format
  cmd/bd/doctor/git.go
  cmd/bd/doctor/git_test.go
Due: CLI Commands

fix: use configfile.DefaultDoltServerPort (3307) instead of DerivePort
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: none

test: add failing test for DefaultConfig port fallback bug
  internal/doltserver/doltserver_test.go
Due: none

refactor: address review — use constants, fix stale comments, hermetic tests
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: none

fix: fall back to DerivePort when default port occupied by another project
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: none

fix: gofmt formatting and remove stale hook template version checks
  cmd/bd/dolt.go
  internal/storage/dolt/store.go
  internal/testutil/testdoltserver.go
  internal/testutil/testdoltserver_windows.go
  scripts/check-versions.sh
  scripts/update-versions.sh
Due: CLI Commands, Storage & Database

fix: resolve lint issues — errcheck and gosec nolint annotations
  cmd/bd/dolt.go
  internal/storage/dolt/credentials.go
Due: CLI Commands, Storage & Database

fix: configure sqlite backend in DetectsGitConflicts test
  cmd/bd/doctor_validate_test.go
Due: none

feat(claude-code): implement defensive prompting and result verification
  integrations/claude-code/commands/plan-to-beads.md
Due: none

refactor(mcp): implement centralized 30s timeout and defensive prompting
  integrations/beads-mcp/src/beads_mcp/bd_client.py
Due: none

fix: exclude pinned beads from bd list by default (bd-uhcg)
  cmd/bd/list.go
  internal/storage/dolt/queries_test.go
Due: CLI Commands

fix: restore SQLite backup on getBdBinary() failure in recovery (bd-ppnp)
  cmd/bd/doctor/fix/database_integrity.go
Due: CLI Commands

fix: replace meaningless Fix field with actionable instructions in remotes check (bd-hwxg)
  cmd/bd/doctor/remotes.go
Due: CLI Commands

fix: replace hand-rolled YAML parser with yaml.Unmarshal in multirepo.go (bd-7fsv)
  cmd/bd/doctor/multirepo.go
  cmd/bd/doctor/multirepo_test.go
Due: CLI Commands

fix: federation checks use wrong PID path and hardcoded port (bd-uz1x)
  cmd/bd/doctor/federation.go
  cmd/bd/doctor/federation_test.go
  internal/configfile/configfile.go
Due: CLI Commands, Storage & Database

fix: use explicit path params in doctor checks instead of relative paths
  cmd/bd/doctor.go
  cmd/bd/doctor/claude.go
  cmd/bd/doctor/claude_test.go
  cmd/bd/doctor/gitignore.go
  cmd/bd/doctor/gitignore_test.go
  cmd/bd/doctor_fix.go
  cmd/bd/init.go
Due: CLI Commands

fix: replace N+1 query patterns with batch queries in deep.go and migration_validation.go (bd-7zej)
  cmd/bd/doctor/deep.go
  cmd/bd/doctor/migration_validation.go
Due: CLI Commands

fix: remove "notify polecat" instructions from refinery template
  internal/templates/roles/refinery.md.tmpl
Due: none

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
