Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

Revert "Add external server CLI dir override (bd-fn9) (#3498)"
  README.md
  cmd/bd/dolt.go
  docs/DOLT.md
  internal/storage/dolt/credentials.go
  internal/storage/dolt/open_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

Fix CI for driver dependency update
  default.nix
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/init.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: none

docs: neutralize formula workflow terminology
  cmd/bd/formula.go
  cmd/bd/formula_help_test.go
  cmd/bd/mol_seed.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/formula.md
  website/docs/cli-reference/mol.md
  website/versioned_docs/version-1.0.0/cli-reference/formula.md
  website/versioned_docs/version-1.0.0/cli-reference/mol.md
  website/versioned_docs/version-1.0.4/cli-reference/formula.md
  website/versioned_docs/version-1.0.4/cli-reference/mol.md
Due: CLI Commands

docs: list all integration pages in website nav
  website/docs/integrations/cody.md
  website/docs/integrations/cursor.md
  website/docs/integrations/factory.md
  website/docs/integrations/gemini.md
  website/docs/integrations/index.md
  website/docs/integrations/kilocode.md
  website/docs/integrations/mux.md
  website/docs/integrations/opencode.md
  website/docs/integrations/windsurf.md
  website/docusaurus.config.ts
  website/sidebars.ts
  website/versioned_docs/version-1.0.4/integrations/cody.md
  website/versioned_docs/version-1.0.4/integrations/cursor.md
  website/versioned_docs/version-1.0.4/integrations/factory.md
  website/versioned_docs/version-1.0.4/integrations/gemini.md
  website/versioned_docs/version-1.0.4/integrations/index.md
  website/versioned_docs/version-1.0.4/integrations/kilocode.md
  website/versioned_docs/version-1.0.4/integrations/mux.md
  website/versioned_docs/version-1.0.4/integrations/opencode.md
  website/versioned_docs/version-1.0.4/integrations/windsurf.md
  website/versioned_sidebars/version-1.0.4-sidebars.json
Due: none

fix(cmd): move sanitizeDBName out of cgo-only file
  cmd/bd/dbname.go
  cmd/bd/store_factory.go
Due: CLI Commands

test(bench): add CountIssues vs SearchIssues comparison benchmarks (be-9t7)
  internal/storage/dolt/dolt_benchmark_test.go
Due: none

chore: release gate PASS round-2 for be-d0z (be-9t7 feedback addressed)
  release-gates/be-d0z-gate.md
Due: none

test(schema): unit tests for large-rig notice + progress formatting (be-8ja)
  internal/storage/schema/progress_test.go
Due: none

feat(schema): stderr progress + large-rig warning for MigrateUp (be-8ja)
  internal/storage/schema/schema.go
Due: Storage & Database

chore: release gate PASS for be-ldr
  release-gates/be-ldr-gate.md
Due: none

chore: release gate PASS for be-acnquj
  release-gates/be-acnquj-gate.md
Due: none

fix(list): suppress truncation hint in --json mode + lock-in label filter tests (be-acnquj)
  cmd/bd/list_output.go
  cmd/bd/list_test.go
Due: CLI Commands

fix(cmd/bd): be-sm6v opt TestWhereCommand_ReadsPrefixFromEmbeddedStore out of repo config
  cmd/bd/where_cgo_test.go
Due: none

chore: release gate PASS for be-sm6v (TestWhereCommand opt-out)
  release-gates/be-sm6v-gate.md
Due: none

test(cmd/bd): be-3lch auto-opt-out of repo config in initConfigForTest helper
  cmd/bd/test_helpers_pure_test.go
Due: none

chore: release gate PASS for be-3lch (helper-level repo-config opt-out)
  release-gates/be-3lch-gate.md
Due: none

test: cover deferred ready list flag
  cmd/bd/cli_fast_test.go
Due: none

feat(nix): expose packages as an overlay for downstream override
  .github/workflows/nix-build.yml
  default.nix
  flake.nix
  overlay.nix
  packages.nix
Due: none

test: keep embedded command stderr out of parsed stdout
  cmd/bd/close_embedded_test.go
  cmd/bd/create_embedded_test.go
  cmd/bd/gate_embedded_test.go
  cmd/bd/init_embedded_test.go
  cmd/bd/list_embedded_test.go
  cmd/bd/quick_embedded_test.go
  cmd/bd/update_embedded_test.go
Due: none

fix(mol): bd mol wisp materializes full child DAG by default (#3872)
  cmd/bd/wisp.go
  cmd/bd/wisp_test.go
Due: CLI Commands

fix(update): clear external_ref to SQL NULL when --external-ref ""
  cmd/bd/update.go
  cmd/bd/update_embedded_test.go
  internal/storage/dolt/ephemeral_routing.go
Due: CLI Commands, Storage & Database

docs: add CONTRIBUTING_PR_GUIDELINES.md (codify reviewer expectations for contributors)
  CONTRIBUTING_PR_GUIDELINES.md
Due: none

ci: add weekly upstream-sync workflow
  .github/workflows/sync-upstream.yml
Due: none

docs(list): warn that repeated -s/--status silently overwrites (#3916)
  cmd/bd/list.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/list.md
  website/versioned_docs/version-1.0.0/cli-reference/list.md
  website/versioned_docs/version-1.0.4/cli-reference/list.md
Due: CLI Commands

feat(cmd): add --mem-profile flag and BEADS_MEM_PROFILE env var (be-tg2o)
  cmd/bd/main.go
  docs/CONFIG.md
Due: CLI Commands

docs: add BeadSpec to Native Apps in COMMUNITY_TOOLS
  docs/COMMUNITY_TOOLS.md
Due: none

fix(bd): write labels in CreateIssue tx instead of N AddLabel calls
  cmd/bd/create.go
  cmd/bd/create_test.go
Due: CLI Commands

fix(bd): mirror atomic-labels fix in CreateIssueFromFormValues; add CLI-level test
  cmd/bd/create_embedded_test.go
  cmd/bd/create_form.go
  cmd/bd/create_form_test.go
  cmd/bd/create_test.go
Due: CLI Commands

docs: add spike/story/milestone to --type flag help text, regenerate CLI reference
  cmd/bd/create.go
  cmd/bd/update.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/create.md
  website/docs/cli-reference/federation.md
  website/docs/cli-reference/update.md
  website/versioned_docs/version-1.0.0/cli-reference/create.md
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/update.md
Due: CLI Commands

fix(github): read github.token from config.yaml in tracker.Init
  internal/github/tracker.go
  internal/github/tracker_test.go
Due: none

fix(linear): wire parent-child relationships to Linear's parent field
  cmd/bd/linear.go
  internal/linear/parent_reconcile.go
  internal/linear/parent_reconcile_test.go
Due: CLI Commands, External Integrations

docs(skill): update SKILL.md to bd v1.0.4
  plugins/beads/skills/beads/SKILL.md
  plugins/beads/skills/beads/resources/CLI_REFERENCE.md
Due: none

test: separate stdout/stderr in count and swarm embedded helpers (mybd-b50)
  cmd/bd/count_embedded_test.go
  cmd/bd/swarm_embedded_test.go
Due: none

test(github): cover yaml-read path for github.token getConfig
  internal/github/tracker_test.go
Due: none

Add Copilot CLI setup
  cmd/bd/doctor.go
  cmd/bd/doctor/copilot.go
  cmd/bd/doctor/copilot_test.go
  cmd/bd/doctor/legacy.go
  cmd/bd/setup.go
  cmd/bd/setup/copilot.go
  cmd/bd/setup/copilot_test.go
  internal/recipes/recipes.go
Due: CLI Commands

Sync Copilot plugin manifest source
  internal/recipes/recipes.go
  internal/recipes/recipes_test.go
  internal/recipes/template.go
  plugins/beads/copilot_manifest.go
  scripts/update-versions.sh
Due: none

Update Copilot integration doc
  docs/COPILOT_CLI_INTEGRATION.md
Due: none

Document Copilot CLI integration
  README.md
  docs/CLI_REFERENCE.md
  docs/COPILOT_CLI_INTEGRATION.md
  docs/COPILOT_INTEGRATION.md
  docs/INSTALLING.md
  docs/SETUP.md
Due: none

Refactor Copilot as plugin recipe
  cmd/bd/doctor.go
  cmd/bd/doctor/copilot.go
  cmd/bd/doctor/copilot_test.go
  cmd/bd/doctor_test.go
  cmd/bd/setup.go
  cmd/bd/setup/copilot.go
  cmd/bd/setup/copilot_test.go
  cmd/bd/setup_test.go
  docs/CLI_REFERENCE.md
  docs/COPILOT_CLI_INTEGRATION.md
  docs/SETUP.md
  internal/recipes/recipes.go
  internal/recipes/recipes_test.go
  internal/recipes/template.go
  plugins/beads/.copilot-plugin/plugin.json
Due: CLI Commands
