Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

feat: include memories in export/import round-trip
  cmd/bd/export.go
  cmd/bd/import.go
  cmd/bd/import_shared.go
Due: CLI Commands

feat: auto-export git-tracked JSONL for portability without Dolt remote
  cmd/bd/doctor/gitignore.go
  cmd/bd/doctor/tracked_runtime.go
  cmd/bd/export_auto.go
  cmd/bd/main.go
  internal/config/config.go
  internal/config/yaml_config.go
Due: CLI Commands, Core Types & Utilities

feat: consolidate prime SSOT section replacement into canonical ReplaceSection (bd-jfe5)
  cmd/bd/init_agent.go
  cmd/bd/setup/agents.go
  cmd/bd/setup/factory_test.go
  cmd/bd/setup/utils.go
  cmd/bd/setup/utils_test.go
  internal/templates/agents/render.go
  internal/templates/agents/render_test.go
Due: CLI Commands

chore: bump version to 0.61.0
  .claude-plugin/marketplace.json
  CHANGELOG.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/info.go
  cmd/bd/version.go
  cmd/bd/winres/manifest.xml
  cmd/bd/winres/winres.json
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
Due: CLI Commands

test: make embedded init hook path windows-safe
  cmd/bd/init_embedded_test.go
Due: none

fix(cli): register --gated flag on `bd mol ready` subcommand (#1)
  cmd/bd/mol_ready_gated.go
  cmd/bd/mol_ready_gated_flag_test.go
Due: CLI Commands

fix(auto-import): restore top-level emptiness guard in maybeAutoImportJSONL (#2)
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_unit_test.go
Due: CLI Commands

fix(test): TestEmbeddedAutoImportJSONLNoExplicitCommit — use write command to trigger auto-import (#3)
  cmd/bd/auto_import_upgrade_test.go
Due: none

fix: auto-import: skip non-embedded fallback when store is populated
  cmd/bd/auto_import_upgrade.go
Due: CLI Commands

chore: track workflow formulas for portability
  .beads/formulas/gh-issue-to-pr.formula.toml
  .beads/formulas/gh-pr-review.formula.toml
Due: none

fix(mol): recognize TypeMolecule roots in findParentMolecules (#3719)
  cmd/bd/mol_current.go
  cmd/bd/mol_test.go
Due: CLI Commands

chore: untrack workflow formulas
  .beads/formulas/gh-issue-to-pr.formula.toml
  .beads/formulas/gh-pr-review.formula.toml
Due: none

docs: add canonical cross-machine sync entry-point + anti-patterns
  README.md
  docs/ARCHITECTURE.md
  docs/DOLT.md
  docs/GIT_INTEGRATION.md
  docs/SYNC_CONCEPTS.md
  docs/SYNC_SETUP.md
Due: none

docs(templates): prepend architecture summary to bd-init AGENTS.md
  internal/templates/agents/agents_test.go
  internal/templates/agents/defaults/agents.md.tmpl
Due: none

docs: address review feedback on SYNC_CONCEPTS.md (GH#3683)
  docs/FAQ.md
  docs/SYNC_CONCEPTS.md
Due: none

docs(templates): also propagate architecture pointer via beads-section.md (GH#3683)
  internal/templates/agents/defaults/agents.md.tmpl
  internal/templates/agents/defaults/beads-section-minimal.md
  internal/templates/agents/defaults/beads-section.md
  internal/templates/agents/render_test.go
Due: none

fix(hooks): auto-import .beads/issues.jsonl after pull/checkout (GH#3729)
  cmd/bd/hooks.go
  cmd/bd/hooks_post_merge_import_test.go
  internal/config/config.go
Due: CLI Commands, Core Types & Utilities

fix: skip auto-import when database already has issues (server mode)
  cmd/bd/auto_import_upgrade.go
Due: CLI Commands

docs(codex): add skill path hint and marker-coexistence note
  docs/SETUP.md
  internal/templates/agents/defaults/beads-section-codex.md
Due: none

ci(docs): add --fallback-extensions html to lychee link check
  .github/workflows/deploy-docs.yml
Due: none

ci(regression): pull Dolt sql-server image so tests use shared container
  .github/workflows/regression.yml
Due: none

fix(prime): surface memories before hook truncation
  README.md
  cmd/bd/prime.go
  cmd/bd/prime_embedded_test.go
  cmd/bd/prime_test.go
  docs/CLI_REFERENCE.md
  docs/SETUP.md
  plugins/beads/skills/beads/commands/prime.md
  plugins/beads/skills/beads/resources/CLI_REFERENCE.md
  website/docs/cli-reference/prime.md
  website/docs/getting-started/ide-setup.md
  website/versioned_docs/version-1.0.0/cli-reference/prime.md
Due: CLI Commands

test: assign prompt capture embedded shard
  .github/scripts/embedded-cmd-test-shards.txt
  cmd/bd/prompt_embedded_test.go
Due: none

feat: add prompt capture command
  cmd/bd/prompt_capture.go
  cmd/bd/prompt_embedded_test.go
  plugins/beads/skills/beads/commands/prompt.md
  plugins/beads/skills/beads/resources/CLI_REFERENCE.md
Due: CLI Commands

test: cover prompt capture command
  cmd/bd/prompt_capture_test.go
Due: none

test: cover prompt capture helpers
  cmd/bd/prompt_capture_test.go
Due: none

docs: refresh prompt CLI references
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/index.md
  website/docs/cli-reference/prompt.md
  website/versioned_docs/version-1.0.0/cli-reference/index.md
  website/versioned_docs/version-1.0.0/cli-reference/prompt.md
Due: none

fix(dolt): skip git hooks on internal push of refs/dolt/data (GH#3724)
  internal/storage/dolt/credentials.go
  internal/storage/dolt/credentials_test.go
  internal/storage/dolt/git_remote_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

address self-review nits proactively
  internal/storage/dolt/federation.go
  internal/storage/dolt/git_remote_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

feat(setup): Gemini/Claude hook JSON compliance, --hook-json flag, legacy migration
  cmd/bd/prime.go
  cmd/bd/prime_gemini_hook_test.go
  cmd/bd/prime_test.go
  cmd/bd/setup/claude.go
  cmd/bd/setup/claude_test.go
  cmd/bd/setup/gemini.go
  cmd/bd/setup/gemini_test.go
  docs/CLI_REFERENCE.md
  docs/SETUP.md
  internal/recipes/recipes.go
Due: CLI Commands

chore(prime): gofmt var block alignment (#5)
  cmd/bd/prime.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/mol.md
  website/docs/cli-reference/prime.md
  website/versioned_docs/version-1.0.0/cli-reference/mol.md
  website/versioned_docs/version-1.0.0/cli-reference/prime.md
Due: CLI Commands

test(cmd/bd): use t.Chdir in drift tests to fix chdir race (GH#3729-followup)
  cmd/bd/config_drift_test.go
Due: none

fix(auto-import): handle nil statistics guard
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_unit_test.go
Due: CLI Commands

fix(doctor): stop emitting fresh-clone false positive in Dolt server mode
  cmd/bd/doctor/fresh_clone_server.go
  cmd/bd/doctor/fresh_clone_server_test.go
  cmd/bd/doctor/legacy.go
Due: CLI Commands

docs: prevent malformed PR comments
  PR_MAINTAINER_GUIDELINES.md
Due: none

fix(doctor): support embedded mode for safe checks (GH#3597)
  cmd/bd/doctor.go
  cmd/bd/doctor_conventions.go
  cmd/bd/doctor_embedded_test.go
Due: CLI Commands

fix(create): warn on unknown fields and honor --dry-run with --graph
  cmd/bd/create.go
  cmd/bd/graph_apply.go
  cmd/bd/graph_apply_test.go
Due: CLI Commands

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
