Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

Close remaining flow hardening gaps and verify regression coverage
  docs/PLUGIN.md
  integrations/beads-mcp/README.md
  integrations/beads-mcp/src/beads_mcp/server.py
  integrations/beads-mcp/tests/test_mcp_server_integration.py
Due: none

Fix async cleanup handling and close lifecycle warning gap
  integrations/beads-mcp/src/beads_mcp/server.py
  integrations/beads-mcp/tests/test_lifecycle.py
Due: none

chore: Bump version to 0.53.0
  .claude-plugin/marketplace.json
  CHANGELOG.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/info.go
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
  cmd/bd/templates/hooks/pre-commit
  cmd/bd/templates/hooks/pre-push
  cmd/bd/version.go
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
Due: CLI Commands

fix(ci): disable CGO for Android ARM64 build
  .goreleaser.yml
  NEWSLETTER.md
Due: none

fix(ci): add .zig-cache/ to .gitignore for goreleaser
  .gitignore
Due: none

fix: repair 3 pre-existing doctor test failures
  cmd/bd/doctor/dolt_test.go
  cmd/bd/doctor/perf_dolt.go
  cmd/bd/doctor/perf_dolt_test.go
Due: CLI Commands

Deduplicate sqliteConnString into shared storage helper
  cmd/bd/doctor/fix/sqlite_open.go
  cmd/bd/doctor/fix/sqlite_open_nocgo.go
  cmd/bd/doctor/sqlite_open.go
  cmd/bd/doctor/sqlite_open_nocgo.go
  internal/storage/connstring.go
Due: CLI Commands, Storage & Database

feat: add GetDependentsWithMetadata, GetIssuesByIDs, GetAllEventsSince to Storage interface
  beads.go
  internal/storage/storage.go
Due: Storage & Database

fix(ci): per-target zig cache to prevent AccessDenied race
  .github/workflows/release.yml
Due: none

fix(ci): unset global zig cache env vars in cross-compilation wrappers
  .github/workflows/release.yml
Due: none

Harden deterministic CLI envelope handling and pin MCP tests to custom bd binary
  cmd/bd/flow.go
  cmd/bd/intake.go
  cmd/bd/land.go
  cmd/bd/reason.go
  integrations/beads-mcp/tests/test_bd_client_integration.py
  integrations/beads-mcp/tests/test_mcp_server_integration.py
  integrations/beads-mcp/tests/test_worktree_separate_dbs.py
Due: CLI Commands

Finalize CLI control-plane hardening and MCP delegation
  cmd/bd/cli_coverage_show_test.go
  cmd/bd/cli_fast_test.go
  cmd/bd/close.go
  cmd/bd/completion_helpers_extra.go
  cmd/bd/control_plane_helpers.go
  cmd/bd/control_plane_strict_defaults_test.go
  cmd/bd/resume.go
  cmd/bd/update.go
  integrations/beads-mcp/src/beads_mcp/bd_client.py
  integrations/beads-mcp/src/beads_mcp/server.py
  integrations/beads-mcp/uv.lock
Due: CLI Commands

chore: Bump version to 0.54.0
  .claude-plugin/marketplace.json
  .github/workflows/release.yml
  CHANGELOG.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/info.go
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
  cmd/bd/templates/hooks/pre-commit
  cmd/bd/templates/hooks/pre-push
  cmd/bd/version.go
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
Due: CLI Commands

fix: skip TestConcurrentReadOnlyStoresSucceed (Dolt driver limitation)
  internal/storage/dolt/store_lock_test.go
Due: none

fix(ci): use flock to serialize zig CC calls per target
  .github/workflows/release.yml
Due: none

fix(ci): add GOMAXPROCS=1 to zig cross-compilation builds
  .goreleaser.yml
Due: none

fix(ci): upgrade zig 0.13.0 to 0.14.0 to fix AccessDenied bug
  .github/workflows/release.yml
Due: none

chore(beads): apply doctor fixes and hardening config
  .beads/.gitignore
  .beads/config.yaml
  .beads/issues.jsonl.new
Due: none

chore: remove ~5K lines of dead code from classic cleanup
  cmd/bd/autoimport_stubs.go
  cmd/bd/direct_mode.go
  cmd/bd/doctor.go
  cmd/bd/doctor/checks_nocgo.go
  cmd/bd/doctor/config_values.go
  cmd/bd/doctor/config_values_test.go
  cmd/bd/doctor/fix/fix_integration_test.go
  cmd/bd/doctor/git.go
  cmd/bd/doctor/gitignore.go
  cmd/bd/doctor/migration.go
  cmd/bd/doctor/quick.go
  cmd/bd/doctor/validation.go
  cmd/bd/doctor_fix.go
  cmd/bd/doctor_health.go
  cmd/bd/init_templates.go
  cmd/bd/main.go
  cmd/bd/nodb.go
  cmd/bd/nodb_test.go
  examples/monitor-webui/README.md
  examples/monitor-webui/go.mod
  examples/monitor-webui/go.sum
  examples/monitor-webui/main.go
  examples/monitor-webui/web/index.html
  examples/monitor-webui/web/static/css/styles.css
  examples/monitor-webui/web/static/js/app.js
  internal/config/config.go
  internal/config/config_test.go
  internal/config/yaml_config.go
  internal/config/yaml_config_test.go
  internal/export/config.go
  internal/export/config_test.go
  internal/export/executor.go
  internal/export/manifest.go
  internal/export/policy.go
  internal/export/policy_test.go
  internal/git/gitdir_test.go
  internal/git/worktree.go
  internal/git/worktree_test.go
Due: CLI Commands, Sync & Git Operations, Core Types & Utilities

docs: remove stale daemon command references (GH#1819)
  RELEASING.md
  cmd/bd/migrate.go
  docs/INSTALLING.md
  docs/MULTI_REPO_AGENTS.md
  docs/UNINSTALLING.md
  scripts/install.sh
Due: CLI Commands

fix(release): prevent non-CGO bd binaries from shipping
  .goreleaser.yml
  scripts/install.sh
  scripts/verify-cgo.sh
Due: none

refactor(cmd/bd): extract business logic from dep.go and swarm.go into internal/ packages (bd-za9)
  cmd/bd/dep.go
  cmd/bd/swarm.go
  internal/deps/deps.go
  internal/swarm/swarm.go
Due: CLI Commands

fix: restore inline comments stripped during business logic extraction
  cmd/bd/dep.go
  cmd/bd/swarm.go
Due: CLI Commands

refactor(context): complete CommandContext migration, eliminate dual-path globals (bd-m9g)
  cmd/bd/context.go
  cmd/bd/context_test.go
  cmd/bd/main.go
  cmd/bd/prerun.go
  cmd/bd/test_repo_beads_guard_test.go
Due: CLI Commands

fix: use getRootContext() accessor in openStore()
  cmd/bd/prerun.go
Due: CLI Commands

Implement control-plane transition kernel and migration parity tooling
  AGENTS.md
  cmd/bd/close.go
  cmd/bd/control_plane_contract_test.go
  cmd/bd/control_plane_flow_test.go
  cmd/bd/control_plane_foundation_test.go
  cmd/bd/control_plane_helpers.go
  cmd/bd/control_plane_remaining_test.go
  cmd/bd/create.go
  cmd/bd/cutover.go
  cmd/bd/defer.go
  cmd/bd/dep.go
  cmd/bd/evidence.go
  cmd/bd/evidence_tuple.go
  cmd/bd/flow.go
  cmd/bd/intake.go
  cmd/bd/land.go
  cmd/bd/markdown.go
  cmd/bd/preflight.go
  cmd/bd/recover.go
  cmd/bd/resume.go
  cmd/bd/state.go
  cmd/bd/update.go
  docs/CONTROL_PLANE_CONTRACT.md
  docs/PLUGIN.md
  docs/agents/README.md
  docs/agents/executor.md
  docs/agents/planner.md
  docs/agents/reviewer.md
  docs/control-plane/evidence-matrix.json
  docs/control-plane/migration-verification-report.md
  integrations/beads-mcp/src/beads_mcp/server.py
  integrations/beads-mcp/tests/_bd_binary.py
  integrations/beads-mcp/tests/conftest.py
  integrations/beads-mcp/tests/test_bd_client_integration.py
  integrations/beads-mcp/tests/test_control_plane_parity.py
  integrations/beads-mcp/tests/test_lifecycle.py
  integrations/beads-mcp/tests/test_mcp_server_integration.py
  integrations/beads-mcp/tests/test_tools.py
  integrations/beads-mcp/tests/test_worktree_separate_dbs.py
  tests/control_plane_parity_test.go
Due: CLI Commands

Stabilize hook and non-CGO test expectations
  beads_test.go
  cmd/bd/doctor/artifacts_test.go
  cmd/bd/doctor/checks_nocgo.go
  cmd/bd/hooks_test.go
Due: CLI Commands

feat: wire template loading into init_agent.go
  cmd/bd/init.go
  cmd/bd/init_agent.go
Due: CLI Commands

docs: document --agents-template flag and init.agents-template config key
  cmd/bd/init.go
  docs/CONFIG.md
Due: CLI Commands

test: add integration tests for AGENTS.md template lifecycle
  cmd/bd/init_agent_integration_test.go
Due: none

feat: wire template loading into setup/agents.go
  cmd/bd/setup/agents.go
  cmd/bd/setup/factory_test.go
Due: CLI Commands

test: add comprehensive tests for template loading and rendering
  cmd/bd/setup/factory_test.go
  internal/templates/agents/agents_test.go
Due: none

feat: add bd agents-template subcommand with show/init/edit/diff
  cmd/bd/agents_template.go
  cmd/bd/agents_template_test.go
  cmd/bd/init.go
  cmd/bd/init_agent_integration_test.go
  cmd/bd/init_agent_test.go
  cmd/bd/main.go
  internal/templates/agents/agents.go
  internal/templates/agents/agents_test.go
Due: CLI Commands

test: add tests for init_agent.go template wiring
  cmd/bd/init_agent_test.go
Due: none

refactor: remove template variables, use plain text AGENTS.md template
  cmd/bd/init.go
  cmd/bd/init_agent.go
  cmd/bd/setup/agents.go
  cmd/bd/setup/factory_test.go
  internal/templates/agents/agents.go
  internal/templates/agents/agents_test.go
  internal/templates/agents/defaults/agents.md.tmpl
Due: CLI Commands

fix: gofmt trailing newline in init_agent_test.go
  cmd/bd/init_agent_test.go
Due: none

feat: add --agents-template flag and config key to bd init
  cmd/bd/init.go
  cmd/bd/init_agent.go
Due: CLI Commands

test: verify --agents-template flag registration and help text
  cmd/bd/init_agent_test.go
Due: none

feat: add template loading infrastructure for AGENTS.md
  internal/templates/agents/agents.go
  internal/templates/agents/agents_test.go
  internal/templates/agents/defaults/agents.md.tmpl
Due: none

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
