Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

fix: add contributor auto-routing fallback to show/update/close (GH#2345)
  cmd/bd/routed.go
Due: CLI Commands

feat: add version to END marker for better future matching
  cmd/bd/doctor_fix_pending_migrations_test.go
  cmd/bd/hooks.go
  cmd/bd/init_hooks_test.go
  cmd/bd/migrate_hooks_apply_test.go
Due: CLI Commands

fix: address code review findings for hook marker handling
  cmd/bd/hooks.go
  cmd/bd/init_hooks_test.go
  cmd/bd/migrate_hooks_apply.go
Due: CLI Commands

fix: handle orphaned BEGIN marker in injectHookSection (GH#2344)
  cmd/bd/hooks.go
  cmd/bd/init_hooks_test.go
Due: CLI Commands

style: fix gofmt alignment in init_hooks_test.go
  cmd/bd/init_hooks_test.go
Due: none

fix: make bd doctor --fix repair broken hook markers (GH#2344)
  cmd/bd/doctor_fix_pending_migrations_test.go
  cmd/bd/migrate_hooks_apply.go
  cmd/bd/migrate_hooks_apply_test.go
Due: CLI Commands

test: add migration test for legacy hook with backup sidecar
  cmd/bd/migrate_hooks_apply_test.go
Due: none

fix(dolt): use database subdirectory for CLI push/pull/fetch operations
  internal/storage/dolt/federation.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix: warn on user-modified legacy hooks during migration
  cmd/bd/doctor/hooks_migration.go
  cmd/bd/migrate_hooks_apply.go
  cmd/bd/migrate_hooks_apply_test.go
Due: CLI Commands

/internal/storage/embeddeddolt: refactor to use short-lived access pattern
  internal/storage/embeddeddolt/store.go
  internal/storage/embeddeddolt/store_stub.go
Due: Storage & Database

/internal/storage/embeddeddolt/store.go: fix formatting
  internal/storage/embeddeddolt/store.go
Due: Storage & Database

fix: remove dead 3-way merge config remnants (GH#2353)
  cmd/bd/config.go
  cmd/bd/config_test.go
  docs/ATTRIBUTION.md
  docs/CONFIG.md
  docs/TESTING_PHILOSOPHY.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/sync.go
  internal/config/sync_test.go
  internal/testutil/testdoltserver.go
Due: CLI Commands, Core Types & Utilities

chore: bump version to 0.59.0
  .beads/formulas/beads-release.formula.toml
  .claude-plugin/marketplace.json
  CHANGELOG.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/info.go
  cmd/bd/version.go
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
Due: CLI Commands

Remove vestigial sync mode scaffolding.
  cmd/bd/config.go
  cmd/bd/config_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/sync.go
  internal/config/sync_test.go
Due: CLI Commands, Core Types & Utilities

Remove dead sync.mode references from docs, comments, and config.
  .beads/config.yaml
  cmd/bd/config.go
  cmd/bd/test_helpers_test.go
  docs/CONFIG.md
  internal/config/testmain_test.go
Due: CLI Commands

Add 'bd done' as alias for 'bd close'
  cmd/bd/close.go
Due: CLI Commands

fix(list): --json flag ignored when --tree defaults to true
  cmd/bd/list.go
Due: CLI Commands

bd: backup 2026-03-05 22:39
  .beads/backup/backup_state.json
Due: none

bd: backup 2026-03-05 22:54
  .beads/backup/backup_state.json
Due: none

bd: backup 2026-03-05 23:54
  .beads/backup/backup_state.json
Due: none

bd: backup 2026-03-05 23:24
  .beads/backup/backup_state.json
Due: none

bd: backup 2026-03-06 00:57
  .beads/backup/backup_state.json
Due: none

bd: backup 2026-03-05 23:09
  .beads/backup/backup_state.json
Due: none

bd: backup 2026-03-06 01:12
  .beads/backup/backup_state.json
Due: none

bd: backup 2026-03-06 00:09
  .beads/backup/backup_state.json
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-03-05 23:39
  .beads/backup/backup_state.json
Due: none

bd: backup 2026-03-06 00:42
  .beads/backup/backup_state.json
Due: none

fix: restore --allow-stale as no-op flag for gt compatibility
  cmd/bd/main.go
Due: CLI Commands

fix: hide --allow-stale no-op flag from help output
  cmd/bd/main.go
Due: CLI Commands

cleanup: remove 3-way merge engine remnants
  cmd/bd/doctor.go
  cmd/bd/doctor/agent.go
  cmd/bd/doctor/checks_nocgo.go
  cmd/bd/doctor/fix/artifacts.go
  cmd/bd/doctor/fix/artifacts_test.go
  cmd/bd/doctor/fix/validation.go
  cmd/bd/doctor/validation.go
  cmd/bd/doctor_fix.go
  cmd/bd/main.go
Due: CLI Commands

Remove vestigial SyncMode scaffolding (w-bd-004)
  cmd/bd/config.go
  cmd/bd/config_test.go
  docs/CONFIG.md
  docs/DOLT-BACKEND.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/sync.go
  internal/config/sync_test.go
Due: CLI Commands, Core Types & Utilities

feat: bd done <id> <message> treats last arg as reason
  cmd/bd/close.go
Due: CLI Commands

fix: circuit breaker probe uses configured host instead of hardcoded 127.0.0.1
  internal/storage/dolt/circuit.go
  internal/storage/dolt/circuit_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix: resolve host and port from single source to prevent mismatched combos
  cmd/bd/main.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: CLI Commands

docs(architecture): add beads architecture and feature inventory
  docs/architecture-current.md
  docs/features-inventory.md
Due: none

docs: add known gaps section
  docs/features-inventory.md
Due: none

docs: make docs standalone
  docs/architecture-current.md
  docs/features-inventory.md
Due: none

fix: filter molecule step wisps from default bd list output
  cmd/bd/list.go
  internal/storage/dolt/filters.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

docs: align CLI docs with implemented command surface
  claude-plugin/skills/beads/resources/CLI_REFERENCE.md
  docs/ADVANCED.md
  docs/AIDER_INTEGRATION.md
  docs/ARCHITECTURE.md
  docs/CLAUDE.md
  docs/CLI_REFERENCE.md
  docs/COMMUNITY_TOOLS.md
  docs/CONFIG.md
  docs/COPILOT_INTEGRATION.md
  docs/DOLT-BACKEND.md
  docs/FAQ.md
  docs/GIT_INTEGRATION.md
  docs/MULTI_REPO_AGENTS.md
  docs/MULTI_REPO_MIGRATION.md
  docs/PROTECTED_BRANCHES.md
  docs/REPO_CONTEXT.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  docs/WORKTREES.md
  docs/architecture-current.md
  docs/features-inventory.md
Due: none
