Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix(doctor): add bd.sock.startlock to gitignore template (GH#1878)
  cmd/bd/doctor/gitignore.go
Due: CLI Commands

fix(list): ensure --all overrides limit with any filter combination (GH#1840)
  cmd/bd/list.go
Due: CLI Commands

refactor(dolt): centralize issue scan projection to prevent column drift
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/issue_scan.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/transaction.go
Due: Storage & Database

fix(test): remove t.Parallel() from cobra Help tests to fix data race
  cmd/bd/search_test.go
  cmd/bd/test_helpers_test.go
Due: none

test: add cobra-parallel policy guard and stdio mutex contract test
  cmd/bd/stdio_race_guard_test.go
  cmd/bd/test_helpers_test.go
Due: none

refactor(test): strengthen cobra-parallel policy guard
  cmd/bd/stdio_race_guard_test.go
Due: none

fix(hooks): skip JSONL export/import in dolt-native sync mode
  cmd/bd/hook.go
  cmd/bd/hooks.go
  cmd/bd/sync.go
Due: CLI Commands

docs: recommend bd update --claim for atomic task start
  .github/copilot-instructions.md
  claude-plugin/agents/task-agent.md
  claude-plugin/commands/update.md
  claude-plugin/commands/workflow.md
  claude-plugin/skills/beads/SKILL.md
Due: none

fix: resolve Windows file locking race condition during npm install
  npm-package/scripts/postinstall.js
Due: none

chore: Bump version to 0.55.2
  .beads/formulas/beads-release.formula.toml
  .claude-plugin/marketplace.json
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/info.go
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
  cmd/bd/templates/hooks/pre-commit
  cmd/bd/templates/hooks/pre-push
  cmd/bd/version.go
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
  scripts/release.sh
Due: CLI Commands

feat: add orphan detection migration (bd-3852)
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/003_orphan_detection.go
  internal/storage/dolt/migrations/migrations_test.go
Due: Storage & Database

fix: resolve Windows file locking race condition during npm install (#1923)
  npm-package/scripts/postinstall.js
Due: none

docs: use --claim when starting work (#1920)
  .github/copilot-instructions.md
  claude-plugin/agents/task-agent.md
  claude-plugin/commands/update.md
  claude-plugin/commands/workflow.md
  claude-plugin/skills/beads/SKILL.md
Due: none

fix(hooks): skip JSONL export/import in dolt-native sync mode (#1919)
  cmd/bd/hook.go
  cmd/bd/hooks.go
  cmd/bd/sync.go
Due: CLI Commands

fix: normalize CRLF line endings in git hook files (#1917)
  .gitattributes
  cmd/bd/hooks.go
  cmd/bd/init_git_hooks.go
Due: CLI Commands

fix(test): resolve cobra OutOrStdout data race in CI (#1916)
  cmd/bd/search_test.go
  cmd/bd/stdio_race_guard_test.go
  cmd/bd/test_helpers_test.go
Due: none

refactor(dolt): centralize issue scan projection to prevent column drift (#1914)
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/issue_scan.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/transaction.go
Due: Storage & Database

fix(bootstrap): handle empty JSONL gracefully instead of failing (#1911)
  internal/storage/dolt/bootstrap.go
  internal/storage/dolt/bootstrap_test.go
Due: Storage & Database

fix: wrap AddDependency/RemoveDependency in explicit transactions (#1909)
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/server_dependency_test.go
Due: Storage & Database

ready: consider closed blockers as satisfied for ready work (#1902)
  cmd/bd/ready.go
  cmd/bd/ready_test.go
Due: CLI Commands

fix: remove stale --no-db flag references from help and errors (#1895)
  cmd/bd/defer.go
  cmd/bd/init.go
  cmd/bd/lint.go
  cmd/bd/main.go
  cmd/bd/markdown.go
  cmd/bd/promote.go
  cmd/bd/reopen.go
  cmd/bd/sql.go
  cmd/bd/undefer.go
Due: CLI Commands

fix: use dependency edges for duplicate/supersede commands (#1894)
  cmd/bd/duplicate.go
Due: CLI Commands

Add Foolery to Claude Code Orchestration community tools (#1892)
  docs/COMMUNITY_TOOLS.md
Due: none

fix: SQLite URI missing file: prefix causes ?mode=ro file creation (#1891)
  cmd/bd/migrate_dolt.go
Due: CLI Commands

fix(list): ensure --all overrides limit with any filter combination (#1886)
  cmd/bd/list.go
Due: CLI Commands

fix(doctor): add bd.sock.startlock to gitignore template (#1885)
  cmd/bd/doctor/gitignore.go
Due: CLI Commands

fix(list): treat missing blockers as resolved in annotations (#1884)
  cmd/bd/list_format.go
Due: CLI Commands

chore: Bump version to 0.55.3
  .claude-plugin/marketplace.json
  .goreleaser.yml
  CHANGELOG.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/info.go
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
  cmd/bd/templates/hooks/pre-commit
  cmd/bd/templates/hooks/pre-push
  cmd/bd/version.go
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
Due: CLI Commands

Fix: Include parent-to-child dependencies in export (bd-e54)
  cmd/bd/export.go
Due: CLI Commands

Add unit tests for export bidirectional dependency population
  cmd/bd/export_dep_test.go
Due: none

feat: add SQLite ephemeral store for wisps/molecules (bd-pedpnn)
  .beads/.gitignore
  cmd/bd/doctor/gitignore.go
  cmd/bd/main.go
  cmd/bd/migrate_ephemeral.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/ephemeral_routing_test.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/store.go
  internal/storage/ephemeral/dependencies.go
  internal/storage/ephemeral/events.go
  internal/storage/ephemeral/issues.go
  internal/storage/ephemeral/labels.go
  internal/storage/ephemeral/schema.go
  internal/storage/ephemeral/store.go
  internal/storage/ephemeral/store_test.go
  internal/storage/ephemeral/transaction.go
Due: CLI Commands, Storage & Database

chore: Bump version to 0.55.4
  .claude-plugin/marketplace.json
  .claude/hooks/block-gh-watch.sh
  .claude/settings.json
  .goreleaser.yml
  CHANGELOG.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/info.go
  cmd/bd/templates/hooks/post-checkout
  cmd/bd/templates/hooks/post-merge
  cmd/bd/templates/hooks/pre-commit
  cmd/bd/templates/hooks/pre-push
  cmd/bd/version.go
  default.nix
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
Due: CLI Commands

fix: add routing transaction for ephemeral store (bd-3wi7r5)
  internal/storage/dolt/transaction.go
  internal/storage/ephemeral/issues.go
  internal/storage/ephemeral/transaction.go
Due: Storage & Database

fix(doctor): use configured database name in federation checks (#1904)
  cmd/bd/doctor/federation.go
Due: CLI Commands

fix(doctor): include database param in embedded connection string (#1924)
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/perf_dolt.go
Due: CLI Commands

fix(doctor): run Dolt health checks before federation checks (#1925)
  cmd/bd/doctor.go
Due: CLI Commands

fix(doctor): exclude external: deps from orphaned dependency check (#1593)
  cmd/bd/doctor/fix/validation.go
  cmd/bd/doctor/validation.go
Due: CLI Commands

feat(otel): comprehensive OpenTelemetry instrumentation
  cmd/bd/find_duplicates.go
  cmd/bd/main.go
  go.mod
  go.sum
  internal/compact/haiku.go
  internal/hooks/hooks_unix.go
  internal/hooks/hooks_windows.go
  internal/storage/dolt/access_lock.go
  internal/storage/dolt/store.go
  internal/storage/ephemeral/store.go
  internal/telemetry/otlp.go
  internal/telemetry/storage.go
  internal/telemetry/telemetry.go
  internal/tracker/engine.go
Due: CLI Commands, Storage & Database, Sync & Git Operations, External Integrations

docs: add OBSERVABILITY.md for OpenTelemetry integration
  docs/OBSERVABILITY.md
Due: none

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
