Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

init: run Codex project setup by default
  README.md
  cmd/bd/init.go
  cmd/bd/init_embedded_test.go
  cmd/bd/onboard.go
  cmd/bd/setup.go
  cmd/bd/setup/codex.go
  docs/CLI_REFERENCE.md
  docs/CODEX_INTEGRATION.md
  docs/GIT_INTEGRATION.md
  docs/INSTALLING.md
  docs/SETUP.md
  website/docs/cli-reference/init.md
  website/docs/cli-reference/onboard.md
  website/docs/cli-reference/setup.md
  website/docs/getting-started/installation.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.0/cli-reference/onboard.md
  website/versioned_docs/version-1.0.0/cli-reference/setup.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/onboard.md
  website/versioned_docs/version-1.0.4/cli-reference/setup.md
Due: CLI Commands

test: reproduce pr4107 corruption regressions (bd-rzn)
  internal/storage/dolt/pr4107_corruption_test.go
Due: none

test: expand pr4107 corruption coverage (bd-rzn)
  internal/storage/dolt/pr4107_corruption_test.go
Due: none

fix: repair pr4107 blocked-state corruption
  internal/storage/issueops/blocked_state.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/ready_work_counts.go
  internal/storage/issueops/search_counts.go
  internal/storage/issueops/wisp_routing.go
  internal/storage/schema/migrations/0047_recompute_mixed_is_blocked.up.sql
  internal/storage/schema/migrations/ignored/0007_recompute_wisp_is_blocked.up.sql
Due: Storage & Database

test(ready): cover include-ephemeral assigned no-history work
  cmd/bd/metadata_ready_test.go
Due: none

fix(cli): skip redundant server-mode write auto-commits
  cmd/bd/assign.go
  cmd/bd/close.go
  cmd/bd/create.go
  cmd/bd/dolt_autocommit.go
  cmd/bd/dolt_autocommit_server_test.go
  cmd/bd/ready.go
  cmd/bd/store_factory.go
  cmd/bd/store_factory_nocgo.go
  cmd/bd/update.go
Due: CLI Commands

test(ready): benchmark limited wisp-heavy ready queries
  internal/storage/dolt/dolt_benchmark_test.go
Due: none

fix: restore green Dolt storage suite
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/initschema_concurrent_test.go
  internal/storage/dolt/iter_dependents.go
  internal/storage/dolt/store.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/promote.go
Due: Storage & Database

perf(ready): page limited ephemeral scans
  cmd/bd/ready.go
  internal/storage/dolt/queries_test.go
  internal/storage/issueops/ready_work.go
Due: CLI Commands, Storage & Database

test: repair regression workflow after show json streaming
  .github/workflows/regression.yml
  tests/regression/regression_test.go
  tests/regression/scenarios_test.go
Due: none

perf(dolt): allow skipping CLI remote startup sync
  cmd/bd/main.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/yaml_config.go
  internal/storage/dolt/open.go
  internal/storage/dolt/open_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

fix: honor storage flags for graph create
  cmd/bd/create_embedded_test.go
Due: none

perf(list): add minimal wisp-tier scans
  cmd/bd/create.go
  cmd/bd/dolt_autocommit_server_test.go
  cmd/bd/list.go
  internal/storage/issueops/ready_work_test.go
  internal/storage/issueops/search.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

fix: skip redundant server-mode write auto-commits
  cmd/bd/assign.go
  cmd/bd/close.go
  cmd/bd/create.go
  cmd/bd/dolt_autocommit.go
  cmd/bd/dolt_autocommit_server_test.go
  cmd/bd/ready.go
  cmd/bd/store_factory.go
  cmd/bd/store_factory_nocgo.go
  cmd/bd/update.go
Due: CLI Commands

fix(ready): include no-history wisps with ephemeral ready work
  cmd/bd/metadata_ready_test.go
Due: none

fix: make mixed blocked migration upgrade-safe
  internal/storage/schema/migrations/0047_recompute_mixed_is_blocked.up.sql
  internal/storage/schema/schema_test.go
Due: Storage & Database

flake.lock: Update
  flake.lock
Due: none

fix(ci): skip regression for test-only CLI changes (bd-g72vf)
  .github/workflows/regression.yml
Due: none

Fix review blockers for PR4107 corruption repair (bd-yueuq)
  internal/storage/dolt/is_blocked_test.go
  internal/storage/dolt/pr4107_corruption_test.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/search_counts.go
  internal/storage/issueops/search_counts_test.go
  internal/storage/schema/migrations/0047_recompute_mixed_is_blocked.up.sql
  internal/storage/schema/migrations/ignored/0003_split_wisp_dependencies_target.up.sql
Due: Storage & Database

fix(compact): pass --allow-empty to DOLT_CHERRY_PICK
  internal/storage/versioncontrolops/compact.go
Due: Storage & Database

fix: repair PR4107 blocked-state corruption (#4139)
  .github/workflows/regression.yml
  cmd/bd/ready.go
  internal/storage/dolt/dolt_benchmark_test.go
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/initschema_concurrent_test.go
  internal/storage/dolt/is_blocked_test.go
  internal/storage/dolt/iter_dependents.go
  internal/storage/dolt/pr4107_corruption_test.go
  internal/storage/dolt/queries_test.go
  internal/storage/dolt/store.go
  internal/storage/issueops/blocked_state.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/promote.go
  internal/storage/issueops/ready_work.go
  internal/storage/issueops/ready_work_counts.go
  internal/storage/issueops/search_counts.go
  internal/storage/issueops/search_counts_test.go
  internal/storage/issueops/wisp_routing.go
  internal/storage/schema/migrations/0047_recompute_mixed_is_blocked.up.sql
  internal/storage/schema/migrations/ignored/0003_split_wisp_dependencies_target.up.sql
  internal/storage/schema/migrations/ignored/0007_recompute_wisp_is_blocked.up.sql
  internal/storage/schema/schema_test.go
  tests/regression/regression_test.go
  tests/regression/scenarios_test.go
Due: CLI Commands, Storage & Database

fix: make dolt push fsck timeout non-fatal
  internal/storage/dolt/errors.go
  internal/storage/dolt/federation.go
  internal/storage/dolt/fsck_test.go
  internal/storage/dolt/push_lock_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix: cache CLI remote listing
  internal/storage/doltutil/remotes.go
  internal/storage/doltutil/remotes_cache_test.go
Due: Storage & Database

fix(dolt): commit initial create relations
  internal/storage/dolt/create_issue_commit_test.go
  internal/storage/dolt/issues.go
  internal/storage/issueops/create.go
Due: Storage & Database

fix(cli): create labels in initial issue write
  cmd/bd/create.go
  cmd/bd/create_labels_test.go
Due: CLI Commands

fix: address create review findings
  CHANGELOG.md
  cmd/bd/create.go
  cmd/bd/create_embedded_test.go
  cmd/bd/create_form.go
  cmd/bd/create_labels_test.go
  cmd/bd/graph_apply.go
  cmd/bd/quick.go
  docs/messaging.md
  internal/storage/child_counter_reservation.go
  internal/storage/dolt/create_issue_commit_test.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/transaction_test.go
  internal/storage/embeddeddolt/create_issue_test.go
  internal/storage/embeddeddolt/transaction.go
  internal/storage/hook_decorator.go
  internal/storage/hook_decorator_internal_test.go
  internal/storage/issueops/create.go
  internal/storage/issueops/create_test.go
  internal/storage/issueops/dependencies.go
Due: CLI Commands, Storage & Database

fix: preserve tolerant import dependency handling
  cmd/bd/import.go
  cmd/bd/import_from_jsonl_test.go
  cmd/bd/import_shared.go
  internal/storage/batch.go
  internal/storage/issueops/create.go
  internal/storage/issueops/create_test.go
Due: CLI Commands, Storage & Database

fix: skip mixed-bucket import dependencies (bd-6r6rc)
  cmd/bd/import_from_jsonl_test.go
  internal/storage/embeddeddolt/create_issue_test.go
  internal/storage/issueops/create.go
  internal/storage/issueops/create_test.go
Due: Storage & Database

fix(config): remove double 'Error:' prefix from rejectProtectedConfigKey
  cmd/bd/config.go
Due: CLI Commands

test(cli): be-lbhy2 dolt.local-only enforcement gate tests (TDD, be-3v2ou)
  cmd/bd/dolt_local_only_embedded_test.go
  cmd/bd/dolt_local_only_test.go
Due: none

feat(dolt): implement dolt.local-only enforcement (be-3v2ou, FR-01 to FR-05)
  cmd/bd/dolt.go
  cmd/bd/dolt_autopush.go
  cmd/bd/dolt_local_only.go
  cmd/bd/dolt_local_only_embedded_test.go
Due: CLI Commands

fix(create): commit labels during initial issue creation (#4149)
  CHANGELOG.md
  cmd/bd/create.go
  cmd/bd/create_embedded_test.go
  cmd/bd/create_form.go
  cmd/bd/create_labels_test.go
  cmd/bd/graph_apply.go
  cmd/bd/import.go
  cmd/bd/import_from_jsonl_test.go
  cmd/bd/import_shared.go
  cmd/bd/quick.go
  docs/messaging.md
  internal/storage/batch.go
  internal/storage/child_counter_reservation.go
  internal/storage/dolt/create_issue_commit_test.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/transaction_test.go
  internal/storage/embeddeddolt/create_issue_test.go
  internal/storage/embeddeddolt/transaction.go
  internal/storage/hook_decorator.go
  internal/storage/hook_decorator_internal_test.go
  internal/storage/issueops/create.go
  internal/storage/issueops/create_test.go
  internal/storage/issueops/dependencies.go
Due: CLI Commands, Storage & Database

feat(schema): schema-skew guard — hard fail on forward DB drift (be-wwbsv)
  cmd/bd/main.go
  cmd/bd/schema_skew.go
  cmd/bd/schema_skew_test.go
  internal/storage/dolt/schema_skew_test.go
  internal/storage/dolt/store.go
  internal/storage/schema/schema.go
  internal/storage/schema/schema_skew_test.go
Due: CLI Commands, Storage & Database

feat(dolt): git-origin collision guard in bd dolt remote add + bd doctor (be-7eu1d, FR-06 to FR-09)
  cmd/bd/doctor.go
  cmd/bd/doctor/remotes.go
  cmd/bd/doctor/types.go
  cmd/bd/dolt.go
  cmd/bd/dolt_remote_guard.go
  cmd/bd/dolt_remote_origin_guard_embedded_test.go
  cmd/bd/dolt_remote_origin_guard_test.go
Due: CLI Commands

test(cmd/bd): be-0x25q flag-to-env-var propagation gate for --ignore-schema-skew
  cmd/bd/schema_skew_test.go
Due: none

feat(bd): honor MIGRATION-FREEZE sentinel in write commands (gt-xcecn)
  cmd/bd/close.go
  cmd/bd/create.go
  cmd/bd/errors.go
  cmd/bd/import.go
  cmd/bd/memory.go
  cmd/bd/migration_freeze_test.go
  cmd/bd/update.go
Due: CLI Commands

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
