Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

fix(schema): be-nx7 test assertion robust to migration additions
  internal/storage/schema/schema_test.go
Due: none

perf(schema): D4v2 composite (status,updated_at) + defer_until indexes (be-s54)
  CHANGELOG.md
  internal/storage/dolt/dolt_benchmark_test.go
  internal/storage/dolt/migration_0033_test.go
  internal/storage/dolt/testmain_test.go
  internal/storage/embeddeddolt/schema_test.go
  internal/storage/schema/migrations/0033_add_date_indexes.down.sql
  internal/storage/schema/migrations/0033_add_date_indexes.up.sql
Due: Storage & Database

fix(dolt): be-pq5 PURGE dropped databases after DROP
  internal/storage/dolt/dolt_benchmark_purge_test.go
Due: none

fix(dolt): be-pq5 PURGE dropped databases (production code, follow-up)
  cmd/bd/dolt.go
  internal/storage/dolt/dolt_benchmark_test.go
Due: CLI Commands

fix(schema): be-kkp widen events/wisp_events value columns to LONGTEXT
  internal/storage/dolt/migration_0034_test.go
  internal/storage/schema/ignored_tables.go
  internal/storage/schema/migrations/0034_widen_event_value_columns.down.sql
  internal/storage/schema/migrations/0034_widen_event_value_columns.up.sql
Due: Storage & Database

perf(dolt): be-1he eliminate 12s `dolt remote -v` against multi-db server roots
  cmd/bd/version_tracking.go
  internal/storage/dolt/federation.go
  internal/storage/doltutil/remotes.go
Due: CLI Commands, Storage & Database

feat(test): be-6fk.6 PG testfixture + UX parity scenario + flag-set guard (local-only)
  cmd/bd/create.go
  cmd/bd/dep.go
  cmd/bd/direct_mode.go
  cmd/bd/dolt_autocommit.go
  cmd/bd/export_auto.go
  cmd/bd/init_postgres_test.go
  cmd/bd/main.go
  cmd/bd/store_factory_nocgo.go
  internal/storage/parity/parity_scenario_test.go
  internal/storage/parity/testdata/parity_scenario.golden.txt
  internal/storage/postgres/dsn/strip.go
  internal/storage/postgres/integration_test.go
  internal/storage/postgres/testfixture/testfixture.go
  scripts/check-backend-flags.sh
  scripts/testdata/backend-flags.txt
Due: CLI Commands, Storage & Database

feat(migrate): be-6fk.5 bd migrate --to=postgres (lossless Dolt → PG copy + round-trip test)
  cmd/bd/main.go
  cmd/bd/migrate.go
  internal/storage/dolt/store.go
  internal/storage/embeddeddolt/store.go
  internal/storage/migration/copy.go
  internal/storage/migration/doc.go
  internal/storage/migration/migrate.go
  internal/storage/migration/roundtrip_test.go
  internal/storage/migration/tables.go
  internal/storage/postgres/store.go
Due: CLI Commands, Storage & Database

feat(storage): be-6fk.3 PostgresBackend core (pgx/v5, hand-written SQL)
  go.mod
  go.sum
  internal/storage/postgres/claim.go
  internal/storage/postgres/comments.go
  internal/storage/postgres/config.go
  internal/storage/postgres/credentials_test.go
  internal/storage/postgres/dependencies.go
  internal/storage/postgres/errors.go
  internal/storage/postgres/events.go
  internal/storage/postgres/idgen.go
  internal/storage/postgres/integration_test.go
  internal/storage/postgres/issues.go
  internal/storage/postgres/labels.go
  internal/storage/postgres/lint/analyzer.go
  internal/storage/postgres/lint/analyzer_test.go
  internal/storage/postgres/lint/testdata/src/bad/bad.go
  internal/storage/postgres/lint/testdata/src/github.com/jackc/pgx/v5/pgx.go
  internal/storage/postgres/migrations/0001_initial.down.sql
  internal/storage/postgres/migrations/0001_initial.up.sql
  internal/storage/postgres/open.go
  internal/storage/postgres/pgconn.go
  internal/storage/postgres/queries.go
  internal/storage/postgres/redact.go
  internal/storage/postgres/scan.go
  internal/storage/postgres/schema.go
  internal/storage/postgres/store.go
  internal/storage/postgres/stubs.go
  internal/storage/postgres/transaction.go
Due: Storage & Database

feat(storage): be-6fk.2 driver registry + doltdriver glue + teststub
  beads.go
  cmd/bd/main.go
  cmd/bd/store_factory.go
  cmd/bd/store_factory_nocgo.go
  cmd/bd/store_factory_test.go
  internal/storage/doltdriver/doltdriver.go
  internal/storage/doltdriver/doltdriver_nocgo.go
  internal/storage/doltdriver/migrate_test.go
  internal/storage/registry.go
  internal/storage/registry_test.go
  internal/storage/teststub/teststub.go
  internal/storage/teststub/teststub_test.go
Due: CLI Commands, Storage & Database

docs(postgres): be-6fk.7 audit-trail strategy memo (writeup only, local-only)
  docs/ARCHITECTURE.md
  docs/AUDIT_TRAIL_POSTGRES.md
Due: none

feat(cli): be-6fk.4 bd init --backend flag + DSN persistence (local-only)
  cmd/bd/init.go
  cmd/bd/init_postgres.go
  cmd/bd/init_postgres_test.go
  cmd/bd/init_test.go
  cmd/bd/store_factory.go
  internal/configfile/configfile.go
  internal/configfile/configfile_test.go
  internal/storage/postgres/dsn/strip.go
  internal/storage/postgres/dsn/strip_test.go
Due: CLI Commands, Storage & Database

fix(migrate): be-b0h end-to-end Dolt→PG migration on real .beads dirs
  cmd/bd/migrate.go
  internal/storage/migration/migrate.go
  internal/storage/postgres/migrations/0002_drop_child_counters_fk.down.sql
  internal/storage/postgres/migrations/0002_drop_child_counters_fk.up.sql
  internal/storage/postgres/schema.go
Due: CLI Commands, Storage & Database

fix(postgres): be-b8p apply review findings #1-4 (audit-trail events, wisp routing, advisory unlock, UTC test)
  internal/storage/postgres/comments.go
  internal/storage/postgres/dependencies.go
  internal/storage/postgres/integration_test.go
  internal/storage/postgres/schema.go
  internal/storage/postgres/transaction.go
  internal/storage/postgres/wisp_routing.go
Due: Storage & Database

fix(postgres): be-2oq apply LOW findings from be-6fk.6 review
  cmd/bd/dep.go
  internal/storage/parity/parity_scenario_test.go
  internal/storage/postgres/testfixture/testfixture.go
Due: CLI Commands, Storage & Database

feat(bench): be-ry0 PG bench scaffolding (3 named benchmarks + extensible wrapper)
  .gitignore
  Makefile
  internal/storage/postgres/benchmark_test.go
  internal/storage/postgres/testfixture/testfixture.go
  scripts/benchstat-postgres.sh
Due: Storage & Database

fix(test): be-y8g parity scenario identity scrub (BLOCKER from review)
  internal/storage/parity/parity_scenario_test.go
  internal/storage/parity/testdata/parity_scenario.golden.txt
Due: none

fix(cli): be-xz4 backend-aware gating sweep (auto-backup PostRun + bootstrap top-level refusal)
  cmd/bd/auto_import_upgrade.go
  cmd/bd/backup_auto.go
  cmd/bd/backup_dolt.go
  cmd/bd/backup_export.go
  cmd/bd/backup_restore.go
  cmd/bd/bootstrap.go
  internal/storage/parity/parity_scenario_test.go
  internal/storage/parity/testdata/parity_scenario.golden.txt
Due: CLI Commands

fixup(rebase): post-rebase reconciliation onto origin/main
  cmd/bd/close_routing_test.go
  cmd/bd/dolt_autocommit.go
  cmd/bd/init_test_helpers_test.go
  cmd/bd/store_factory_nocgo.go
  cmd/bd/test_helpers_pure_test.go
Due: CLI Commands

fix(utils): be-szr ResolvePartialID falls through to GetIssue for wisps
  internal/utils/id_parser.go
Due: Core Types & Utilities

test: fix release preflight harness checks
  cmd/bd/main.go
  npm-package/test/integration.test.js
  scripts/upgrade-smoke-test.sh
Due: CLI Commands

docs: post-mortem for fork sync 0.59.0 → 1.0.3 (dc-4sks)
  scripts/post-mortem-beads-fork-sync.md
Due: none

feat(create): auto-convoy hook for crew-actor `bd create` (dc-xlcj) (#1)
  cmd/bd/auto_convoy.go
  cmd/bd/auto_convoy_test.go
  cmd/bd/create.go
Due: CLI Commands

fix(auto-import): add BEADS_NO_AUTO_IMPORT escape hatch (dc-4dix)
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_test.go
Due: CLI Commands

fix(show): be-4d36f2 return shallow Dependents in --json to bound RAM
  cmd/bd/show.go
Due: CLI Commands

refactor(show): extract shallowDependentsForJSON + tests
  cmd/bd/show.go
  cmd/bd/show_shallow_dependents_test.go
Due: CLI Commands

fix: honor deferred ready list filters
  cmd/bd/list.go
  cmd/bd/list_helpers_test.go
Due: CLI Commands

feat(formula): add bd formula schema reflection-driven primitive index (beads-9ib)
  cmd/bd/formula_schema.go
  cmd/bd/formula_schema_test.go
  internal/formula/cmd/schemagen/main.go
  internal/formula/schema.go
  internal/formula/schema_gen.go
  internal/formula/schema_gen_test.go
  internal/formula/schema_test.go
  internal/formula/schemagen/schemagen.go
Due: CLI Commands

fix(doctor): use US spelling in conventions comment
  cmd/bd/doctor_conventions.go
Due: CLI Commands

fix(doctor): address review findings on embedded-mode rework
  cmd/bd/doctor.go
  cmd/bd/doctor_embedded_test.go
Due: CLI Commands

feat(formula): point bd formula --help at the primitive index (beads-lnf)
  cmd/bd/formula.go
  cmd/bd/testdata/formula_help.txt
Due: CLI Commands

feat(formula): curated primitive examples + smoke harness (beads-0sp)
  cmd/bd/formula_primitives_test.go
  examples/formulas/primitives/README.md
  examples/formulas/primitives/branch-fanin.formula.toml
  examples/formulas/primitives/children-epic.formula.toml
  examples/formulas/primitives/condition.formula.toml
  examples/formulas/primitives/gate-timer.formula.toml
  examples/formulas/primitives/loop-count.formula.toml
  examples/formulas/primitives/loop-range.formula.toml
Due: none

fix(cli): initialize store in human respond/dismiss commands
  cmd/bd/human.go
  cmd/bd/human_embedded_test.go
Due: CLI Commands

fix(formula): satisfy CI gosec G306 + regen CLI doc for new help text
  docs/CLI_REFERENCE.md
  internal/formula/cmd/schemagen/main.go
  website/docs/cli-reference/formula.md
  website/versioned_docs/version-1.0.0/cli-reference/formula.md
Due: none

fix(template): persist labels in cloneSubgraph (GH#3784)
  cmd/bd/template.go
  cmd/bd/template_test.go
Due: CLI Commands

fix(test): robustify human embedded integration tests (PR #6)
  cmd/bd/human_embedded_test.go
Due: none
