Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

docs(readme): use supported go install form in schema-skew hint
  README.md
Due: none

fix(show): propagate IterDependents/IterComments errors instead of swallowing them (be-kzipe)
  cmd/bd/show.go
Due: CLI Commands

fix(rebase): drop #4028-superseded fork-detect; take main init.go/init_contributor.go (be-15y28)
  cmd/bd/fork_detect_embedded_test.go
  cmd/bd/init.go
  cmd/bd/init_contributor.go
Due: CLI Commands

fix(jira): remove duplicate configStore Iter* stub methods (be-zwpjn)
  internal/jira/tracker_test.go
Due: none

fix(telemetry): gofmt storage.go to satisfy format check (be-zwpjn)
  internal/telemetry/storage.go
Due: none

fix(jira): remove duplicate configStore Iter* stub methods (be-v8sb4)
  internal/jira/tracker_test.go
Due: none

fix(doctor): prefer wisp on cross-table dup; add CGO-free duplicate check (be-iabdi)
  cmd/bd/doctor/cross_table.go
  cmd/bd/doctor/fix/validation.go
  cmd/bd/doctor_fix.go
  cmd/bd/doctor_validate.go
  internal/storage/dolt/mixed_table_lifecycle_test.go
  internal/storage/issueops/dependency_queries.go
  internal/storage/issueops/ready_work.go
  internal/storage/issueops/ready_work_counts.go
  internal/storage/issueops/ready_work_test.go
  internal/storage/issueops/search.go
  internal/storage/issueops/search_counts.go
Due: CLI Commands, Storage & Database

fix(ready_work): remove dead error return from mergeReadyWisps (unparam lint)
  internal/storage/issueops/ready_work.go
  internal/storage/issueops/ready_work_test.go
Due: Storage & Database

fix(close): update last-touched on --continue auto-advance (#3769)
  cmd/bd/close.go
  cmd/bd/close_embedded_test.go
Due: CLI Commands

perf(dolt): skip auto-export/backup/push on reads, batch routing config, skip empty-list deps
  cmd/bd/list.go
  cmd/bd/main.go
  cmd/bd/routing_read.go
  internal/storage/dolt/sqltrace.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

perf(dolt): cut remote-server bd-list RTTs
  internal/storage/dolt/config.go
  internal/storage/dolt/store.go
  internal/storage/doltutil/dsn.go
  internal/storage/issueops/config_metadata.go
Due: Storage & Database

perf(auto-export): parallelize the five bulk-load reads
  cmd/bd/export_auto.go
Due: CLI Commands

perf(dolt): SearchIssues on a pooled conn, pin MaxAllowedPacket
  internal/storage/dolt/queries.go
  internal/storage/doltutil/dsn.go
  internal/storage/issueops/dependency_queries.go
  internal/storage/issueops/labels.go
  internal/storage/issueops/search.go
Due: Storage & Database

perf(auto-export): default to a 5-minute throttle in dolt_mode=server
  cmd/bd/export_auto.go
Due: CLI Commands

perf(issueops): batch wisp routing in GetCommentCountsInTx
  internal/storage/issueops/comments.go
Due: Storage & Database

perf(dolt): store-open prefetch + wisps-merge skip
  internal/storage/dolt/config.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/store.go
  internal/storage/issueops/search.go
Due: Storage & Database

perf(dolt): cache per-key GetConfig, skip EnsureIgnoredTables when schema-init stamp is current
  internal/storage/dolt/config.go
  internal/storage/dolt/store.go
Due: Storage & Database

perf(dolt): fix server-mode write-path stalls (auto-import + schema init)
  cmd/bd/auto_import_upgrade.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

perf(dolt): cut remote-Dolt round trips on metadata reads + connection open
  internal/storage/dolt/config.go
  internal/storage/dolt/store.go
  internal/storage/doltutil/dsn.go
  internal/storage/issueops/config_metadata.go
Due: Storage & Database

perf(auto-export): parallelize bulk-load reads, default to 5-min throttle in server mode
  cmd/bd/export_auto.go
Due: CLI Commands

perf(dolt): trace harness + gate maybeAutoBackup + skip empty-list deps + skip preflight dial
  cmd/bd/list.go
  cmd/bd/main.go
  internal/storage/dolt/sqltrace.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

/{cmd,internal}: add migrate schema command
  cmd/bd/migrate.go
  cmd/bd/migrate_embedded_test.go
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/initschema_multiprocess_test.go
  internal/storage/dolt/multistore_multiprocess_test.go
  internal/storage/dolt/schema_migration_dirty_test.go
  internal/storage/dolt/schema_version_test.go
  internal/storage/dolt/store.go
  internal/storage/embeddeddolt/store.go
  internal/storage/schema/schema.go
  internal/storage/storage.go
Due: CLI Commands, Storage & Database

/{cmd,docs,website}: gen docs
  cmd/bd/migrate.go
  cmd/bd/migrate_embedded_test.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/migrate.md
  website/versioned_docs/version-1.0.0/cli-reference/migrate.md
  website/versioned_docs/version-1.0.4/cli-reference/migrate.md
Due: CLI Commands

/internal/storage/dolt: fix after rebase
  internal/storage/dolt/initschema_concurrent_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

/{cmd,docs,website}: gen docs again
  cmd/bd/migrate.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/migrate.md
  website/versioned_docs/version-1.0.0/cli-reference/migrate.md
  website/versioned_docs/version-1.0.4/cli-reference/migrate.md
Due: CLI Commands

auto-import: gate server mode at call site
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_unit_test.go
  cmd/bd/main.go
Due: CLI Commands

init: run Codex project setup by default
  README.md
  cmd/bd/init.go
  cmd/bd/init_embedded_test.go
  cmd/bd/onboard.go
  cmd/bd/setup.go
  cmd/bd/setup/codex.go
  docs/CLI_REFERENCE.md
  docs/CODEX_INTEGRATION.md
  docs/GIT_INTEGRATION.md
  docs/INSTALLING.md
  docs/SETUP.md
  website/docs/cli-reference/init.md
  website/docs/cli-reference/onboard.md
  website/docs/cli-reference/setup.md
  website/docs/getting-started/installation.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.0/cli-reference/onboard.md
  website/versioned_docs/version-1.0.0/cli-reference/setup.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/onboard.md
  website/versioned_docs/version-1.0.4/cli-reference/setup.md
Due: CLI Commands

fix(migration): run schema migrations on a connection with no read timeout
  internal/storage/dolt/store.go
Due: Storage & Database

auto-import test: rename ServerModeFallback → FallbackImporter
  cmd/bd/auto_import_upgrade_unit_test.go
Due: none

auto-import: gate server mode at call site (#4170)
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_unit_test.go
  cmd/bd/main.go
Due: CLI Commands

docs: audit CI test surface (bd-jot)
  docs/CI_TEST_SURFACE_AUDIT.md
  docs/DOC_INVENTORY.md
  docs/TESTING.md
Due: none

/{cmd,internal}: bd ready tests
  cmd/bd/ready_embedded_test.go
  internal/storage/dolt/ready_regression_test.go
  internal/storage/issueops/ready_work_counts_test.go
Due: none

bd-91bzp: make issue prefix mutations explicit
  cmd/bd/rename_prefix.go
  internal/storage/dolt/dolt_test.go
  internal/storage/domain/db/config.go
  internal/storage/domain/db/config_test.go
  internal/storage/issueops/config_metadata.go
Due: CLI Commands, Storage & Database

test: compare ready/list parity as ID sets
  cmd/bd/ready_embedded_test.go
Due: none

/internal/storage/domain: more impls
  internal/storage/domain/config.go
  internal/storage/domain/db/config.go
  internal/storage/domain/db/config_test.go
Due: Storage & Database

/cmd/bd: wip need tests
  cmd/bd/create_proxied_server.go
  cmd/bd/create_proxied_server_test.go
  cmd/bd/init.go
Due: CLI Commands

/{cmd,internal}: wip create
  cmd/bd/create.go
  cmd/bd/create_deps.go
  cmd/bd/create_deps_test.go
  cmd/bd/create_input.go
  cmd/bd/create_proxied_server.go
  cmd/bd/create_proxied_server_test.go
  cmd/bd/graph_apply.go
  cmd/bd/graph_apply_execution_test.go
  cmd/bd/graph_apply_test.go
  internal/storage/domain/config.go
Due: CLI Commands, Storage & Database

fix(list): honor skip-labels in JSON output
  cmd/bd/list.go
  cmd/bd/list_embedded_test.go
  cmd/bd/list_skip_labels_test.go
  internal/storage/issueops/ready_work_counts.go
  internal/storage/issueops/search_counts.go
Due: CLI Commands, Storage & Database

gc: recheck closed deletion candidates
  cmd/bd/closed_delete_candidates.go
  cmd/bd/closed_delete_candidates_test.go
  cmd/bd/gc.go
  cmd/bd/purge.go
Due: CLI Commands
