Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

fix(storage): update concrete drivers to use new DriverOpener signature
  internal/storage/dolt/driver.go
  internal/storage/postgres/driver.go
Due: Storage & Database

fix: auto-import: skip non-embedded fallback when store is populated
  cmd/bd/auto_import_upgrade.go
Due: CLI Commands

refactor(storage): be-kdh0l6 — bd dolt/* commands use Capabilities().Require() dispatch
  cmd/bd/dolt.go
  cmd/bd/storage_caps.go
  internal/configfile/configfile.go
  internal/configfile/configfile_test.go
Due: CLI Commands, Storage & Database

chore: release gate PASS for be-kdh0l6 (capabilities dispatch)
  release-gates/be-kdh0l6-gate.md
Due: none

fix(storage): be-kdh0l6 — update stale Backend comment, table-driven fallback
  cmd/bd/storage_caps.go
  internal/configfile/configfile.go
Due: CLI Commands, Storage & Database

test(embedded): grep combined stdout+stderr for bd status text
  cmd/bd/bootstrap_embedded_test.go
  cmd/bd/import_embedded_test.go
Due: none

style: be-kdh0l6 gofmt internal/configfile/configfile_test.go
  internal/configfile/configfile_test.go
Due: none

perf(ready): restrict blocked dependency scan to active IDs
  internal/storage/issueops/blocked.go
Due: Storage & Database

perf(ready): narrow deferred parent filtering
  internal/storage/issueops/ready_work.go
Due: Storage & Database

perf(schema): D4v2 composite (status,updated_at) + defer_until indexes (be-s54)
  CHANGELOG.md
  internal/storage/embeddeddolt/schema_test.go
  internal/storage/schema/migrations/0043_add_date_indexes.down.sql
  internal/storage/schema/migrations/0043_add_date_indexes.up.sql
Due: Storage & Database

perf(get): query primary issues before wisp fallback
  internal/storage/issueops/get_issue.go
Due: Storage & Database

perf(deps): narrow recursive cycle checks
  internal/storage/dolt/wisps.go
  internal/storage/dolt/wisps_cycle_test.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/dependencies_test.go
Due: Storage & Database

perf(schema): add ready assignee index
  internal/storage/schema/migrations/0043_ready_assignee_index.down.sql
  internal/storage/schema/migrations/0043_ready_assignee_index.up.sql
Due: Storage & Database

feat(init): --backend flag stub + help text honesty for PG backend (be-uo71at)
  cmd/bd/init.go
Due: CLI Commands

fix(schema): serialize Dolt schema migrations
  internal/storage/dolt/store.go
Due: Storage & Database

fix(ready): apply filters to wisp ready work
  internal/storage/embeddeddolt/new_methods_test.go
  internal/storage/issueops/ready_work.go
Due: Storage & Database

test(update): validate json stdout separately
  cmd/bd/update_embedded_test.go
Due: none

docs(cli): regenerate CLI reference after bd init --experimental flag
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/federation.md
  website/docs/cli-reference/init.md
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/init.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/init.md
Due: none

test(init): fix TestInitBackendFlag — postgres is now a known backend
  cmd/bd/init_test.go
Due: none

test(init): fix TestEmbeddedInit/rejected_backends — postgres is now known
  cmd/bd/init_embedded_test.go
Due: none

docs(cli): revert federation regen — CI builds bd with CGO=0
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
Due: none

feat(storage): be-u0zlsq Iter[T] interface + Iter* methods
  internal/storage/dependency_queries.go
  internal/storage/dolt/iter_dependents.go
  internal/storage/dolt/iter_issues.go
  internal/storage/dolt/iter_stubs.go
  internal/storage/embeddeddolt/iter_stubs.go
  internal/storage/hook_decorator_storage_only_test.go
  internal/storage/iter.go
  internal/storage/storage.go
  internal/telemetry/storage.go
Due: Storage & Database

feat(show): be-ijck6q — count-only default + --include-dependents/--include-comments
  cmd/bd/show.go
  cmd/bd/show_shallow_dependents_test.go
  internal/storage/dependency_queries.go
  internal/storage/dolt/counts.go
  internal/storage/embeddeddolt/counts.go
  internal/storage/hook_decorator_storage_only_test.go
  internal/storage/storage.go
  internal/telemetry/storage.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

chore(storage): remove hook_decorator_storage_only_test.go (API mismatch)
  internal/storage/hook_decorator_storage_only_test.go
Due: none

chore: release gate PASS for be-ya2a2y (batch wisp partition)
  release-gates/be-ya2a2y-gate.md
Due: none

feat(storage): be-uwvs.1 lite SELECT shape foundation
  docs/EXTENDING.md
  internal/storage/issueops/scan.go
  internal/storage/issueops/scan_test.go
  internal/storage/issueops/search.go
  internal/types/types.go
Due: Storage & Database, Core Types & Utilities

perf(comments): replace per-id wisp loop with PartitionWispIDsInTx (be-ya2a2y)
  internal/storage/issueops/comments.go
Due: Storage & Database

chore: release gate PASS for be-uwvs.1 (lite SELECT foundation)
  release-gates/be-uwvs.1-gate.md
Due: none

fix: rebind target workspace for db commands
  cmd/bd/dolt.go
  cmd/bd/init_guard_test.go
  cmd/bd/main.go
Due: CLI Commands

fix: isolate rebinding from caller workspace state
  cmd/bd/main.go
Due: CLI Commands
