Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

docs: guard plugin CLI reference pointer
  docs/DOC_INVENTORY.md
  scripts/check-doc-flags.sh
Due: none

docs: guard plugin CLI reference pointer (#4177)
  docs/DOC_INVENTORY.md
  scripts/check-doc-flags.sh
Due: none

gc: count nil deletion candidates separately
  cmd/bd/closed_delete_candidates.go
  cmd/bd/closed_delete_candidates_test.go
Due: CLI Commands

gc: recheck closed deletion candidates (#4171)
  cmd/bd/closed_delete_candidates.go
  cmd/bd/closed_delete_candidates_test.go
  cmd/bd/gc.go
  cmd/bd/purge.go
Due: CLI Commands

test: split tracker pure-go helpers
  .github/workflows/ci.yml
  internal/storage/embeddeddolt/cache_cleanup_test.go
  internal/storage/embeddeddolt/test_helpers_pure_test.go
  internal/tracker/engine_ratelimit_test.go
  internal/tracker/engine_test.go
  internal/tracker/test_helpers_pure_test.go
  internal/tracker/testmain_test.go
Due: none

docs: gate llms-full freshness with CLI reference
  scripts/check-docs-version.sh
  scripts/docs.md
  scripts/generate-cli-docs.sh
  scripts/generate-llms-full.sh
  website/static/llms-full.txt
Due: none

fix(compact): complete MiniMax provider integration
  cmd/bd/compact.go
  cmd/bd/find_duplicates.go
  docs/CLI_REFERENCE.md
  docs/CONFIG.md
  docs/design/otel/otel-data-model.md
  internal/compact/compactor_unit_test.go
  internal/compact/haiku.go
  internal/compact/haiku_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/yaml_config.go
  internal/config/yaml_config_test.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

docs: design required CI gate topology
  docs/CI_REQUIRED_CHECK_TOPOLOGY.md
Due: none

docs: add CI timing report
  docs/reports/ci-timing-report.html
  docs/reports/ci-timing-report.md
  scripts/ci/ci_timing_report.py
Due: none

docs: check reference doc freshness
  .github/workflows/ci.yml
  Makefile
  scripts/check-doc-freshness.sh
  scripts/docs.md
Due: none

docs: refresh MiniMax CLI reference pages
  website/docs/cli-reference/admin.md
  website/docs/cli-reference/find-duplicates.md
  website/versioned_docs/version-1.0.0/cli-reference/admin.md
  website/versioned_docs/version-1.0.0/cli-reference/find-duplicates.md
  website/versioned_docs/version-1.0.4/cli-reference/admin.md
  website/versioned_docs/version-1.0.4/cli-reference/find-duplicates.md
Due: none

docs: design required CI gate topology (#4179)
  docs/CI_REQUIRED_CHECK_TOPOLOGY.md
Due: none

docs: check reference doc freshness (#4181)
  .github/workflows/ci.yml
  Makefile
  scripts/check-doc-freshness.sh
  scripts/docs.md
Due: none

docs: gate llms-full freshness with CLI reference (#4182)
  scripts/check-docs-version.sh
  scripts/docs.md
  scripts/generate-cli-docs.sh
  scripts/generate-llms-full.sh
  website/static/llms-full.txt
Due: none

/{cmd,internal}: create tests
  cmd/bd/create_proxied_integration_test.go
  cmd/bd/create_proxied_server.go
  cmd/bd/create_proxied_server_test.go
  cmd/bd/main.go
  cmd/bd/proxied_integration_helpers_test.go
  internal/storage/domain/adaptive.go
  internal/storage/domain/config.go
  internal/storage/domain/db/config.go
  internal/storage/domain/db/config_test.go
  internal/storage/domain/db/issue.go
  internal/storage/domain/db/issue_test.go
  internal/storage/domain/db/issue_usecase_test.go
  internal/storage/domain/issue.go
Due: CLI Commands, Storage & Database

test: split tracker pure-go helpers (#4183)
  .github/workflows/ci.yml
  internal/storage/embeddeddolt/cache_cleanup_test.go
  internal/storage/embeddeddolt/test_helpers_pure_test.go
  internal/tracker/engine_ratelimit_test.go
  internal/tracker/engine_test.go
  internal/tracker/test_helpers_pure_test.go
  internal/tracker/testmain_test.go
Due: none

docs: default PR fixes to contributor branches
  PR_MAINTAINER_GUIDELINES.md
Due: none

/{.github,cmd}: remove parrallelism for ps tests
  .github/workflows/ci.yml
  cmd/bd/create_proxied_integration_test.go
  cmd/bd/test_dolt_server_cgo_test.go
Due: none

/cmd/bd: cleaning up
  cmd/bd/create_input.go
  cmd/bd/create_proxied_integration_test.go
Due: CLI Commands

fix(show): propagate IterDependents/IterComments errors instead of swallowing them (be-kzipe)
  cmd/bd/show.go
Due: CLI Commands

test(bench): be-ss7x5n — prune scan bench fixture + NFR-02 guard
  cmd/bd/prune_bench_test.go
Due: none

feat(prune): be-37azwg — reference-aware bd prune
  cmd/bd/prune.go
  cmd/bd/prune_refs.go
  cmd/bd/prune_refs_embedded_test.go
  cmd/bd/prune_refs_test.go
  cmd/bd/purge.go
Due: CLI Commands

docs(prune): regenerate CLI_REFERENCE for --ignore-references (be-37azwg)
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/federation.md
  website/docs/cli-reference/prune.md
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/prune.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/prune.md
Due: none

docs: regen CLI_REFERENCE with CGO_ENABLED=0 to match CI check-doc-flags binary
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
Due: none

fix: auto-import: skip non-embedded fallback when store is populated
  cmd/bd/auto_import_upgrade.go
Due: CLI Commands

chore: release gate PASS for be-ss7x5n-prune-bench
  release-gates/be-ss7x5n-prune-bench-gate.md
Due: none

chore(docs): regenerate CLI reference for migrate schema command
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/migrate.md
  website/versioned_docs/version-1.0.0/cli-reference/migrate.md
  website/versioned_docs/version-1.0.4/cli-reference/migrate.md
Due: none

/{cmd,internal}: add migrate schema command
  cmd/bd/migrate.go
Due: CLI Commands

fix(schema): migrate TEXT → LONGTEXT for large-content columns (be-knye)
  internal/storage/schema/migrations/0043_longtext_large_content_columns.down.sql
  internal/storage/schema/migrations/0043_longtext_large_content_columns.up.sql
Due: Storage & Database

fix(schema): preserve wisps DEFAULT '' and renumber LONGTEXT migration → 0046 (be-knye)
  internal/storage/schema/migrations/0046_longtext_large_content_columns.down.sql
  internal/storage/schema/migrations/0046_longtext_large_content_columns.up.sql
Due: Storage & Database

perf(search): Q2+Q3+Q5 — skip-wisps merge, id-shrunk Pattern B, wisp count cache (bd-qi4qr, bd-co6m6)
  cmd/bd/count.go
  cmd/bd/list.go
  internal/storage/issueops/search.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

perf(count): Q1 — SQL COUNT(*) aggregate replaces SearchIssues+len in bd count (bd-xoi0x)
  cmd/bd/count.go
  internal/jira/tracker_test.go
  internal/storage/dolt/counts.go
  internal/storage/embeddeddolt/counts.go
  internal/storage/issueops/count.go
  internal/storage/storage.go
  internal/telemetry/storage.go
Due: CLI Commands, Storage & Database

test(spike): joinIter panic repro test for current go-mysql-server (bd-wsgws)
  internal/storage/dolt/joiniter_spike_test.go
Due: none

docs: regenerate website/static/llms-full.txt for doc-flags freshness (be-sy3)
  website/static/llms-full.txt
Due: none

docs: regenerate website/static/llms-full.txt for doc-flags freshness (be-dm4)
  website/static/llms-full.txt
Due: none

fix(issueops/dependencies): wrap EXISTS subquery in derived table for MySQL 8+ compat
  internal/storage/issueops/dependencies.go
Due: Storage & Database

Fix Codex hook release skew
  CHANGELOG.md
  cmd/bd/setup/plugin_layout_test.go
  docs/CODEX_INTEGRATION.md
  plugins/beads/.codex-plugin/hooks/hooks.json
  plugins/beads/README.md
  website/docs/integrations/codex.md
Due: none

fix(schema): widen events/wisp_events value columns to LONGTEXT (be-kkp)
  internal/storage/schema/migrations/0044_widen_event_value_columns.down.sql
  internal/storage/schema/migrations/0044_widen_event_value_columns.up.sql
  internal/storage/schema/migrations/ignored/0005_widen_wisp_event_value_columns.up.sql
Due: Storage & Database
