Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

test: add JSON contract regression tests for CI (mw-local-4so.4.4)
  cmd/bd/backup_restore.go
  cmd/bd/protocol/json_contract_test.go
Due: CLI Commands

feat: dependency semantics unification (Epic 5)
  cmd/bd/close.go
  cmd/bd/duplicates.go
  cmd/bd/duplicates_test.go
  cmd/bd/show.go
  internal/storage/dolt/queries.go
  internal/types/types.go
  internal/validation/issue.go
  internal/validation/issue_test.go
Due: CLI Commands, Storage & Database, Query & Filtering, Core Types & Utilities

Fix DOLT_PULL merge conflict with autocommit enabled
  internal/storage/dolt/store.go
Due: Storage & Database

fix: bd export crash on zero-time timestamps + stale bd sync refs (GH#2488, GH#2493)
  cmd/bd/export.go
  internal/templates/agents/defaults/agents.md.tmpl
  internal/templates/agents/defaults/beads-section.md
Due: CLI Commands

fix: bd lint accepts non-empty acceptance_criteria field without heading (GH#2468)
  internal/validation/template.go
  internal/validation/template_test.go
Due: Query & Filtering

fix: bd doctor detects stale .legacy hook sidecars calling removed bd hook (GH#2398)
  cmd/bd/doctor.go
  cmd/bd/doctor/git.go
  cmd/bd/doctor/git_test.go
Due: CLI Commands

fix: wrap DOLT_PULL in explicit transaction for autocommit compat (GH#2501)
  internal/storage/dolt/store.go
Due: Storage & Database

cleanup: remove 3-way merge engine remnants (GH#2391)
  cmd/bd/doctor.go
  cmd/bd/doctor/agent.go
  cmd/bd/doctor/checks_nocgo.go
  cmd/bd/doctor/fix/artifacts.go
  cmd/bd/doctor/fix/artifacts_test.go
  cmd/bd/doctor/fix/validation.go
  cmd/bd/doctor/validation.go
  cmd/bd/doctor_fix.go
  cmd/bd/main.go
Due: CLI Commands

fix: remove idle monitor and activity signal daemon infrastructure (GH#2452)
  cmd/bd/doctor/gitignore.go
  cmd/bd/dolt.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: CLI Commands

/cmd/bd: use interface instead of struct
  cmd/bd/init.go
  cmd/bd/store_factory.go
  cmd/bd/store_factory_embedded.go
Due: CLI Commands

cleanup: remove daemon infrastructure remnants (GH#2431)
  cmd/bd/backup_export.go
  cmd/bd/cli_coverage_show_test.go
  cmd/bd/close.go
  cmd/bd/create.go
  cmd/bd/dep.go
  cmd/bd/doctor_repair_chaos_test.go
  cmd/bd/doctor_repair_test.go
  cmd/bd/dolt_autocommit_integration_test.go
  cmd/bd/dolt_doctor_integration_test.go
  cmd/bd/dolt_metadata_e2e_test.go
  cmd/bd/init_cancel_e2e_test.go
  cmd/bd/init_test.go
  cmd/bd/list.go
  cmd/bd/main_errors.go
  cmd/bd/mol_burn.go
  cmd/bd/mol_squash.go
  cmd/bd/protocol/helpers_test.go
  cmd/bd/reopen_defer_test.go
  cmd/bd/reparent_test.go
  cmd/bd/repo.go
  cmd/bd/routed.go
  cmd/bd/test_repo_beads_guard_test.go
  cmd/bd/update_edge_cases_test.go
  cmd/bd/wisp.go
  docs/ADVANCED.md
  docs/DOLT.md
  docs/WORKTREES.md
  integrations/beads-mcp/tests/test_mcp_server_integration.py
  integrations/beads-mcp/tests/test_worktree_separate_dbs.py
  internal/beads/beads.go
  internal/beads/beads_hash_multiclone_test.go
  internal/beads/context.go
  internal/config/config.go
  internal/config/config_test.go
  internal/configfile/configfile.go
  internal/utils/path.go
  tests/regression/regression_test.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

chore(deps): bump glamour v0.10.0 to v1.0.0
  go.mod
  go.sum
Due: none

cleanup: add timeout and comment to worktree normalization helpers
  internal/beads/beads.go
Due: Core Types & Utilities

chore: untrack .beads/ directory (already gitignored) (GH#2475)
  .beads/.gitignore
  .beads/BD_GUIDE.md
  .beads/README.md
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
  .beads/config.yaml
  .beads/cost_state.json
  .beads/formulas/beads-release.formula.toml
  .beads/issues.jsonl
  .beads/issues.jsonl.new
Due: none

feat: replace hash-derived dolt ports with OS-assigned ephemeral ports
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/legacy.go
  cmd/bd/doctor/perf_dolt.go
  cmd/bd/doctor/server.go
  cmd/bd/doctor_health.go
  cmd/bd/info.go
  cmd/bd/init.go
  cmd/bd/main.go
  internal/configfile/configfile.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
  internal/storage/dolt/store.go
  internal/storage/dolt/store_unit_test.go
Due: CLI Commands, Storage & Database

cleanup: remove remaining daemon references missed by GH#2431
  .gitignore
  cmd/bd/cli_fast_test.go
  cmd/bd/doctor/dolt_e2e_test.go
  cmd/bd/doctor_health_integration_test.go
  integrations/beads-mcp/src/beads_mcp/tools.py
Due: none

feat: replace hash-derived dolt ports with OS-assigned ephemeral ports (GH#2415)
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/legacy.go
  cmd/bd/doctor/perf_dolt.go
  cmd/bd/doctor/server.go
  cmd/bd/doctor_health.go
  cmd/bd/info.go
  cmd/bd/init.go
  cmd/bd/main.go
  internal/configfile/configfile.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
  internal/storage/dolt/store.go
  internal/storage/dolt/store_unit_test.go
Due: CLI Commands, Storage & Database

feat: add GitHub Issues integration (tracker plugin) (GH#2373)
  cmd/bd/github.go
  internal/github/client.go
  internal/github/fieldmapper.go
  internal/github/mapping.go
  internal/github/mapping_test.go
  internal/github/tracker.go
  internal/github/tracker_test.go
  internal/github/types.go
  internal/github/types_test.go
Due: CLI Commands

fix: replace hash-derived dolt ports with OS-assigned ephemeral ports (GH#2415)
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: none

feat: add --destroy-token for safe non-interactive re-init (GH#2497)
  cmd/bd/init.go
  cmd/bd/init_guard_test.go
Due: CLI Commands

feat: add bd context command and safe-first error guidance (fix-merge PR #2496)
  cmd/bd/compact.go
  cmd/bd/context_cmd.go
  cmd/bd/context_cmd_test.go
  cmd/bd/defer.go
  cmd/bd/lint.go
  cmd/bd/main.go
  cmd/bd/main_errors.go
  cmd/bd/markdown.go
  cmd/bd/migrate.go
  cmd/bd/mol_burn.go
  cmd/bd/mol_squash.go
  cmd/bd/promote.go
  cmd/bd/reopen.go
  cmd/bd/sql.go
  cmd/bd/undefer.go
  cmd/bd/where.go
  cmd/bd/worktree_cmd.go
Due: CLI Commands

feat: epic close guards, merge re-parenting, and progress display
  cmd/bd/close.go
  cmd/bd/duplicates.go
  cmd/bd/duplicates_test.go
  cmd/bd/show.go
  internal/storage/dolt/queries.go
  internal/types/types.go
  internal/validation/issue.go
  internal/validation/issue_test.go
Due: CLI Commands, Storage & Database, Query & Filtering, Core Types & Utilities

feat: add workspace identity preflight and bd bootstrap command (GH#2438, GH#2372)
  cmd/bd/bootstrap.go
  cmd/bd/main.go
  cmd/bd/workspace_identity_test.go
Due: CLI Commands

feat: JSON-aware error output + JSONL schema validation + contract tests (GH#2499)
  cmd/bd/backup_restore.go
  cmd/bd/errors.go
  cmd/bd/protocol/json_contract_test.go
Due: CLI Commands

fix: add shared Dolt server mode for multi-repo/agent setups (GH#2416)
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/dolt_test.go
  cmd/bd/dolt.go
  cmd/bd/init.go
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/DOLT-BACKEND.md
  docs/DOLT.md
  docs/FAQ.md
  docs/MULTI_REPO_AGENTS.md
  docs/TROUBLESHOOTING.md
  docs/design/otel/otel-architecture.md
  internal/config/yaml_config.go
  internal/config/yaml_config_test.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: CLI Commands, Core Types & Utilities

fix(deps): migrate glamour to v2 (charm.land/glamour/v2)
  go.mod
  go.sum
  internal/ui/markdown.go
Due: none

chore(deps): migrate huh v0.8 to charm.land/huh/v2 (GH#2471)
  cmd/bd/create_form.go
  go.mod
  go.sum
Due: CLI Commands

fix: YAML config prefix takes precedence over DB in shared-server mode (GH#2469)
  cmd/bd/create.go
  cmd/bd/github.go
  cmd/bd/gitlab.go
  cmd/bd/linear.go
  cmd/bd/orphans.go
  internal/doltserver/doltserver.go
  internal/storage/dolt/cross_project_test.go
Due: CLI Commands

fix: move KillStaleServers inside flock to prevent journal corruption (GH#2430)
  internal/doltserver/doltserver.go
Due: none

fix(dolt): auto-commit pending changes before pull to prevent merge errors (GH#2474)
  internal/storage/dolt/federation.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix: warn on Dolt endpoint drift during auto-start (GH#2399)
  internal/doltserver/doltserver.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix: use absolute path for core.hooksPath so worktree hooks work (GH#2414)
  cmd/bd/hooks.go
  cmd/bd/init_hooks_test.go
Due: CLI Commands

fix: auto-resolve metadata merge conflicts on bd dolt pull (GH#2466)
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/009_cleanup_autopush_metadata.go
  internal/storage/dolt/pull_conflict_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix: TestDoltStoreDependencies uses same-type issues for blocks dep (GH#1495)
  internal/storage/dolt/dolt_test.go
Due: none

fix: prevent bd init from creating DB on another project's Dolt server (GH#2336)
  cmd/bd/init.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: CLI Commands

fix: Dolt test suite stability — eliminate container crashes and cascading failures (hq-33riy)
  internal/storage/dolt/circuit.go
  internal/storage/dolt/circuit_test.go
  internal/storage/dolt/create_guard_test.go
  internal/storage/dolt/cross_project_test.go
  internal/storage/dolt/dependencies_extended_test.go
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/git_remote_test.go
  internal/storage/dolt/queries_test.go
  internal/storage/dolt/store_unit_test.go
Due: Storage & Database

feat: add migration 010 — comment type column
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/010_comment_type_column.go
Due: Storage & Database

feat: add Type field to Comment struct
  internal/types/types.go
Due: Core Types & Utilities

feat: update storage layer and CLI for comment types
  cmd/bd/comments.go
  cmd/bd/comments_test.go
  cmd/bd/human.go
  examples/library-usage/main.go
  internal/beads/beads_integration_test.go
  internal/jira/tracker_test.go
  internal/storage/annotation_queries.go
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/events.go
  internal/storage/dolt/transaction.go
  internal/storage/embeddeddolt/store.go
  internal/storage/storage.go
  internal/telemetry/storage.go
Due: CLI Commands, Storage & Database

feat: add bd summary command (epic/since/session modes)
  cmd/bd/main.go
  cmd/bd/summary.go
  cmd/bd/summary_test.go
  internal/storage/dolt/issue_scan.go
Due: CLI Commands, Storage & Database

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
