Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

feat: add OpenCode recipe to bd setup
  cmd/bd/setup.go
  cmd/bd/setup/opencode.go
  cmd/bd/setup/opencode_test.go
  internal/recipes/recipes.go
Due: CLI Commands

feat(doctor): allow suppressing specific warnings via config (GH#1095)
  cmd/bd/config.go
  cmd/bd/doctor.go
  cmd/bd/doctor/suppress.go
  cmd/bd/doctor/suppress_test.go
Due: CLI Commands

fix(docs): correct misleading examples in QUICKSTART.md
  docs/QUICKSTART.md
Due: none

fix(doltserver): idle-monitor kills itself via Stop() — watchdog loop fix
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: none

bd: backup 2026-03-04 00:58
  .beads/backup/backup_state.json
  .beads/backup/events.jsonl
  .beads/backup/labels.jsonl
Due: none

fix(dolt): batch all IN-clause queries to prevent full table scans
  cmd/bd/doctor/deep.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/events.go
  internal/storage/dolt/queries.go
Due: CLI Commands, Storage & Database

fix(docs): disambiguate duplicate nvim-beads entry in COMMUNITY_TOOLS.md
  docs/COMMUNITY_TOOLS.md
Due: none

feat(nix): modernize flake for nixpkgs-25.11, fix-merge PR #2314
  default.nix
  flake.lock
  flake.nix
  packages.nix
Due: none

fix: commit per batch in deleteWispBatch to avoid write timeout
  internal/storage/dolt/wisps.go
Due: Storage & Database

test: add regression tests for deleteWispBatch per-batch transactions (ff-tqm)
  internal/storage/dolt/wisp_gc_test.go
  internal/storage/dolt/wisps.go
Due: Storage & Database

docs: add network/privacy section to SECURITY.md
  SECURITY.md
Due: none

refactor: remove legacy daemon lock infrastructure
  internal/types/lock.go
  internal/types/lock_check.go
  internal/types/lock_check_test.go
  internal/types/lock_test.go
  internal/types/process.go
  internal/types/process_test.go
Due: Core Types & Utilities

feat(dolt): surface sync.git-remote in database-not-found errors
  cmd/bd/main.go
  internal/storage/dolt/errors.go
  internal/storage/dolt/errors_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

feat(init): distinguish server-reachable from DB-exists in init guard
  cmd/bd/init.go
  cmd/bd/init_guard.go
  cmd/bd/init_guard_test.go
Due: CLI Commands

feat(doctor): detect fresh clone state on Dolt server
  cmd/bd/doctor/agent.go
  cmd/bd/doctor/fresh_clone_server.go
  cmd/bd/doctor/fresh_clone_server_test.go
  cmd/bd/doctor/legacy.go
Due: CLI Commands

fix(doctor): correct command order in enrichFreshClone
  cmd/bd/doctor/agent.go
Due: CLI Commands

refactor: remove legacy SQLite/classic storage references (bd-sov)
  cmd/bd/config.go
  cmd/bd/context.go
  cmd/bd/doctor.go
  cmd/bd/doctor/agent.go
  cmd/bd/doctor/artifacts.go
  cmd/bd/doctor/deep.go
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/installation.go
  cmd/bd/doctor/migration_validation.go
  cmd/bd/doctor/migration_validation_nocgo.go
  cmd/bd/doctor/migration_validation_test.go
  cmd/bd/doctor/perf_dolt.go
  cmd/bd/epic_test.go
  cmd/bd/gate.go
  cmd/bd/history.go
  cmd/bd/sql.go
  examples/bd-example-extension-go/.gitignore
  examples/bd-example-extension-go/README.md
  examples/bd-example-extension-go/go.mod
  examples/bd-example-extension-go/go.sum
  examples/bd-example-extension-go/main.go
  examples/bd-example-extension-go/schema.sql
Due: CLI Commands

refactor: clean remaining SQLite references in comments (bd-sov)
  cmd/bd/cli_coverage_show_test.go
  cmd/bd/cli_fast_test.go
  cmd/bd/config_test.go
  cmd/bd/delete.go
  cmd/bd/doctor/agent.go
  cmd/bd/doctor_validate_test.go
  cmd/bd/move.go
  cmd/bd/quickstart.go
  cmd/bd/ready.go
  cmd/bd/test_helpers_test.go
  cmd/bd/test_repo_beads_guard_test.go
Due: CLI Commands

fix: make bd doctor --fix repair broken hook markers (GH#2344)
  cmd/bd/doctor_fix_pending_migrations_test.go
  cmd/bd/migrate_hooks_apply.go
  cmd/bd/migrate_hooks_apply_test.go
Due: CLI Commands

fix: handle orphaned BEGIN marker in injectHookSection (GH#2344)
  cmd/bd/hooks.go
  cmd/bd/init_hooks_test.go
Due: CLI Commands

style: fix gofmt alignment in init_hooks_test.go
  cmd/bd/init_hooks_test.go
Due: none

fix: address code review findings for hook marker handling
  cmd/bd/hooks.go
  cmd/bd/init_hooks_test.go
  cmd/bd/migrate_hooks_apply.go
Due: CLI Commands

feat: add version to END marker for better future matching
  cmd/bd/doctor_fix_pending_migrations_test.go
  cmd/bd/hooks.go
  cmd/bd/init_hooks_test.go
  cmd/bd/migrate_hooks_apply_test.go
Due: CLI Commands

test: add migration test for legacy hook with backup sidecar
  cmd/bd/migrate_hooks_apply_test.go
Due: none

feat: v0.59.0 — deprecation warnings for legacy backends before v1.0.0
  .claude-plugin/marketplace.json
  CHANGELOG.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/doctor.go
  cmd/bd/info.go
  cmd/bd/main.go
  cmd/bd/version.go
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  internal/configfile/configfile.go
  internal/configfile/configfile_test.go
  internal/deprecation/check.go
  internal/deprecation/check_test.go
  internal/deprecation/print.go
  npm-package/package.json
Due: CLI Commands, Storage & Database

Remove stale sync mode documentation
  FEDERATION-SETUP.md
  docs/CONFIG.md
  docs/DOLT-BACKEND.md
  internal/templates/agents/defaults/agents.md.tmpl
Due: none

test: add manual integration tests for deprecation/v1.0.0
  scripts/test-deprecation-manual.sh
Due: none

internal/types: remove dead daemon lock infrastructure
  internal/types/lock.go
  internal/types/lock_check.go
  internal/types/lock_check_test.go
  internal/types/lock_test.go
  internal/types/process.go
  internal/types/process_test.go
Due: Core Types & Utilities

feat: rename v1.0.0 to v0.60.0 — dead code removal, not a breaking release
  .claude-plugin/marketplace.json
  CHANGELOG.md
  claude-plugin/.claude-plugin/plugin.json
  cmd/bd/info.go
  cmd/bd/migrate_issues.go
  cmd/bd/version.go
  integrations/beads-mcp/pyproject.toml
  integrations/beads-mcp/src/beads_mcp/__init__.py
  npm-package/package.json
  scripts/test-deprecation-manual.sh
Due: CLI Commands

refactor: remove dead 3-way merge engine remnants
  cmd/bd/config.go
  cmd/bd/config_test.go
  docs/ATTRIBUTION.md
  docs/CONFIG.md
  docs/TESTING_PHILOSOPHY.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/sync.go
  internal/config/sync_test.go
  internal/testutil/testdoltserver.go
Due: CLI Commands, Core Types & Utilities

fix(bd): detect and offer restore from backup when DB missing
  .beads/.gitignore
  cmd/bd/init.go
  cmd/bd/main.go
  cmd/bd/main_errors.go
  cmd/bd/main_errors_test.go
Due: CLI Commands

docs: audit sync mode complexity (w-bd-004)
  docs/audit-sync-mode-complexity.md
Due: none

feat(bd): remove daemon infrastructure (w-bd-001)
  cmd/bd/doctor.go
  cmd/bd/doctor/gitignore.go
  cmd/bd/doctor_fix.go
  cmd/bd/doctor_pollution.go
  cmd/bd/dolt.go
  cmd/bd/init.go
  cmd/bd/list.go
  cmd/bd/main.go
  integrations/beads-mcp/src/beads_mcp/bd_client.py
  integrations/beads-mcp/src/beads_mcp/bd_daemon_client.py
  integrations/beads-mcp/src/beads_mcp/server.py
  integrations/beads-mcp/test_multi_repo.py
  integrations/beads-mcp/tests/test_daemon_health_check.py
  integrations/beads-mcp/tests/test_lifecycle.py
  internal/doltserver/doltserver.go
  internal/storage/dolt/open.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database
