Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

feat(init): add --database flag to configure existing server database
  cmd/bd/init.go
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/history.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix(init): show database name instead of path in success output
  CHANGELOG.md
  cmd/bd/config_guard_test.go
  cmd/bd/init.go
  cmd/bd/migrate_dolt.go
  examples/bd-example-extension-go/go.mod
  examples/bd-example-extension-go/go.sum
  examples/library-usage/go.mod
  examples/library-usage/go.sum
Due: CLI Commands

test(init): add tests for --database flag
  cmd/bd/init_test.go
Due: none

fix(release): auto-publish Homebrew tap on release
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

fix: auto-commit beads files during bd init (GH#1989)
  cmd/bd/init.go
Due: CLI Commands

feat: add dolt.auto-push for automatic Dolt replication
  cmd/bd/dolt_autopush.go
  cmd/bd/dolt_autopush_config.go
  cmd/bd/dolt_autopush_test.go
  cmd/bd/main.go
  internal/config/config.go
Due: CLI Commands, Core Types & Utilities

fix(migrate): make dependency import SQL and metadata deterministic
  cmd/bd/migrate_import.go
  cmd/bd/migrate_import_test.go
Due: CLI Commands

fix(migrate): make re-import idempotent and add regression coverage
  cmd/bd/migrate_import.go
  cmd/bd/migrate_import_test.go
Due: CLI Commands

chore(ci): normalize gofmt output and silence safe migrate query lint
  cmd/bd/migrate_dolt.go
Due: CLI Commands

fix(migrate): preserve metadata and deterministic SQLite->Dolt import
  cmd/bd/migrate_dolt.go
  cmd/bd/migrate_import.go
  cmd/bd/migrate_shim.go
  cmd/bd/migrate_shim_test.go
Due: CLI Commands

chore(migrate): clarify dry-run counts and reconcile semantics
  cmd/bd/migrate_dolt.go
  cmd/bd/migrate_import.go
Due: CLI Commands

fix(lint): mark loopback test dial as safe for gosec
  internal/testutil/testdoltserver.go
Due: none

feat: add Dolt version check, periodic JSONL backup, and docs
  cmd/bd/dolt.go
  cmd/bd/dolt_autopush.go
  cmd/bd/dolt_autopush_test.go
  cmd/bd/dolt_backup.go
  cmd/bd/dolt_backup_config.go
  cmd/bd/dolt_backup_test.go
  cmd/bd/main.go
  docs/CONFIG.md
  docs/DOLT.md
  internal/config/config.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

feat: add --root-only flag to bd mol wisp create
  cmd/bd/template.go
  cmd/bd/wisp.go
Due: CLI Commands

bd: backup 2026-02-27 16:14
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

fix(migrations): column count mismatch in 007 + teleport DB false positive
  internal/storage/dolt/migrations/007_infra_to_wisps.go
  internal/storage/dolt/migrations/helpers.go
  internal/storage/dolt/store.go
Due: Storage & Database

bd: backup 2026-02-27 16:30
  .beads/backup/backup_state.json
  .beads/backup/config.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

fix(testutil): port flock-based test server coordination to prevent zombies (bd-tx9)
  internal/testutil/testdoltserver.go
  internal/testutil/testdoltserver_unix.go
  internal/testutil/testdoltserver_windows.go
Due: none

feat(labels): inherit parent labels on child creation (GH#2100)
  cmd/bd/create.go
  cmd/bd/create_test.go
  cmd/bd/label.go
  cmd/bd/label_test.go
Due: CLI Commands

fix: wire up auto-fix for git merge driver %L/%R placeholders (bd-7yg)
  cmd/bd/doctor/git.go
  cmd/bd/doctor/git_test.go
  cmd/bd/doctor_fix.go
Due: CLI Commands

fix: resolve gofmt struct field alignment in git_test.go
  cmd/bd/doctor/git_test.go
Due: none

bd: backup 2026-02-28 00:52
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-02-28 01:08
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-02-28 01:24
  .beads/backup/backup_state.json
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-02-28 01:40
  .beads/backup/backup_state.json
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-02-28 01:56
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
Due: none

bd: backup 2026-02-28 02:11
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
Due: none

bd: backup 2026-02-28 02:33
  .beads/backup/backup_state.json
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-02-28 02:49
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
Due: none

fix(dolt): use CLI fallback for push/pull on SSH remotes (#2118)
  docs/DOLT-BACKEND.md
  internal/storage/dolt/store.go
Due: Storage & Database

bd: backup 2026-02-28 03:06
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-02-28 03:23
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

bd: backup 2026-02-28 03:40
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
Due: none

feat(dolt): dual-surface remote management (SQL + CLI)
  cmd/bd/doctor.go
  cmd/bd/doctor/fix/remotes.go
  cmd/bd/doctor/remotes.go
  cmd/bd/doctor_fix.go
  cmd/bd/dolt.go
  docs/DOLT-BACKEND.md
Due: CLI Commands

refactor: consolidate SSH detection and CLI remote helpers into doltutil
  cmd/bd/doctor/fix/remotes.go
  cmd/bd/doctor/remotes.go
  cmd/bd/dolt.go
  internal/storage/dolt/store.go
  internal/storage/doltutil/remotes.go
Due: CLI Commands, Storage & Database

refactor: extract ToRemoteNameMap() helper for DRY
  cmd/bd/doctor/fix/remotes.go
  cmd/bd/doctor/remotes.go
  internal/storage/doltutil/remotes.go
Due: CLI Commands, Storage & Database

fix(doctor): remove unused cfg param, warn when SQL unreachable
  cmd/bd/doctor/remotes.go
Due: CLI Commands

bd: backup 2026-02-28 10:43
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

fix(doctor): use correct beadsDir path in fix/remotes.go
  cmd/bd/doctor/fix/remotes.go
Due: CLI Commands

fix: route auto-backup queries through retry-wrapped DoltStore methods
  cmd/bd/backup_export.go
  internal/storage/dolt/store.go
  internal/storage/dolt/versioned.go
Due: CLI Commands, Storage & Database

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
