Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

docs: update stale references to JSONL and SQLite architecture
  .beads/.gitignore
  .beads/config.yaml
  cmd/bd/init_templates.go
  docs/COMMUNITY_TOOLS.md
Due: CLI Commands

feat: add Dolt-native conflict detection to bd doctor validate (GH-2249)
  cmd/bd/doctor/validation.go
  cmd/bd/doctor/validation_test.go
  cmd/bd/doctor_validate_test.go
Due: CLI Commands

feat: add bd purge command to delete closed ephemeral beads (GH-1692)
  cmd/bd/purge.go
  cmd/bd/purge_test.go
Due: CLI Commands

fix: avoid Dolt joinIter hangs in GetReadyWork blocker computation
  internal/storage/dolt/delete_cache_test.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/store.go
Due: Storage & Database

feat: add type index on wisp_dependencies for blocker queries
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/008_wisp_dep_type_index.go
  internal/storage/dolt/migrations/helpers.go
Due: Storage & Database

fix: align IsBlocked blocker reporting with blocked-cache semantics (GH-1524)
  internal/storage/dolt/dependencies.go
Due: Storage & Database

feat: add bd mol last-activity command for molecule progress tracking (GH-1456)
  cmd/bd/mol_last_activity.go
  internal/storage/dolt/queries.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

fix: default bd mol wisp create to root-only unless formula sets pour=true
  cmd/bd/cook.go
  cmd/bd/template.go
  cmd/bd/wisp.go
  internal/formula/types.go
Due: CLI Commands

fix(dep): add prefix-based routing to dep add/rm/blocks/tree
  cmd/bd/dep.go
Due: CLI Commands

fix: gracefully handle missing wisps table in epic/blocked queries (GH#2271)
  internal/storage/dolt/queries.go
Due: Storage & Database

feat: add --stdin flag as alias for --body-file - on bd create/update (bd-gz2o)
  AGENT_INSTRUCTIONS.md
  claude-plugin/skills/beads/resources/CLI_REFERENCE.md
  cmd/bd/flags.go
  cmd/bd/flags_test.go
  docs/CLI_REFERENCE.md
Due: CLI Commands

fix: batch wisp deletes in DeleteIssues to reduce Dolt commit pressure (bd-2ehd)
  internal/storage/dolt/issues.go
  internal/storage/dolt/wisps.go
Due: Storage & Database

fix: cascade-delete blocked step children during wisp GC (bd-7hjy)
  cmd/bd/wisp.go
  internal/storage/dolt/wisp_gc_test.go
  internal/storage/dolt/wisps.go
Due: CLI Commands, Storage & Database

fix: skip Docker Hub network calls when Dolt image not cached (GH#2277)
  internal/testutil/testdoltserver.go
Due: none

fix(dep): skip target existence check for cross-prefix dependencies
  internal/storage/dolt/dependencies.go
Due: Storage & Database

fix: recreate dolt_ignore'd wisps tables on schema fast-path (GH#2271)
  cmd/bd/doctor/deep.go
  cmd/bd/doctor/dolt.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix: strip absolute dolt_data_dir from metadata.json on save (GH#2251)
  cmd/bd/dolt.go
  internal/configfile/configfile.go
Due: CLI Commands, Storage & Database

feat(dolt): add read-only cross-project queries via peer Dolt databases
  cmd/bd/list.go
  cmd/bd/list_repo_test.go
  cmd/bd/repo.go
  internal/storage/dolt/multirepo.go
  internal/storage/dolt/multirepo_nocgo.go
  internal/storage/dolt/multirepo_test.go
Due: CLI Commands, Storage & Database

fix: batch IN-clause queries in computeBlockedIDs to prevent Dolt CPU spikes
  internal/storage/dolt/queries.go
Due: Storage & Database

feat: add --backend flag to bd init with SQLite deprecation notice (bd-7xj5)
  cmd/bd/init.go
  cmd/bd/init_test.go
  docs/DOLT-BACKEND.md
  docs/QUICKSTART.md
Due: CLI Commands

fix: scan wisp_dependencies in getChildrenOfIssues and getChildrenWithParents (bd-8qc5)
  internal/storage/dolt/queries.go
Due: Storage & Database

fix: detect Go version mismatch in pre-commit hook before golangci-lint panics (bd-66nc)
  .githooks/pre-commit
  .pre-commit-config.yaml
Due: none

fix: skip Viper defaults in getRoutingConfigValue to unblock DB fallback (bd-2qef)
  cmd/bd/routing_read.go
  internal/config/config.go
Due: CLI Commands, Core Types & Utilities

fix: batch IN-clause queries in dependencies.go to prevent Dolt CPU spikes
  internal/storage/dolt/dependencies.go
Due: Storage & Database

fix: align TestDoltStoreSearch with title-only search optimization (bd-2lfo)
  internal/storage/dolt/dolt_test.go
Due: none

fix(dep): enforce same-type blocking validation (tasks↔tasks, epics↔epics)
  cmd/bd/dep.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/dependencies_extended_test.go
Due: CLI Commands, Storage & Database

fix(dolt): narrow test database prefix "beads_t" to "beads_test" to avoid false positives
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix: gofmt formatting and remove dead TestCheckDoltLocks_NotDoltBackend
  cmd/bd/doctor/migration_validation_test.go
  cmd/bd/thanks.go
  internal/storage/dolt/filters_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix: batch IN-clause queries in dependencies.go to prevent Dolt CPU spikes (#2294)
  internal/storage/dolt/dependencies.go
Due: Storage & Database

fix(dolt): narrow test database prefix "beads_t" to "beads_test" to avoid false positives (#2297)
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix: address PR review feedback
  cmd/bd/dep.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/dependencies_extended_test.go
Due: CLI Commands, Storage & Database

docs: update embedded Dolt references for upcoming reintroduction
  cmd/bd/dolt.go
  cmd/bd/init.go
  docs/ADVANCED.md
  docs/CLAUDE.md
  docs/DOLT.md
  docs/INTERNALS.md
  docs/WORKTREES.md
  internal/configfile/configfile.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix: respect stealth mode (no-git-ops) in backup git push (GH#2290)
  cmd/bd/backup_auto.go
  cmd/bd/backup_auto_test.go
Due: CLI Commands

fix: show helpful hint when dolt push/pull fails with remote not found (GH#2118)
  cmd/bd/dolt.go
Due: CLI Commands

fix: disable backup git push in stealth mode (GH-2290)
  cmd/bd/backup_auto.go
Due: CLI Commands

test(dolt): add integration test for git-protocol routing with external server
  internal/storage/dolt/git_remote_test.go
Due: none

test(dolt): verify DSN readTimeout rewrite for SQL push/pull operations
  internal/storage/dolt/store_unit_test.go
Due: none
