Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

fix: handle MarkHidden error to satisfy gosec G104
  cmd/bd/main.go
Due: CLI Commands

fix(beads-mcp): remove obsolete auto flag wiring
  integrations/beads-mcp/src/beads_mcp/bd_client.py
  integrations/beads-mcp/src/beads_mcp/config.py
  integrations/beads-mcp/tests/test_config.py
Due: none

docs: add full architecture and workflow docs
  docs/architecture-full.md
  docs/features-and-workflows.md
Due: none

style: run gofmt on unformatted files
  cmd/bd/config_test.go
  internal/config/sync.go
  internal/config/sync_test.go
Due: Core Types & Utilities

fix: port file is primary source for all hosts, not just localhost
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: none

chore: remove unused isLocalHost from doltserver
  internal/doltserver/doltserver.go
Due: none

refactor: remove dead sync mode scaffolding (w-bd-004)
  .beads/config.yaml
  cmd/bd/config.go
  cmd/bd/config_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/sync.go
  internal/config/sync_test.go
Due: CLI Commands, Core Types & Utilities

style: fix gofmt — remove extra blank line
  internal/config/config.go
Due: Core Types & Utilities

Follow redirect target when cleaning stale lock files
  cmd/bd/doctor/fix/locks.go
  cmd/bd/doctor/fix/locks_test.go
Due: CLI Commands

Fix legacy Dolt port resolution and port-file backfill
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
  internal/storage/dolt/open.go
  internal/storage/dolt/open_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

Fix doctor checks to honor repo-local Dolt ports
  cmd/bd/doctor/maintenance.go
  cmd/bd/doctor/migration_validation.go
Due: CLI Commands

Fix doctor health checks for repo-local Dolt ports
  cmd/bd/doctor_health.go
  cmd/bd/doctor_health_integration_test.go
  cmd/bd/doctor_health_test.go
Due: CLI Commands

bd: backup 2026-03-06 17:05
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

fix(worktree): skip gitignore append when parent dir pattern already covers entry
  cmd/bd/worktree_cmd.go
Due: CLI Commands

fix: detect WSL and MINGW/MSYS/CYGWIN in install.sh
  scripts/install.sh
Due: none

/internal/storage/embeddeddolt/schema.go: wip, need test
  internal/storage/embeddeddolt/schema.go
Due: Storage & Database

fix: wisp reports wrong count when RootOnly=true (#2410)
  cmd/bd/template.go
  cmd/bd/template_test.go
Due: CLI Commands

style: fix gofmt formatting in 3 files
  cmd/bd/config_test.go
  internal/config/sync.go
  internal/config/sync_test.go
Due: Core Types & Utilities

fix(dolt): add BEADS_DOLT_IDLE_MONITOR env var to disable idle monitor
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: none

/internal/storage/embeddeddolt: add schema test
  internal/storage/embeddeddolt/open.go
  internal/storage/embeddeddolt/schema.go
  internal/storage/embeddeddolt/schema_test.go
  internal/storage/embeddeddolt/store.go
Due: Storage & Database

/internal/storage/embeddeddolt/store.go: change witConn a bit
  internal/storage/embeddeddolt/store.go
Due: Storage & Database

feat(dolt): add shared server mode for multi-project machines (GH#2377)
  cmd/bd/doctor/dolt.go
  cmd/bd/dolt.go
  cmd/bd/init.go
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/DOLT-BACKEND.md
  docs/DOLT.md
  docs/FAQ.md
  docs/MULTI_REPO_AGENTS.md
  docs/TROUBLESHOOTING.md
  internal/config/yaml_config.go
  internal/config/yaml_config_test.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: CLI Commands, Core Types & Utilities

fix: skip sleep in CI/non-interactive environments
  scripts/install.sh
Due: none

fix: TestProtocol_FieldsRoundTrip timezone-aware date assertions
  cmd/bd/protocol/roundtrip_test.go
Due: none

fix: bd mol wisp reports wrong count when RootOnly=true
  cmd/bd/template.go
Due: CLI Commands

fix: remove stale "sync" from noDbCommands breaking all sync subcommands
  cmd/bd/main.go
Due: CLI Commands

fix: resolve beads dir correctly with custom dolt data dir
  cmd/bd/beads_dir.go
  cmd/bd/beads_dir_test.go
  cmd/bd/dep.go
  cmd/bd/main.go
  cmd/bd/routed.go
Due: CLI Commands

/internal/storage/embeddeddolt: remove dolt commit stuff in migrations
  internal/storage/embeddeddolt/cmd/main.go
  internal/storage/embeddeddolt/schema.go
  internal/storage/embeddeddolt/schema/0019_wisps_dolt_ignore.up.sql
  internal/storage/embeddeddolt/store.go
Due: Storage & Database

fix: merge --metadata with existing metadata instead of replacing
  cmd/bd/metadata_edits_test.go
  cmd/bd/update.go
Due: CLI Commands

test(cmd/bd): modernize integration helpers and stale CLI coverage
  cmd/bd/cli_fast_test.go
  cmd/bd/doctor/dolt_e2e_test.go
  cmd/bd/doctor_health_integration_test.go
  cmd/bd/doctor_repair_test.go
  cmd/bd/dolt_autocommit_integration_test.go
  cmd/bd/dolt_doctor_integration_test.go
  cmd/bd/dolt_metadata_e2e_test.go
  cmd/bd/dolt_portfile_integration_test.go
  cmd/bd/import_prefix_test.go
  cmd/bd/init_cancel_e2e_test.go
  cmd/bd/init_test.go
  cmd/bd/protocol/helpers_test.go
  cmd/bd/reopen_defer_test.go
  cmd/bd/reparent_test.go
  cmd/bd/scripttest_test.go
  cmd/bd/test_helpers_test.go
  cmd/bd/update_edge_cases_test.go
Due: none

test(gitlab): rewrite sync integration coverage for current engine
  cmd/bd/delete.go
  cmd/bd/delete_test.go
  cmd/bd/gitlab_integration_test.go
  cmd/bd/gitlab_test.go
Due: CLI Commands

ci: add repo-local dolt integration smoke lane
  .github/workflows/ci.yml
Due: none

refactor(dolt): plumb write commit mode into store config
  cmd/bd/main.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix(dolt): skip inline commits when autocommit mode is on
  cmd/bd/dolt_autocommit.go
  cmd/bd/dolt_autocommit_integration_test.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/issues.go
  internal/storage/dolt/transaction.go
Due: CLI Commands, Storage & Database

/internal/storage/embeddeddolt: cleanup
  internal/storage/embeddeddolt/open.go
  internal/storage/embeddeddolt/schema.go
  internal/storage/embeddeddolt/schema_test.go
Due: Storage & Database

fix: clean formatting drift
  cmd/bd/config_test.go
  cmd/bd/main.go
  internal/config/sync.go
  internal/config/sync_test.go
Due: CLI Commands, Core Types & Utilities
