Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

docs: replace stale bd sync references with bd dolt push/pull (GH#2442, GH#2435)
  docs/AIDER_INTEGRATION.md
  docs/CLI_REFERENCE.md
  docs/CONFIG.md
  docs/MULTI_REPO_AGENTS.md
  docs/MULTI_REPO_MIGRATION.md
  docs/PROTECTED_BRANCHES.md
  docs/REPO_CONTEXT.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  docs/WORKTREES.md
  docs/audit-sync-mode-complexity.md
Due: none

style: fix pre-existing gofmt trailing blank lines
  cmd/bd/config_test.go
  internal/config/sync.go
  internal/config/sync_test.go
Due: Core Types & Utilities

refactor: remove --allow-stale no-op flag and stale docs (w-bd-002)
  claude-plugin/skills/beads/resources/CLI_REFERENCE.md
  cmd/bd/main.go
  docs/CLI_REFERENCE.md
  docs/TROUBLESHOOTING.md
Due: CLI Commands

fix: add timeout and graceful DB-missing handling to git hook shims
  cmd/bd/hooks.go
  cmd/bd/init_hooks_test.go
Due: CLI Commands

fix: replace dangerous --force suggestion in init guard error message
  cmd/bd/init_guard.go
  cmd/bd/init_guard_test.go
Due: CLI Commands

fix(deps): update module golang.org/x/sys to v0.42.0
  go.mod
  go.sum
Due: none

test: add Clone_RootOnly_CreatedCountMatchesActual test (GH#2411)
  cmd/bd/template_test.go
Due: none

Fix repo-local Dolt ports across doctor paths (#2403)
  cmd/bd/doctor/maintenance.go
  cmd/bd/doctor/migration_validation.go
  cmd/bd/doctor_health.go
  cmd/bd/doctor_health_integration_test.go
  cmd/bd/doctor_health_test.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
  internal/storage/dolt/open.go
  internal/storage/dolt/open_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix: move machine-local metadata to local file to prevent merge conflicts (GH#2466)
  cmd/bd/doctor/gitignore.go
  cmd/bd/dolt_autopush.go
  cmd/bd/main.go
  cmd/bd/tips.go
  cmd/bd/tips_test.go
  internal/localstate/localstate.go
  internal/localstate/localstate_test.go
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/009_metadata_local_state.go
Due: CLI Commands, Storage & Database

fix(list): --json flag ignored when --tree defaults to true (bd-03r)
  cmd/bd/list.go
Due: CLI Commands

fix: idle-monitor preserves port across restart cycles (bd-xvg)
  internal/doltserver/doltserver.go
Due: none

fix: init guard allows fresh clones with committed metadata.json (GH#2433, GH#2441)
  cmd/bd/init.go
  cmd/bd/init_guard_test.go
Due: CLI Commands

test: add cross-project data isolation tests for shared Dolt server
  internal/storage/dolt/cross_project_test.go
Due: none

test: add port collision test proving #2372 data leakage
  internal/storage/dolt/cross_project_test.go
Due: none

fix: add BEADS_DOLT_PORT fallback in GetDoltServerPort() to prevent rogue Dolt servers
  internal/configfile/configfile.go
  internal/configfile/configfile_test.go
Due: Storage & Database

test: add automated tests for beads refs and time-travel sync (bd-vlu.1.4)
  CHANGELOG.md
  cmd/bd/dolt_head_test.go
  cmd/bd/hooks_checkout_test.go
Due: none

feat: disable beads refs by default — opt in via branch_strategy config
  cmd/bd/dolt_head.go
  cmd/bd/git_reset.go
  cmd/bd/git_reset_test.go
  cmd/bd/init_templates.go
  internal/config/config.go
  internal/config/config_test.go
Due: CLI Commands, Core Types & Utilities

chore: reset .beads/backup to remote state
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

fix: correct check-refs help text and add tests for bd reset/check-refs
  cmd/bd/git_reset.go
  cmd/bd/git_reset_test.go
Due: CLI Commands

bd: backup 2026-03-06 14:23
  .beads/backup/backup_state.json
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
Due: none

refactor: move branch_strategy.* settings from Dolt/sync_config to config.yaml
  CHANGELOG.md
  cmd/bd/branch.go
  cmd/bd/dolt_head.go
  cmd/bd/hooks.go
  cmd/bd/hooks_checkout_test.go
  internal/config/yaml_config.go
Due: CLI Commands, Core Types & Utilities

bd: backup 2026-03-06 13:44
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

feat: add bd reset and bd check-refs commands
  CHANGELOG.md
  cmd/bd/git_reset.go
Due: CLI Commands

fix: address PR review — remove Phase 2 setting from CHANGELOG, drop Changed section
  CHANGELOG.md
Due: none

fix: post-checkout hook now initializes Dolt store for time-travel sync
  .gitignore
  cmd/bd/hooks.go
  cmd/bd/main.go
Due: CLI Commands

fix: isRebaseInProgress test race condition and changelog Phase 1 accuracy
  CHANGELOG.md
  cmd/bd/hooks_checkout_test.go
Due: none

branching: align code with gist — strategy naming, slugs, refs, conflict resolution
  .beads/.gitignore
  cmd/bd/branch.go
  cmd/bd/branch_messaging.go
  cmd/bd/branch_strategy.go
  cmd/bd/checkout.go
  cmd/bd/close.go
  cmd/bd/create.go
  cmd/bd/dolt_autocommit.go
  cmd/bd/dolt_head.go
  cmd/bd/hooks.go
  cmd/bd/vc.go
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/009_beads_branches.go
  internal/storage/dolt/schema.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

docs: add branch_strategy section to config.yaml init template
  cmd/bd/init_templates.go
Due: CLI Commands

feat: move mismatch detection to PersistentPreRun with branch_strategy.* config
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  CHANGELOG.md
  cmd/bd/branch.go
  cmd/bd/dolt_head.go
  cmd/bd/hooks.go
  cmd/bd/hooks_checkout_test.go
  cmd/bd/main.go
Due: CLI Commands

docs: update config.yaml template to Phase 1 settings and add roadmap
  cmd/bd/init_templates.go
Due: CLI Commands

docs: updated CHANGELOG
  CHANGELOG.md
Due: none

docs: set prompt default to true in config.yaml template
  cmd/bd/init_templates.go
Due: CLI Commands

chore: reset .beads/backup to upstream/main state
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

fix: write nested YAML for dotted config keys (branch_strategy)
  internal/config/yaml_config.go
  internal/config/yaml_config_test.go
Due: Core Types & Utilities

docs: add branch_strategy config commands to changelog
  CHANGELOG.md
Due: none

feat: improve bd reset output with git/dolt HEAD labels
  cmd/bd/dolt_head.go
  cmd/bd/git_reset.go
Due: CLI Commands
