Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

fix(daemon): be-fqjs3v followup — change PidFile.StartedAt to *time.Time
  internal/storage/dbproxy/pidfile/pidfile.go
Due: Storage & Database

feat(daemon): be-hpivhb — RPC package StoreLocator surface + type assertions
  internal/storage/rpc/locator.go
Due: Storage & Database

feat(daemon): be-fqjs3v — configfile schema, pidfile extension, platform socket stubs
  cmd/bd/daemon_socket_unix.go
  cmd/bd/daemon_socket_windows.go
  docs/EXTENDING.md
  internal/configfile/configfile.go
  internal/storage/dbproxy/pidfile/pidfile.go
Due: CLI Commands, Storage & Database

feat(daemon): be-e2pufb — iter transport: iter_shared.go session manager + server wiring
  internal/storage/rpc/client.go
  internal/storage/rpc/iter_shared.go
  internal/storage/rpc/iter_shared_test.go
  internal/storage/rpc/server.go
Due: Storage & Database

fix(daemon): be-ojx6um — register concrete types with gob for UpdateIssue transport
  internal/storage/rpc/gob_types.go
Due: Storage & Database

feat(daemon): be-z09krv — bddgen iter transport: emit iter_types.go, iter_server.go, iter_client.go
  cmd/bddgen/main.go
  go.mod
  go.sum
  internal/storage/hook_decorator_storage_only_test.go
  internal/storage/rpc/client.go
  internal/storage/rpc/gen.go
  internal/storage/rpc/iter_client.go
  internal/storage/rpc/iter_server.go
  internal/storage/rpc/iter_types.go
  internal/storage/storage.go
  internal/telemetry/storage.go
Due: CLI Commands, Storage & Database

feat(daemon): be-732qlr — DaemonStats iter fields + bd daemon stats CLI
  cmd/bd/daemon_stats.go
  internal/storage/rpc/daemon_stats.go
Due: CLI Commands, Storage & Database

chore: release gate PASS for be-z09krv (bddgen iter transport)
  release-gates/be-z09krv-gate.md
Due: none

fix(nix): update vendorHash after pgx/v5 + postgres-testcontainers deps
  default.nix
Due: none

fix(nix): correct vendorHash for pgx/v5 + testcontainers-postgres deps
  default.nix
Due: none

fix(daemon): be-z09krv reviewer blockers — vet failures + batch cap
  cmd/bddgen/main.go
  internal/jira/tracker_test.go
  internal/storage/hook_decorator_storage_only_test.go
  internal/storage/rpc/iter_server.go
Due: CLI Commands, Storage & Database

chore: release gate PASS for be-732qlr (daemon iter stats)
  release-gates/be-732qlr-gate.md
Due: none

docs(cli): regenerate CLI reference for new bd daemon stats command
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/daemon.md
  website/docs/cli-reference/index.md
  website/versioned_docs/version-1.0.0/cli-reference/daemon.md
  website/versioned_docs/version-1.0.0/cli-reference/index.md
  website/versioned_docs/version-1.0.4/cli-reference/daemon.md
  website/versioned_docs/version-1.0.4/cli-reference/index.md
Due: none

chore: release gate PASS for be-fup0q9 (bddgen exported reply field)
  release-gates/be-fup0q9-gate.md
Due: none

chore: release gate PASS for be-f49kcb (iter transport tests)
  release-gates/be-f49kcb-gate.md
Due: none

fix(bddgen): be-fup0q9 — exportedName() on reply field base so []string → Strings not strings
  cmd/bddgen/main.go
  internal/storage/rpc/client.go
  internal/storage/rpc/server.go
  internal/storage/rpc/types.go
Due: CLI Commands, Storage & Database

test(daemon): be-f49kcb — iter transport unit tests + parity skeleton
  internal/storage/parity/daemon_iter_test.go
  internal/storage/rpc/iter_client_test.go
  internal/storage/rpc/iter_server_test.go
Due: none

fix(ready): use FIFO ordering within same priority tier (GH#4043)
  internal/storage/dolt/wisps.go
Due: Storage & Database

feat(daemon): be-ht5qm4 — Kill() module for bdd daemon shutdown
  cmd/bddgen/main.go
  internal/daemon/kill.go
  internal/daemon/kill_test.go
  internal/daemon/kill_windows.go
  internal/storage/rpc/client.go
  internal/storage/rpc/gen.go
  internal/storage/rpc/server.go
  internal/storage/rpc/types.go
Due: CLI Commands, Storage & Database

test(storage): compound bytes+allocs gate for lite SELECT (be-9uj7)
  internal/storage/postgres/lite_bench_test.go
Due: none

feat(bench): be-ry0 PG bench scaffolding (3 named benchmarks + extensible wrapper)
  .gitignore
  Makefile
  internal/storage/postgres/benchmark_test.go
  internal/storage/postgres/testfixture/testfixture.go
  scripts/benchstat-postgres.sh
Due: Storage & Database

test(storage): be-uwvs.4 lite SELECT correctness + parity + bench tests
  internal/storage/dolt/lite_search_test.go
  internal/storage/embeddeddolt/lite_search_test.go
  internal/storage/parity/lite_parity_test.go
  internal/storage/postgres/lite_bench_test.go
  internal/storage/postgres/lite_search_test.go
Due: none

chore(deps): add pgx/v5 + testcontainers-postgres for integration_pg bench tests
  go.mod
  go.sum
Due: none

feat(daemon): be-zsr4id — iter transport foundation: sentinel errors, config fields, docs
  docs/EXTENDING.md
  internal/configfile/configfile.go
  internal/storage/storage.go
Due: Storage & Database

docs(gate): update be-z09krv gate — re-review PASS (be-ntqc) + nix hash fixes
  release-gates/be-z09krv-gate.md
Due: none

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
