Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

fix: remove verbose Note from beads ref sync prompt
  cmd/bd/dolt_head.go
Due: CLI Commands

test: add round-trip reset regression test for dolt_commits lookup
  cmd/bd/git_reset_test.go
Due: none

fix: show dolt commit message on forward reset
  cmd/bd/dolt_head.go
Due: CLI Commands

feat: replace hash-derived dolt ports with OS-assigned ephemeral ports
  cmd/bd/doctor/dolt.go
  cmd/bd/doctor/legacy.go
  cmd/bd/doctor/perf_dolt.go
  cmd/bd/doctor/server.go
  cmd/bd/doctor_health.go
  cmd/bd/info.go
  cmd/bd/init.go
  cmd/bd/main.go
  internal/configfile/configfile.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
  internal/storage/dolt/store.go
  internal/storage/dolt/store_unit_test.go
Due: CLI Commands, Storage & Database

chore: untrack .beads/ directory (already gitignored)
  .beads/.gitignore
  .beads/BD_GUIDE.md
  .beads/README.md
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
  .beads/config.yaml
  .beads/cost_state.json
  .beads/formulas/beads-release.formula.toml
  .beads/issues.jsonl
  .beads/issues.jsonl.new
Due: none

refactor: extract GenerateProjectID to configfile package
  cmd/bd/init.go
  internal/configfile/configfile.go
Due: CLI Commands, Storage & Database

fix: backfill project_id into pre-GH#2372 Dolt stores via bd doctor --fix
  cmd/bd/doctor.go
  cmd/bd/doctor/database.go
  cmd/bd/doctor/fix/metadata.go
  cmd/bd/doctor_fix.go
Due: CLI Commands

fix: exclude reparented children from molecule auto-close (GH#2476)
  cmd/bd/critical_paths_test.go
  cmd/bd/template.go
Due: CLI Commands

fix: restore denormalized JSONL from bd export without data loss
  cmd/bd/backup_restore.go
  cmd/bd/backup_restore_test.go
Due: CLI Commands

fix: bd children includes closed children by default (GH#2477)
  cmd/bd/children.go
  cmd/bd/children_test.go
Due: CLI Commands

fix: bd doctor --fix regenerates missing metadata.json (GH#2478)
  cmd/bd/doctor.go
  cmd/bd/doctor/fix/metadata_json.go
  cmd/bd/doctor/fix/metadata_test.go
  cmd/bd/doctor_fix.go
Due: CLI Commands

fix: init guard allows fresh clone with reachable server (GH#2433)
  cmd/bd/init.go
Due: CLI Commands

style: remove noise comments from metadata_json.go
  cmd/bd/doctor/fix/metadata_json.go
Due: CLI Commands

fix: dedup writeBeadsRefs, use errors.Is, use slices.Contains
  cmd/bd/dolt_head.go
  cmd/bd/hooks_checkout_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

refactor: remove dead sync mode scaffolding (hq-tt4l)
  cmd/bd/config.go
  cmd/bd/config_test.go
  docs/CONFIG.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/sync.go
  internal/config/sync_test.go
Due: CLI Commands, Core Types & Utilities

fix: PR review remediation — worktree rebase, terminal check, GetBranchInfo error handling
  .gitattributes
  cmd/bd/branch_messaging.go
  cmd/bd/branch_strategy.go
  cmd/bd/git_reset_test.go
  cmd/bd/hooks.go
  cmd/bd/vc.go
  internal/config/yaml_config.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

fix: clear BEADS_DOLT_PORT in TestDoltConfigGetters default port test
  cmd/bd/dolt_test.go
Due: none

Preserve dependency metadata in JSONL backups (bd-upfkd)
  cmd/bd/backup_export.go
  cmd/bd/backup_restore.go
  cmd/bd/backup_restore_test.go
  cmd/bd/backup_test.go
Due: CLI Commands

fix: move auto-push state to local file, preventing metadata merge conflicts (GH#2466)
  cmd/bd/dolt_autopush.go
  cmd/bd/dolt_autopush_test.go
Due: CLI Commands

fix: revert .beads/backup pollution and restore .beads/.gitignore
  .beads/.gitignore
  .beads/backup/backup_state.json
  .beads/backup/comments.jsonl
  .beads/backup/config.jsonl
  .beads/backup/dependencies.jsonl
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  .beads/backup/labels.jsonl
Due: none

feat: allow bd init from git worktrees
  cmd/bd/init.go
  cmd/bd/init_test.go
  cmd/bd/worktree_cmd.go
  cmd/bd/worktree_redirect.go
  docs/ADVANCED.md
Due: CLI Commands

feat: search external_ref in bd search
  cmd/bd/search.go
  internal/storage/dolt/filters.go
  internal/storage/dolt/queries_test.go
  internal/storage/dolt/schema_parity_test.go
  internal/storage/dolt/transaction.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

refactor: remove dead sync mode scaffolding (GH#2485)
  cmd/bd/config.go
  cmd/bd/config_test.go
  docs/CONFIG.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/sync.go
  internal/config/sync_test.go
Due: CLI Commands, Core Types & Utilities

feat: search external_ref in bd search (GH#2494)
  cmd/bd/search.go
  internal/storage/dolt/filters.go
  internal/storage/dolt/queries_test.go
  internal/storage/dolt/schema_parity_test.go
  internal/storage/dolt/transaction.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

fix: block bd doctor --fix at Gas Town town root (GH#2450)
  cmd/bd/doctor.go
  cmd/bd/doctor_gastown_guard.go
  cmd/bd/doctor_gastown_guard_test.go
Due: CLI Commands

fix: add BEADS_DOLT_PORT fallback in GetDoltServerPort() (GH#2486)
  cmd/bd/dolt_test.go
  internal/configfile/configfile.go
  internal/configfile/configfile_test.go
Due: Storage & Database

fix: bd doctor --fix regenerates missing metadata.json (GH#2482)
  cmd/bd/doctor.go
  cmd/bd/doctor/fix/metadata_json.go
  cmd/bd/doctor/fix/metadata_test.go
  cmd/bd/doctor_fix.go
Due: CLI Commands

perf: speed up close-time template subgraph loading (GH#2458)
  cmd/bd/template.go
  cmd/bd/template_test.go
Due: CLI Commands

fix: bd children includes closed children by default (GH#2481)
  cmd/bd/children.go
  cmd/bd/children_test.go
Due: CLI Commands

fix: exclude reparented children from molecule auto-close (GH#2480)
  cmd/bd/critical_paths_test.go
  cmd/bd/template.go
Due: CLI Commands

fix: backfill project_id into pre-GH#2372 Dolt stores via bd doctor --fix (GH#2490)
  cmd/bd/doctor.go
  cmd/bd/doctor/database.go
  cmd/bd/doctor/fix/metadata.go
  cmd/bd/doctor_fix.go
  cmd/bd/init.go
  internal/configfile/configfile.go
Due: CLI Commands, Storage & Database

fix: preserve dependency metadata in JSONL backups (GH#2487)
  cmd/bd/backup_export.go
  cmd/bd/backup_restore.go
  cmd/bd/backup_restore_test.go
  cmd/bd/backup_test.go
Due: CLI Commands

fix: merge --metadata with existing metadata instead of replacing (GH#2423)
  cmd/bd/metadata_edits_test.go
  cmd/bd/update.go
Due: CLI Commands

fix: restore denormalized JSONL from bd export without data loss (GH#2479)
  cmd/bd/backup_restore.go
  cmd/bd/backup_restore_test.go
  cmd/bd/init.go
Due: CLI Commands

fix: remove stale 'sync' from noDbCommands breaking sync subcommands (GH#2419)
  cmd/bd/main.go
Due: CLI Commands

test: add context identity drift regression tests (mw-local-4so.1.4)
  cmd/bd/context_cmd_test.go
Due: none

feat: add bd context command and safe-first error guidance
  cmd/bd/compact.go
  cmd/bd/context_cmd.go
  cmd/bd/defer.go
  cmd/bd/lint.go
  cmd/bd/main.go
  cmd/bd/main_errors.go
  cmd/bd/markdown.go
  cmd/bd/migrate.go
  cmd/bd/mol_burn.go
  cmd/bd/mol_squash.go
  cmd/bd/promote.go
  cmd/bd/reopen.go
  cmd/bd/sql.go
  cmd/bd/undefer.go
  cmd/bd/where.go
  cmd/bd/worktree_cmd.go
Due: CLI Commands

feat: add --destroy-token for safe non-interactive re-init + regression tests
  cmd/bd/init.go
  cmd/bd/init_guard_test.go
Due: CLI Commands

feat: JSON-aware error output + JSONL schema validation for restore
  cmd/bd/backup_restore.go
  cmd/bd/errors.go
Due: CLI Commands

feat: add workspace identity preflight, bd bootstrap command
  cmd/bd/bootstrap.go
  cmd/bd/main.go
  cmd/bd/workspace_identity_test.go
Due: CLI Commands
