Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

test: add SortPolicy and order preservation tests for GetReadyWork
  internal/storage/dolt/dolt_test.go
Due: none

fix(ready): respect SortPolicy and preserve result ordering (GH#1880)
  internal/storage/dolt/queries.go
Due: Storage & Database

fix(ready): respect SortPolicy and preserve result ordering (#1883)
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/queries.go
Due: Storage & Database

test: protocol invariant suite for data integrity and blocking semantics
  cmd/bd/protocol/protocol_test.go
Due: none

feat(test): differential regression suite (v0.49.6 baseline)
  .github/workflows/regression.yml
  Makefile
  tests/regression/BASELINE_VERSION
  tests/regression/regression_test.go
  tests/regression/scenarios_test.go
Due: none

test(regression): add 17 scenarios targeting recent open bugs
  tests/regression/scenarios_test.go
Due: none

fix(doctor): skip git upstream warning when no remotes exist (mybd-71w.3)
  cmd/bd/doctor/git.go
Due: CLI Commands

fix(doctor): only warn about Claude plugin when Claude CLI is present (mybd-71w.4)
  cmd/bd/doctor/claude.go
Due: CLI Commands

fix(init): stop JJ detection from walking above git repo root (mybd-71w.6)
  internal/git/gitdir.go
Due: Sync & Git Operations

fix(test): update TestCheckGitUpstream to align with no-remotes behavior
  cmd/bd/doctor/git_hygiene_test.go
Due: none

test: add coverage for doctor check changes
  cmd/bd/doctor/claude_test.go
  internal/git/jujutsu_test.go
Due: none

style: gofmt test files
  cmd/bd/doctor/claude.go
  cmd/bd/doctor/claude_test.go
Due: CLI Commands

test(regression): add bug discovery tests and 14 confirmed bug reports
  tests/regression/DISCOVERY.md
  tests/regression/discovery_test.go
Due: none

docs(regression): add audit verdicts and session log to DISCOVERY.md
  tests/regression/DISCOVERY.md
Due: none

docs(regression): revised audit, protocol test classifications, prior art
  tests/regression/DISCOVERY.md
Due: none

feat: make metadata queryable from bd list, bd search, and bd query
  cmd/bd/list.go
  cmd/bd/metadata_filter_test.go
  cmd/bd/search.go
  internal/query/evaluator.go
  internal/query/query_test.go
  internal/storage/dolt/queries.go
  internal/storage/metadata.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Query & Filtering, Core Types & Utilities

feat(otel): capture hook stdout/stderr and bd.args in spans
  cmd/bd/main.go
  internal/hooks/hooks.go
  internal/hooks/hooks_otel.go
  internal/hooks/hooks_unix.go
  internal/hooks/hooks_windows.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database, Sync & Git Operations

feat(otel): comprehensive OpenTelemetry instrumentation
  cmd/bd/find_duplicates.go
  cmd/bd/main.go
  docs/OBSERVABILITY.md
  go.mod
  go.sum
  internal/compact/haiku.go
  internal/hooks/hooks_unix.go
  internal/hooks/hooks_windows.go
  internal/storage/dolt/store.go
  internal/telemetry/otlp.go
  internal/telemetry/storage.go
  internal/telemetry/telemetry.go
  internal/tracker/engine.go
Due: CLI Commands, Storage & Database, Sync & Git Operations, External Integrations

refactor(otel): align with VictoriaMetrics HTTP stack
  go.mod
  go.sum
  internal/telemetry/otlp.go
  internal/telemetry/telemetry.go
Due: none

fix(otel): address review feedback — stale comment, span leak, hot-path alloc
  cmd/bd/main.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix: gofmt formatting and build break in telemetry storage wrapper
  cmd/bd/delete.go
  cmd/bd/find_duplicates.go
  cmd/bd/hooks.go
  cmd/bd/main.go
  cmd/bd/restore_test.go
  internal/compact/haiku.go
  internal/config/sync_test.go
  internal/storage/dolt/dolt_test.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/store.go
  internal/telemetry/storage.go
  internal/telemetry/telemetry.go
  tests/regression/scenarios_test.go
Due: CLI Commands, Storage & Database

fix(close,update): exit non-zero when individual issues fail
  cmd/bd/close.go
  cmd/bd/exit_code_test.go
  cmd/bd/update.go
Due: CLI Commands

docs(regression): update DISCOVERY.md with PR status and bug triage
  tests/regression/DISCOVERY.md
Due: none

feat: support issue_id_mode=counter for sequential IDs (GH#2002)
  internal/storage/dolt/issues.go
  internal/storage/dolt/migrations.go
  internal/storage/dolt/migrations/006_issue_counter.go
  internal/storage/dolt/migrations/migrations_test.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
  internal/storage/dolt/schema.go
Due: Storage & Database

docs: document issue_id_mode=counter feature (GH#2002)
  .beads/BD_GUIDE.md
  docs/ADAPTIVE_IDS.md
  docs/CONFIG.md
  website/docs/reference/configuration.md
Due: none

fix: seed counter from existing issues when enabling counter mode (GH#2002)
  internal/storage/dolt/issues.go
  internal/storage/dolt/queries.go
  internal/storage/dolt/queries_test.go
Due: Storage & Database

feat: add bd config schema and describe commands for agent discoverability (GH#2002)
  cmd/bd/config.go
  internal/config/schema.go
Due: CLI Commands, Core Types & Utilities

fix: validate status, title, and label inputs on update/label add
  cmd/bd/label.go
  cmd/bd/update.go
Due: CLI Commands

fix: revert BUG-11 status validation — breaks custom statuses
  cmd/bd/protocol/protocol_test.go
  cmd/bd/update.go
Due: CLI Commands

test: add protocol tests for input validation (BUG-11, BUG-12, BUG-14)
  cmd/bd/protocol/protocol_test.go
Due: none

test: add protocol tests for BUG-10 exit code behavior
  cmd/bd/protocol/protocol_test.go
Due: none

fix: exit non-zero on close guard and claim failures (BUG-10)
  cmd/bd/close.go
  cmd/bd/update.go
Due: CLI Commands

refactor: remove overengineered config schema (keep docs only)
  cmd/bd/config.go
  internal/config/schema.go
Due: CLI Commands, Core Types & Utilities

test(protocol): split exit-code tests into separate file
  cmd/bd/protocol/exit_codes_test.go
  cmd/bd/protocol/protocol_test.go
Due: none

test(protocol): split input-validation tests into separate file
  cmd/bd/protocol/input_validation_test.go
  cmd/bd/protocol/protocol_test.go
Due: none

chore: remove BUG-10 references from code comments
  cmd/bd/close.go
  cmd/bd/update.go
Due: CLI Commands
