Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

docs: remove personal attribution from evidence doc
  docs/design/federation-uuid-evidence.md
Due: none

fix: allow colons in unquoted query identifier values
  internal/query/lexer.go
  internal/query/query_test.go
Due: Query & Filtering

fix(doctor): auto-start Dolt on cold standalone checks
  cmd/bd/doctor/config_values.go
  cmd/bd/doctor/database.go
  cmd/bd/doctor/federation.go
  cmd/bd/doctor/federation_test.go
  cmd/bd/doctor/installation.go
  cmd/bd/doctor/integrity.go
  cmd/bd/doctor/maintenance.go
  cmd/bd/doctor/multirepo.go
  cmd/bd/doctor/role.go
  cmd/bd/doctor/suppress.go
  cmd/bd/import.go
  cmd/bd/main.go
  internal/storage/dolt/open.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

Add backup fetch-git and git snapshot manifest (bd-vogvt)
  cmd/bd/backup_export_git.go
  cmd/bd/backup_export_git_test.go
  cmd/bd/backup_fetch_git.go
  cmd/bd/backup_fetch_git_test.go
  cmd/bd/backup_git_transport.go
  cmd/bd/backup_restore.go
Due: CLI Commands

Fix import command formatting after main rebase (bd-vogvt)
  cmd/bd/import.go
Due: CLI Commands

Fix upstream formatting regressions after rebase (bd-vogvt)
  internal/storage/dolt/store.go
Due: Storage & Database

feat: auto-detect beads database on git origin during bootstrap
  cmd/bd/bootstrap.go
  cmd/bd/bootstrap_test.go
  cmd/bd/init.go
  cmd/bd/sync_git.go
  cmd/bd/sync_git_test.go
  docs/DOLT.md
  docs/QUICKSTART.md
Due: CLI Commands

Recover from embedded Dolt OpenSQL panics (bd-y0wdf)
  internal/storage/embeddeddolt/open.go
  internal/storage/embeddeddolt/open_test.go
Due: Storage & Database

style: fix gofmt formatting in import.go and store.go
  cmd/bd/import.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix: scope backup/restore to current project prefix
  cmd/bd/backup_export.go
  cmd/bd/backup_restore.go
Due: CLI Commands

Update embedded init JSONL expectation
  cmd/bd/init_embedded_test.go
Due: none

docs: generalize design docs for upstream consumption
  docs/design/federation-uuid-evidence.md
  docs/design/federation-uuid-primary-keys.md
Due: none

docs: design doc and evidence for UUID primary keys migration
  docs/design/federation-uuid-evidence.md
  docs/design/federation-uuid-primary-keys.md
Due: none

fix: applyConfigDefaults uses full port resolution chain
  internal/storage/dolt/store.go
Due: Storage & Database

style: fix gofmt on import.go (pre-existing)
  cmd/bd/import.go
Due: CLI Commands

fix: read jira.pull_jql config during FetchIssues
  internal/jira/tracker.go
  internal/jira/tracker_test.go
Due: External Integrations

feat: add --claim-next to close and --skills/--context to create
  cmd/bd/close.go
  cmd/bd/create.go
Due: CLI Commands

fix: scope KillStaleServers to only kill processes from this repo's data directory
  internal/doltserver/doltserver.go
Due: none

Preserve repo-local Dolt servers during stale cleanup (GH#2595)
  cmd/bd/dolt.go
  internal/doltserver/doltserver.go
  internal/doltserver/doltserver_test.go
Due: CLI Commands

docs: add central Dolt server setup guide for macOS
  docs/DOLT-BACKEND.md
Due: none

fix: complete UUID primary keys cleanup across codebase
  cmd/bd/backup_export.go
  cmd/bd/backup_restore.go
  cmd/bd/backup_test.go
  cmd/bd/import_from_jsonl_test.go
  cmd/bd/info.go
  docs/audit-sync-mode-complexity.md
  internal/storage/dolt/git_remote_test.go
  internal/storage/embeddeddolt/schema/0004_create_comments.up.sql
  internal/storage/embeddeddolt/schema/0005_create_events.up.sql
  internal/storage/embeddeddolt/schema/0009_create_issue_snapshots.up.sql
  internal/storage/embeddeddolt/schema/0010_create_compaction_snapshots.up.sql
  internal/storage/embeddeddolt/schema/0021_create_wisp_auxiliary.up.sql
  internal/storage/issueops/create.go
Due: CLI Commands, Storage & Database

fix(dolt): avoid port-0 circuit poisoning on cold init
  internal/storage/dolt/circuit.go
  internal/storage/dolt/circuit_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

feat: prime SSOT tasks 1-3 — shared render API, template profiles, prefix-aware parser (#2139)
  cmd/bd/setup/agents.go
  cmd/bd/setup/agents_marker_test.go
  cmd/bd/setup/factory_test.go
  internal/templates/agents/defaults/beads-section-minimal.md
  internal/templates/agents/render.go
  internal/templates/agents/render_test.go
Due: CLI Commands

feat: explicit profile:full on all AGENTS.md integrations (#2139, task 4)
  cmd/bd/setup/codex.go
  cmd/bd/setup/factory.go
  cmd/bd/setup/mux.go
  cmd/bd/setup/opencode.go
Due: CLI Commands

feat: Claude and Gemini setup install minimal AGENTS.md section (#2139, tasks 5-6)
  cmd/bd/setup/claude.go
  cmd/bd/setup/gemini.go
Due: CLI Commands

refactor: init uses RenderSection with profile metadata (#2139, task 7)
  cmd/bd/init_agent.go
Due: CLI Commands

feat: prime SSOT tasks 8-12 — init upgrade, recipe cleanup, symlink safety, staleness detection (#2139)
  cmd/bd/init_agent.go
  cmd/bd/setup/agents.go
  cmd/bd/setup/agents_marker_test.go
  cmd/bd/setup/factory_test.go
  docs/CLI_REFERENCE.md
  docs/SETUP.md
  internal/recipes/template.go
Due: CLI Commands

fix: sync agents.md.tmpl beads section with beads-section.md
  internal/templates/agents/defaults/agents.md.tmpl
Due: none

style: fix gofmt formatting
  cmd/bd/import.go
  internal/storage/dolt/store.go
  internal/templates/agents/render_test.go
Due: CLI Commands, Storage & Database

fix: suppress gosec G304 for resolved agent path
  cmd/bd/setup/agents.go
Due: CLI Commands

fix: preserve source rig's dolt_database across .beads/redirect
  cmd/bd/import.go
  cmd/bd/main.go
  internal/beads/beads.go
  internal/beads/beads_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

fix: key circuit breaker on host:port instead of port only (bd-ic2)
  docs/TROUBLESHOOTING.md
  internal/storage/dolt/circuit.go
  internal/storage/dolt/circuit_test.go
  internal/storage/dolt/store.go
Due: Storage & Database

fix: preserve source rig's dolt_database across .beads/redirect
  cmd/bd/import.go
  cmd/bd/main.go
  cmd/bd/routed.go
  internal/beads/beads.go
  internal/beads/beads_test.go
  internal/routing/routes.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

fix(doctor): detect server-backed runtime for concurrency check
  cmd/bd/doctor/embedded_concurrency.go
  cmd/bd/doctor/embedded_concurrency_test.go
Due: CLI Commands

test: cover prefix-scoped backup restore/export
  cmd/bd/backup_export_git_test.go
  cmd/bd/backup_restore_test.go
  cmd/bd/backup_test.go
Due: none

fix: accept UUID comment and event IDs during restore
  cmd/bd/backup_restore.go
  cmd/bd/backup_restore_test.go
Due: CLI Commands

style: satisfy repo gofmt baseline
  cmd/bd/import.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

Add backup fetch-git and git snapshot follow-ups (bd-mtqql)
  cmd/bd/backup.go
  cmd/bd/backup_export.go
  cmd/bd/backup_git_transport.go
  cmd/bd/backup_restore.go
  cmd/bd/doctor_pollution.go
  cmd/bd/export.go
  cmd/bd/tips.go
  docs/ARCHITECTURE.md
  docs/CLI_REFERENCE.md
  docs/CONFIG.md
  docs/DOLT-BACKEND.md
  docs/FAQ.md
  docs/TROUBLESHOOTING.md
  website/docs/architecture/index.md
  website/docs/getting-started/upgrading.md
  website/docs/reference/troubleshooting.md
  website/static/llms.txt
Due: CLI Commands
