Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

Clarify setup remove cleanup
  cmd/bd/setup.go
Due: CLI Commands

Add Copilot wiring tests
  cmd/bd/doctor_test.go
  cmd/bd/setup_test.go
Due: none

Fix Copilot setup docs
  docs/CLI_REFERENCE.md
  docs/INSTALLING.md
Due: none

fix(dolt): adopt git origin on first push
  cmd/bd/doctor/remotes.go
  cmd/bd/doctor/remotes_test.go
  cmd/bd/dolt.go
  cmd/bd/init.go
  cmd/bd/init_embedded_test.go
  cmd/bd/sync_git.go
  cmd/bd/sync_remote.go
Due: CLI Commands

/internal/storage: wip, fixing schema
  internal/storage/dolt/queries.go
  internal/storage/dolt/wisps.go
  internal/storage/embeddeddolt/child_id.go
  internal/storage/embeddeddolt/child_id_test.go
  internal/storage/embeddeddolt/create_issue_test.go
  internal/storage/issueops/bulk_ops.go
  internal/storage/issueops/child_id.go
  internal/storage/issueops/create.go
  internal/storage/issueops/delete.go
Due: Storage & Database

/internal/storage/{embeddeddolt,schema}: add wisp_child_counters
  internal/storage/embeddeddolt/schema_test.go
  internal/storage/schema/migrations/ignored/0002_create_wisp_child_counters.up.sql
Due: Storage & Database

Regenerate CLI docs for Copilot setup entry
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/setup.md
  website/versioned_docs/version-1.0.0/cli-reference/setup.md
  website/versioned_docs/version-1.0.4/cli-reference/setup.md
Due: none

/internal/storage/schema: add foreign keys to normal tables
  internal/storage/schema/migrations/0041_add_dependencies_depends_on_fk.down.sql
  internal/storage/schema/migrations/0041_add_dependencies_depends_on_fk.up.sql
  internal/storage/schema/migrations/ignored/0002_create_wisp_child_counters.up.sql
Due: Storage & Database

/internal/{dolt,issueops,schema}: foreign key stuff
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/rename_test.go
  internal/storage/dolt/transaction.go
  internal/storage/dolt/wisps.go
  internal/storage/issueops/bulk_ops.go
  internal/storage/issueops/delete.go
  internal/storage/issueops/dependencies.go
  internal/storage/issueops/promote.go
  internal/storage/schema/migrations/0041_add_dependencies_depends_on_fk.down.sql
  internal/storage/schema/migrations/0041_add_dependencies_depends_on_fk.up.sql
  internal/storage/schema/migrations/0041_split_dependencies_target.down.sql
  internal/storage/schema/migrations/0041_split_dependencies_target.up.sql
  internal/storage/schema/migrations/0042_add_on_update_cascade.down.sql
  internal/storage/schema/migrations/0042_add_on_update_cascade.up.sql
  internal/storage/schema/migrations/ignored/0002_create_wisp_child_counters.up.sql
  internal/storage/schema/migrations/ignored/0003_split_wisp_dependencies_target.up.sql
  internal/storage/schema/migrations/ignored/0004_add_wisp_aux_fks.up.sql
Due: Storage & Database

/{cmd,internal}: remove dead code
  cmd/bd/rename_prefix.go
  internal/storage/dependency_queries.go
  internal/storage/dolt/dependencies.go
  internal/storage/dolt/ephemeral_routing.go
  internal/storage/dolt/rename.go
  internal/storage/embeddeddolt/store.go
  internal/storage/issueops/bulk_ops.go
Due: CLI Commands, Storage & Database

/{cmd,internal}: remove more code
  cmd/bd/rename_prefix.go
  internal/storage/bulk_issues.go
  internal/storage/dolt/rename.go
  internal/storage/embeddeddolt/store.go
Due: CLI Commands, Storage & Database

feat(bench): be-ry0 PG bench scaffolding (3 named benchmarks + extensible wrapper)
  .gitignore
  Makefile
  internal/storage/postgres/benchmark_test.go
  internal/storage/postgres/testfixture/testfixture.go
  scripts/benchstat-postgres.sh
Due: Storage & Database

test(storage): be-uwvs.4 lite SELECT correctness + parity + bench tests
  internal/storage/dolt/lite_search_test.go
  internal/storage/embeddeddolt/lite_search_test.go
  internal/storage/parity/lite_parity_test.go
  internal/storage/postgres/lite_bench_test.go
  internal/storage/postgres/lite_search_test.go
Due: none

test(storage): compound bytes+allocs gate for lite SELECT (be-9uj7)
  internal/storage/postgres/lite_bench_test.go
Due: none

chore(deps): add pgx/v5 + testcontainers-postgres for integration_pg bench tests
  go.mod
  go.sum
Due: none

fix: make dolt endpoint resolution explicit
  cmd/bd/dolt.go
  internal/doltserver/doltserver.go
  internal/doltserver/endpoint.go
  internal/doltserver/endpoint_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

fix(dolt): address origin adoption review nits
  cmd/bd/doctor/remotes.go
  cmd/bd/doctor/remotes_test.go
  cmd/bd/dolt.go
  cmd/bd/sync_git.go
  cmd/bd/sync_remote.go
  cmd/bd/sync_remote_test.go
  internal/doltremote/remote.go
Due: CLI Commands

chore: track workflow formulas for portability
  .beads/formulas/gh-issue-to-pr.formula.toml
  .beads/formulas/gh-pr-review.formula.toml
Due: none

chore: untrack workflow formulas
  .beads/formulas/gh-issue-to-pr.formula.toml
  .beads/formulas/gh-pr-review.formula.toml
Due: none

fix(trackers): route secret keys through config.yaml in all tracker getConfig methods
  internal/ado/tracker.go
  internal/ado/tracker_test.go
  internal/config/yaml_config.go
  internal/gitlab/tracker.go
  internal/gitlab/tracker_test.go
  internal/jira/tracker.go
  internal/jira/tracker_test.go
  internal/notion/tracker.go
  internal/notion/tracker_test.go
Due: External Integrations, Core Types & Utilities

feat(daemon): be-fqjs3v — configfile schema, pidfile extension, platform socket stubs
  cmd/bd/daemon_socket_unix.go
  cmd/bd/daemon_socket_windows.go
  docs/EXTENDING.md
  internal/configfile/configfile.go
  internal/storage/dbproxy/pidfile/pidfile.go
Due: CLI Commands, Storage & Database

fix(pg): be-nalj2g — PG SearchIssues parity with Dolt for partial wisp IDs
  internal/storage/postgres/issues.go
  internal/storage/postgres/wisp_resolve_test.go
Due: Storage & Database

docs: replace skill CLI reference copy with live pointers
  plugins/beads/skills/beads/README.md
  plugins/beads/skills/beads/SKILL.md
  plugins/beads/skills/beads/resources/CLI_REFERENCE.md
  plugins/beads/skills/beads/resources/TROUBLESHOOTING.md
Due: none

docs: clarify config routing for tool settings
  website/docs/reference/configuration.md
Due: none

feat(daemon): be-ht5qm4 — Kill() module for bdd daemon shutdown
  cmd/bddgen/main.go
  internal/daemon/kill.go
  internal/daemon/kill_test.go
  internal/daemon/kill_windows.go
  internal/storage/rpc/client.go
  internal/storage/rpc/gen.go
  internal/storage/rpc/server.go
  internal/storage/rpc/types.go
Due: CLI Commands, Storage & Database

feat(daemon): be-hpivhb — RPC package StoreLocator surface + type assertions
  internal/storage/rpc/locator.go
Due: Storage & Database

fix(auto-import): make upgrade-recovery fallback non-destructive (#3955)
  cmd/bd/auto_import_upgrade.go
  cmd/bd/auto_import_upgrade_test.go
  cmd/bd/auto_import_upgrade_unit_test.go
  cmd/bd/import_shared.go
  internal/storage/batch.go
  internal/storage/issueops/create.go
Due: CLI Commands, Storage & Database

feat(storage): add Driver interface, DriverConfig, DriverOpener, and Capability types
  internal/storage/capability.go
  internal/storage/capability_test.go
  internal/storage/driver.go
Due: Storage & Database

fix(storage): address reviewer MEDIUM+LOW findings on Driver interface
  internal/storage/capability_test.go
  internal/storage/driver.go
  internal/storage/driver_test.go
Due: Storage & Database

fix(daemon): be-fqjs3v followup — change PidFile.StartedAt to *time.Time
  internal/storage/dbproxy/pidfile/pidfile.go
Due: Storage & Database

feat(daemon): be-zsr4id — iter transport foundation: sentinel errors, config fields, docs
  docs/EXTENDING.md
  internal/configfile/configfile.go
  internal/storage/storage.go
Due: Storage & Database

feat(daemon): be-e2pufb — iter transport: iter_shared.go session manager + server wiring
  internal/storage/rpc/client.go
  internal/storage/rpc/iter_shared.go
  internal/storage/rpc/iter_shared_test.go
  internal/storage/rpc/server.go
Due: Storage & Database

fix(daemon): be-ojx6um — register concrete types with gob for UpdateIssue transport
  internal/storage/rpc/gob_types.go
Due: Storage & Database

feat(daemon): be-z09krv — bddgen iter transport: emit iter_types.go, iter_server.go, iter_client.go
  cmd/bddgen/main.go
  go.mod
  go.sum
  internal/storage/dependency_queries.go
  internal/storage/dolt/iter_dependents.go
  internal/storage/dolt/iter_issues.go
  internal/storage/dolt/iter_stubs.go
  internal/storage/embeddeddolt/iter_stubs.go
  internal/storage/hook_decorator_storage_only_test.go
  internal/storage/iter.go
  internal/storage/rpc/gen.go
  internal/storage/rpc/iter_client.go
  internal/storage/rpc/iter_server.go
  internal/storage/rpc/iter_types.go
  internal/storage/storage.go
  internal/telemetry/storage.go
Due: CLI Commands, Storage & Database

fix(storage): update concrete drivers to use new DriverOpener signature
  internal/storage/dolt/driver.go
  internal/storage/postgres/driver.go
Due: Storage & Database

fix(daemon): be-z09krv reviewer blockers — vet failures + batch cap
  cmd/bddgen/main.go
  internal/jira/tracker_test.go
  internal/storage/hook_decorator_storage_only_test.go
  internal/storage/rpc/iter_server.go
Due: CLI Commands, Storage & Database

feat(daemon): be-t5hh3u — daemon child process + lifecycle endpoint
  cmd/bd/daemon_child.go
  cmd/bd/daemon_endpoint.go
  internal/storage/rpc/daemon_serve.go
Due: CLI Commands, Storage & Database

feat(daemon): be-aksjau — factory integration + --no-daemon flag
  cmd/bd/daemon_probe_notunix.go
  cmd/bd/daemon_probe_unix.go
  cmd/bd/main.go
  cmd/bd/store_factory.go
  cmd/bd/store_factory_nocgo.go
  internal/storage/rpc/dial.go
Due: CLI Commands, Storage & Database

feat(postgres): be-5w6nt9 — dsn.BuildFromFields + dsn.ApplyEnvOverrides helpers
  internal/storage/postgres/dsn/build.go
  internal/storage/postgres/dsn/config_to_conn_string.go
  internal/storage/postgres/dsn/dsn_test.go
  internal/storage/postgres/dsn/env_overrides.go
Due: Storage & Database

feat(daemon): be-2dv4s2 — bd daemon subcommands, sql redirect, init --reinit kill
  cmd/bd/daemon.go
  cmd/bd/daemon_notunix.go
  cmd/bd/init.go
  cmd/bd/main.go
  cmd/bd/sql.go
  cmd/bd/store_factory.go
Due: CLI Commands

Path conditions:
  CLI Commands: any of: cmd/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Storage & Database: any of: internal/storage/**, internal/compact/**, internal/configfile/**, internal/lockfile/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Sync & Git Operations: any of: internal/git/**, internal/syncbranch/**, internal/hooks/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Query & Filtering: any of: internal/query/**, internal/validation/**, internal/timeparsing/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  External Integrations: any of: internal/jira/**, internal/linear/**, internal/gitlab/**, internal/tracker/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
  Core Types & Utilities: any of: internal/types/**, internal/idgen/**, internal/utils/**, internal/beads/**, internal/config/**, but not: **/*_test.go, **/testdata/**, **/testutil/**, **/test_helpers*.go, internal/formula/formulas/**, **/*.generated.go, **/vendor/**, **/*.md, docs/**, scripts/**, internal/templates/**
