Repository steveyegge/beads: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Commands, Storage & Database, Sync & Git Operations, Query & Filtering, External Integrations, Core Types & Utilities

codecov.yml:

# Codecov configuration for beads (bd) CLI
# https://docs.codecov.com/docs/codecovyml-reference
#
# Strategy: single upload, no flags. Domain-level views via components.

codecov:
  branch: main
  max_report_age: off
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage status configuration
coverage:
  status:
    project:
      # Overall project coverage
      default:
        target: auto
        threshold: 5%

    # Patch coverage (for new code in PRs)
    patch:
      default:
        target: 60%
        threshold: 10%

# Component management for domain-based coverage views
# Components are purely configuration-driven â€” no upload-time setup needed
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
        informational: true

  individual_components:
    - component_id: cli-commands
      name: CLI Commands
      paths:
        - cmd/**

    - component_id: storage-engine
      name: Storage & Database
      paths:
        - internal/storage/**
        - internal/compact/**
        - internal/configfile/**
        - internal/lockfile/**

    - component_id: sync-git
      name: Sync & Git Operations
      paths:
        - internal/git/**
        - internal/syncbranch/**
        - internal/hooks/**

    - component_id: query-engine
      name: Query & Filtering
      paths:
        - internal/query/**
        - internal/validation/**
        - internal/timeparsing/**

    - component_id: integrations
      name: External Integrations
      paths:
        - internal/jira/**
        - internal/linear/**
        - internal/gitlab/**
        - internal/tracker/**

    - component_id: core-types
      name: Core Types & Utilities
      paths:
        - internal/types/**
        - internal/idgen/**
        - internal/utils/**
        - internal/beads/**
        - internal/config/**

# Files and paths to ignore from coverage
ignore:
  # Test files
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "**/test_helpers*.go"

  # Generated files
  - "internal/formula/formulas/**"
  - "**/*.generated.go"

  # Build artifacts and dependencies
  - "**/vendor/**"

  # Documentation
  - "**/*.md"
  - "docs/**"

  # Scripts and tooling
  - "scripts/**"

  # Templates
  - "internal/templates/**"

# Comment configuration for PR comments
comment:
  layout: "condensed_header,diff,components,tree"
  behavior: default
  require_changes: false

# GitHub Checks configuration
github_checks:
  annotations: true

test(fs): make domain/fs suite hermetic when run from a linked worktree
  internal/storage/domain/fs/suite_test.go
Due: none

import: skip stale JSONL issue snapshots (#4204)
  cmd/bd/export_auto_test.go
  cmd/bd/import.go
  cmd/bd/import_from_jsonl_test.go
  cmd/bd/import_shared.go
  cmd/bd/import_shared_unit_test.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/import.md
  website/static/llms-full.txt
  website/versioned_docs/version-1.0.0/cli-reference/import.md
  website/versioned_docs/version-1.0.4/cli-reference/import.md
Due: CLI Commands

fix(close): support per-id reasons (#4194)
  cmd/bd/close.go
  cmd/bd/close_embedded_test.go
  cmd/bd/close_reason_file_test.go
  cmd/bd/ready_embedded_test.go
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/close.md
  website/static/llms-full.txt
  website/versioned_docs/version-1.0.0/cli-reference/close.md
  website/versioned_docs/version-1.0.4/cli-reference/close.md
Due: CLI Commands

fix(dolt): detect managed handoff port conflicts
  cmd/bd/doctor.go
  cmd/bd/doctor/managed_handoff.go
  cmd/bd/doctor/managed_handoff_test.go
  docs/DOLT.md
  internal/storage/dolt/store.go
  internal/storage/dolt/store_unit_test.go
Due: CLI Commands, Storage & Database

test(create): guard external-ref prelinking
  cmd/bd/create_external_ref_test.go
Due: none

fix(install): use declared module path for go fallback
  docs/INSTALLING.md
  scripts/check-go-install-guidance.sh
  scripts/install.sh
  website/docs/getting-started/installation.md
Due: none

test(auto-import): model concurrent writer guard
  cmd/bd/auto_import_upgrade_unit_test.go
Due: none

test: improve coverage signal policy
  codecov.yml
  docs/TESTING.md
  internal/storage/dolt/pr4107_corruption_test.go
Due: none

docs: add conservative beads agent profile
  cmd/bd/prime.go
  cmd/bd/prime_test.go
  docs/SETUP.md
  internal/recipes/template.go
  internal/templates/agents/defaults/agents.md.tmpl
  internal/templates/agents/defaults/beads-section-minimal.md
  internal/templates/agents/defaults/beads-section.md
Due: CLI Commands

test(create): avoid nil deref in ExternalRef failure-path Fatalf
  cmd/bd/create_external_ref_test.go
Due: none

fix(install): use declared module path for go fallback (#4215)
  docs/INSTALLING.md
  scripts/check-go-install-guidance.sh
  scripts/install.sh
  website/docs/getting-started/installation.md
Due: none

fix(dolt): detect managed handoff port conflicts (#4217)
  cmd/bd/doctor.go
  cmd/bd/doctor/managed_handoff.go
  cmd/bd/doctor/managed_handoff_test.go
  docs/DOLT.md
  internal/storage/dolt/store.go
  internal/storage/dolt/store_unit_test.go
Due: CLI Commands, Storage & Database

test(create): guard external-ref prelinking (#4216)
  cmd/bd/create_external_ref_test.go
Due: none

test: improve coverage signal policy (#4219)
  codecov.yml
  docs/TESTING.md
  internal/storage/dolt/pr4107_corruption_test.go
Due: none

fix(hooks): bound prime and hook waits
  cmd/bd/direct_mode.go
  cmd/bd/hooks.go
  cmd/bd/init_hooks_test.go
  cmd/bd/prime.go
  cmd/bd/prime_test.go
  cmd/bd/sync_remote.go
  cmd/bd/sync_remote_test.go
  internal/beads/context.go
Due: CLI Commands, Core Types & Utilities

fix(hooks): address review timeout edge cases
  CHANGELOG.md
  cmd/bd/hooks.go
  cmd/bd/init_hooks_test.go
  cmd/bd/prime.go
  cmd/bd/prime_test.go
  cmd/bd/worktree_cmd.go
  cmd/bd/worktree_test.go
  internal/beads/context.go
Due: CLI Commands, Core Types & Utilities

Skip JSONL auto-import for external Dolt servers
  cmd/bd/auto_import_upgrade_unit_test.go
  cmd/bd/main.go
  internal/doltserver/doltserver_test.go
  internal/doltserver/servermode.go
Due: CLI Commands

test(mcp): address hermetic baseline review
  integrations/beads-mcp/README.md
  integrations/beads-mcp/tests/test_bd_client_integration.py
  integrations/beads-mcp/tests/test_compaction_config.py
Due: none

fix(schema): renumber duplicate release migrations
  cmd/bd/auto_import_upgrade_unit_test.go
  cmd/bd/create_proxied_server_test.go
  internal/storage/schema/migrations/0048_widen_event_value_columns.down.sql
  internal/storage/schema/migrations/0048_widen_event_value_columns.up.sql
  internal/storage/schema/migrations/0049_longtext_large_content_columns.down.sql
  internal/storage/schema/migrations/0049_longtext_large_content_columns.up.sql
  internal/storage/schema/migrations/ignored/0008_widen_wisp_event_value_columns.up.sql
Due: Storage & Database

fix(init): honor dolt local-only remote wiring (ga-vjefud.1)
  cmd/bd/config.go
  cmd/bd/config_validate_key_test.go
  cmd/bd/init.go
  cmd/bd/init_safety_test.go
Due: CLI Commands

fix(dolt): honor local-only when syncing cli remotes (ga-acrtc9.1)
  cmd/bd/main.go
  cmd/bd/store_factory.go
  cmd/bd/store_factory_nocgo.go
  internal/storage/dolt/federation_test.go
  internal/storage/dolt/open.go
  internal/storage/dolt/open_test.go
  internal/storage/dolt/store.go
Due: CLI Commands, Storage & Database

chore: release gate PASS for be-uwvs.1 (lite SELECT foundation)
  release-gates/be-uwvs.1-gate.md
Due: none

feat(storage): be-uwvs.1 lite SELECT shape foundation
  docs/EXTENDING.md
  internal/storage/issueops/scan.go
  internal/storage/issueops/scan_test.go
  internal/storage/issueops/search.go
  internal/types/types.go
Due: Storage & Database, Core Types & Utilities

feat(storage): be-x42v.1 BEADS_MAX_ROWS defensive cap foundation
  internal/storage/issueops/errors.go
  internal/storage/issueops/search.go
  internal/storage/issueops/search_test.go
  internal/types/types.go
Due: Storage & Database, Core Types & Utilities

docs: regenerate CLI reference for --max-rows flag
  docs/CLI_REFERENCE.md
  website/docs/cli-reference/dep.md
  website/docs/cli-reference/federation.md
  website/docs/cli-reference/find-duplicates.md
  website/docs/cli-reference/graph.md
  website/docs/cli-reference/list.md
  website/docs/cli-reference/ready.md
  website/versioned_docs/version-1.0.0/cli-reference/dep.md
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/find-duplicates.md
  website/versioned_docs/version-1.0.0/cli-reference/graph.md
  website/versioned_docs/version-1.0.0/cli-reference/list.md
  website/versioned_docs/version-1.0.0/cli-reference/ready.md
  website/versioned_docs/version-1.0.4/cli-reference/dep.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/find-duplicates.md
  website/versioned_docs/version-1.0.4/cli-reference/graph.md
  website/versioned_docs/version-1.0.4/cli-reference/list.md
  website/versioned_docs/version-1.0.4/cli-reference/ready.md
Due: none

chore: release gate PASS for be-x42v.1 + be-x42v.2 (BEADS_MAX_ROWS)
  release-gates/be-x42v-max-rows-gate.md
Due: none

feat(cli): be-x42v.2 wire --max-rows / BEADS_MAX_ROWS on CLI surface
  CHANGELOG.md
  CONTRIBUTING.md
  cmd/bd/cleanup.go
  cmd/bd/config_show.go
  cmd/bd/dep.go
  cmd/bd/doctor_conventions.go
  cmd/bd/doctor_pollution.go
  cmd/bd/export.go
  cmd/bd/export_auto.go
  cmd/bd/find_duplicates.go
  cmd/bd/gc.go
  cmd/bd/graph.go
  cmd/bd/jira.go
  cmd/bd/lint.go
  cmd/bd/list.go
  cmd/bd/max_rows.go
  cmd/bd/migrate_issues.go
  cmd/bd/ready.go
  internal/storage/issueops/ready_work.go
  internal/types/types.go
Due: CLI Commands, Storage & Database, Core Types & Utilities

test(cli): be-u8z9 BEADS_MAX_ROWS non-list command paths + config show
  cmd/bd/max_rows_test.go
  cmd/bd/ready_max_rows_test.go
Due: none

test(cli): be-x42v.4 add TestExport_BypassesBeadsMaxRows behavioral gate
  cmd/bd/export_max_rows_gate_test.go
Due: none

docs: revert website federation.md pages to pure-go stub (be-x42v)
  website/docs/cli-reference/federation.md
  website/versioned_docs/version-1.0.0/cli-reference/federation.md
  website/versioned_docs/version-1.0.4/cli-reference/federation.md
Due: none

docs: revert federation to pure-go stub in CLI_REFERENCE.md
  docs/CLI_REFERENCE.md
Due: none

test(cli): be-pc8c server-mode BEADS_MAX_ROWS gate for bd doctor --check={conventions,pollution}
  cmd/bd/doctor_max_rows_test.go
Due: none

fix(search): enforce MaxRows cap when wisps table is empty
  internal/storage/issueops/search.go
Due: Storage & Database

test(cli): be-x42v.4 opt-out gate tests for data-integrity commands
  cmd/bd/export_auto_max_rows_gate_test.go
  cmd/bd/export_max_rows_gate_test.go
  cmd/bd/jira_max_rows_gate_test.go
  cmd/bd/lite_filter_spy_test.go
  cmd/bd/migrate_issues_max_rows_gate_test.go
Due: none

test(cli,storage): be-x42v.3 BEADS_MAX_ROWS bd list scenarios + backend parity
  cmd/bd/max_rows_test.go
  internal/storage/dolt/search_max_rows_test.go
  internal/storage/embeddeddolt/search_max_rows_test.go
Due: none

fix(create): normalize trailing hyphen in dbPrefix before comparison (GH#4208)
  internal/validation/bead.go
  internal/validation/bead_test.go
Due: Query & Filtering

feat(daemon): be-fqjs3v — configfile schema, pidfile extension, platform socket stubs
  cmd/bd/daemon_socket_unix.go
  cmd/bd/daemon_socket_windows.go
  docs/EXTENDING.md
  internal/configfile/configfile.go
  internal/storage/dbproxy/pidfile/pidfile.go
Due: CLI Commands, Storage & Database

chore: release gate PASS for be-fqjs3v (daemon foundation)
  release-gates/be-fqjs3v-gate.md
Due: none

docs(gate): update be-fqjs3v gate — re-review PASS confirmed (be-xnd3, c88008610)
  release-gates/be-fqjs3v-gate.md
Due: none

fix(daemon): use *time.Time in PidFile.StartedAt so omitempty works (be-fqjs3v reviewer blocker)
  internal/storage/dbproxy/pidfile/pidfile.go
Due: Storage & Database
